java/Wnos_Plugin/resources/nydwq/xsd/DWQ_v1.0.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Peggy Pryor (Windsor Solutions, Inc) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:DWQ="http://www.exchangenetwork.net/schema/dwq/1" targetNamespace="http://www.exchangenetwork.net/schema/dwq/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- Include the simple types in the DWQ namespace -->
	<xsd:include schemaLocation="./DWQ_Simple_v1.0.2.xsd"/>
	<!-- Include the Shared Components (SSCs) into the DWQ namespace -->
	<xsd:include schemaLocation="http://www.exchangenetwork.net/schema/SC/SC_GeographicLocationDescription_v2.0.xsd"/>
	<xsd:include schemaLocation="http://www.exchangenetwork.net/schema/SC/SC_Affiliation_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation> Schema Name : DWQ_WaterSystem_v1.0.xsd Current Version Available At :
            Description : This is the root schema for New York Drinking Water Quality data.
            Application : NY DEC Drinking Water Quality Exchange Developed by: Windsor Solutions,
            Inc. Point of Contact : Peggy Pryor Change History: </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="DWQExchange" type="DWQ:DWQExchangeDataType">
		<xsd:annotation>
			<xsd:documentation>A container for one or more water systems.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DWQExchangeDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:AnalyteGroupList" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:LaboratoryList" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="DWQ:WaterSystemList" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:decimal">
					<xsd:pattern value="3\.\d*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="WaterSystemList" type="DWQ:WaterSystemListDataType">
		<xsd:annotation>
			<xsd:documentation>A container for one or more water systems.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WaterSystemListDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:WaterSystem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="WaterSystem" type="DWQ:WaterSystemDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for WaterSystems </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WaterSystemDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:WaterSystemPWSIdentifier"/>
			<xsd:element ref="DWQ:WaterSystemName" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemOwnerTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemActivityStatusCode" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemPopulationCount" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemStateTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemStateTypeValue" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemFederalTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemFederalTypeValue" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemActivityDate" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemTotalDesignCapacityMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemAvgDailyProduceMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemPrincipalCountyServed" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemPrincipalCityServed" minOccurs="0"/>
			<xsd:element ref="DWQ:WaterSystemPrimarySourceCode" minOccurs="0"/>
			<xsd:element ref="DWQ:AnnualOperPeriod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:Facility" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:Purchase" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:ServiceArea" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:SiteVisit" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:Violation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:WaterSystemAffiliation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Analyte" type="DWQ:AnalyteDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Analytes, referenced in a Sample result or reported as
                part of a Violation. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AnalyteDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:AnalyteCode"/>
			<xsd:element ref="DWQ:AnalyteName" minOccurs="0"/>
			<xsd:element ref="DWQ:AnalyteTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:MCLValue" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AnalyteGroup" type="DWQ:AnalyteGroupDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Analyte Group, referenced in a Sample result or reported as
                part of a Violation. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AnalyteGroupDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:AnalyteGroupCode" minOccurs="0"/>
			<xsd:element ref="DWQ:AnalyteGroupValue" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AnalyteToGroupLink" type="DWQ:AnalyteToGroupLinkDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for the association between Analytes and the Analyte Groups to which it belongs.. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AnalyteToGroupLinkDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:AnalyteCode" minOccurs="0"/>
			<xsd:element ref="DWQ:AnalyteGroupCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AnalyteGroupList" type="DWQ:AnalyteGroupListDataType">
		<xsd:annotation>
			<xsd:documentation>A container for sending lists for Analytes, Analyte Groups, and the Analyte Group Linking data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AnalyteGroupListDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:Analyte" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:AnalyteGroup" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:AnalyteToGroupLink" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AnnualOperPeriod" type="DWQ:AnnualOperPeriodDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Annual Operating Period
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AnnualOperPeriodDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:AnnualOperServedTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:AnnualOperPeriodStart" minOccurs="0"/>
			<xsd:element ref="DWQ:AnnualOperPeriodEnd" minOccurs="0"/>
			<xsd:element ref="DWQ:AnnualOperStartDate" minOccurs="0"/>
			<xsd:element ref="DWQ:AnnualOperEndDate" minOccurs="0"/>
			<xsd:element ref="DWQ:AnnualOperAvgPopulationServedCount"/>
			<xsd:element ref="DWQ:TinpopsvIsNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Casing" type="DWQ:CasingDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Casings in a Well of a Facility.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CasingDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:CasingIdentifier" minOccurs="0"/>
			<xsd:element ref="DWQ:CasingTypeName" minOccurs="0"/>
			<xsd:element ref="DWQ:CasingDiameterMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:CasingBottomDepthMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:CasingBottomDepthMeasureUnit" minOccurs="0"/>
			<xsd:element ref="DWQ:CasingTopMeasureRelativity" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Deficiency" type="DWQ:DeficiencyDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Deficiencies related to a Site Visit.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DeficiencyDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:DeficiencySeverityLevelCode" minOccurs="0"/>
			<xsd:element ref="DWQ:DeficiencySeverityCategoryCode" minOccurs="0"/>
			<xsd:element ref="DWQ:DeficiencyDeterminiationDate" minOccurs="0"/>
			<xsd:element ref="DWQ:DeficiencyDescriptionText" minOccurs="0"/>
			<xsd:element ref="DWQ:DeficiencyResolvedDate" minOccurs="0"/>
			<xsd:element ref="DWQ:DeficiencyCVDescriptionCode" minOccurs="0"/>
			<xsd:element ref="DWQ:DeficiencyNotificationDate" minOccurs="0"/>
			<xsd:element ref="DWQ:TinwsfIsNumber" minOccurs="0"/>
            <xsd:element ref="DWQ:TindefcyIsNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Facility" type="DWQ:FacilityDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for a Facility within a Water Systemt.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilityDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:FacilityIdentifier" minOccurs="0"/>
			<xsd:element ref="DWQ:FacilityName" minOccurs="0"/>
			<xsd:element ref="DWQ:FacilityTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:FacilityTypeValue" minOccurs="0"/>
			<xsd:element ref="DWQ:FacilityWaterTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:FacilityActivityStatusCode" minOccurs="0"/>
			<xsd:element ref="DWQ:FacilityActivityDate" minOccurs="0"/>
			<xsd:element ref="DWQ:FacilityAvailabilityCode" minOccurs="0"/>
			<xsd:element ref="DWQ:FacilitySellerTreatmentCode" minOccurs="0"/>
			<xsd:element ref="DWQ:TinwsfIsNumber"/>
			<xsd:element ref="DWQ:GeographicLocationDescription" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplingPoint" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:TreatmentUnit" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:Well" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Laboratory" type="DWQ:LaboratoryDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for a laboratory. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LaboratoryDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:LaboratoryName" minOccurs="0"/>
			<xsd:element ref="DWQ:LaboratoryIdentificationNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:TsalabIsNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LaboratoryList" type="DWQ:LaboratoryListDataType">
		<xsd:annotation>
			<xsd:documentation>A container for one or more water systems.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LaboratoryListDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:Laboratory" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LegalEntity" type="DWQ:LegalEntityDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for a Legal Entity contact.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LegalEntityDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:LegalEntityName" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityAddressLineOne" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityAddressLineTwo" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityCity" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityState" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityZipCode" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityPhoneNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityFaxNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityEmailAddress" minOccurs="0"/>
			<xsd:element ref="DWQ:LegalEntityEmergencyNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MCLValue" type="DWQ:MCLValueDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for a Minimum Contaminant Levels of an analyte.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MCLValueDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:MCLAnalyteCode"/>
			<xsd:element ref="DWQ:MCLMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:MCLMeasureText" minOccurs="0"/>
			<xsd:element ref="DWQ:MCLMeasureUnitCode" minOccurs="0"/>
			<xsd:element ref="DWQ:MCLStartDate" minOccurs="0"/>
			<xsd:element ref="DWQ:MCLEndDate" minOccurs="0"/>
			<xsd:element ref="DWQ:MCLComplianceMethodCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ObjectiveProcess" type="DWQ:ObjectiveProcessDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for the Objective Process. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ObjectiveProcessDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:ObjectiveProcessTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ObjectiveProcessTypeValue" minOccurs="0"/>
			<xsd:element ref="DWQ:ObjectiveProcessObjectiveTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ObjectiveProcessObjectiveTypeValue" minOccurs="0"/>
			<xsd:element ref="DWQ:ObjectiveProcessPrimaryIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Purchase" type="DWQ:PurchaseDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for WaterSystem Purchase </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PurchaseDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:PurchaseBuyPwsIdentifier"/>
			<xsd:element ref="DWQ:PurchaseSellPwsIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Sample" type="DWQ:SampleDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for a specific Sample </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:TsalabIsNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:TsasamplIsNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleCollectionEndDate" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplePurposeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResult" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SamplingPoint" type="DWQ:SamplingPointDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Sampling Points at a Facility
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SamplingPointDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:SamplingPointTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplingPointActivityStatusCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplingPointSourceTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplingPointDescriptionText" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplingPointIdentificationCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplingPointPostDisinfectionIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplingPointRepresentDistribCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SamplingPointProcessPhaseCode" minOccurs="0"/>
			<xsd:element ref="DWQ:TinwsfIsNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:Sample" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SampleResult" type="DWQ:SampleResultDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for a specific Sample </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SampleResultDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:SampleResultAnalyteCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultConcentrationMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultConcentrationUOMCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultDataQualityCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultDetectionLimitNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultDetectionLimitUOMCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultLessThanCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultLessThanIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultStandardMethodCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SampleResultStandardMethodName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Screen" type="DWQ:ScreenDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Screens in a Well of a Facility.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ScreenDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:ScreenTypeName" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenLithologyName" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenDepthToTopMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenDepthToBottomMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenAquiferThicknessMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenStateAquiferCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenAquiferTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenDepthToAquiferMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenUSGSAquiferCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ScreenUSGSAquiferName" minOccurs="0"/>
			<xsd:element ref="DWQ:TinscrnIsNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ServiceArea" type="DWQ:ServiceAreaDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Facilities </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceAreaDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:ServiceAreaCode"/>
			<xsd:element ref="DWQ:ServiceAreaPrimaryIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:ServiceAreaDescriptionText" minOccurs="0"/>
			<xsd:element ref="DWQ:ServiceAreaServedTypeCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SiteVisit" type="DWQ:SiteVisitDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Water System Site
            Visits.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteVisitDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:SiteVisitCommentText" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitFrequencyNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitFrequencyPeriod" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitNextDueDate" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitReasonCode" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitDistribSystemSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitFinishedStorageSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitOperatorEvalSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitMRDvSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitOtherSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitPumpSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitSourceSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitTreatmentSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteWaterSysMgmtSSIndicator" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitStatus" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitDate" minOccurs="0"/>
			<xsd:element ref="DWQ:SiteVisitNotifiedDate" minOccurs="0"/>
			<xsd:element ref="DWQ:TinvisitIsNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:Deficiency" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TreatmentUnit" type="DWQ:TreatmentUnitDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for the Treatment Unit in a Facility
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TreatmentUnitDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:TreatmentUnitName" minOccurs="0"/>
			<xsd:element ref="DWQ:TreatmentUnitDescriptionText" minOccurs="0"/>
			<xsd:element ref="DWQ:TinunproIsNumber" minOccurs="0"/>
			<xsd:element ref="DWQ:ObjectiveProcess" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Violation" type="DWQ:ViolationDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for Violations </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ViolationDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:ViolationAnalyteCode" minOccurs="0"/>
			<xsd:element ref="DWQ:DWQViolationTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationTypeValue" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationSeverityLevelCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationStatusTypeCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationAnalysisResultMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationAnalysisResultUOMCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationMCLViolatedText" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationMCLViolatedUOMCode" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationDeterminationDate" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationFederalPeriodBeginDate" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationFederalPeriodEndDate" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationStatePeriodBeginDate" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationStatePeriodEndDate" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationTierLevel" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationFiscalYear" minOccurs="0"/>
			<xsd:element ref="DWQ:ViolationSeq" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="WaterSystemAffiliation" type="DWQ:WaterSystemAffiliationDataType">
		<xsd:annotation>
			<xsd:documentation>Contains affiliation information between legal entities and water
                systems.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WaterSystemAffiliationDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:Affiliation" minOccurs="0"/>
			<!-- Data will populate these fields
                <xsd:element ref="sc:AffiliationTypeText" minOccurs="0"/>
                <xsd:element ref="sc:AffiliationStatusText" minOccurs="0"/>
                <xsd:element ref="sc:AffiliationStartDate" minOccurs="0" />
                <xsd:element ref="sc:AffiliationEndDate" minOccurs="0" />
 -->
			<xsd:element ref="DWQ:LegalEntity"/>
			<xsd:element ref="DWQ:TinlgentIsNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Well" type="DWQ:WellDataType">
		<xsd:annotation>
			<xsd:documentation>Data Type Definitions for the Well's attributes within a Facility.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WellDataType">
		<xsd:sequence>
			<xsd:element ref="DWQ:WellIdentificationCode" minOccurs="0"/>
			<xsd:element ref="DWQ:WellPumpCapacityMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:WellPumpTypeName" minOccurs="0"/>
			<xsd:element ref="DWQ:WellDepthAtCompletionMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:WellCapText" minOccurs="0"/>
			<xsd:element ref="DWQ:WellStaticLevelDepthMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:WellStaticLevelDepthDate" minOccurs="0"/>
			<xsd:element ref="DWQ:WellDrillingMethodCode" minOccurs="0"/>
			<xsd:element ref="DWQ:WellDrillingMethodValue" minOccurs="0"/>
			<xsd:element ref="DWQ:WellDrawnDownDepthMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:WellDiameterMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:WellGallonsPerMinuteMeasure" minOccurs="0"/>
			<xsd:element ref="DWQ:Screen" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DWQ:Casing" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
