java/Wnos_Plugin/resources/nydwq/xsd/DWQ_Simple_v1.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Peggy Pryor (Windsor Solutions, Inc) -->
<xsd:schema xmlns:DWQ="http://www.exchangenetwork.net/schema/dwq/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/dwq/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation> Schema Name : DWQ_SimpleContent_v3.0.xsd Current Version Available At :
            Description : Simple Content file for Drinking Water Quality common simple types and
            data elements. Application : NY DEC Drinking Water Quality Exchange Developed by:
            Windsor Solutions, Inc. Point of Contact : Peggy Pryor </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AnalyteCode">
		<xsd:annotation>
			<xsd:documentation>The standard code used by EPA and the states to represent analytes in the national database.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnalyteName">
		<xsd:annotation>
			<xsd:documentation> The common name of a contaminant as used by states and EPA in the rules and other documents. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnalyteGroupCode">
		<xsd:annotation>
			<xsd:documentation>Unique code assigned to each analyte goup. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnalyteGroupValue">
		<xsd:annotation>
			<xsd:documentation> The name assigned to the Group of analytes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnalyteTypeCode">
		<xsd:annotation>
			<xsd:documentation>User-selected mutually exclusive type of analyte.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnnualOperServedTypeCode">
		<xsd:annotation>
			<xsd:documentation>A coded value which provides a broad categorization of the service area. What SDWIS calls Class.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnnualOperPeriodStart">
		<xsd:annotation>
			<xsd:documentation>The Start Month/Start Day of the annual operating period. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnnualOperPeriodEnd">
		<xsd:annotation>
			<xsd:documentation>The End Month/End Day of the annual operating period.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AnnualOperStartDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The beginning calendar month, day, and year for which the water system's season of operation is in effect.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AnnualOperEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The ending calendar month, day, and year for which the water system's season of operation is in effect.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AnnualOperAvgPopulationServedCount">
		<xsd:annotation>
			<xsd:documentation>Value that indicates the estimated average daily population count for a given type of population served.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CasingIdentifier">
		<xsd:annotation>
			<xsd:documentation>The identification code for the well casing. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CasingTypeName">
		<xsd:annotation>
			<xsd:documentation> The type of well casing material. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CasingDiameterMeasure">
		<xsd:annotation>
			<xsd:documentation> Diameter of the interior of the well casing in inches.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CasingBottomDepthMeasure">
		<xsd:annotation>
			<xsd:documentation>The depth to the well casing. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CasingBottomDepthMeasureUnit">
		<xsd:annotation>
			<xsd:documentation> The unit of measure for the well casing bottom depth measure. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CasingTopMeasureRelativity">
		<xsd:annotation>
			<xsd:documentation> The relativity of the top of the well casing as defined by ground level.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeficiencySeverityLevelCode">
		<xsd:annotation>
			<xsd:documentation>The type of deficiency.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeficiencySeverityCategoryCode">
		<xsd:annotation>
			<xsd:documentation>This field categorizes the deficiency into one of the ten category evaluation summaries during the Site Visit.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeficiencyDeterminiationDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Determination date for the deficiency..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeficiencyDescriptionText">
		<xsd:annotation>
			<xsd:documentation>Free text description of the Deficiency.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeficiencyResolvedDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date the deficiency was resolved..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeficiencyCVDescriptionCode">
		<xsd:annotation>
			<xsd:documentation>Four- character alphabetic code representing descriptions of the deficiency that may be controlled by the System Administrator.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DeficiencyNotificationDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date on which the Water System was notified of the existence of the deficiency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TinwsfIsNumber">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the facility..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityIdentifier">
		<xsd:annotation>
			<xsd:documentation>A state-assigned value which identifies the water system facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityName">
		<xsd:annotation>
			<xsd:documentation>The name of the water system facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityTypeCode">
		<xsd:annotation>
			<xsd:documentation>A coded value that categorizes the water facility. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityTypeValue">
		<xsd:annotation>
			<xsd:documentation>The text value that corresponds to the Facility Type Code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="244"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityWaterTypeCode">
		<xsd:annotation>
			<xsd:documentation>A coded value which categorizes the source water that is utilized by a water system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityActivityStatusCode">
		<xsd:annotation>
			<xsd:documentation>A coded value which categorizes the most recent activity for the water system facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityActivityDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date on which the water system facility became proposed, active, or inactive.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityAvailabilityCode">
		<xsd:annotation>
			<xsd:documentation>Coded value that categorizes the circumstances under which a source of water is utilized by a water system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilitySellerTreatmentCode">
		<xsd:annotation>
			<xsd:documentation>Code representing indication that seller water system's source was treated, as specified by user.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FieldResultsPHMeasure">
		<xsd:annotation>
			<xsd:documentation>The pH of the water being sampled at the time and place of sample collection (pH units).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FieldResultsTemperatureMeasure">
		<xsd:annotation>
			<xsd:documentation>The temperature of the water being sampled at the time and place of sample collection (Degrees Centrigrade).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FieldResultsTemperatureTypeCode">
		<xsd:annotation>
			<xsd:documentation>Indicates temperature scale by F or C. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FieldResultsTurbidityMeasure">
		<xsd:annotation>
			<xsd:documentation>The turbidity of the water being sampled at the time and place of sample collection in Nephelometric Turbidity Units (NTU).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FieldResultsFlowRate">
		<xsd:annotation>
			<xsd:documentation>The flow rate of a sample collection device in gallons per minute (GPM).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FieldResultsFreeChlorineMeasure">
		<xsd:annotation>
			<xsd:documentation>The measure of free and available chlorine in milligrams per liter (mg/L).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FieldResultsChlorineResidualMeasure">
		<xsd:annotation>
			<xsd:documentation>The amount of residual disinfectant found in the water after disinfection has been applied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TsalabIsNumber">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the laboratory.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LaboratoryName">
		<xsd:annotation>
			<xsd:documentation>The commonly used name of the Laboratory.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LaboratoryIdentificationNumber">
		<xsd:annotation>
			<xsd:documentation>A code uniquely identifing the lab.  For NY DOH, this is the state (not federal) identification number assigned by the state certifying authority.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityName">
		<xsd:annotation>
			<xsd:documentation>The name of a legal entity associated with a water system. (combine first and last name - from individual or legal entity table).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityTypeCode">
		<xsd:annotation>
			<xsd:documentation>A coded value that indicates the type of legal entity.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityAddressLineOne">
		<xsd:annotation>
			<xsd:documentation>The first line of an address for a  legal entity.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityAddressLineTwo">
		<xsd:annotation>
			<xsd:documentation> The second line of an address for a  legal entity. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityCity">
		<xsd:annotation>
			<xsd:documentation> The city in which a legal entity is located..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityState">
		<xsd:annotation>
			<xsd:documentation> A coded value that represents the U.S. Postal Service (USPS) State abbreviation in which a legal entity is located.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityZipCode">
		<xsd:annotation>
			<xsd:documentation> The U.S. Postal Service (USPS) ZIP code in which a legal entity is located.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityPhoneNumber">
		<xsd:annotation>
			<xsd:documentation> The telephone number of a water system or the system's primary contact.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityFaxNumber">
		<xsd:annotation>
			<xsd:documentation> Fax Number of the individual or company.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityEmailAddress">
		<xsd:annotation>
			<xsd:documentation> Email of the individual.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LegalEntityEmergencyNumber">
		<xsd:annotation>
			<xsd:documentation> The emergency telephone number of the individual.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MCLAnalyteCode">
		<xsd:annotation>
			<xsd:documentation>The standard code used by EPA and the states to represent analytes in the national database. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MCLMeasure">
		<xsd:annotation>
			<xsd:documentation> The value for a given analyte, sampling location and period of time that is compared against an MCL to determined compliance.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="15"/>
				<xsd:fractionDigits value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MCLMeasureText">
		<xsd:annotation>
			<xsd:documentation>The numerical value for a particular analyte level that has been established in rule, policy, or guidance as a health-based/nonhealth-based level.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="16"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MCLMeasureUnitCode">
		<xsd:annotation>
			<xsd:documentation>The measurement units used to expressed the measure or value.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MCLStartDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The first date a contaminant level was made effective by a regulatory agency (such as USEPA) or a primacy agency (such as a state).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MCLEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The last date a contaminant level was considered effective by a regulatory agency (such as USEPA) or a primacy agency (such as a state).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MCLComplianceMethodCode">
		<xsd:annotation>
			<xsd:documentation>Describes how the MCL compliance method for a particular analyte should be calculated.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ObjectiveProcessTypeCode">
		<xsd:annotation>
			<xsd:documentation> The process type code of the treatment.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ObjectiveProcessTypeValue">
		<xsd:annotation>
			<xsd:documentation> The text value that corresponds to the process type of the treatment. .</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ObjectiveProcessObjectiveTypeCode">
		<xsd:annotation>
			<xsd:documentation> The objective type of treatment.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ObjectiveProcessObjectiveTypeValue">
		<xsd:annotation>
			<xsd:documentation>The text value that corresponds to the objective type of treatment.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ObjectiveProcessPrimaryIndicator">
		<xsd:annotation>
			<xsd:documentation> Indicates if this treatment objective process assignment is the primary treatment.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PurchaseBuyPwsIdentifier">
		<xsd:annotation>
			<xsd:documentation>PWS unique identifier for the buying water system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PurchaseSellPwsIdentifier">
		<xsd:annotation>
			<xsd:documentation>PWS unique identifier for the selling water system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleTypeCode">
		<xsd:annotation>
			<xsd:documentation>Code for type of sample.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleCollectionEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Used in most cases as the Sample Collection Date. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SamplePurposeCode">
		<xsd:annotation>
			<xsd:documentation> This field may be used to record the purpose or other additional classification for collection of the sample.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SamplingPointTypeCode">
		<xsd:annotation>
			<xsd:documentation> Type of sampling point code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SamplingPointActivityStatusCode">
		<xsd:annotation>
			<xsd:documentation>A coded value that categorizes the activity of the sampling point. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SamplingPointSourceTypeCode">
		<xsd:annotation>
			<xsd:documentation>The type of water source, based on whether treatment has taken place. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SamplingPointDescriptionText">
		<xsd:annotation>
			<xsd:documentation>Description of the sampling point.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SamplingPointIdentificationCode">
		<xsd:annotation>
			<xsd:documentation> The unique code for identifying a water system facility sample point.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SamplingPointPostDisinfectionIndicator">
		<xsd:annotation>
			<xsd:documentation> Indicates if the sample was collected after a disinfection process has been applied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SamplingPointRepresentDistribCode">
		<xsd:annotation>
			<xsd:documentation>Indicates the location of the sample with respect to the unit process.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SamplingPointProcessPhaseCode">
		<xsd:annotation>
			<xsd:documentation> Indicates the location of the sample with respect to the unit process..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultAnalyteCode">
		<xsd:annotation>
			<xsd:documentation>The code that identified the analyte for the result measurement. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultConcentrationMeasure">
		<xsd:annotation>
			<xsd:documentation>A numeric value that represents the result obtained from a sample analysis.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="15"/>
				<xsd:fractionDigits value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultConcentrationUOMCode">
		<xsd:annotation>
			<xsd:documentation>The measurement units used to express the measure or value.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultDataQualityCode">
		<xsd:annotation>
			<xsd:documentation>Code indicating whether or not the sample anlytical result meets established data quality acceptance criteria.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultDetectionLimitNumber">
		<xsd:annotation>
			<xsd:documentation> The limit established by the laboratory below which scientifically reliable results cannot be achieved.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="15"/>
				<xsd:fractionDigits value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultDetectionLimitUOMCode">
		<xsd:annotation>
			<xsd:documentation>The unit of measure code associated with the detection limit.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultLessThanCode">
		<xsd:annotation>
			<xsd:documentation>When valued, indicates that the analytical result (concentration) was below the Regulatory Minimum Reporting Level or below the Laboratory Reporting Level.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultLessThanIndicator">
		<xsd:annotation>
			<xsd:documentation>Binary indication of whether the result is "less than" the Lab Reporting Limit or "less than" the Regulatory Minimum Reporting Limit.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenTypeName">
		<xsd:annotation>
			<xsd:documentation>Describes the type of screen. Examples include slotted, sand point, etc. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenLithologyName">
		<xsd:annotation>
			<xsd:documentation>The description of the geologic material within the aquifer. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenDepthToTopMeasure">
		<xsd:annotation>
			<xsd:documentation>The depth below the measuring point to the top of the screen.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenDepthToBottomMeasure">
		<xsd:annotation>
			<xsd:documentation>The depth below the measuring point to the bottom of the screen. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenAquiferThicknessMeasure">
		<xsd:annotation>
			<xsd:documentation>A value that specifies the estimated thickness of the aquifer.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenStateAquiferCode">
		<xsd:annotation>
			<xsd:documentation> A coded value which uniquely identifies an aquifer. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenAquiferTypeCode">
		<xsd:annotation>
			<xsd:documentation> A coded value which categorizes the aquifer.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenDepthToAquiferMeasure">
		<xsd:annotation>
			<xsd:documentation>The depth to the top of the water bearing formation that the well draws from.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenUSGSAquiferCode">
		<xsd:annotation>
			<xsd:documentation>A coded value which contains the U.S. Geological Survey's identification code for the aquifer. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ScreenUSGSAquiferName">
		<xsd:annotation>
			<xsd:documentation> The standard aquifer name assigned by USGS.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ServiceAreaCode">
		<xsd:annotation>
			<xsd:documentation> A value that represents the code of the service area name. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ServiceAreaPrimaryIndicator">
		<xsd:annotation>
			<xsd:documentation> A coded value that indicates whether or not the service area is the primary area served by the water system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ServiceAreaDescriptionText">
		<xsd:annotation>
			<xsd:documentation> Description of the service area. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ServiceAreaServedTypeCode">
		<xsd:annotation>
			<xsd:documentation> A coded value which provides a broad categorization of the service area. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitCommentText">
		<xsd:annotation>
			<xsd:documentation>Additional information that the Inspector wishes to record about the site visit.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitFrequencyNumber">
		<xsd:annotation>
			<xsd:documentation>Frequency for the specified period.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitFrequencyPeriod">
		<xsd:annotation>
			<xsd:documentation>Period associated with the specified frequency number.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitNextDueDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date that the next visit is due.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SiteVisitReasonCode">
		<xsd:annotation>
			<xsd:documentation>Code that represents the reason for which a Site Visit was made to a public water system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitDistribSystemSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Distribution system-one of the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitFinishedStorageSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Finished Water Storage-one of the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitOperatorEvalSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Operator Compliance-one of the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitMRDvSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Monitoring and Reporting (M &amp; R) and Data Verification (DV). One of the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitOtherSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Other -- value that can be set in addition to the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitPumpSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Pumps - one of the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitSourceSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Source - one of the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitTreatmentSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Treatment- one of the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteWaterSysMgmtSSIndicator">
		<xsd:annotation>
			<xsd:documentation>Water System Management and Operations - one of the eight elements set out in EPA/State Joint Guidance on Sanitary Surveys.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitStatus">
		<xsd:annotation>
			<xsd:documentation>Describes the status of the Site Visit.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteVisitDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date the visit occured.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SiteVisitNotifiedDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date on which the Water System was notified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TsastmIsNumber">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the method number.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultStandardMethodCode">
		<xsd:annotation>
			<xsd:documentation> A code value that represents the method that was used to analyze the sample.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SampleResultStandardMethodName">
		<xsd:annotation>
			<xsd:documentation>Provides the title of the method.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StandardMethodEffectiveStartDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date the Standard Technique or Procedure was put into effect by a federal or state regulatory agency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StandardMethodEffectiveEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date the Standard Technique or Procedure was taken out of effect by a federal or state regulatory agency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StandardMethodPurposeText">
		<xsd:annotation>
			<xsd:documentation>The purpose of the standard technique or procedure.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="120"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
    <xsd:element name="TindefcyIsNumber">
        <xsd:annotation>
            <xsd:documentation>Unique system identifier for the deficiency.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
            <xsd:restriction base="xsd:nonNegativeInteger">
                <xsd:totalDigits value="7"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
	<xsd:element name="TinpopsvIsNumber">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the populations served.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TinlgentIsNumber">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the legal entity.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TinscrnIsNumber">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the screen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TinunproIsNumber">
		<xsd:annotation>
			<xsd:documentation> Unique system identifier for the treatment unit.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TinvisitIsNumber">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the site visit.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TreatmentUnitName">
		<xsd:annotation>
			<xsd:documentation> The name of the unit process for the treatment plant facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TreatmentUnitDescriptionText">
		<xsd:annotation>
			<xsd:documentation>A narrative description of a unit process within a treatment plant water system facility. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="120"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TsasamplIsNumber">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the sample.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationAnalyteCode">
		<xsd:annotation>
			<xsd:documentation>The analyte code to which the violation relates.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationAnalyteGroupCode">
		<xsd:annotation>
			<xsd:documentation>The Analyte Group code associated with the violation.  Either Analyte Group or the Analyte for the violation will be specified.  . </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DWQViolationTypeCode">
		<xsd:annotation>
			<xsd:documentation>A coded value which categorizes a violation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationTypeValue">
		<xsd:annotation>
			<xsd:documentation>The name of the violation type.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationSeq">
		<xsd:annotation>
			<xsd:documentation>Unique system identifier for the violation. Consists of the PWS identifier plus the Violation ID</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationSeverityLevelCode">
		<xsd:annotation>
			<xsd:documentation>Indicates if a TCR monitoring violation is major or minor.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationStatusTypeCode">
		<xsd:annotation>
			<xsd:documentation>Indicates if the violation is potential (identified by SDWIS), rejected, or valid (validated by compliance official). </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationAnalysisResultMeasure">
		<xsd:annotation>
			<xsd:documentation>The concentration value or averaged concentration value of one or more results with which the violation is associated and whose values have caused the violation to be created. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="15"/>
				<xsd:fractionDigits value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationAnalysisResultUOMCode">
		<xsd:annotation>
			<xsd:documentation>Unit of measure.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationMCLViolatedText">
		<xsd:annotation>
			<xsd:documentation>The MCL value (in table TMNALRA) that is effective for the violation's analyte based on the violation's Compliance Period. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="16"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationMCLViolatedUOMCode">
		<xsd:annotation>
			<xsd:documentation>The MCL value unit of measure code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationDeterminationDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date that the violation was determined or created.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationFederalPeriodBeginDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The violation period begin date used for federal reporting.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationFederalPeriodEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The violation period end date used for federal reporting.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationStatePeriodBeginDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The violation period begin date assigned by the state. This date is not reported to fed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationStatePeriodEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The violation period end date assigned by the state. This date is not reported to fed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationTierLevel">
		<xsd:annotation>
			<xsd:documentation>The tier level most often assigned to this violation type as listed in the Revised Public Notification Rule. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ViolationFiscalYear" type="xsd:gYear">
		<xsd:annotation>
			<xsd:documentation>Format should be CCYY. Reflects the Fiscal Year to which the violation should be attributed. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WaterSystemPWSIdentifier">
		<xsd:annotation>
			<xsd:documentation> Uniquely identifies the water system within a specific state.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemName">
		<xsd:annotation>
			<xsd:documentation> The name of the water system. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemOwnerTypeCode">
		<xsd:annotation>
			<xsd:documentation> A code value that identifies the type of owner for a public water
                system. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemActivityStatusCode">
		<xsd:annotation>
			<xsd:documentation>A coded value that categorizes the activity of the water system.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemPopulationCount">
		<xsd:annotation>
			<xsd:documentation>A system-generated count of the total population served by a water system. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemStateTypeCode">
		<xsd:annotation>
			<xsd:documentation>A code which classifies the water system according to state requirements. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemStateTypeValue">
		<xsd:annotation>
			<xsd:documentation>A value which classifies the water system according to state requirements.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="244"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemFederalTypeCode">
		<xsd:annotation>
			<xsd:documentation>A system-generated coded value which classifies the water system according to federal requirements.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemFederalTypeValue">
		<xsd:annotation>
			<xsd:documentation>A value which classifies the water system according to federal requirements. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="244"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemActivityDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation> The date that the water system activity indicator code was last changed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WaterSystemTotalDesignCapacityMeasure">
		<xsd:annotation>
			<xsd:documentation>The total quantity of water that a water system was designed and approved to produce. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="11"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemAvgDailyProduceMeasure">
		<xsd:annotation>
			<xsd:documentation> The average daily quantity of water that was produced by a water system in the most recent year. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="11"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemPrincipalCountyServed">
		<xsd:annotation>
			<xsd:documentation>The name of the principal county served by the water system. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemPrincipalCityServed">
		<xsd:annotation>
			<xsd:documentation> The name of the principal City served by the water system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WaterSystemPrimarySourceCode">
		<xsd:annotation>
			<xsd:documentation> A system-generated coded value that categorizes the primary water source for the water system </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellIdentificationCode">
		<xsd:annotation>
			<xsd:documentation>The identification number assigned to a well by a state or the responsible organization. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellPumpCapacityMeasure">
		<xsd:annotation>
			<xsd:documentation>The rated capacity of the pump in gallons per minute. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="6"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellDepthAtCompletionMeasure">
		<xsd:annotation>
			<xsd:documentation>The total depth in feet of the well at completion (also called total depth). </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellCapText">
		<xsd:annotation>
			<xsd:documentation>The type of material used to cover/seal the well, such as 4" concrete slab,</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellStaticLevelDepthMeasure">
		<xsd:annotation>
			<xsd:documentation>The static water level depth of the well in feet.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellStaticLevelDepthDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date that the static water level was determined.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellDrillingMethodCode">
		<xsd:annotation>
			<xsd:documentation>A coded value indicating the type of drilling method. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellDrillingMethodValue">
		<xsd:annotation>
			<xsd:documentation>The well drilling method value.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="244"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellDrawnDownDepthMeasure">
		<xsd:annotation>
			<xsd:documentation>The depth in feet to the draw down water.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="5"/>
				<xsd:fractionDigits value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellDiameterMeasure">
		<xsd:annotation>
			<xsd:documentation>The diameter of the well shaft in inches. Also called "borehole diameter."</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="WellGallonsPerMinuteMeasure">
		<xsd:annotation>
			<xsd:documentation>The average yield of water in gallons per minute for the well.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:nonNegativeInteger">
				<xsd:totalDigits value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
