dotnet/plugins/HERE/xml_schema/FACID (FRS)/2/3/FACID_AffiliationDataType_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:facid="http://www.epa.gov/xml" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_AffiliationDataType_v2.3 
		Current Version Available At :
		Description : 	Data Type for Affiliation.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="AffiliationDataType">
		<xsd:sequence>
			<xsd:element ref="facid:AffiliationTypeText" minOccurs="0"/>
			<xsd:element ref="facid:AffiliationStartDate" minOccurs="0"/>
			<xsd:element ref="facid:AffiliationEndDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AffiliationTypeText" type="xsd:string"/>
	<xsd:element name="AffiliationStartDate" type="xsd:date"/>
	<xsd:element name="AffiliationEndDate" type="xsd:date"/>
</xsd:schema>
