java/Wnos_Plugin/resources/eis12/xsd/cer/1/2/CER_Organization_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_Organization_v1.2.xsd
        Current Version Available At : http://www.exchangenetwork.net/schema/cer/1/2/CER_Organization_v1.2.xsd
        Description   : The organization which directs, is responsible for, or has authority over the activities and operations of the facility site.
        Developed by  : 	Perrin Quarles Associates, Inc.
        Point of Contact : Perrin Quarles Associates, Inc.	
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_Identification_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_Address_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_Communication_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_AttachedFile_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_Individual_v1.2.xsd"/>
	<xsd:complexType name="OrganizationDataType">
		<xsd:sequence>
			<xsd:element ref="cer:OrganizationFormalName"/>
			<xsd:element ref="cer:PercentOwnership" minOccurs="0"/>
			<xsd:element ref="cer:ConsolidationMethodology" minOccurs="0"/>
			<xsd:element ref="cer:OrganizationIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:OrganizationAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:OrganizationCommunication" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:OrganizationIndividual" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:OrganizationAttachedFile" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AffiliationOrganization" type="cer:OrganizationDataType"/>
	<xsd:element name="QualityFindingOrganization" type="cer:OrganizationDataType"/>
</xsd:schema>
