java/Wnos_Plugin/resources/eis12/xsd/cer/1/2/CER_Process_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_Process_v1.2.xsd
        Current Version Available At : http://www.exchangenetwork.net/schema/cer/1/2/CER_EmissionsProcess_v1.2.xsd
        Description   : Identifies the specific operational activities that produce emissions either directly or indirectly.
        Developed by  : 	 Perrin Quarles Associates, Inc.
        Point of Contact : 	Perrin Quarles Associates, Inc.
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_Identification_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_Regulation_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_ControlApproach_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_ReportingPeriod_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_ReleasePointApportionment_v1.2.xsd"/>
	<xsd:complexType name="ProcessDataType">
		<xsd:sequence>
			<xsd:element ref="cer:SourceClassificationCode" minOccurs="0"/>
			<xsd:element ref="cer:EmissionsTypeCode" minOccurs="0"/>
			<xsd:element ref="cer:AircraftEngineTypeCode" minOccurs="0"/>
			<xsd:element ref="cer:ProcessTypeCode" minOccurs="0"/>
			<xsd:element ref="cer:ProcessDescription" minOccurs="0"/>
			<xsd:element ref="cer:LastEmissionsYear" minOccurs="0"/>
			<xsd:element ref="cer:ProcessComment" minOccurs="0"/>
			<xsd:element ref="cer:ProcessIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:ProcessRegulation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:ProcessControlApproach" minOccurs="0"/>
			<xsd:element ref="cer:ReportingPeriod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:ReleasePointApportionment" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LocationEmissionsProcess" type="cer:ProcessDataType"/>
	<xsd:element name="UnitEmissionsProcess" type="cer:ProcessDataType"/>
</xsd:schema>
