common-windsor-net/windsor-commons-applicationupdater/UpdateApplicationManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpdateApplicationManifest" nillable="true" type="UpdateApplicationManifest" />
  <xs:complexType name="UpdateApplicationManifest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CurrentDatabaseVersionStr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatabaseFileDownloadUrl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatabaseScriptsDownloadUrl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastFullUpdateVersionStr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrentApplicationVersionStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>