dotnet/opennode2-net/plugins/WQX_2/xml_schema/v10/0/WQX_SimpleContent_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Douglas Timms (enfoTech) -->
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_SimpleContent_v1.0.xsd
        Current Version Available At :  
        Description   : 	Simple Content file for the WQX schema defining basic simple content and data elements.
        Developed by  : 	 EPA Office of Water
        Point of Contact :   Dwane Young
</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="ActivityConductingOrganizationTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityEndDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityGroupIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityGroupNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityGroupTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityMediaNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityMediaSubdivisionNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityRelativeDepthNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityStartDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AddressTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:enumeration value="Location"/>
			<xsd:enumeration value="Mailing"/>
			<xsd:enumeration value="Shipping"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AddressTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AnalysisEndDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="AnalysisStartDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="BiasValueDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BinaryObjectFileNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BinaryObjectFileTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CharacteristicNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChemicalPreservativeUsedNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommentTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConfidenceIntervalValueDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountyCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DataLoggerLineNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DepthAltitudeReferencePointTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="125"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DetectionQuantitationLimitTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ElectronicAddressTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ElectronicAddressTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:enumeration value="Email"/>
			<xsd:enumeration value="Internet"/>
			<xsd:enumeration value="Intranet"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HorizontalCollectionMethodNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HorizontalCoordinateReferenceSystemDatumNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HUCEightDigitCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HUCTwelveDigitCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LaboratoryNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeMeasureDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="8"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalityNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LongitudeMeasureDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="9"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LowerConfidenceLimitValueDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasureQualifierCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasureUnitCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasureValueDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MethodDescriptionTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MethodIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MethodIdentifierContextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MethodNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MethodQualifierTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonitoringLocationDescriptionTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonitoringLocationIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonitoringLocationIdentifierContextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonitoringLocationNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonitoringLocationTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationDescriptionTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationFormalNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PostalCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PrecisionValueDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PreparationEndDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="PreparationStartDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProjectDescriptionTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProjectIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProjectNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultCountDataType">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultDetectionConditionTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
			<xsd:enumeration value="Detected Not Quantified"/>
			<xsd:enumeration value="Not Reported"/>
			<xsd:enumeration value="Present Above Quantification Limit"/>
			<xsd:enumeration value="Not Detected"/>
			<xsd:enumeration value="Present Below Quantification Limit"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultLaboratoryCommentCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultMeasureValueDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultParticleSizeBasisTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultSampleFractionTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultStatusIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:enumeration value="Accepted"/>
			<xsd:enumeration value="Validated"/>
			<xsd:enumeration value="Rejected"/>
			<xsd:enumeration value="Preliminary"/>
			<xsd:enumeration value="Final"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultTemperatureBasisTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultTimeBasisTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultValueTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResultWeightBasisTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SampleCollectionEquipmentNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SampleCollectionEquipmentCommentTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SampleContainerColorNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SampleContainerTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SampleTissueAnatomyNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SampleTissueTaxonomicNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SampleTransportStorageDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SourceMapScaleNumericDataType">
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="StateCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatisticalBaseCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalAddressTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneExtensionNumberTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneNumberTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneNumberTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:enumeration value="Fax"/>
			<xsd:enumeration value="Home"/>
			<xsd:enumeration value="Mobile"/>
			<xsd:enumeration value="Office"/>
			<xsd:enumeration value="Pager"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ThermalPreservativeUsedNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TimeDataType">
		<xsd:restriction base="xsd:time"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeZoneCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TribalCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TribalLandIndicatorDataType">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="TribalLandNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UpperConfidenceLimitValueDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalCollectionMethodNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalCoordinateReferenceSystemDatumNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ActivityConductingOrganizationText" type="wqx:ActivityConductingOrganizationTextDataType">
		<xsd:annotation>
			<xsd:documentation>A name of the Organization conducting an activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityEndDate" type="wqx:ActivityEndDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date when the field activity was completed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityGroupIdentifier" type="wqx:ActivityGroupIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Designator that uniquely identifies a grouping of activities within an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityGroupName" type="wqx:ActivityGroupNameDataType">
		<xsd:annotation>
			<xsd:documentation>A name of an activity group.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityGroupTypeCode" type="wqx:ActivityGroupTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the type of grouping of a set of activities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityIdentifier" type="wqx:ActivityIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Designator that uniquely identifies an activity within an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityMediaName" type="wqx:ActivityMediaNameDataType">
		<xsd:annotation>
			<xsd:documentation>Name or code indicating the environmental medium where the sample was taken.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityMediaSubdivisionName" type="wqx:ActivityMediaSubdivisionNameDataType">
		<xsd:annotation>
			<xsd:documentation>Name or code indicating the environmental matrix as a subdivision of the sample media.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityRelativeDepthName" type="wqx:ActivityRelativeDepthNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name that indicates the approximate location within the water column at which the activity occurred. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityStartDate" type="wqx:ActivityStartDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date on which the field activity was started.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityTypeCode" type="wqx:ActivityTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The text describing the type of activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressText" type="wqx:AddressTextDataType">
		<xsd:annotation>
			<xsd:documentation>The address that describes the physical (geographic), shipping, or mailing location of an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressTypeName" type="wqx:AddressTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>Categorizes an address as either location, shipping, or mailing address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AnalysisEndDate" type="wqx:AnalysisEndDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date on which the analysis was finished.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AnalysisStartDate" type="wqx:AnalysisStartDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date on which the analysis began.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BiasValue" type="wqx:BiasValueDataType">
		<xsd:annotation>
			<xsd:documentation>The systematic or persistent distortion of a measurement process which causes error in one direction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryObjectFileName" type="wqx:BinaryObjectFileNameDataType">
		<xsd:annotation>
			<xsd:documentation>The text describing the descriptive name used to represent the file, including file extension.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryObjectFileTypeCode" type="wqx:BinaryObjectFileTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The text or acronym describing the binary content type of a file.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CharacteristicName" type="wqx:CharacteristicNameDataType">
		<xsd:annotation>
			<xsd:documentation>The object, property, or substance which is evaluated or enumerated by either a direct field measurement, a direct field observation, or by laboratory analysis of material collected in the field.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChemicalPreservativeUsedName" type="wqx:ChemicalPreservativeUsedNameDataType">
		<xsd:annotation>
			<xsd:documentation>Information describing the chemical means to preserve the sample.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentText" type="wqx:CommentTextDataType">
		<xsd:annotation>
			<xsd:documentation>Free text with general comments concerning the activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfidenceIntervalValue" type="wqx:ConfidenceIntervalValueDataType">
		<xsd:annotation>
			<xsd:documentation>A range of values constructed so that this range has a specified probability of including the true population mean.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="wqx:CountryCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A code designator used to identify a primary geopolitical unit of the world.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountyCode" type="wqx:CountyCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A code designator used to identify a U.S. county or county equivalent.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DataLoggerLineName" type="wqx:DataLoggerLineNameDataType">
		<xsd:annotation>
			<xsd:documentation>The unique line identifier from a data logger result text file, normally a date/time format but could be any user defined name, e.g. "surface", "midwinter", and or "bottom".)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DepthAltitudeReferencePointText" type="wqx:DepthAltitudeReferencePointTextDataType">
		<xsd:annotation>
			<xsd:documentation>The reference used to indicate the datum or reference used to establish a depth/altitude measurement.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DetectionQuantitationLimitTypeName" type="wqx:DetectionQuantitationLimitTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>Text describing the type of detection or quantitation level used in the analysis of a characteristic.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicAddressText" type="wqx:ElectronicAddressTextDataType">
		<xsd:annotation>
			<xsd:documentation>A resource address, usually consisting of the access protocol, the domain name, and optionally, the path to a file or location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicAddressTypeName" type="wqx:ElectronicAddressTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name that describes the electronic address type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalCollectionMethodName" type="wqx:HorizontalCollectionMethodNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name that identifies the method used to determine the latitude and longitude coordinates for a point on the earth.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalCoordinateReferenceSystemDatumName" type="wqx:HorizontalCoordinateReferenceSystemDatumNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name that describes the reference datum used in determining latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HUCEightDigitCode" type="wqx:HUCEightDigitCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The 8 digit federal code used to identify the hydrologic unit of the monitoring location to the cataloging unit level of precision.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HUCTwelveDigitCode" type="wqx:HUCTwelveDigitCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The 12 digit federal code used to identify the hydrologic unit of the monitoring location to the subwatershed level of precision.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LaboratoryName" type="wqx:LaboratoryNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of Lab responsible for the result.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeMeasure" type="wqx:LatitudeMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of the angular distance on a meridian north or south of the equator.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocalityName" type="wqx:LocalityNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of a city, town, village or other locality.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeMeasure" type="wqx:LongitudeMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of the angular distance on a meridian east or west of the prime meridian.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LowerConfidenceLimitValue" type="wqx:LowerConfidenceLimitValueDataType">
		<xsd:annotation>
			<xsd:documentation>Value of the lower end of the confidence interval.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureQualifierCode" type="wqx:MeasureQualifierCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A code used to identify any qualifying issues that affect the results.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureUnitCode" type="wqx:MeasureUnitCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the unit for measuring the item.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureValue" type="wqx:MeasureValueDataType">
		<xsd:annotation>
			<xsd:documentation>The recorded dimension, capacity, quality, or amount of something ascertained by measuring or observing.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MethodDescriptionText" type="wqx:MethodDescriptionTextDataType">
		<xsd:annotation>
			<xsd:documentation>A brief summary that provides general information about the method.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MethodIdentifier" type="wqx:MethodIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>The identification number or code assigned by the method publisher.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MethodIdentifierContext" type="wqx:MethodIdentifierContextDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the source or data system that created or defined the identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MethodName" type="wqx:MethodNameDataType">
		<xsd:annotation>
			<xsd:documentation>The title that appears on the method from the method publisher.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MethodQualifierTypeName" type="wqx:MethodQualifierTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>Identifier of type of method that identifies it as reference, equivalent, or other.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitoringLocationDescriptionText" type="wqx:MonitoringLocationDescriptionTextDataType">
		<xsd:annotation>
			<xsd:documentation>Text description of the monitoring location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitoringLocationIdentifier" type="wqx:MonitoringLocationIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>A designator used to describe the unique name, number, or code assigned to identify the monitoring location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitoringLocationIdentifierContext" type="wqx:MonitoringLocationIdentifierContextDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the source or data system that created or defined the monitoring location identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitoringLocationName" type="wqx:MonitoringLocationNameDataType">
		<xsd:annotation>
			<xsd:documentation>The designator specified by the sampling organization for the site at which sampling or other activities are conducted.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitoringLocationTypeName" type="wqx:MonitoringLocationTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>The descriptive name for a type of monitoring location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationDescriptionText" type="wqx:OrganizationDescriptionTextDataType">
		<xsd:annotation>
			<xsd:documentation>Information that further describes an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationFormalName" type="wqx:OrganizationFormalNameDataType">
		<xsd:annotation>
			<xsd:documentation>The legal designator (i.e. formal name) of an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationIdentifier" type="wqx:OrganizationIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>A designator used to uniquely identify a unique business establishment within a context.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PostalCode" type="wqx:PostalCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The combination of the 5-digit Zone Improvement Plan (ZIP) code and the four-digit extension code (if available) that represents the geographic segment that is a subunit of the ZIP Code, assigned by the U.S. Postal Service to a geographic location to facilitate mail delivery; or the postal zone specific to the country, other than the U.S., where the mail is delivered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrecisionValue" type="wqx:PrecisionValueDataType">
		<xsd:annotation>
			<xsd:documentation>A measure of mutual agreement among individual measurements of the same property usually under prescribed similar conditions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PreparationEndDate" type="wqx:PreparationEndDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date when the preparation/extraction of the sample for analysis was finished.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PreparationStartDate" type="wqx:PreparationStartDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date when the preparation/extraction of the sample for analysis began.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProjectDescriptionText" type="wqx:ProjectDescriptionTextDataType">
		<xsd:annotation>
			<xsd:documentation>Project description, which may include a description of the project purpose, summary of the objectives, or brief summary of the results of the project.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProjectIdentifier" type="wqx:ProjectIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>A designator used to uniquely identify a data collection project within a context of an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProjectName" type="wqx:ProjectNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name assigned by the Organization (project leader or principal investigator) to the project.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultCount" type="wqx:ResultCountDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the number of result records that exist for a particular activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultDetectionConditionText" type="wqx:ResultDetectionConditionTextDataType">
		<xsd:annotation>
			<xsd:documentation>The textual descriptor of a result.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultLaboratoryCommentCode" type="wqx:ResultLaboratoryCommentCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Remarks which further describe the laboratory procedures which produced the result.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultMeasureValue" type="wqx:ResultMeasureValueDataType">
		<xsd:annotation>
			<xsd:documentation>The reportable measure of the result for the chemical, microbiological or other characteristic being analyzed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultParticleSizeBasisText" type="wqx:ResultParticleSizeBasisTextDataType">
		<xsd:annotation>
			<xsd:documentation>User defined free text describing the particle size class for which the associated result is defined.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultSampleFractionText" type="wqx:ResultSampleFractionTextDataType">
		<xsd:annotation>
			<xsd:documentation>The text name of the portion of the sample associated with results obtained from a physically-partitioned sample.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultStatusIdentifier" type="wqx:ResultStatusIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the acceptability of the result with respect to QA/QC criteria.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultTemperatureBasisText" type="wqx:ResultTemperatureBasisTextDataType">
		<xsd:annotation>
			<xsd:documentation>The name that represents the controlled temperature at which the sample was maintained during analysis, e.g. 25 deg BOD analysis.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultTimeBasisText" type="wqx:ResultTimeBasisTextDataType">
		<xsd:annotation>
			<xsd:documentation>The period of time (in days) over which a measurement was made. For example, BOD can be measured as 5 day or 20 day BOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultValueTypeName" type="wqx:ResultValueTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>A name that qualifies the process which was used in the determination of the result value (e.g., actual, estimated, calculated).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultWeightBasisText" type="wqx:ResultWeightBasisTextDataType">
		<xsd:annotation>
			<xsd:documentation>The name that represents the form of the sample or portion of the sample which is associated with the result value (e.g., wet weight, dry weight, ash-free dry weight).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SampleCollectionEquipmentCommentText" type="wqx:SampleCollectionEquipmentCommentTextDataType">
		<xsd:annotation>
			<xsd:documentation>Free text with general comments further describing the sample collection equipment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SampleCollectionEquipmentName" type="wqx:SampleCollectionEquipmentNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name for the equipment used in collecting the sample.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SampleContainerColorName" type="wqx:SampleContainerColorNameDataType">
		<xsd:annotation>
			<xsd:documentation>The text describing the sample container color.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SampleContainerTypeName" type="wqx:SampleContainerTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>The text describing the sample container type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SampleTissueAnatomyName" type="wqx:SampleTissueAnatomyNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the anatomy from which a tissue sample was taken.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SampleTissueTaxonomicName" type="wqx:SampleTissueTaxonomicNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the organism from which a tissue sample was taken.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SampleTransportStorageDescription" type="wqx:SampleTransportStorageDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>The text describing sample handling and transport procedures used.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceMapScaleNumeric" type="wqx:SourceMapScaleNumericDataType">
		<xsd:annotation>
			<xsd:documentation>The number that represents the proportional distance on the ground for one unit of measure on the map or photo.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateCode" type="wqx:StateCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A code designator used to identify a principal administrative subdivision of the United States, Canada, or Mexico.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatisticalBaseCode" type="wqx:StatisticalBaseCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code for the method used to calculate derived results.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalAddressText" type="wqx:SupplementalAddressTextDataType">
		<xsd:annotation>
			<xsd:documentation>The text that provides additional information about an address, including a building name with its secondary unit and number, an industrial park name, an installation name or descriptive text where no formal address is available.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneExtensionNumberText" type="wqx:TelephoneExtensionNumberTextDataType">
		<xsd:annotation>
			<xsd:documentation>The number assigned within an organization to an individual telephone that extends the external telephone number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberText" type="wqx:TelephoneNumberTextDataType">
		<xsd:annotation>
			<xsd:documentation>The number that identifies a particular telephone connection.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberTypeName" type="wqx:TelephoneNumberTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name that describes a telephone number type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ThermalPreservativeUsedName" type="wqx:ThermalPreservativeUsedNameDataType">
		<xsd:annotation>
			<xsd:documentation>Information describing the temperature means used to preserve the sample.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TimeZoneCode" type="wqx:TimeZoneCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The time zone for which the time of day is reported. Any of the longitudinal divisions of the earth's surface in which a standard time is kept.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Time" type="wqx:TimeDataType">
		<xsd:annotation>
			<xsd:documentation>The time of day that is reported.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TribalCode" type="wqx:TribalCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the American Indian tribe or Alaskan Native entity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TribalLandIndicator" type="wqx:TribalLandIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>An indicator denoting whether the location is on a tribal land.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TribalLandName" type="wqx:TribalLandNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of an American Indian or Alaskan native area where the location exists.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UpperConfidenceLimitValue" type="wqx:UpperConfidenceLimitValueDataType">
		<xsd:annotation>
			<xsd:documentation>Value of the upper end of the confidence interval.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalCollectionMethodName" type="wqx:VerticalCollectionMethodNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name that identifies the method used to collect the vertical measure (i.e. the altitude) of a reference point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalCoordinateReferenceSystemDatumName" type="wqx:VerticalCoordinateReferenceSystemDatumNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the reference datum used to determine the vertical measure (i.e., the altitude).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
