dotnet/plugins/RCRA_41/xml_schema/0/RCRA_Certification_v4.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/4" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="4.0">
	<xsd:include schemaLocation="./RCRA_Shared_v4.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_Certification_v4.0
		Description : 	Certification information for the person who certified report to the authorizing agency.
		Developed by : 	 Windsor Solutions, Inc.
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Certification" type="RC:CertificationDataType">
		<xsd:annotation>
			<xsd:documentation>Certification information for the person who certified report to the authorizing agency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CertificationDataType">
		<xsd:annotation>
			<xsd:documentation>Waste information certification for the handler.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:TransactionCode" minOccurs="0"/>
			<xsd:element ref="RC:CertificationSequenceNumber"/>
			<xsd:element ref="RC:SignedDate" minOccurs="0"/>
			<xsd:element ref="RC:IndividualTitleText" minOccurs="0"/>
			<xsd:element ref="RC:FirstName" minOccurs="0"/>
			<xsd:element ref="RC:MiddleInitial" minOccurs="0"/>
			<xsd:element ref="RC:LastName" minOccurs="0"/>
			<xsd:element ref="RC:CertificationSupplementalInformationText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CertificationSupplementalInformationText" type="RC:CertificationSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the handler Certification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="CertificationSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the handler Certification.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
