dotnet/plugins/FACID30/xml_schema/3/0/FACID_FacilityIndex_v3.0_draft1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:facid="http://www.exchangenetwork.net/schema/facilityid/3" targetNamespace="http://www.exchangenetwork.net/schema/facilityid/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="FACID_FacilitySummaryList_v3.0_draft1.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Schema Name : 	FACID_FacilityIndex_v3.0
			Current Version Available At : http://www.exchangenetwork.net/
			Description : 	This is a root element for the FacilityID exchange. This component contains a list of abbreviated facility summary information. This element is optimized for exchaning a list of high-level facility information based on an ad hoc user query.
			Application : 
			Developed by : 	Environmental Protection Agency, Windsor Solutions, Inc.
			Point of Contact : Kevin Lyons
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="FacilityIndex" type="facid:FacilityIndexDataType">
		<xsd:annotation>
			<xsd:documentation>This is a root element for the FacilityID exchange. This component contains a list of abbreviated facility summary information. This element is optimized for exchaning a list of high-level facility information based on an ad hoc user query.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilityIndexDataType">
		<xsd:sequence>
			<xsd:element ref="facid:FacilitySummaryList" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:decimal">
					<xsd:pattern value="3\.\d*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
