dotnet/opennode2-net/plugins/HERE/xml_schema/HERE/1/0/HERE_DomainValues_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Bill (Windsor Solutions, Inc) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:here="http://www.exchangenetwork.net/schema/HERE" targetNamespace="http://www.exchangenetwork.net/schema/HERE" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			Schema Name : 	HERE_DomainValues_v1.0.xsd
			Current Version Available At : http://www.exchangenetwork.net/
			Description : 	Provides a list of codes and Contains all codes and descriptions necessary to provide context to the data downloaded by the HERE Data Retrieval Tool
			Application : 	
			Developed by : 	Environmental Protection Agency, Windsor Solutions, Inc.
			Point of Contact : TK Conrad
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="DomainValueList" type="here:DomainValueListDataType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>This is the root element of the Domain Value schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DomainValueListDataType">
		<xsd:sequence>
			<xsd:element ref="here:DomainList" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A list of lookup tables.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DomainValueItemDataType">
		<xsd:sequence>
			<xsd:element ref="here:ItemCode">
				<xsd:annotation>
					<xsd:documentation>The code used to represent a data element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="here:ItemText">
				<xsd:annotation>
					<xsd:documentation>The plain english name for the data element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="here:ItemDescriptionText" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A description of the data element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DomainList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="here:DomainListNameText">
					<xsd:annotation>
						<xsd:documentation>The name given to the type of data in the lookup list.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="here:OriginatingPartnerName">
					<xsd:annotation>
						<xsd:documentation>The name of the partner who provided this data to the Domain Values exchange.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="here:DomainListItem" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>An entry in a lookup list of values</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DomainListNameText" type="xsd:string"/>
	<xsd:element name="OriginatingPartnerName" type="xsd:string"/>
	<xsd:element name="DomainListItem" type="here:DomainValueItemDataType"/>
	<xsd:element name="ItemCode" type="xsd:string"/>
	<xsd:element name="ItemText" type="xsd:string"/>
	<xsd:element name="ItemDescriptionText" type="xsd:string"/>
</xsd:schema>
