java/node-plugin/node-plugin-rcra/src/main/xsd/RCRA_UniversalWasteActivity_v4.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/4" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="4.0">
	<xsd:include schemaLocation="./RCRA_Shared_v4.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_UniversalWasteActivity_v4.0
		Description : 	Information about universal waste generated by the handler.
		Developed by : 	 Windsor Solutions, Inc.
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="HandlerUniversalWaste" type="RC:UniversalWasteActivityDataType">
		<xsd:annotation>
			<xsd:documentation>Information about universal waste generated by the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UniversalWasteActivityDataType">
		<xsd:sequence>
			<xsd:element ref="RC:TransactionCode" minOccurs="0"/>
			<xsd:element ref="RC:UniversalWasteOwnerName" minOccurs="0"/>
			<xsd:element ref="RC:UniversalWasteTypeCode" minOccurs="0"/>
			<xsd:element ref="RC:AccumulatedWasteCode" minOccurs="0"/>
			<xsd:element ref="RC:GeneratedHandlerCode" minOccurs="0"/>
			<xsd:element ref="RC:UniversalWasteSupplementalInformationText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UniversalWasteSupplementalInformationText" type="RC:UniversalWasteSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the handler Universal Waste Activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="UniversalWasteSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the handler Universal Waste Activity.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
