java/node-plugin/node-plugin-rcra/src/main/xsd/RCRA_Shared_v4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.0">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_Shared_v4.0.xsd
		Description : 	Shared data types for RCRA submissions
		Developed by : 	 Windsor Solutions, Inc.
		</xsd:documentation>
	</xsd:annotation>
	<!-- Handler elements -->
	<xsd:element name="PhoneExtensionText" type="RC:PhoneExtensionTextDataType">
		<xsd:annotation>
			<xsd:documentation>Telephone number extension</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccumulatedWasteCode" type="RC:AccumulatedWasteCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in accumulating waste on site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>	
	<xsd:element name="ActivityLocationCode" type="RC:ActivityLocationCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the location of the agency regulating the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CertificationSequenceNumber" type="RC:CertificationSequenceNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Sequence number for each certification for the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrentEndDate" type="RC:CurrentEndDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date indicating when the owner/operator changed to a different owner/operator.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrentStartDate" type="RC:CurrentStartDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date indicating when the owner/operator became current.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DUNSID" type="RC:DUNSIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Dunn and Bradstreet number used as an identifier</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicAddress" type="RC:EmailAddressDataType">
		<xsd:annotation>
			<xsd:documentation>Email address associated with the permit contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmailAddressText" type="RC:EmailAddressTextDataType">
		<xsd:annotation>
			<xsd:documentation>Email address data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EstimatedQuantity" type="RC:EstimatedQuantityDataType">
		<xsd:annotation>
			<xsd:documentation>The quantity of waste that is handled by each process code. This element pertains only to Part A submissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteName" type="RC:FacilitySiteNameDataType">
		<xsd:annotation>
			<xsd:documentation>The legal name of the site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirstName" type="RC:FirstNameDataType">
		<xsd:annotation>
			<xsd:documentation>First name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FuelBurnerCode" type="RC:FuelBurnerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in the burning of used oil fuel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FurnaceExemptionCode" type="RC:FurnaceExemptionCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler qualifies for the Smelting, Melting, and Refining Furnace Exemption.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeneratedHandlerCode" type="RC:GeneratedHandlerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in generating waste on site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HandlerID" type="RC:HandlerIDDataType">
		<xsd:annotation>
			<xsd:documentation>Number that uniquely identifies the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IndividualTitleText" type="RC:IndividualTitleTextDataType">
		<xsd:annotation>
			<xsd:documentation>Title of the person who certified the handler information reported to the authorizing agency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImporterActivityCode" type="RC:ImporterActivityCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in importing hazardous waste into the United States.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LandTypeCode" type="RC:LandTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating current ownership status of the land on which the facility is located.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastName" type="RC:LastNameDataType">
		<xsd:annotation>
			<xsd:documentation>Last name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MarketBurnerCode" type="RC:MarketBurnerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler directs shipments of used oil to burners.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MiddleInitial" type="RC:MiddleInitialDataType">
		<xsd:annotation>
			<xsd:documentation>Middle initial of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MixedWasteGeneratorCode" type="RC:MixedWasteGeneratorCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in generating mixed waste (waste that is both hazardous and radioactive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurementTypeCode" type="RC:MeasurementTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the unit of measure of the associated design capacity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NAICSCode" type="RC:NAICSCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The North American Industry Classification System Code that identifies the business activities of the facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NAICSOwnerCode" type="RC:NAICSOwnerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the NAICS Code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NAICSSequenceNumber" type="RC:NAICSSequenceNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Sequence number for each NAICS code for the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OnsiteBurnerExemptionCode" type="RC:OnsiteBurnerExemptionCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler qualifies for the Small Quantity Onsite Burner Exemption.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationFormalName" type="RC:OrganizationFormalNameDataType">
		<xsd:annotation>
			<xsd:documentation>The legal, formal name of an organization that is affiliated with the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OwnerOperatorIndicator" type="RC:OwnerOperatorIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating whether the data is associated with a current or previous owner or operator. The system will allow multiple current owners and operators.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OwnerOperatorSequenceNumber" type="RC:OwnerOperatorSequenceNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Sequential number used to order multiple occurrences of owners and operators.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OwnerOperatorTypeCode" type="RC:OwnerOperatorTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the owner/operator type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PhoneExtentionNumber" type="RC:PhoneExtentionNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Telephone number extension associated with the contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProcessorCode" type="RC:ProcessorCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in processing used oil activities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecyclerActivityCode" type="RC:RecyclerActivityCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in recycling hazardous waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponsibleAgencyCode" type="RC:ResponsibleAgencyCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the agency responsible for conducting the evaluation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponsiblePersonDataOwnerCode" type="RC:ResponsiblePersonDataOwnerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the person identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponsiblePersonID" type="RC:ResponsiblePersonIDDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the person within the agency responsible for conducting the evaluation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponsibleSuborganizationDataOwnerCode" type="RC:ResponsibleSuborganizationDataOwnerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the suborganization identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RefinerCode" type="RC:RefinerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in re-refining used oil activities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SignedDate" type="RC:SignedDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date on which the handler information was certified by the reporting site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecificationMarketerCode" type="RC:SpecificationMarketerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is a marketer who first claims the used oil meets the specifications.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateActivityOwnerName" type="RC:StateActivityOwnerNameDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the state activity type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateActivityTypeCode" type="RC:StateActivityTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the type of state activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateDistrictCode" type="RC:StateDistrictCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the state-designated legislative district(s) in which the site is located.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberText" type="RC:TelephoneNumberTextDataType">
		<xsd:annotation>
			<xsd:documentation>Telephone Number data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionCode" type="RC:TransactionCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Transaction code used to define the add, update, or delete.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransferFacilityCode" type="RC:TransferFacilityCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler owns or operates a used oil transfer facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransporterActivityCode" type="RC:TransporterActivityCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in the transportation of hazardous waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransporterCode" type="RC:TransporterCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in used oil transportation and/or transfer facility activities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TreatmentStorageDisposalActivityCode" type="RC:TreatmentStorageDisposalActivityCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in the treatment, storage, or disposal of hazardous waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UndergroundInjectionActivityCode" type="RC:UndergroundInjectionActivityCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler generates and or treats, stores, or disposes of hazardous waste and has an injection well located at the installation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UniversalWasteDestinationFacilityIndicator" type="RC:UniversalWasteDestinationFacilityIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler treats, disposes of, or recycles hazardous waste on site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UniversalWasteOwnerName" type="RC:UniversalWasteOwnerNameDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the universal waste type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UniversalWasteTypeCode" type="RC:UniversalWasteTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the type of universal waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteCode" type="RC:WasteCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code used to describe hazardous waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteCodeOwnerName" type="RC:WasteCodeOwnerNameDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that owns the data record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteGeneratorOwnerName" type="RC:WasteGeneratorOwnerNameDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the generator status type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteGeneratorStatusCode" type="RC:WasteGeneratorStatusCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler is engaged in the generation of hazardous waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- CME Elements-->
	<xsd:element name="Description" type="RC:DescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Description of the GM Form.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Name" type="RC:NameDataType">
		<xsd:annotation>
			<xsd:documentation>Name or number assigned by the implementing agency to identify a corrective action area.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActualDate" type="RC:ActualDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date on which actual completion of a corrective action event occurs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EPAAttorneyDataOwnerCode" type="RC:EPAAttorneyDataOwnerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the person identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EPAAttorneyID" type="RC:EPAAttorneyIDDataType">
		<xsd:annotation>
			<xsd:documentation>Current attorney at the EPA level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EPAResponsiblePersonDataOwnerCode" type="RC:EPAResponsiblePersonDataOwnerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the person identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EPAResponsiblePersonID" type="RC:EPAResponsiblePersonIDDataType">
		<xsd:annotation>
			<xsd:documentation>The person currently responsible for the permit at the EPA level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewScheduledDate" type="RC:NewScheduledDateDataType">
		<xsd:annotation>
			<xsd:documentation>The new scheduled completion date for an event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalScheduledDate" type="RC:OriginalScheduledDateDataType">
		<xsd:annotation>
			<xsd:documentation>The original scheduled completion date for an event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponsibleSuborganizationID" type="RC:ResponsibleSuborganizationIDDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the section of the organization accountable for overseeing the activities imposed by the authority.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateResponsiblePersonDataOwnerCode" type="RC:StateResponsiblePersonDataOwnerCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the person identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateResponsiblePersonID" type="RC:StateResponsiblePersonIDDataType">
		<xsd:annotation>
			<xsd:documentation>The state person currently responsible for overseeing the corrective action area.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActualPaidAmount" type="RC:ActualPaidAmountDataType">
		<xsd:annotation>
			<xsd:documentation>The dollar amount of any cost recovery required to be paid pursuant to a Final Order.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActualPaymentDate" type="RC:ActualPaymentDateDataType"/>
	<xsd:element name="ReturnComplianceActualDate" type="RC:ReturnComplianceActualDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date, determined by the Responsible Authority, on which the regulated entity actually returned to compliance with respect to the legal obligation that is the subject of the Violation Determined Date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AgencyWhichDeterminedViolation" type="RC:AgencyWhichDeterminedViolationDataType"/>
	<xsd:element name="AppealResolutionDate" type="RC:AppealResolutionDateDataType"/>
	<xsd:element name="AppealInitiatedDate" type="RC:AppealInitiatedDateDataType"/>
	<xsd:element name="CitationName" type="RC:CitationNameDataType">
		<xsd:annotation>
			<xsd:documentation>The citation(s) of the violations alleged.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CitationNameOwner" type="RC:CitationNameOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>State postal code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CitationNameSequenceNumber" type="RC:CitationNameSequenceNumberDataType"/>
	<xsd:element name="CitationNameType" type="RC:CitationNameTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Existing nationally defined values: FR, FS, OC, PC,SR,SS,V3</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CitizenComplaintIndicator" type="RC:CitizenComplaintIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>The inspection or record review was initiated because of a tip/complaint</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommitmentActivityLocation" type="RC:CommitmentActivityLocationDataType"/>
	<xsd:element name="CommitmentEndDate" type="RC:CommitmentEndDateDataType"/>
	<xsd:element name="CommitmentLead" type="RC:CommitmentLeadDataType"/>
	<xsd:element name="CommitmentSequenceNumber" type="RC:CommitmentSequenceNumberDataType"/>
	<xsd:element name="CommitmentStartDate" type="RC:CommitmentStartDateDataType"/>
	<xsd:element name="CommitmentType" type="RC:CommitmentTypeDataType"/>
	<xsd:element name="CommitmentTypeOwner" type="RC:CommitmentTypeOwnerDataType"/>
	<xsd:element name="ConsentAgreementFinalOrderSequenceNumber" type="RC:ConsentAgreementFinalOrderSequenceNumberDataType"/>
	<xsd:element name="CorrectiveActionComponent" type="RC:CorrectiveActionComponentDataType"/>
	<xsd:element name="EnforcementActionDate" type="RC:EnforcementActionDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date the enforcement action was issued or filed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateOfRequest" type="RC:DateOfRequestDataType"/>
	<xsd:element name="DateResponseReceived" type="RC:DateResponseReceivedDataType"/>
	<xsd:element name="ViolationDeterminedDate" type="RC:ViolationDeterminedDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date the Responsible Authority determines that a regulated entity is in violation of a legally enforceable obligation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DayZero" type="RC:DayZeroDataType">
		<xsd:annotation>
			<xsd:documentation>Date fo the Last Non-Followup Evaluation (Applies to SNY/SNN Evaluations Only)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeterminedByAgency" type="RC:DeterminedByAgencyDataType"/>
	<xsd:element name="DispositionStatus" type="RC:DispositionStatusDataType"/>
	<xsd:element name="DispositionStatusDate" type="RC:DispositionStatusDateDataType"/>
	<xsd:element name="DispositionStatusOwner" type="RC:DispositionStatusOwnerDataType"/>
	<xsd:element name="EPAHandlerID" type="RC:EPAHandlerIDDataType">
		<xsd:annotation>
			<xsd:documentation>Number that uniquely identifies the EPA handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementAgencyLocationName" type="RC:EnforcementAgencyLocationNameDataType">
		<xsd:annotation>
			<xsd:documentation>The U.S.Postal Service alphabetic code that represents the U.S.State or territory in which a state or local government enforcement agency operates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementAttorney" type="RC:EnforcementAttorneyDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the attorney within the agency responsible for issuing the enforcement action.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementDocketNumber" type="RC:EnforcementDocketNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Notes the relevant docket number which enforcement staff have assigned for tracking of enforcement actions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementHandlerID" type="RC:EnforcementHandlerIDDataType"/>
	<xsd:element name="EnforcementActionIdentifier" type="RC:EnforcementActionIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>The unique alphanumeric identifier used in the applicable database to identify a specific enforcement action pertaining to a regulated entity or facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementOwner" type="RC:EnforcementOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>State Postal Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementAgencyName" type="RC:EnforcementAgencyNameDataType">
		<xsd:annotation>
			<xsd:documentation>The full name of the agency, department, or organization that submitted the enforcement action data to EPA.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementResponsiblePersonIdentifier" type="RC:ReponsiblePersonDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the person within the agency responsible for conducting the enforcement.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementResponsiblePersonOwner" type="RC:EnforcementResponsiblePersonOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the person identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementResponsibleSuborganization" type="RC:EnforcementResponsibleSuborganizationDataType"/>
	<xsd:element name="EnforcementResponsibleSuborganizationOwner" type="RC:EnforcementResponsibleSuborganizationOwnerDataType"/>
	<xsd:element name="EnforcementType" type="RC:EnforcementTypeDataType">
		<xsd:annotation>
			<xsd:documentation>A code that identifies the type of action being taken against a handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationActivityLocation" type="RC:EvaluationActivityLocationDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the location of the agency regulating the EPA handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationHandlerID" type="RC:EvaluationHandlerIDDataType"/>
	<xsd:element name="EvaluationIdentifier" type="RC:EvaluationIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Name or number assigned by the implementing agency to identify an evaluation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationResponsibleAgency" type="RC:EvaluationResponsibleAgencyDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the agency responsible for conducting the evaluation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationResponsiblePersonIdentifier" type="RC:EvaluationResponsiblePersonIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the person within the agency responsible for conducting the evaluation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationResponsiblePersonIdentifierOwner" type="RC:EvaluationResponsiblePersonIdentifierOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the person identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationResponsibleSuborganization" type="RC:EvaluationResponsibleSuborganizationDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the branch/district within the agency responsible for conducting the evaluation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationResponsibleSuborganizationOwner" type="RC:EvaluationResponsibleSuborganizationOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the suborganization identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationStartDate" type="RC:EvaluationStartDateDataType">
		<xsd:annotation>
			<xsd:documentation>The first day of the inspection or record review regardless of the duration of the inspection.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationType" type="RC:EvaluationTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Code to report the type of evaluation conducted at the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EvaluationTypeOwner" type="RC:EvaluationTypeOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the type of evaluation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FederalFiscalYear" type="RC:FederalFiscalYearDataType"/>
	<xsd:element name="FocusArea" type="RC:FocusAreaDataType"/>
	<xsd:element name="FocusAreaOwner" type="RC:FocusAreaOwnerDataType"/>
	<xsd:element name="FormerCitationName" type="RC:FormerCitationNameDataType"/>
	<xsd:element name="FoundViolation" type="RC:FoundViolationDataType">
		<xsd:annotation>
			<xsd:documentation>Flag indicating if a violation was found.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MultimediaCode" type="RC:MultimediaCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code which indicates the medium or program other than RCRA participating in the enforcement action.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MultimediaCodeOwner" type="RC:MultimediaCodeOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the multimedia code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MilestoneActualCompletionDate" type="RC:MilestoneActualCompletionDateDataType"/>
	<xsd:element name="MilestoneDefaultedDate" type="RC:MilestoneDefaultedDateDataType"/>
	<xsd:element name="MilestoneScheduledCompletionDate" type="RC:MilestoneScheduledCompletionDateDataType"/>
	<xsd:element name="MilestoneSequenceNumber" type="RC:MilestoneSequenceNumberDataType"/>
	<xsd:element name="MultimediaIndicator" type="RC:MultimediaIndicatorDataType"/>
	<xsd:element name="NotSubtitleCIndicator" type="RC:NotSubtitleCIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>The inspection conducted pursuant to RCRA 3007 or State equivalent; determiniation made: sit is Non-Hazardous Waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Notes" type="RC:NotesDataType"/>
	<xsd:element name="PaymentDefaultedDate" type="RC:PaymentDefaultedDateDataType"/>
	<xsd:element name="ScheduledPaymentAmount" type="RC:ScheduledPaymentAmountDataType"/>
	<xsd:element name="ScheduledPaymentDate" type="RC:ScheduledPaymentDateDataType"/>
	<xsd:element name="PaymentSequenceNumber" type="RC:PaymentSequenceNumberDataType"/>
	<xsd:element name="CashCivilPenaltySoughtAmount" type="RC:CashCivilPenaltySoughtAmountDataType">
		<xsd:annotation>
			<xsd:documentation>The dollar amount of any proposed cash civil penalty set forth in a Complaint/Proposed Order.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PenaltyType" type="RC:PenaltyTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Code which indicates the type of penalty associated with the penalty amount.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PenaltyTypeOwner" type="RC:PenaltyTypeOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the penalty type</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestActivityLocation" type="RC:RequestActivityLocationDataType"/>
	<xsd:element name="RequestAgency" type="RC:RequestAgencyDataType"/>
	<xsd:element name="RequestSequenceNumber" type="RC:RequestSequenceNumberDataType"/>
	<xsd:element name="ReturnToComplianceQualifier" type="RC:ReturnToComplianceQualifierDataType"/>
	<xsd:element name="SEPActualDate" type="RC:SEPActualDateDataType">
		<xsd:annotation>
			<xsd:documentation>SEP actual completion date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SEPCodeOwner" type="RC:SEPCodeOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>State postal code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SEPDefaultedDate" type="RC:SEPDefaultedDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date the SEP defaulted</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SEPExpenditureAmount" type="RC:SEPExpenditureAmountDataType">
		<xsd:annotation>
			<xsd:documentation>Expenditure Amount</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SEPScheduledCompletionDate" type="RC:SEPScheduledCompletionDateDataType">
		<xsd:annotation>
			<xsd:documentation>Valid date greater than or equal to the Date of Enforcement Action.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SEPSequenceNumber" type="RC:SEPSequenceNumberDataType">
		<xsd:annotation>
			<xsd:documentation>SEP Sequence Number allowed value 01-99</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SamplingIndicator" type="RC:SamplingIndicatorDataType"/>
	<xsd:element name="ScheduledCompletionDate" type="RC:ScheduledCompletionDateDataType"/>
	<xsd:element name="ReturnComplianceScheduledDate" type="RC:ReturnComplianceScheduledDateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date, specified in the Compliance Schedule (if any), on which the regulated entity is scheduled to return to compliance with respect to the legal obligation that is the subject of the Violation Determined Date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SNYDate" type="RC:SNYDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date of the SNY that the Action is Addressing</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SEPDescriptionText" type="RC:SEPDescriptionTextDataType">
		<xsd:annotation>
			<xsd:documentation>The narrative text describing any Supplemental Environmental Projects required to be performed pursuant to a Final Order.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TechnicalRequirementDescription" type="RC:TechnicalRequirementDescriptionDataType"/>
	<xsd:element name="TechnicalRequirementIdentifier" type="RC:TechnicalRequirementNumberDataType"/>
	<xsd:element name="ViolationActivityLocation" type="RC:ViolationActivityLocationDataType"/>
	<xsd:element name="ViolationHandlerID" type="RC:ViolationHandlerIDDataType">
		<xsd:annotation>
			<xsd:documentation>Number that uniquely identifies the EPA handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationResponsibleAgency" type="RC:ViolationResponsibleAgencyDataType"/>
	<xsd:element name="ViolationSequenceNumber" type="RC:ViolationSequenceNumberDataType"/>
	<xsd:element name="ViolationType" type="RC:ViolationTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Violation Type</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationTypeOwner" type="RC:ViolationTypeOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Allowed value HQ</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- Handler Types-->
	<xsd:simpleType name="EmailAddressTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneNumberTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneExtensionTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccumulatedWasteCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccumulatorBatteriesIndicatorDataType">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="AccumulatorLampsIndicatorDataType">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="AccumulatorPesticidesIndicatorDataType">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="AccumulatorThermostatsIndicatorDataType">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="CertificationSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrentEndDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="CurrentStartDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmailAddressDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EstimatedQuantityDataType">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilitySiteNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FirstNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FuelBurnerCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FurnaceExemptionCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GeneratorBatteriesIndicatorDataType">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeneratedHandlerCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IndividualTitleTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ImporterActivityCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LandTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LastNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MarketBurnerCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MiddleInitialDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MixedWasteGeneratorCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasurementTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NAICSOwnerCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NAICSSequenceNumberDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OnsiteBurnerExemptionCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationFormalNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OwnerOperatorIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OwnerOperatorSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OwnerOperatorTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneExtentionNumberDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProcessorCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RecyclerActivityCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RefinerCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SignedDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="SourceMapScaleNumberDataType">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="SpecificationMarketerCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateActivityOwnerNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateActivityTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateDistrictCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransferFacilityCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransporterActivityCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransporterCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TreatmentStorageDisposalActivityCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UndergroundInjectionActivityCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UniversalWasteDestinationFacilityIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UniversalWasteOwnerNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UniversalWasteTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WasteCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WasteCodeOwnerNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WasteGeneratorOwnerNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WasteGeneratorStatusCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--CME Types -->
	<xsd:simpleType name="ActivityLocationCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ActualDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ActualPaymentDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="AgencyWhichDeterminedViolationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppealInitiatedDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="AppealResolutionDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="CitizenComplaintIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CitationNameSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CitationNameOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CitationNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CitationNameTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommitmentStartDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="CommitmentEndDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="CorrectiveActionComponentDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConsentAgreementFinalOrderSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommitmentActivityLocationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommitmentLeadDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommitmentSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommitmentTypeOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommitmentTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CashCivilPenaltySoughtAmountDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:totalDigits value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActualPaidAmountDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="13"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DescriptionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="DayZeroDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="DeterminedByAgencyDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateOfRequestDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateResponseReceivedDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="DispositionStatusDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="DispositionStatusOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DispositionStatusDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DUNSIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:pattern value="[0-9]{9,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementResponsiblePersonOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementResponsibleSuborganizationOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementResponsibleSuborganizationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementDocketNumberDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementAttorneyDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementAgencyNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementAgencyLocationNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementActionDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementHandlerIDDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementActionIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationHandlerIDDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationResponsiblePersonIdentifierOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationResponsiblePersonIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationResponsibleAgencyDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationTypeOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationResponsibleSuborganizationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationResponsibleSuborganizationOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationActivityLocationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EPAAttorneyDataOwnerCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EPAAttorneyIDDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EPAResponsiblePersonDataOwnerCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EPAResponsiblePersonIDDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EPAHandlerIDDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EvaluationStartDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="FoundViolationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FocusAreaOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FocusAreaDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FederalFiscalYearDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FormerCitationNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FIPSCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
			<xsd:pattern value="[0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HandlerIDDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="4"/>
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MilestoneScheduledCompletionDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="MilestoneSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MilestoneActualCompletionDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="MilestoneDefaultedDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="MultimediaCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MultimediaIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MultimediaCodeOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NAICSCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="NewScheduledDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="NotesDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotSubtitleCIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OriginalScheduledDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentDefaultedDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="PenaltyTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PenaltyTypeOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReturnComplianceActualDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReturnToComplianceQualifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequestSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReturnComplianceScheduledDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ResponsibleAgencyCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ResponsiblePersonDataOwnerCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ResponsiblePersonIDDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ResponsibleSuborganizationDataOwnerCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ResponsibleSuborganizationIDDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReponsiblePersonDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequestActivityLocationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequestAgencyDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScheduledPaymentDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ScheduledPaymentAmountDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="13"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScheduledCompletionDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="SEPSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SEPExpenditureAmountDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="13"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SEPScheduledCompletionDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="SEPActualDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="SEPDescriptionTextDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SEPCodeOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SEPDefaultedDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="SNYDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="StateCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateResponsiblePersonDataOwnerCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="StateResponsiblePersonIDDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SamplingIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TechnicalRequirementNumberDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TechnicalRequirementDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationResponsibleAgencyDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationHandlerIDDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationActivityLocationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationSequenceNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationTypeOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationDeterminedDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
</xsd:schema>
