dotnet/opennode2-net/plugins/HERE/xml_schema/TIER II/1/1/SC_GeographicLocationDescription_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:us:net:exchangenetwork:sc:1:0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="SC_SimpleContent_v1.0.xsd" />
    <xsd:include schemaLocation="SC_Measure_v1.0.xsd" />
    <xsd:include schemaLocation="SC_ReferenceMethod_v1.0.xsd" />
    <xsd:include schemaLocation="SC_GeographicReferencePoint_v1.0.xsd" />
    <xsd:include schemaLocation="SC_GeographicReferenceDatum_v1.0.xsd" />
    <xsd:include schemaLocation="SC_CoordinateDataSource_v1.0.xsd" />
    <xsd:include schemaLocation="SC_GeometricType_v1.0.xsd" />
    <xsd:annotation>
        <xsd:documentation>
        Schema Name  : SC_GeographicLocationDescription_v1.0.xsd
        Schema Identification : SD.01
        Current Version Available At :  http://www.exchangenetwork.net/registry/SC
        Description   : 	Extensive list of geographic identifiers used to clearly mark an object's precise location.
        Application   :   Exchange Network Shared Schema Component
        Developed by  : 	 Core Reference Model (CRM) Workgroup
        Point of Contact :   Douglas Timms, enfoTech &amp; Consulting, Inc.
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="GeographicLocationDescriptionDataType">
        <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:LatitudeMeasure" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:LongitudeMeasure" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:SourceMapScaleNumber" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:HorizontalAccuracyMeasure" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:HorizontalCollectionMethod" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:GeographicReferencePoint" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:HorizontalReferenceDatum" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:DataCollectionDate" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:LocationCommentsText" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:VerticalMeasure" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:VerticalCollectionMethod" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:VerticalReferenceDatum" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:VerificationMethod" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:CoordinateDataSource" />
            <xsd:element minOccurs="0" maxOccurs="1" ref="sc:GeometricType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GeographicLocationDescription" type="sc:GeographicLocationDescriptionDataType">
        <xsd:annotation>
            <xsd:documentation>Extensive list of geographic identifiers used to clearly mark an object's precise location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="HorizontalAccuracyMeasure" type="sc:MeasureDataType">
        <xsd:annotation>
            <xsd:documentation>The measure of the accuracy of the latitude and longitude coordinates.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="HorizontalCollectionMethod" type="sc:ReferenceMethodDataType">
        <xsd:annotation>
            <xsd:documentation>Information that describes the method used to determine the latitude and longitude coordinates for a point on the earth.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="HorizontalReferenceDatum" type="sc:GeographicReferenceDatumDataType">
        <xsd:annotation>
            <xsd:documentation>Information that describes the reference datum used in determining latitude and longitude coordinates.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VerticalMeasure" type="sc:MeasureDataType">
        <xsd:annotation>
            <xsd:documentation>The measure of elevation (i.e. the altitude) above or below are reference datum.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VerticalCollectionMethod" type="sc:ReferenceMethodDataType">
        <xsd:annotation>
            <xsd:documentation>Information that describes the method used to collect the vertical measure(i.e., the altitude) of a reference point.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VerticalReferenceDatum" type="sc:GeographicReferenceDatumDataType">
        <xsd:annotation>
            <xsd:documentation>Information that describes the reference datum used to determine the vertical measure (i.e., the altitude).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VerificationMethod" type="sc:ReferenceMethodDataType">
        <xsd:annotation>
            <xsd:documentation>Information that describes the method or process used to verify the latitude and longitude coordinates.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>