prod-opennode2-net/plugins/RCRA_510/xml_schema/10/RCRA_HazardousWasteReportUniv_v5.10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.10">
	<xsd:include schemaLocation="./RCRA_Shared_v5.10.xsd"/>
	<xsd:include schemaLocation="./RCRA_ReportUniv_v5.10.xsd"/>
	<xsd:annotation>
		<xsd:documentation>		
		Schema Name: RCRA_HazardousWasteReportUniv_v5.10.xsd
		Description : 	Report Univ schema for RCRA submissions
		Developed by : 	U.S. EPA
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="HazardousWasteReportUniv" type="RC:HazardousWasteReportUnivDataType">
		<xsd:annotation>
			<xsd:documentation>
				This is the root element for this flow XML Schema.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="HazardousWasteReportUnivDataType">
		<xsd:annotation>
			<xsd:documentation>Hazardous waste report univ.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:DataAccessText" minOccurs="0"/>
			<xsd:element ref="RC:ReportUnivs" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ReportUnivs" type="RC:ReportUnivsDataType">
		<xsd:annotation>
			<xsd:documentation>
				This is the root element for this flow XML Schema.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ReportUnivsDataType">
		<xsd:annotation>
			<xsd:documentation>Report univ.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:ReportUniv" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
