java/2012-OCT-PRE-MAVEN-REFACTOR/node-plugin/src/main/packaging/icisnpdes20/xsd/5/ICIS_Contact_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Address_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Contact_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES contact data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="Contact" type="icis:Contact"/>
	<xsd:element name="ElectronicAddressText" type="icis:StringMin1Max100Type"/>
	<xsd:element name="EndDateOfContactAssociation" type="icis:DateType"/>
	<xsd:element name="FirstName" type="icis:StringMin1Max30Type"/>
	<xsd:element name="IndividualTitleText" type="icis:StringMin1Max40Type"/>
	<xsd:element name="LastName" type="icis:StringMin1Max30Type"/>
	<xsd:element name="MiddleName" type="icis:StringMin1Max10Type"/>
	<xsd:element name="RegionCode" type="icis:String2FixedType"/>
	<xsd:element name="StartDateOfContactAssociation" type="icis:DateType"/>
	<xsd:element name="StateCode" type="icis:String2FixedType"/>
	<xsd:element name="Telephone" type="icis:Telephone"/>
	<xsd:element name="TelephoneExtensionNumber" type="icis:StringMin1Max4Type"/>
	<xsd:element name="TelephoneNumber" type="icis:StringMin7Max10Type"/>
	<xsd:element name="TelephoneNumberTypeCode" type="icis:StringMin1Max3Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="Contact">
		<xsd:sequence>
			<xsd:element ref="icis:AffiliationTypeText"/>
			<xsd:element ref="icis:FirstName"/>
			<xsd:element ref="icis:MiddleName" minOccurs="0"/>
			<xsd:element ref="icis:LastName"/>
			<xsd:element ref="icis:IndividualTitleText"/>
			<xsd:element ref="icis:OrganizationFormalName" minOccurs="0"/>
			<xsd:element ref="icis:StateCode" minOccurs="0"/>
			<xsd:element ref="icis:RegionCode" minOccurs="0"/>
			<xsd:element ref="icis:Telephone" minOccurs="0" maxOccurs="4"/>
			<xsd:element ref="icis:ElectronicAddressText" minOccurs="0"/>
			<xsd:element ref="icis:StartDateOfContactAssociation" minOccurs="0"/>
			<xsd:element ref="icis:EndDateOfContactAssociation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Telephone">
		<xsd:sequence>
			<xsd:element ref="icis:TelephoneNumberTypeCode"/>
			<xsd:element ref="icis:TelephoneNumber" minOccurs="0"/>
			<xsd:element ref="icis:TelephoneExtensionNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
