java/Wnos_Plugin/resources/here/xsd/FRS23/FACID_MailingAddressList_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:facid="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:include schemaLocation=".\FACID_MailingAddressDetails_v2.3.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_MailingAddressList_v2.3
		Current Version Available At :
		Description : 	Mailing Address schema for Data transfer.Date format is YYYY-MM-DD.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="MailingAddressList" type="facid:MailingAddressList"/>
	<xsd:complexType name="MailingAddressList">
		<xsd:sequence>
			<xsd:element ref="facid:MailingAddressDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="MailingAddressDetails" type="facid:MailingAddressDetails"/>
</xsd:schema>
