dotnet/prod-opennode2-net/plugins/ICISNPDES_31/xml_schema/1/ICIS_LocalLimitsProgramReport_v3.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v3.1.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_LocalLimitsProgramReport_v3.1.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/3</xsd:documentation>
		<xsd:documentation>Description: Pretreatment summary report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2012-02-16</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="MostRecentDateAdoptionTechnicallyBasedLocalLimits" type="icis:DateType"/>
	<xsd:element name="MostRecentDateRemovalCreditsApproval" type="icis:DateType"/>
	<xsd:element name="MostRecentDateTechnicalEvaluationLocalLimits" type="icis:DateType"/>
	<xsd:element name="LocalLimits" type="icis:LocalLimits"/>
	<xsd:element name="LocalLimitsPollutantCode" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="LocalLimitsProgramReport" type="icis:LocalLimitsProgramReport"/>
	<xsd:element name="RemovalCredits" type="icis:RemovalCredits"/>
	<xsd:element name="RemovalCreditsApplicationStatusCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="RemovalCreditsPercent" type="icis:StringMin1Max4Type"/>
	<xsd:element name="RemovalCreditsPollutantCode" type="icis:NonNegativeIntegerMin1Max10Type"/>
	
	<xsd:complexType name="LocalLimitsProgramReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:LocalLimitsProgramReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocalLimitsProgramReport">
		<xsd:complexContent>
			<xsd:extension base="icis:LocalLimitsProgramReportKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:LocalLimits" minOccurs="0"/>
					<xsd:element ref="icis:RemovalCredits" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LocalLimits">
		<xsd:sequence>
			<xsd:element ref="icis:MostRecentDateTechnicalEvaluationLocalLimits" minOccurs="0"/>
			<xsd:element ref="icis:MostRecentDateAdoptionTechnicallyBasedLocalLimits" minOccurs="0"/>
			<xsd:element ref="icis:LocalLimitsPollutantCode" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RemovalCredits">
		<xsd:sequence>
			<xsd:element ref="icis:MostRecentDateRemovalCreditsApproval" minOccurs="0"/>
			<xsd:element ref="icis:RemovalCreditsApplicationStatusCode" minOccurs="0"/>
			<xsd:element ref="icis:RemovalCreditsPollutantCode" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
