prod-opennode2-net/plugins/RCRA_55/xml_schema/5/RCRA_EpisodicWaste_v5.5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="5.5">
	<xsd:include schemaLocation="./RCRA_Shared_v5.5.xsd"/>
	<xsd:include schemaLocation="./RCRA_HandlerWasteCodeDetails_v5.5.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_EpisodicWaste_v5.5
		Description : 	Episodic waste of the Handler
		Developed by : 	U.S. EPA
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="EpisodicWaste" type="RC:EpisodicWasteDataType">
		<xsd:annotation>
			<xsd:documentation>Episodic waste of the Handler</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EpisodicWasteDataType">
		<xsd:annotation>
			<xsd:documentation>Episodic waste of the Handler</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:TransactionCode" minOccurs="0"/>
			<xsd:element ref="RC:EpisodicWasteSequenceNumber"/>
			<xsd:element ref="RC:WasteDescription" minOccurs="0"/>
			<xsd:element ref="RC:EstimatedQuantity" minOccurs="0"/>
			<xsd:element ref="RC:HandlerWasteCodeDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EpisodicWasteSequenceNumber" type="RC:SequenceNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Unique number that identifies the episodic waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteDescription" type="RC:WasteDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Waste description.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="WasteDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
