prod-opennode2-net/plugins/AQS3/xml_schema/0/EN_AQS_NationalPerformanceAuditDetails_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Nick Mangus (LMP4 ISGS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/3" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/3" elementFormDefault="qualified" attributeFormDefault="qualified" version="3.0">
	<xsd:annotation>
		<xsd:documentation>Raw Accuracy Information file
		Current Version Available At :
		Description : Schema for Raw Accuracy Information 
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency
		Point of Contact : Nick Mangus (EPA)
		</xsd:documentation>
	</xsd:annotation>
	<!--Data element and data type include files-->
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_QualityAssuranceAssessmentElements_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_MonitorTypeCodeDataElement_v3.0.xsd"/>
	<xsd:include schemaLocation="SC_SimpleContent_v2.0.xsd"/>
	<!--Raw Accuracy Information schema components-->
	<xsd:element name="NationalPerformanceAuditDetails" type="aqs:NationalPerformanceAuditDetailsType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements related to monitor level annual performance audit program assessments.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Annual Performance Evaluation monitor assessment details complex data types-->
	<xsd:complexType name="NationalPerformanceAuditDetailsType">
		<xsd:annotation>
			<xsd:documentation>NPAP data details complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NPAPAssessmentType" type="aqs:NPAPAssessmentTypeType">
				<xsd:annotation>
					<xsd:documentation>The type of NPAP assessment being performed.  Either "TTP' or 'BOA'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MonitorMethodIdentifierCode" type="aqs:MethodIdentifierCodeDataType">
				<xsd:annotation>
					<xsd:documentation>The identification number or code assigned to the in place monitor method by the method publisher.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NPAPMethodIdentifierCode" type="aqs:MethodIdentifierCodeDataType">
				<xsd:annotation>
					<xsd:documentation>The identification number or code assigned to the NPAP method by the method publisher.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="aqs:MeasureUnitCode"/>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level1MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level1AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level2MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level2AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level3MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level3AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level4MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level4AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level5MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level5AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level6MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level6AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level7MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level7AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level8MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level8AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level9MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level9AssessmentConcentrationValue"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="aqs:Level10MonitorConcentrationValue"/>
				<xsd:element ref="aqs:Level10AssessmentConcentrationValue"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="NPAPAssessmentTypeType">
		<xsd:annotation>
			<xsd:documentation>Enumeration of allowable NPAP assessment types</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TTP"/>
			<xsd:enumeration value="BOA"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
