prod-opennode2-net/plugins/AQS3/xml_schema/0/EN_AQS_MonitorMethodInformation_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Nick Mangus (LMP4 ISGS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/3" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/3" elementFormDefault="qualified" attributeFormDefault="qualified" version="3.0">
	<xsd:annotation>
		<xsd:documentation>Monitor Type Information file
		Current Version Available At :
		Description : Schema for Monitor Type Information 
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency
		Point of Contact : Nick Mangus (EPA)	
		</xsd:documentation>
	</xsd:annotation>
	<!--Data element and data type include files-->
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DateTimeDataTypes_v3.0.xsd"/>
	<xsd:include schemaLocation="SC_SimpleContent_v2.0.xsd"/>
	<!--Transaction MC schema components-->
	<xsd:element name="MonitorMethodInformation" type="aqs:MonitorMethodInformationType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements indicating when a monitor began and ended the use of a particular sampling and analysis methodology.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Monitor Type Information complex data types-->
	<xsd:complexType name="MonitorMethodInformationType">
		<xsd:annotation>
			<xsd:documentation>Monitor method information details complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:ActionCode"/>
			<xsd:element ref="aqs:MonitorMethodCode"/>
			<xsd:element ref="aqs:MonitorMethodBeginDate"/>
			<xsd:element ref="aqs:MonitorMethodEndDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Monitor Type Information data elements-->
	<xsd:element name="MonitorMethodCode" type="aqs:MethodIdentifierCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The sample collection and analysis method (code) used at the monitor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitorMethodBeginDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date on which the monitor began using this method.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitorMethodEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date on which the monitor stopped using this method.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
