prod-opennode2-net/plugins/AQS3/xml_schema/0/EN_AQS_SiteSamplerInformation_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/3" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/3" elementFormDefault="qualified" attributeFormDefault="qualified" version="3.0">
	<xsd:annotation>
		<xsd:documentation>Site Sampler Informatin
		Current Version Available At :
		Description : Schema for Transaction AD, AQS Submission
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA)
		</xsd:documentation>
	</xsd:annotation>
	<!--Data element and data type include files-->
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v3.0.xsd"/>
	<xsd:include schemaLocation="SC_SimpleContent_v2.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_SamplerIdentifier_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DigitThreeStringDataType_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_IntegerTwoDigitPositiveDataType_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_NormCharFiftyTextDataType_v3.0.xsd"/>
	<xsd:include schemaLocation="EN_AQS_SamplerChannelInformation_v3.0.xsd"/>
	<!--Transaction AB schema components-->
	<xsd:element name="SiteSamplerInformation" type="aqs:SiteSamplerInformationType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements related to samplers at a monitoring site.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Transaction AD complex data types-->
	<xsd:complexType name="SiteSamplerInformationType">
		<xsd:annotation>
			<xsd:documentation>Site samplers complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:SamplerIdentifier"/>
			<xsd:element ref="aqs:SamplerDetails" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="aqs:SamplerChannelInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Transaction AD data elements-->
	<xsd:element name="SamplerDetails" type="aqs:SamplerDetailsType">
		<xsd:annotation>
			<xsd:documentation>This complex element contains the elements needed to describe a a single sampler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SamplerDetailsType">
		<xsd:annotation>
			<xsd:documentation>Site sampler details complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:ActionCode"/>
			<xsd:element ref="aqs:SamplerOwningAgencyCode" minOccurs="0"/>
			<xsd:element ref="aqs:SamplerManufacturerName" minOccurs="0"/>
			<xsd:element ref="aqs:SamplerModelIdentifier" minOccurs="0"/>
			<xsd:element ref="aqs:SamplerSerialNumberText" minOccurs="0"/>
			<xsd:element ref="aqs:SamplerChannelCountValue" minOccurs="0"/>
			<xsd:element ref="aqs:SamplerBeginDate" minOccurs="0"/>
			<xsd:element ref="aqs:SamplerEndDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SamplerOwningAgencyCode" type="aqs:AgencyCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The identifier for the agency that owns the sampler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SamplerManufacturerName" type="aqs:NormCharFiftyTextType">
		<xsd:annotation>
			<xsd:documentation>Identifies the name of the manufacturer of the sampler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SamplerModelIdentifier" type="aqs:NormCharFiftyTextType">
		<xsd:annotation>
			<xsd:documentation>Identifies the model (number) of the the sampler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SamplerSerialNumberText" type="aqs:NormCharFiftyTextType">
		<xsd:annotation>
			<xsd:documentation>Identifies the serial number of the the sampler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SamplerChannelCountValue" type="aqs:TwoDigitPositiveIntegerType">
		<xsd:annotation>
			<xsd:documentation>The number of signal channels available from the sampler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SamplerBeginDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The beginning date of operation of the sampler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SamplerEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The ending date of operation of the sampler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
