dotnet/prod-opennode2-net/plugins/WQX_2/xml_schema/0/WQX_BiologicalResultDescription_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="WQX_SimpleContent_v2.0.xsd"/>
	<xsd:include schemaLocation="WQX_TaxonomicDetails_v2.0.xsd"/>
	<xsd:include schemaLocation="WQX_FrequencyClassInformation_v2.0.xsd"/>
	<xsd:include schemaLocation="WQX_MeasureCompact_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_BiologicalResultDescription_v2.0.xsd
        Description   : 	Allows for the reporting of biological result information.
        Developed by  : 	EPA Office of Water 
        Point of Contact :   Dwane Young
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="BiologicalResultDescriptionDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:BiologicalIntentName"/>
			<xsd:element ref="wqx:BiologicalIndividualIdentifier" minOccurs="0"/>
			<xsd:element ref="wqx:SubjectTaxonomicName"/>
			<xsd:element ref="wqx:UnidentifiedSpeciesIdentifier" minOccurs="0"/>
			<xsd:element ref="wqx:SampleTissueAnatomyName" minOccurs="0"/>
			<xsd:element ref="wqx:GroupSummaryCountWeight" minOccurs="0"/>
			<xsd:element ref="wqx:TaxonomicDetails" minOccurs="0"/>
			<xsd:element ref="wqx:FrequencyClassInformation" minOccurs="0" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BiologicalResultDescription" type="wqx:BiologicalResultDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Allows for the reporting of biological result information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GroupSummaryCountWeight" type="wqx:MeasureCompactDataType">
		<xsd:annotation>
			<xsd:documentation>Captures the total count or total sample weight for a Group Summary.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
