java/node-plugin/node-plugin-rcra54/src/main/xsd/ExchangeNetworkDocument_RCRA_V5.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.exchangenetwork.net/schema/v1.0/ExchangeNetworkDocument.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:hdr="http://www.exchangenetwork.net/schema/v1.0/ExchangeNetworkDocument.xsd" xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5">
    <!--import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd" /-->
    <import namespace="http://www.exchangenetwork.net/schema/RCRA/5" schemaLocation="./5/index.xsd" />
    <complexType name="NameValuePair">
        <sequence>
            <element name="name" type="string"/>
            <element name="value" type="string"/>
        </sequence>
    </complexType>
    <complexType name="DocHeader">
        <sequence>
            <element name="Author" type="string"/>
            <element name="Organization" type="string"/>
            <element name="Title" type="string"/>
            <element name="CreationTime" type="dateTime"/>
            <element name="Comment" type="string" minOccurs="0"/>
            <element name="DataService" type="string" minOccurs="0"/>
            <element name="ContactInfo" type="string" minOccurs="0"/>
            <element name="Notification" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <!--element name="Signature" type="ds:SignatureType" minOccurs="0" maxOccurs="1" /-->
            <element name="Sensitivity" type="string" minOccurs="0"/>
            <element name="Property" type="hdr:NameValuePair" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="Payload">
        <choice>
	        <element ref="RC:HazardousWasteCorrectiveActionSubmission"/>
	        <element ref="RC:HazardousWasteCMESubmission"/>
	        <element ref="RC:FinancialAssuranceSubmission"/>
	        <element ref="RC:GeographicInformationSubmission"/>
	        <element ref="RC:HazardousWasteHandlerSubmission"/>
	        <element ref="RC:HazardousWastePermitSubmission"/>
        </choice>
        <attribute name="Operation" type="string" use="required"/>
    </complexType>
    <complexType name="ExchangeNetworkDocument">
        <sequence>
            <element name="Header" type="hdr:DocHeader"/>
            <element name="Payload" type="hdr:Payload" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="Id" type="ID" use="required"/>
    </complexType>
    <element name="Document" type="hdr:ExchangeNetworkDocument"/>
</schema>
