prod-opennode2-net/plugins/BEACHES_22/xml_schema/2/BEACHES_StateContactDetail_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bch="http://www.exchangenetwork.net/schema/BEACHES/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/BEACHES/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2">
	<xsd:annotation>
		<xsd:documentation>
			Schema Name: State Contact Detail v2.2
			Current Version Available At: http://www.exchangenetwork.net/exchanges/water/beach_notif.htm 
			Description: Schema used to describe all information about a person.
			Application: PRAWN
			Developed by: EPA ORD/OW  and CGI Federal
			Point of Contact: eBeaches@cgifederal.com
			Change History: 
					20111003 - Initial Creation of Notification Schema v2.2
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="BEACHES_Shared_v2.2.xsd"/>
	<xsd:complexType name="StateContactDetailDataType">
		<xsd:sequence>
			<xsd:element ref="bch:ContactNameDetail"/>
			<xsd:element ref="bch:ContactAgencyName"/>
			<xsd:element ref="bch:ContactTelephoneNumberText"/>
			<xsd:element ref="bch:ContactElectronicAddressText"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactNameDetailDataType">
		<xsd:sequence>
			<xsd:element ref="bch:ContactFirstName"/>
			<xsd:element ref="bch:ContactLastName"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="OrganizationStateContactDetail" type="bch:StateContactDetailDataType">
		<xsd:annotation>
			<xsd:documentation>All the information associated with a state contact</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactNameDetail" type="bch:ContactNameDetailDataType">
		<xsd:annotation>
			<xsd:documentation>All the information associated with a contact's name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
