dotnet/prod-opennode2-net/plugins/HERE/xml_schema/FACID (FRS)/2/3/FACID_IndividualDataType_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:facid="http://www.epa.gov/xml" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_IndividualDataType_v2.3 
		Current Version Available At :
		Description : 	Data Type for Individual.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="IndividualDataType">
		<xsd:sequence>
			<xsd:element ref="facid:IndividualFullName" minOccurs="0"/>
			<xsd:element ref="facid:IndividualTitleText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IndividualFullName" type="xsd:string"/>
	<xsd:element name="IndividualTitleText" type="xsd:string"/>
</xsd:schema>
