dotnet/prod-opennode2-net/plugins/HERE/xml_schema/FACID (FRS)/2/3/FACID_MailingAddressDetails_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:facid="http://www.epa.gov/xml" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:include schemaLocation=".\FACID_MailingAddressDataType_v2.3.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_MailingAddressDetails_v2.3 
		Current Version Available At :
		Description : 	Mailing Address schema for Data transfer.Date format is YYYY-MM-DD.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="MailingAddressDetails">
		<xsd:sequence>
			<xsd:element ref="facid:AffiliationTypeText"/>
			<xsd:element ref="facid:MailingAddress" minOccurs="0"/>
			<xsd:element ref="facid:DataSourceName" minOccurs="0"/>
			<xsd:element ref="facid:LastReportedDate" minOccurs="0"/>
			<xsd:element ref="facid:StateFacilitySystemAcronymName"/>
			<xsd:element ref="facid:StateFacilityIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AffiliationTypeText" type="xsd:string"/>
	<xsd:element name="MailingAddress" type="facid:MailingAddressDataType"/>
	<xsd:element name="DataSourceName" type="xsd:string"/>
	<xsd:element name="LastReportedDate" type="xsd:date"/>
	<xsd:element name="StateFacilitySystemAcronymName" type="xsd:string"/>
	<xsd:element name="StateFacilityIdentifier" type="xsd:string"/>
</xsd:schema>
