prod-opennode2-net/plugins/WQX_2/xml_schema/v10/0/WQX_ResultDescription_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Douglas Timms (enfoTech & Consulting, Inc.) -->
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="WQX_SimpleContent_v1.0.xsd"/>
	<xsd:include schemaLocation="WQX_Measure_v1.0.xsd"/>
	<xsd:include schemaLocation="WQX_MeasureCompact_v1.0.xsd"/>
	<xsd:include schemaLocation="WQX_DataQualityIndicator_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_ResultDescription_v1.0.xsd
        Current Version Available At :  
        Description   : 	Describes the results of a field measurement, observation, or laboratory analysis.
        Developed by  : EPA Office of Water	 
        Point of Contact :   Dwane Young
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ResultDescriptionDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:DataLoggerLineName" minOccurs="0"/>
			<xsd:element ref="wqx:ResultDetectionConditionText" minOccurs="0"/>
			<xsd:element ref="wqx:CharacteristicName" minOccurs="0"/>
			<xsd:element ref="wqx:ResultSampleFractionText" minOccurs="0"/>
			<xsd:element ref="wqx:ResultMeasure" minOccurs="0"/>
			<xsd:element ref="wqx:ResultStatusIdentifier" minOccurs="0"/>
			<xsd:element ref="wqx:StatisticalBaseCode" minOccurs="0"/>
			<xsd:element ref="wqx:ResultValueTypeName" minOccurs="0"/>
			<xsd:element ref="wqx:ResultWeightBasisText" minOccurs="0"/>
			<xsd:element ref="wqx:ResultTimeBasisText" minOccurs="0"/>
			<xsd:element ref="wqx:ResultTemperatureBasisText" minOccurs="0"/>
			<xsd:element ref="wqx:ResultParticleSizeBasisText" minOccurs="0"/>
			<xsd:element ref="wqx:DataQuality" minOccurs="0"/>
			<xsd:element ref="wqx:ResultCommentText" minOccurs="0"/>
			<xsd:element ref="wqx:ResultDepthHeightMeasure" minOccurs="0"/>
			<xsd:element ref="wqx:ResultDepthAltitudeReferencePointText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ResultMeasure" type="wqx:MeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The reportable measure of the result for the chemical, microbiological or other characteristic being analyzed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultCommentText" type="wqx:CommentTextDataType">
		<xsd:annotation>
			<xsd:documentation>Free text with general comments concerning the result.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultDepthAltitudeReferencePointText" type="wqx:DepthAltitudeReferencePointTextDataType">
		<xsd:annotation>
			<xsd:documentation>The reference used to indicate the datum or reference used to establish the depth/altitude of a result.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultDepthHeightMeasure" type="wqx:MeasureCompactDataType">
		<xsd:annotation>
			<xsd:documentation>A measurement of the vertical location (measured from a reference point) at which a result is obtained.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResultDescription" type="wqx:ResultDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Describes the results of a field measurement, observation, or laboratory analysis.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
