java/node-plugin/src/main/packaging/here/xsd/CAFO_v1.0/CAFO_AnimalType_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:cafo="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name:CAFO_AnimalType_v1.0</xsd:documentation>
		<xsd:documentation>Current Version Available:  </xsd:documentation>
		<xsd:documentation>Description: Region 4 Pilot CAFO Schema</xsd:documentation>
		<xsd:documentation>Application: CAFO-Region 4</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/CoryWagner</xsd:documentation>
		<xsd:documentation>Data Written: December 2005</xsd:documentation>
		<xsd:documentation>Last Date Modified:02-06-2006</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AnimalType" type="cafo:AnimalTypeDataType"/>
	<xsd:complexType name="AnimalTypeDataType">
		<xsd:sequence>
			<xsd:element ref="cafo:AnimalTypeCode"/>
			<xsd:element ref="cafo:AnimalTypeName"/>
			<xsd:element ref="cafo:TotalNumbersEachLivestock" minOccurs="0"/>
			<xsd:element ref="cafo:OpenConfinementCount" minOccurs="0"/>
			<xsd:element ref="cafo:HousedUnderRoofConfinementCount" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AnimalTypeCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Animal Type Code designations
CAT Cattle (All except Mature Dairy Cattle and Veal Calves) 
CHI Chickens (All except Layers)
CHL Chickens (Layers)
DUC Ducks
HRS Horses  
MDC Mature Dairy Cattle     
OTH Other (Specify)
SHP Sheep or Lambs  
SWO Swine over 55 lbs.
SWU Swine under 55 lbs
TRK Turkeys 
VEC Veal Calves</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AnimalTypeName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The name of the animal specified 
			in the AnimalTypeCode
Cattle (All except Mature Dairy Cattle and Veal Calves) 
Chickens (All except Layers)
Chickens (Layers)
Ducks
Horses  
Mature Dairy Cattle     
Other (Specify)
Sheep or Lambs  
Swine over 55 lbs.
Swine under 55 lbs
Turkeys 
Veal Calves</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalNumbersEachLivestock" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>The number of animals for the given animal type at the CAFO facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OpenConfinementCount" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation> The number of animals, by type, in open 
			confinement that are held at the facility for a total of 45 
			days or more in any 12-month period</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HousedUnderRoofConfinementCount" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>The number of animals, by type, housed under 
		 	a roof (either partially or totally) that are held at the 
		 	facility for a total of 45 days or more in any 12-month 
		 	period </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
