java/node-plugin/node-plugin-eis12/src/main/xsd/cer/1/2/CER_SimpleContent_v1.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : CER_SimpleContent_v1.0.xsd
        Current Version Available At : http://www.exchangenetwork.net/schema/cer/1/0/CER_SimpleContent_v1.0.xsd     
        Description   : 	Simple Content file for the Emissions Inventory System common simple types and data elements.
        Developed by  : Perrin Quarles Associates, Inc.
        Point of Contact :Perrin Quarles Associates Inc.
</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="DateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="PercentageDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="1"/>
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="100.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YearDataType">
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>	
	<xsd:simpleType name="ActualHoursPerPeriodDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AddressCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AffiliationTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AgencyCodeTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AgencyNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AircraftEngineTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AlgorithmCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AlgorithmFormulaTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AlternativeNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AlternativeNameTypeTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AmountofFuelConsumedDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AmountofFuelConsumedUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AreaWithinPerimeterDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AreaWithinPerimeterUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AreaWithinShapeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AreaWithinShapeUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AttachmentFileContentTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AttachmentFileDescriptionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AttachmentFileNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AttachmentFileSizeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AverageDaysPerWeekDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AverageHoursPerDayDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AverageWeeksPerPeriodDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="BeginHourDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CalculationDataSourceDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CalculationMaterialCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CalculationMethodAccuracyAssessmentCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CalculationParameterTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CalculationParameterUnitofMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CalculationParameterValueDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CensusBlockIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CensusTractIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CO2ConversionFactorDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CO2ConversionFactorSourceDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CO2eDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CO2eUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsolidationMethodologyDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ControlApproachCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ControlApproachDescriptionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ControlMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ControlMeasureSequenceDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CoordinateDataSourceCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ElectronicAddressTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ElectronicAddressTypeNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionCalculationMethodCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionFactorDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionFactorDenominatorUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionFactorFormulaCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionFactorNumeratorUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionFactorReferenceTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionFactorTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionOperatingTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionReductionTechniqueCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionsCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionsDeMinimisStatusDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionsTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EmissionsUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EndHourDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventClassificationCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventEmissionsProcessCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventReportingPeriodCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventSizeSourceCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EventStageCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityCategoryCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilitySiteCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilitySiteDescriptionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilitySiteIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilitySiteNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilitySiteStatusCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FirstNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FuelConfigurationCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FuelConsumptionAndEmissionsModelCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FuelLoadingDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FuelLoadingUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FuelSelectionCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FuelTypeModelCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeographicCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeographicReferencePointCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeometricTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeospatialParametersCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GroundBasedDataSourceCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="HeatReleaseDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="HeatReleaseUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="HorizontalAccuracyMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="HorizontalAccuracyUnitofMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="HorizontalCollectionMethodCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="HorizontalReferenceDatumCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="IgnitionLocationCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="IgnitionMethodCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="IgnitionOrientationCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="IndividualTitleTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InsignificantSourceIndicatorDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LandManagerDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LastNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeMeasureDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalityNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationAddressCountryCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationAddressPostalCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationAddressStateCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationAddressTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationDescriptionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationParameterDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LongitudeMeasureDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MailingAddressCityNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MailingAddressCountryCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MailingAddressCountyTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MailingAddressPostalCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MailingAddressStateCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MailingAddressTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MergedEventsCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MiddleNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ModelDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ModelVersionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="NAICSCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="NAICSPrimaryIndicatorDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="NamePrefixTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="NameSuffixTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationFormalNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PollutantCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProcessCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProcessDescriptionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProcessTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProgramSystemCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QualityExceptionsDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QualityIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QualityLevelofAssuranceCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QualityStandardsSourceDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QualityStatusCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QualityTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QualityVerificationTypeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RecurrenceIndicatorCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RegulationCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RegulatoryCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointApportionmentCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointDescriptionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointExitGasFlowRateMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointExitGasFlowRateUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointExitGasTemperatureMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointExitGasVelocityMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointExitGasVelocityUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFenceLineDistanceMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFenceLineDistanceUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFugitiveAngleMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFugitiveHeightMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFugitiveHeightUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFugitiveLengthMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFugitiveLengthUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFugitiveWidthMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointFugitiveWidthUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointPlumeHeightMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointPlumeHeightUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointStackDiameterMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointStackDiameterUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointStackHeightMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointStackHeightUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointStatusCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointTestCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReleasePointTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RemoteSensingDataSourceCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReportingPeriodCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReportingPeriodTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ScopeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SectorTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ShapeFileIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ShapeIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SourceClassificationCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SourceMapScaleNumberDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="StateAndCountryFIPSCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="StateAndCountyFIPSCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SubmittalCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalAddressTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalCalculationParameterCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalCalculationParameterDataSourceDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalCalculationParameterDenominatorUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalCalculationParameterNumeratorUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalCalculationParameterTypeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalCalculationParameterValueDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupplementalLocationTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneExtensionNumberTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneNumberTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneNumberTypeNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TotalEmissionsDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TribalCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitCommentDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitDescriptionDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitDesignCapacityDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitDesignCapacityUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitSourceLocationDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitStatusCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitTypeCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="UserIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VerificationMethodCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalCollectionMethodCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalReferenceDatumCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalUnitofMeasureCodeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="ActualHoursPerPeriod" type="cer:ActualHoursPerPeriodDataType">
		<xsd:annotation>
			<xsd:documentation>Actual number of hours the process is active or operating during for the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressComment" type="cer:AddressCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the address information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AffiliationEndDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The date on which the affiliation between the organization or individual and the facility, project, or action ended.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AffiliationStartDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The date on which the affiliation between the organization or individual and the facility, project, or action began.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AffiliationTypeCode" type="cer:AffiliationTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the function that an organization or individual serves, or the relationship between an individual or organization and the facility site.  Examples include: Internal Reviewer, Lead Verifier, Verifying Body.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AgencyCodeText" type="cer:AgencyCodeTextDataType">
		<xsd:annotation>
			<xsd:documentation>Text describing the non-federal regulation applicable to the emissions unit or process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AgencyName" type="cer:AgencyNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the regulatory state or region where the facility is located in.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AircraftEngineTypeCode" type="cer:AircraftEngineTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the combination of aircraft and engine type for airport emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlgorithmComment" type="cer:AlgorithmCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Information about the algorithm, including units of measure, for the calculation method.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlgorithmFormulaText" type="cer:AlgorithmFormulaTextDataType">
		<xsd:annotation>
			<xsd:documentation>The formula used to calculate emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternativeName" type="cer:AlternativeNameDataType">
		<xsd:annotation>
			<xsd:documentation>An alternative, historic, or program-specific name for the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternativeNameTypeText" type="cer:AlternativeNameTypeTextDataType">
		<xsd:annotation>
			<xsd:documentation>The type of alternative, historical, or program-specific name for the facility site (e.g., primary, legal, historical, local). </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AmountofFuelConsumed" type="cer:AmountofFuelConsumedDataType">
		<xsd:annotation>
			<xsd:documentation>For a given day, the amount of fuel consumed in the defined geographic area.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AmountofFuelConsumedUnitofMeasureCode" type="cer:AmountofFuelConsumedUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the unit of measure for the amount of fuel consumed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AreaWithinPerimeter" type="cer:AreaWithinPerimeterDataType">
		<xsd:annotation>
			<xsd:documentation>Total area that is contained within the event perimeter for the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AreaWithinPerimeterUnitofMeasureCode" type="cer:AreaWithinPerimeterUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the unit of measure for the area within the event perimeter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AreaWithinShape" type="cer:AreaWithinShapeDataType">
		<xsd:annotation>
			<xsd:documentation>Total area that is contained within the event shape for the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AreaWithinShapeUnitofMeasureCode" type="cer:AreaWithinShapeUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the unit of measure for the area within the shape file.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AttachmentFileSize" type="cer:AttachmentFileSizeDataType">
		<xsd:annotation>
			<xsd:documentation>The size of the attached file.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AttachmentFileContentTypeCode" type="cer:AttachmentFileContentTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A code describing the content type of a file.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AttachmentFileDescription" type="cer:AttachmentFileDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Description of file.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AttachmentFileName" type="cer:AttachmentFileNameDataType">
		<xsd:annotation>
			<xsd:documentation>The text describing the descriptive name used to represent the file, including file extension.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AverageDaysPerWeek" type="cer:AverageDaysPerWeekDataType">
		<xsd:annotation>
			<xsd:documentation>The average number of days per week that the emissions process is active within the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AverageHoursPerDay" type="cer:AverageHoursPerDayDataType">
		<xsd:annotation>
			<xsd:documentation>The average number of hours per day that the emissions process is active within the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AveragePercentEmissions" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The average annual percent of an emissions process that is vented through a release point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AverageWeeksPerPeriod" type="cer:AverageWeeksPerPeriodDataType">
		<xsd:annotation>
			<xsd:documentation>The average number of weeks that the emissions process is active within the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BeginHour" type="cer:BeginHourDataType">
		<xsd:annotation>
			<xsd:documentation>The hour of the day in which the event began.  The hour is reported as a value between 00 and 23 inclusive, representing the hours of the day in 24 increments.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CalculationDataSource" type="cer:CalculationDataSourceDataType">
		<xsd:annotation>
			<xsd:documentation>The source of the data used.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CalculationDataYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The actual year represented by the data if it is different from the emissions year.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CalculationMaterialCode" type="cer:CalculationMaterialCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code for material or fuel processed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CalculationMethodAccuracyAssessmentCode" type="cer:CalculationMethodAccuracyAssessmentCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The accuracy assessment of an emission. Examples Include: Tier A, Tier B, Tier C, CARB, Part 75, etc. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CalculationParameterTypeCode" type="cer:CalculationParameterTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating whether the material measured is an input to the process, an output of the process or a static count (not a throughput). </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CalculationParameterUnitofMeasure" type="cer:CalculationParameterUnitofMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>Code for the unit of measure for calculation parameter value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CalculationParameterValue" type="cer:CalculationParameterValueDataType">
		<xsd:annotation>
			<xsd:documentation>Activity or throughput of the process for a given time period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CensusBlockIdentifier" type="cer:CensusBlockIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>The identifier that represents the post 1990 census block, which is the smallest geographic entity recognized by the census.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CensusTractIdentifier" type="cer:CensusTractIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>The identifier that represents the post 1990 census tract, which is ideally a neighborhood within a city.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CO2ConversionFactor" type="cer:CO2ConversionFactorDataType">
		<xsd:annotation>
			<xsd:documentation>Global warming potential (GWP) used to calculate CO2e.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CO2ConversionFactorSource" type="cer:CO2ConversionFactorSourceDataType">
		<xsd:annotation>
			<xsd:documentation>The source of reference for the GWP value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CO2e" type="cer:CO2eDataType">
		<xsd:annotation>
			<xsd:documentation>The total CO2 equivalent emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CO2eUnitofMeasureCode" type="cer:CO2eUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The unit of measure for the CO2 equivalent emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConsolidationMethodology" type="cer:ConsolidationMethodologyDataType">
		<xsd:annotation>
			<xsd:documentation>Consolidation methodology for an organization, including:  operation control, financial control, operation control and equity share, financial control and equity share, equity share.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContainmentDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The date on which the event was contained.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ControlApproachComment" type="cer:ControlApproachCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Comments regarding the control approach.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ControlApproachDescription" type="cer:ControlApproachDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Description of the overall control system or approach applied to an emissions unit or process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ControlMeasureCode" type="cer:ControlMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the piece of equipment or practice that is used to reduce one or more pollutants.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ControlMeasureSequence" type="cer:ControlMeasureSequenceDataType">
		<xsd:annotation>
			<xsd:documentation>The sequnce in which the pollutant stream passes through the various devices in the control group.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CoordinateDataSourceCode" type="cer:CoordinateDataSourceCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the party responsible for providing the latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DataCollectionDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The calendar date when data were collected.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MergedDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The first data that the discrete event is reported with the complex event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EffectiveDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The date on which the identifier became effective.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicAddressText" type="cer:ElectronicAddressTextDataType">
		<xsd:annotation>
			<xsd:documentation>A location within a system of worldwide electronic communication where a computer user can access information or receive electronic mail.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicAddressTypeName" type="cer:ElectronicAddressTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>A resource address, usually consisting of the access protocol, the domain name, and optionally, the path to a file or location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionCalculationMethodCode" type="cer:EmissionCalculationMethodCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that defines the method used to calculate emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionFactor" type="cer:EmissionFactorDataType">
		<xsd:annotation>
			<xsd:documentation>The emission factor used for the emissions value if a calculated value was provided.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionFactorDenominatorUnitofMeasureCode" type="cer:EmissionFactorDenominatorUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The denominator for the unit of measure of the reported emission factor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionFactorFormulaCode" type="cer:EmissionFactorFormulaCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the emission factor formula used to calculate emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionFactorNumeratorUnitofMeasureCode" type="cer:EmissionFactorNumeratorUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The numerator for the unit of measure of the reported emission factor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionFactorReferenceText" type="cer:EmissionFactorReferenceTextDataType">
		<xsd:annotation>
			<xsd:documentation>Reference given for the emission factor used in the calculation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionFactorText" type="cer:EmissionFactorTextDataType">
		<xsd:annotation>
			<xsd:documentation>Explanation for emission factor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionOperatingTypeCode" type="cer:EmissionOperatingTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code identifying the operating state for the emissions being reported.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionReductionTechniqueCode" type="cer:EmissionReductionTechniqueCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code identifying the method used for reducing emissions from prescribed fires, agricultural fires, Native American Fires and Wildland Use fires emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionsComment" type="cer:EmissionsCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the emissions, method of calculation, or emission factor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionsCreationDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>Date that the data being submitted were created, or the date when the model generating the data was run.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionsDeMinimisStatus" type="cer:EmissionsDeMinimisStatusDataType">
		<xsd:annotation>
			<xsd:documentation>Status indicating if emissions are de minimis.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionsTypeCode" type="cer:EmissionsTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Defines the type of emissions produced by Onroad and Nonroad sources. Used for Mobile sources only. Examples include exhaust, evaporative and tire wear.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionsUnitofMeasureCode" type="cer:EmissionsUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Unit of measure for reported emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmissionsYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The year of the submitted emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The date on which the identifier is no longer applicable.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndHour" type="cer:EndHourDataType">
		<xsd:annotation>
			<xsd:documentation>The hour of the day in which the event ended.  The hour is reported as a value between 00 and 23 inclusive, representing the hours of the day in 24 increments.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventBeginDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The first day for which emissions are reported for the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventClassificationCode" type="cer:EventClassificationCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the classification of the fire.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventComment" type="cer:EventCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventEmissionsProcessComment" type="cer:EventEmissionsProcessCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the event emissions process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventEndDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The last day for which emissions are reported for the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventIdentifier" type="cer:EventIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>An identifier provided by the land or event manager that identifies an event.  This identifier is unique for each event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventName" type="cer:EventNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventReportingPeriodComment" type="cer:EventReportingPeriodCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the event reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventSizeSourceCode" type="cer:EventSizeSourceCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that identifies the method used to determine the size of the event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventStageCode" type="cer:EventStageCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies whether emissions reported are due to flaming, smoldering, or both.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityCategoryCode" type="cer:FacilityCategoryCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the Clean Air Act Stationary Source designation.  Examples include major, minor, and synthetic minor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteComment" type="cer:FacilitySiteCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteDescription" type="cer:FacilitySiteDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Supplemental text that describes the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteIdentifier" type="cer:FacilitySiteIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>An identifier by which the facility site is referred to by a system.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteName" type="cer:FacilitySiteNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name assigned to the facility site by the reporter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteStatusCode" type="cer:FacilitySiteStatusCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the operating status of the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteStatusCodeYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The year in which the operating status became applicable.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirstInventoryYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The inventory year for which the controls were implemented.  (Point only.)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirstName" type="cer:FirstNameDataType">
		<xsd:annotation>
			<xsd:documentation>The given name of an individual.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FuelConfigurationCode" type="cer:FuelConfigurationCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The predominant configuration of the fuel burned (i.e., pile, windrow, broadcast or natural).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FuelConsumptionAndEmissionsModelCode" type="cer:FuelConsumptionAndEmissionsModelCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The model(s) used to calculate fuel consumption and emissions estimates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FuelLoading" type="cer:FuelLoadingDataType">
		<xsd:annotation>
			<xsd:documentation>Fuel per acre available to consume.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FuelLoadingUnitofMeasureCode" type="cer:FuelLoadingUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the numerator of the unit of measure for the fuel loading.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FuelSelectionCode" type="cer:FuelSelectionCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The method used (on-site survey vs. GIS overlay) to select the appropriate fuel beds (e.g., red spruce, chaparral, sawgrass, or logging slash).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FuelTypeModelCode" type="cer:FuelTypeModelCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The fuel model used to characterize available fuel beds (e.g., FCCS or NFDRS).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeographicComment" type="cer:GeographicCommentDataType">
		<xsd:annotation>
			<xsd:documentation>The text that provides additional information about the geographic coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeographicReferencePointCode" type="cer:GeographicReferencePointCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the place for which geographic coordinates were established.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeometricTypeCode" type="cer:GeometricTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the geometric entity represented by one point or a sequence of latitude and longitude points.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeospatialParametersComment" type="cer:GeospatialParametersCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the geospatial parameters.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GroundBasedDataSourceCode" type="cer:GroundBasedDataSourceCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether ground-based data were included and if so, identifies their source.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HeatRelease" type="cer:HeatReleaseDataType">
		<xsd:annotation>
			<xsd:documentation>The amount of effective thermal energy (measured in million BTUs per hour or day) available to provide buoyant plume rise.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HeatReleaseUnitofMeasureCode" type="cer:HeatReleaseUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the unit of measure for heat release.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalAccuracyMeasure" type="cer:HorizontalAccuracyMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The horizontal measure, in meters, of the relative accuracy of the latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalAccuracyUnitofMeasure" type="cer:HorizontalAccuracyUnitofMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The horizonal accuracy unit of measure.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalCollectionMethodCode" type="cer:HorizontalCollectionMethodCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that identifies the method used to determine the latitude and longitude coordinates for a point on the earth.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalReferenceDatumCode" type="cer:HorizontalReferenceDatumCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the reference datum used in determining latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Identifier" type="cer:IdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>An identifier by which an element is referred to in another system.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IgnitionLocationCode" type="cer:IgnitionLocationCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The location and distribution of the ignition points within the burn area (e.g., center or multiple).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IgnitionMethodCode" type="cer:IgnitionMethodCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The method used to ignite the fire (i.e., DAID, helitorch, or driptorch).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IgnitionOrientationCode" type="cer:IgnitionOrientationCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The  technique used to direct the orientation of the fire's movement with respect to the wind (i.e., backing, strip-heading, or flanking).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IndividualTitleText" type="cer:IndividualTitleTextDataType">
		<xsd:annotation>
			<xsd:documentation>The title held by a person in an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsignificantSourceIndicator" type="cer:InsignificantSourceIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates if the emissions source is insignificant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LandManager" type="cer:LandManagerDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the Federal, State, Private, Municipal, County, Tribal agency or land owner that is managing the fire or responding to event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastEmissionsYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The last year in which emissions occurred for this process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastInventoryYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The last inventory year for which the controls were active.  (Point only.)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastName" type="cer:LastNameDataType">
		<xsd:annotation>
			<xsd:documentation>The surname of an individual.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeMeasure" type="cer:LatitudeMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of the angular distance on a meridian north or south of the equator.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocalityName" type="cer:LocalityNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the city, town, village, or other locality.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddressCountryCode" type="cer:LocationAddressCountryCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A code designator used to identify a primary geopolitical unit of the world.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddressPostalCode" type="cer:LocationAddressPostalCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents a U.S. ZIP code or International postal code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddressStateCode" type="cer:LocationAddressStateCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The alphabetic codes that represent the name of the principal administrative subdivision of the United States, Canada, or Mexico.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddressText" type="cer:LocationAddressTextDataType">
		<xsd:annotation>
			<xsd:documentation>The physical location of a facility site or organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationComment" type="cer:LocationCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationDescription" type="cer:LocationDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Description of the location of the event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationParameter" type="cer:LocationParameterDataType">
		<xsd:annotation>
			<xsd:documentation>The code value or the identifier for the location type code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationTypeCode" type="cer:LocationTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the type of code or identifier that is being excluded.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeMeasure" type="cer:LongitudeMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of the angular distance on a meridian east or west of the prime meridian.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MailingAddressCityName" type="cer:MailingAddressCityNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the city or town.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MailingAddressCountryCode" type="cer:MailingAddressCountryCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A code designator used to identify a primary geopolitical unit of the world.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MailingAddressCountyText" type="cer:MailingAddressCountyTextDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the county.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MailingAddressPostalCode" type="cer:MailingAddressPostalCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents a U.S. ZIP code or International postal code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MailingAddressStateCode" type="cer:MailingAddressStateCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The alphabetic codes that represent the name of the principal administrative subdivision of the United States, Canada, or Mexico.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MailingAddressText" type="cer:MailingAddressTextDataType">
		<xsd:annotation>
			<xsd:documentation>The exact address where mail is intended to be delivered, including street address, rural route, and P.O. Box.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MergedEventsComment" type="cer:MergedEventsCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the merged event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MiddleName" type="cer:MiddleNameDataType">
		<xsd:annotation>
			<xsd:documentation>The middle name or initial of an individual.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Model" type="cer:ModelDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the model or the conversion tool used for generating the emissions data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ModelVersion" type="cer:ModelVersionDataType">
		<xsd:annotation>
			<xsd:documentation>The version of the model or conversion tool.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NAICSCode" type="cer:NAICSCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents a subdivision of an industry that accommodates user needs in the United States.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NAICSPrimaryIndicator" type="cer:NAICSPrimaryIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>The name that indicates whether the associated NAICS Code represents the primary activity occurring at the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NamePrefixText" type="cer:NamePrefixTextDataType">
		<xsd:annotation>
			<xsd:documentation>The text that precedes an individual's name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NameSuffixText" type="cer:NameSuffixTextDataType">
		<xsd:annotation>
			<xsd:documentation>the text that follows an individuals name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationFormalName" type="cer:OrganizationFormalNameDataType">
		<xsd:annotation>
			<xsd:documentation>Name of the organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentControlApproachCaptureEfficiency" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>An estimate of that portion of an affected emission stream that is collected and routed to the control measures when the capture or collection system is operating as designed, reported as a percent.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentControlApproachEffectiveness" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>An estimate of the portion of the reporting period's activity for which the overall control system or approach (including both capture and control measures) were operating as designed (regardless of whether the control measure is due to rule or voluntary).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentControlApproachPenetration" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>An estimate of the percent value of the nonpoint activity throughput that is affected by a rule or voluntary approach for the given location.  (Nonpoint only.)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentControlMeasuresReductionEfficiency" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The percent reduction achieved for the pollutant when all control measures are operating as designed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentDuffFuelMoisture" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The amount of water expressed as the percent of the oven dry weight of any cured or dead plant part.  This may include dead plant matter still attached to living plants.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentFallActivity" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The percentage of the annual activity that occurred during the Fall months (September, October, November).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentLiveFuelMoisture" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The amount of water expressed as the percent of oven dry weight of living plant matter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentMoistureContent" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The percent of moisture content present in the stack test.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentofAreaProducingEmissions" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The percent of the area within the shape or perimeter that was affected by the event (e.g., area actually blackened by a fire).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentOneThousandHourFuelMoisture" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The one-thousand-hour fuel moisture for the location, on the particular day the fire or smoldering occurred, in percent.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentOwnership" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>Contains information on the percentage of ownership an organization has for a facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentOxygenContent" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The percent of oxygen content present in the stack test.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentSpringActivity" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The percentage of the annual activity that occurred during the Spring months (March, April, May).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentSummerActivity" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The percentage of the annual activity that occurred during the Summer months (June, July, August).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentTenHourFuelMoisture" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The ten-hour fuel moisture for the location, on the particular day the fire or smoldering occurred, in percent.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PercentWinterActivity" type="cer:PercentageDataType">
		<xsd:annotation>
			<xsd:documentation>The percentage of the annual activity that occurred during the Winter months (December, January, February).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PollutantCode" type="cer:PollutantCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code identifying the pollutant for which emissions are reported.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProcessComment" type="cer:ProcessCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the emissions process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProcessDescription" type="cer:ProcessDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>A text description of the emissions process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProcessTypeCode" type="cer:ProcessTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Defines the type of emissions produced by GHG processes. Examples included for a Scope 1 Stationary Combustion might be oil, gas, coal.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProgramSystemCode" type="cer:ProgramSystemCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the information management system which has responsibility for the data in a linked or interrelated information management system.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityDeterminationDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>Date on which status was determined.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityExceptions" type="cer:QualityExceptionsDataType">
		<xsd:annotation>
			<xsd:documentation>Any exceptions that the verifier has reported.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityIdentifier" type="cer:QualityIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>An identifier for the quality finding.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityLevelofAssuranceCode" type="cer:QualityLevelofAssuranceCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The degree of assurance the intended user required in the verification findings.  Examples include:  reasonable and limited.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityStandardsSource" type="cer:QualityStandardsSourceDataType">
		<xsd:annotation>
			<xsd:documentation>The source of the standard such as ISO 14064-3, TCR GVP, CCAR GVP, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityStatusCode" type="cer:QualityStatusCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The quality or verification status of the facility site, emissions unit or emissions. Examples include:  verified or unverified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityTypeCode" type="cer:QualityTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The nature of the verification report issued. Examples include: adverse or qualified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QualityVerificationType" type="cer:QualityVerificationTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the type of verification, such as entity inventory or emissions reduction project. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecurrenceIndicatorCode" type="cer:RecurrenceIndicatorCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether a prescribed or agricultural fire has occurred previously at this location (Y/N).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecurrenceYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The most recent year in which the fire recurred in this location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegulationComment" type="cer:RegulationCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Comments regarding the regulation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegulatoryCode" type="cer:RegulatoryCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that describes the regulation applicable to the emissions unit activity or process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegulatoryEndYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The year in which the enissions unit or process was no longer effected by the regulation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegulatoryStartYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The year in which the enissions unit or process became subject to the regulation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointApportionmentComment" type="cer:ReleasePointApportionmentCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Comment regarding the average apportionment of emissions vented through a release point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointComment" type="cer:ReleasePointCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the release point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointDescription" type="cer:ReleasePointDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Text description of release point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointExitGasFlowRateMeasure" type="cer:ReleasePointExitGasFlowRateMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The value of the stack gas flow rate.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointExitGasFlowRateUnitofMeasureCode" type="cer:ReleasePointExitGasFlowRateUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The unit of measure for the stack gas flow rate value.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointExitGasTemperatureMeasure" type="cer:ReleasePointExitGasTemperatureMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The temperature of an exit gas stream (measured in degrees Fahrenheit).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointExitGasVelocityMeasure" type="cer:ReleasePointExitGasVelocityMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The velocity of an exit gas stream.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointExitGasVelocityUnitofMeasureCode" type="cer:ReleasePointExitGasVelocityUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The unit of measure for the velocity of an exit gas stream value.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFenceLineDistanceMeasure" type="cer:ReleasePointFenceLineDistanceMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of the horizontal distance to the nearest fence line of a property within which the release point is located.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFenceLineDistanceUnitofMeasureCode" type="cer:ReleasePointFenceLineDistanceUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The fence line distance unit of measure.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFugitiveAngleMeasure" type="cer:ReleasePointFugitiveAngleMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The orientation angle for the area in degrees from North, measured positive in the clockwise direction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFugitiveHeightMeasure" type="cer:ReleasePointFugitiveHeightMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The fugitive release height above terrain of fugitive emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFugitiveHeightUnitofMeasureCode" type="cer:ReleasePointFugitiveHeightUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The fugitive release height unit of measure.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFugitiveLengthMeasure" type="cer:ReleasePointFugitiveLengthMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The length (measured in feet) of the fugitive release in the North-South direction as if the angle is zero degrees.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFugitiveLengthUnitofMeasureCode" type="cer:ReleasePointFugitiveLengthUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The fugitive length unit of measure code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFugitiveWidthMeasure" type="cer:ReleasePointFugitiveWidthMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The width of the fugitive release in the East-West direction as if the angle is zero degrees.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointFugitiveWidthUnitofMeasureCode" type="cer:ReleasePointFugitiveWidthUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The fugitive width unit of measure code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointPlumeHeightMeasure" type="cer:ReleasePointPlumeHeightMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The height of the plume rise from the release point above sea level. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointPlumeHeightUnitofMeasureCode" type="cer:ReleasePointPlumeHeightUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The plume height unit of measure.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointStackDiameterMeasure" type="cer:ReleasePointStackDiameterMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The internal diameter of the stack (measured in feet) at the release height.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointStackDiameterUnitofMeasureCode" type="cer:ReleasePointStackDiameterUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>the stack diameter unit of measure.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointStackHeightMeasure" type="cer:ReleasePointStackHeightMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The height of the stack from the ground.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointStackHeightUnitofMeasureCode" type="cer:ReleasePointStackHeightUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The stack height unit of measure.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointStatusCode" type="cer:ReleasePointStatusCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the operating status of the release point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointStatusCodeYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The year in which the release point status became applicable.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointTestComment" type="cer:ReleasePointTestCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the release point test.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointTestDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>Date in which stack test was taken.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReleasePointTypeCode" type="cer:ReleasePointTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the type of release point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RemoteSensingDataSourceCode" type="cer:RemoteSensingDataSourceCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether remotely-sensed data were included and if so, identifies their source.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReportingPeriodComment" type="cer:ReportingPeriodCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the reporting period.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReportingPeriodTypeCode" type="cer:ReportingPeriodTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The time period type for which emissions are reported.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Scope" type="cer:ScopeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that identifies the scope of emissions data that are reported. Examples include Scope 1 - Stationary Combustion, Scope 1 - Mobile Combustion, Scope 2 - Purchased Electricity, and Scope 3 - Indirect.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SectorTypeCode" type="cer:SectorTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The associated primary sector for a facility site.  Examples include:  General Stationary Combustion, Energy Production, Cement Production, Waste Water Treatment, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShapeFileIdentifier" type="cer:ShapeFileIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>An identifier provided by the reporting agency that identifies the geospatial shape file for the reported emissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShapeIdentifier" type="cer:ShapeIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>The shape file identifier issued by EPA for a predefined geospatial shape.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceClassificationCode" type="cer:SourceClassificationCodeDataType">
		<xsd:annotation>
			<xsd:documentation>EPA Source Classification Code that identifies an emissions process.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceMapScaleNumber" type="cer:SourceMapScaleNumberDataType">
		<xsd:annotation>
			<xsd:documentation>The number that represents the proportional distance on the ground for one unit of measure on the map or photo.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StartDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The date on which the reporting period began.  Applies to the reporting of episodic or event emissions only.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateAndCountryFIPSCode" type="cer:StateAndCountryFIPSCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents a State and Country for States in Mexico and Provinces in Canada.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateAndCountyFIPSCode" type="cer:StateAndCountyFIPSCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The list is from FIPS Counties codes used for the identification of the Counties and County equivalents of the United States.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmittalComment" type="cer:SubmittalCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the file submission.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalAddressText" type="cer:SupplementalAddressTextDataType">
		<xsd:annotation>
			<xsd:documentation>The text that provides additional information to facilitate the delivery of mail.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalCalculationParameterComment" type="cer:SupplementalCalculationParameterCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the parameter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalCalculationParameterDataSource" type="cer:SupplementalCalculationParameterDataSourceDataType">
		<xsd:annotation>
			<xsd:documentation>The source of the supplemental parameter data used.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalCalculationParameterDataYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The year represented by the supplemental data if it is different from the emissions year.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalCalculationParameterDenominatorUnitofMeasureCode" type="cer:SupplementalCalculationParameterDenominatorUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The denominator unit of measure for the parameter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalCalculationParameterNumeratorUnitofMeasureCode" type="cer:SupplementalCalculationParameterNumeratorUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The numerator unit of measure for the parameter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalCalculationParameterType" type="cer:SupplementalCalculationParameterTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Name of the parameter that describes the type of activity, throughput or input used in the calculation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalCalculationParameterValue" type="cer:SupplementalCalculationParameterValueDataType">
		<xsd:annotation>
			<xsd:documentation>The value of the parameter.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SupplementalLocationText" type="cer:SupplementalLocationTextDataType">
		<xsd:annotation>
			<xsd:documentation>The text that provides additional information about a place, including a building name with its secondary unit and number, an industrial park name, an installation name, or descriptive text where no formal address is available.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneExtensionNumberText" type="cer:TelephoneExtensionNumberTextDataType">
		<xsd:annotation>
			<xsd:documentation>The number assigned within an organization to an individual telephone that extends the external telephone number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberText" type="cer:TelephoneNumberTextDataType">
		<xsd:annotation>
			<xsd:documentation>The number that identifies a particular telephone connection.  This includes the prefix for international standards.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberTypeName" type="cer:TelephoneNumberTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>The type of telephone connection. Examples include Fax, Home, Mobile, Office, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalEmissions" type="cer:TotalEmissionsDataType">
		<xsd:annotation>
			<xsd:documentation>Total calculated or estimated amount of the pollutant.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TribalCode" type="cer:TribalCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the American Indian Tribe or Alaskan Native entity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitComment" type="cer:UnitCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Any comments regarding the emissions unit activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitCommercialOperationDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The date in which the unit commenced operational activities</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitDescription" type="cer:UnitDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Text description of the emissions unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitDesignCapacity" type="cer:UnitDesignCapacityDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of the size of the unit based on the maximum continuous throughput capacity of the unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitDesignCapacityUnitofMeasureCode" type="cer:UnitDesignCapacityUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Unit of measure for the design capacity of the emissions unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitOperationDate" type="cer:DateDataType">
		<xsd:annotation>
			<xsd:documentation>The date on which unit activity became operational.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitSourceLocation" type="cer:UnitSourceLocationDataType">
		<xsd:annotation>
			<xsd:documentation>The location or building number of the emissions source.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitStatusCode" type="cer:UnitStatusCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the operating status of the emissions unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitStatusCodeYear" type="cer:YearDataType">
		<xsd:annotation>
			<xsd:documentation>The year in which the unit status became applicable.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitTypeCode" type="cer:UnitTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Code that identifies the type of emissions unit activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UserIdentifier" type="cer:UserIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Unique identifier of a user record.  This identifier is assigned by the receiving system and is unique for each user.  Permissions for updating data are granted based on the user identification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerificationMethodCode" type="cer:VerificationMethodCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the process used to verify the latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalCollectionMethodCode" type="cer:VerticalCollectionMethodCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that identifies the method used to collect the vertical measure (i.e., the altitude) of a reference point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalMeasure" type="cer:VerticalMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of elevation (i.e., the altitude), above or below a reference datum.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalReferenceDatumCode" type="cer:VerticalReferenceDatumCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the reference datum used to determine the vertical measure (i.e., the altitude).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalUnitofMeasureCode" type="cer:VerticalUnitofMeasureCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The vertical unit of measure.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
