java/Wnos_Plugin/resources/here/xsd/T2/EI_Comment_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:facid="http://www.epa.gov/xml" xmlns:ei="http://www.exchangenetwork.net/schema/EnvironmentalIncident/1/0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" targetNamespace="http://www.exchangenetwork.net/schema/EnvironmentalIncident/1/0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>		
		Schema Name : 	EI_Comment_v1.0.xsd
		Current Version Available At :
		Description : 	general comment data block. 
		Aplication : 
		Developed by : 	 enfoTech
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Comment" type="ei:CommentDataType"/>
	<xsd:complexType name="CommentDataType">
		<xsd:sequence>
			<xsd:element ref="ei:CommentType" minOccurs="0"/>
			<xsd:element ref="ei:CommentDetails" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CommentType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Type of comment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentDetails" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The comment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
