java/Wnos_Plugin/resources/here/xsd/T2/TierII_Attachment_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" xmlns:TRI="urn:us:net:exchangenetwork:TRI:1:0" xmlns:TierII="http://www.exchangenetwork.net/schema/TierII/1/0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/TierII/1/0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	TierII_Attachment_v1.xsd
		Current Version Available At :
		Description : 	Attachment files details. 
		Application : 
		Developed by : 	 enfoTech &amp; Consulting, Inc.
		Point of Contact : Sara Liu
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Attachment" type="TierII:AttachmentDataType"/>
	<xsd:complexType name="AttachmentDataType">
		<xsd:sequence>
			<xsd:element ref="TierII:AttachmentIdentifier"/>
			<xsd:element ref="TierII:RequiredAttachmentName" minOccurs="0"/>
			<xsd:element ref="TierII:RequiredAttachmentTypeCode" minOccurs="0"/>
			<xsd:element ref="TierII:MaximumFileSize" minOccurs="0"/>
			<xsd:element ref="TierII:AdditionalRequirementText" minOccurs="0"/>
			<xsd:element ref="TierII:FileIncludedIndicator" minOccurs="0"/>
			<xsd:element ref="TierII:SubmittedAttachment" minOccurs="0"/>
			<xsd:element ref="TierII:SubmittedFileName" minOccurs="0"/>
			<xsd:element ref="TierII:SubmittedDocumentTypeCode" minOccurs="0"/>
			<xsd:element ref="TierII:SubmittedFileSize" minOccurs="0"/>
			<xsd:element ref="TierII:FileSentMethod" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AttachmentIdentifier" type="xsd:string"/>
	<xsd:element name="RequiredAttachmentName" type="xsd:string"/>
	<xsd:element name="RequiredAttachmentTypeCode" type="xsd:string"/>
	<xsd:element name="MaximumFileSize" type="xsd:string"/>
	<xsd:element name="AdditionalRequirementText" type="xsd:string"/>
	<xsd:element name="FileIncludedIndicator" type="xsd:string"/>
	<xsd:element name="SubmittedAttachment" type="xsd:string"/>
	<xsd:element name="SubmittedFileName" type="xsd:string"/>
	<xsd:element name="SubmittedDocumentTypeCode" type="xsd:string"/>
	<xsd:element name="SubmittedFileSize" type="xsd:string"/>
	<xsd:element name="FileSentMethod" type="xsd:string"/>
</xsd:schema>
