prod-opennode2-net/plugins/ICISNPDES_40/xml_schema/0/ICIS_Pretreatment_v4.0e.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4">
	<xsd:include schemaLocation="ICIS_Common_v4.0e.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Pretreatment_v4.0e.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/4</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES pretreatment shared data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-11-07</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AcceptanceHauledDomesticWastes" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="AcceptanceHazardousWaste" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="AcceptanceNonHazardousIndustrialWaste" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="AdequacyPretreatmentResources" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="AdministrativeOrdersIssuedSIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="AnnualFrequencyEffluentToxicantSampling" type="icis:NonNegativeIntegerMin1Max2Type"/>
	<xsd:element name="AnnualFrequencyInfluentToxicantSampling" type="icis:NonNegativeIntegerMin1Max2Type"/>
	<xsd:element name="AnnualFrequencySludgeToxicantSampling" type="icis:NonNegativeIntegerMin1Max2Type"/>
	<xsd:element name="AnnualPretreatmentBudget" type="icis:Decimal7FloatingType"/>
	<xsd:element name="AnnualPretreatmentBudgetPPS" type="icis:NonNegativeIntegerMin1Max7Type"/>
	<xsd:element name="ControlMechanismDeficiencies" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="CivilSuitsFiledAgainstSIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="CriminalSuitsFiledAgainstSIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="CIUsInSNC" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="DeficienciesDataManagementPublicParticipation" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="DeficienciesIdentifiedDuringIUFileReview" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="DeficienciesInterpretationApplicationPretreatmentStandards" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="DollarAmountPenaltiesCollected" type="icis:NonNegativeDecimal4FloatingType"/>
	<xsd:element name="DollarAmountPenaltiesCollectedPPS" type="icis:NonNegativeIntegerMin1Max15Type"/>
	<xsd:element name="FormalResponseViolationIUScheduleRemedialMeasures" type="icis:YesNoIndicatorType"/>
	<xsd:element name="InadequacySamplingInspectionIndicator" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="IUsWhichPenaltiesHaveBeenCollectedPPS" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="IUsWhichPenaltiesHaveBeenCollected" type="icis:Decimal4FloatingType"/>
	<xsd:element name="LegalAuthorityDeficiencies" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="NumberCIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="NumberSIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="PassThroughInterferenceIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="SIUsNotInspected" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsNotSampled" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsOnSchedule" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsSNCPublishedNewspaper" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsSNCWithPretreatmentSchedule" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsSNCWithPretreatmentStandards" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsSNCWithReportingRequirements" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsWithoutControlMechanism" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SUODate" type="icis:DateType"/>
	<xsd:element name="SUOReference" type="icis:StringMin1Max15Type"/>
	<xsd:element name="ViolationIUScheduleRemedialMeasures" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="ViolationNoticesIssuedSIUs" type="icis:NonNegativeIntegerMin1Max15Type"/>
	<xsd:group name="PretreatmentDataGroup">
		<xsd:sequence>
			<xsd:element ref="icis:SUOReference" minOccurs="0"/>
			<xsd:element ref="icis:SUODate" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceHazardousWaste" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceNonHazardousIndustrialWaste" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceHauledDomesticWastes" minOccurs="0"/>
			<xsd:element ref="icis:AnnualPretreatmentBudget" minOccurs="0"/>
			<xsd:element ref="icis:InadequacySamplingInspectionIndicator" minOccurs="0"/>
			<xsd:element ref="icis:AdequacyPretreatmentResources" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesIdentifiedDuringIUFileReview" minOccurs="0"/>
			<xsd:element ref="icis:ControlMechanismDeficiencies" minOccurs="0"/>
			<xsd:element ref="icis:LegalAuthorityDeficiencies" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesInterpretationApplicationPretreatmentStandards" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesDataManagementPublicParticipation" minOccurs="0"/>
			<xsd:element ref="icis:ViolationIUScheduleRemedialMeasures" minOccurs="0"/>
			<xsd:element ref="icis:FormalResponseViolationIUScheduleRemedialMeasures" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencyInfluentToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencyEffluentToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencySludgeToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:NumberSIUs" minOccurs="0"/>
			<xsd:element ref="icis:SIUsWithoutControlMechanism" minOccurs="0"/>
			<xsd:element ref="icis:SIUsNotInspected" minOccurs="0"/>
			<xsd:element ref="icis:SIUsNotSampled" minOccurs="0"/>
			<xsd:element ref="icis:SIUsOnSchedule" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithPretreatmentStandards" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithReportingRequirements" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithPretreatmentSchedule" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCPublishedNewspaper" minOccurs="0"/>
			<xsd:element ref="icis:ViolationNoticesIssuedSIUs" minOccurs="0"/>
			<xsd:element ref="icis:AdministrativeOrdersIssuedSIUs" minOccurs="0"/>
			<xsd:element ref="icis:CivilSuitsFiledAgainstSIUs" minOccurs="0"/>
			<xsd:element ref="icis:CriminalSuitsFiledAgainstSIUs" minOccurs="0"/>
			<xsd:element ref="icis:DollarAmountPenaltiesCollected" minOccurs="0"/>
			<xsd:element ref="icis:IUsWhichPenaltiesHaveBeenCollected" minOccurs="0"/>
			<xsd:element ref="icis:NumberCIUs" minOccurs="0"/>
			<xsd:element ref="icis:CIUsInSNC" minOccurs="0"/>
			<xsd:element ref="icis:PassThroughInterferenceIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="PretreatmentPerformanceSummaryDataGroup">
		<xsd:sequence>
			<xsd:element ref="icis:SUOReference" minOccurs="0"/>
			<xsd:element ref="icis:SUODate" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceHazardousWaste" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceNonHazardousIndustrialWaste" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceHauledDomesticWastes" minOccurs="0"/>
			<xsd:element ref="icis:AnnualPretreatmentBudgetPPS" minOccurs="0"/>
			<xsd:element ref="icis:InadequacySamplingInspectionIndicator" minOccurs="0"/>
			<xsd:element ref="icis:AdequacyPretreatmentResources" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesIdentifiedDuringIUFileReview" minOccurs="0"/>
			<xsd:element ref="icis:ControlMechanismDeficiencies" minOccurs="0"/>
			<xsd:element ref="icis:LegalAuthorityDeficiencies" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesInterpretationApplicationPretreatmentStandards" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesDataManagementPublicParticipation" minOccurs="0"/>
			<xsd:element ref="icis:ViolationIUScheduleRemedialMeasures" minOccurs="0"/>
			<xsd:element ref="icis:FormalResponseViolationIUScheduleRemedialMeasures" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencyInfluentToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencyEffluentToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencySludgeToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:NumberSIUs" minOccurs="0"/>
			<xsd:element ref="icis:SIUsWithoutControlMechanism" minOccurs="0"/>
			<xsd:element ref="icis:SIUsNotInspected" minOccurs="0"/>
			<xsd:element ref="icis:SIUsNotSampled" minOccurs="0"/>
			<xsd:element ref="icis:SIUsOnSchedule" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithPretreatmentStandards" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithReportingRequirements" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithPretreatmentSchedule" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCPublishedNewspaper" minOccurs="0"/>
			<xsd:element ref="icis:ViolationNoticesIssuedSIUs" minOccurs="0"/>
			<xsd:element ref="icis:AdministrativeOrdersIssuedSIUs" minOccurs="0"/>
			<xsd:element ref="icis:CivilSuitsFiledAgainstSIUs" minOccurs="0"/>
			<xsd:element ref="icis:CriminalSuitsFiledAgainstSIUs" minOccurs="0"/>
			<xsd:element ref="icis:DollarAmountPenaltiesCollectedPPS" minOccurs="0"/>
			<xsd:element ref="icis:IUsWhichPenaltiesHaveBeenCollectedPPS" minOccurs="0"/>
			<xsd:element ref="icis:NumberCIUs" minOccurs="0"/>
			<xsd:element ref="icis:CIUsInSNC" minOccurs="0"/>
			<xsd:element ref="icis:PassThroughInterferenceIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
