prod-opennode2-net/plugins/AQS2/xml_schema_v2.2/2/EN_AQS_RoadInfluences_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/2" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>AQDE Road Influences
		Current Version Available At :
		Description : Schema for Transaction AB, AQS Submission
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		Revised: Doug Timms, enfoTech
		</xsd:documentation>
	</xsd:annotation>
	<!--Data element and data type include files-->
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v2.2.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_CompassSectorCodeDataType_v2.2.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_NormCharTwentyTextDataType_v2.2.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_NormCharFiftyTextDataType_v2.2.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_YearDataType_v2.2.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_IntegerTwelveDigitPositiveDataType_v2.2.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_TangentStreetNumberDataElement_v2.2.xsd"/>
	<!--Transaction AB schema components-->
	<xsd:element name="RoadInfluences" type="aqs:RoadInfluencesType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements related to roadways that may influence a monitoring site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Transaction AB complex data types-->
	<xsd:complexType name="RoadInfluencesType">
		<xsd:annotation>
			<xsd:documentation>Site tangent street details complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:ActionCode"/>
			<xsd:element ref="aqs:TangentStreetNumber"/>
			<xsd:element ref="aqs:TangentStreetName" minOccurs="0"/>
			<xsd:element ref="aqs:RoadTypeCode" minOccurs="0"/>
			<xsd:element ref="aqs:TrafficCountValue" minOccurs="0"/>
			<xsd:element ref="aqs:TrafficCountYear" minOccurs="0"/>
			<xsd:element ref="aqs:DirectionToStreetCode" minOccurs="0"/>
			<xsd:element ref="aqs:TrafficCountSourceCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Transaction AB data elements-->
	<xsd:element name="TangentStreetName" type="aqs:NormCharFiftyTextType">
		<xsd:annotation>
			<xsd:documentation>Identifies the name of the street around the site for which the data are being submitted.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RoadTypeCode" type="aqs:NormalizedString20CharType">
		<xsd:annotation>
			<xsd:documentation>The type of road or street being described.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TrafficCountValue" type="aqs:TwelveDigitPositiveIntegerType">
		<xsd:annotation>
			<xsd:documentation>An estimate of the daily traffic volume on the roadway.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TrafficCountYear" type="aqs:YearType">
		<xsd:annotation>
			<xsd:documentation>The year when the traffic count value was estimated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DirectionToStreetCode" type="aqs:CompassSectorCodeType">
		<xsd:annotation>
			<xsd:documentation>The direction from the site to the street at its nearest point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TrafficCountSourceCode" type="aqs:NormalizedString20CharType">
		<xsd:annotation>
			<xsd:documentation>The method by which the traffic volume/flow count was obtained.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
