prod-opennode2-net/plugins/AQS2/xml_schema_v2.2/2/EN_AQS_MonitorLocationInfluences_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/2" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
    <xsd:annotation>
        <xsd:documentation>Monitoring Location Influences file
		Current Version Available At :
		Description : Schema for Monitoring Location Influences 
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		</xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="http://www.exchangenetwork.net/schema/SC/SC_SimpleContent_v2.0.xsd"/>
    <!--Data element and data type include files-->
    <xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_CompassSectorCodeDataType_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DecimalTenPointTwoPositiveDataType_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_TangentStreetNumberDataElement_v2.2.xsd"/>
    <!--Monitoring Location Influences schema components-->
    <xsd:element name="MonitorLocationInfluences" type="aqs:MonitorLocationInfluencesType">
        <xsd:annotation>
            <xsd:documentation>This is a complex element (element grouping) containing all of the elements related to roadways that may effect the values measured at a monitor.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--Monitoring Location Influences complex data types-->
    <xsd:complexType name="MonitorLocationInfluencesType">
        <xsd:annotation>
            <xsd:documentation>Monitor street description details complex type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="aqs:ActionCode"/>
            <xsd:element ref="aqs:TangentStreetNumber"/>
            <xsd:element ref="aqs:DistanceToStreetMeasure" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Monitoring Location Influences data element-->
    <xsd:element name="DistanceToStreetMeasure" type="aqs:MeasureValueDataType">
        <xsd:annotation>
            <xsd:documentation>The distance in meters between the sensing of air sampling equipment at a monitoring site and the nearest edge of the roadway.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>
