prod-opennode2-net/plugins/OWIR_ATT_20/xml_schema/0/ATT_ATLAS_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name: ATT_ATLAS.xsd</xsd:documentation>
		<xsd:documentation>Description: Component Schema for ATLAS types</xsd:documentation>
		<xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
		<xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
		<xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
	<xsd:complexType name="ATLASesDataType">
		<xsd:sequence>
			<xsd:element ref="att:ATLASDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ATLASes" type="att:ATLASesDataType">
		<xsd:unique name="APK">
			<xsd:selector xpath="att:ATLASDetails"/>
			<xsd:field xpath="att:TopicID"/>
			<xsd:field xpath="att:TopicOwner"/>
		</xsd:unique>
	</xsd:element>
	<xsd:complexType name="ATLASDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="att:TopicID"/>
			<xsd:element ref="att:TopicOwner"/>
			<xsd:element ref="att:TopicSize" minOccurs="0"/>
			<xsd:element ref="att:TopicScale" minOccurs="0"/>
			<xsd:element ref="att:TopicSource" minOccurs="0"/>
			<xsd:element ref="att:TopicCount" minOccurs="0"/>
			<xsd:element ref="att:TopicName" minOccurs="0"/>
			<xsd:element ref="att:TopicGroup" minOccurs="0"/>
			<xsd:element ref="att:TopicSizeUnit" minOccurs="0"/>
			<xsd:element ref="att:TopicMajorFlag" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ATLASDetails" type="att:ATLASDetailsDataType"/>
	<xsd:element name="TopicID" type="xsd:integer"/>
	<xsd:element name="TopicOwner" type="att:StateNADataType"/>
	<xsd:element name="TopicSize" type="xsd:decimal"/>
	<xsd:element name="TopicScale" type="xsd:integer"/>
	<xsd:element name="TopicSource" type="att:String40DataType"/>
	<xsd:element name="TopicCount" type="xsd:integer"/>
	<xsd:element name="TopicName" type="att:String50DataType"/>
	<xsd:element name="TopicGroup" type="att:String50DataType"/>
	<xsd:element name="TopicSizeUnit" type="att:String15DataType"/>
	<xsd:element name="TopicMajorFlag" type="xsd:integer"/>
</xsd:schema>
