prod-opennode2-net/plugins/OWIR_ATT_20/xml_schema/0/ATT_StateLocations_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name: ATT_StateLocations.xsd</xsd:documentation>
		<xsd:documentation>Description: Component Schema for ATT (Water Assessment Data) StateLocation types</xsd:documentation>
		<xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
		<xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
		<xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
	<xsd:complexType name="StateLocationsDataType">
		<xsd:sequence>
			<xsd:element ref="att:StateLocationDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StateLocationDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="att:LocationID"/>
			<xsd:element ref="att:LocationType"/>
			<xsd:element ref="att:LocationName"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="StateLocationDetails" type="att:StateLocationDetailsDataType"/>
	<xsd:element name="StateLocations" type="att:StateLocationsDataType"/>
	<xsd:element name="LocationID" type="xsd:integer"/>
	<xsd:element name="LocationType" type="att:String20RequiredDataType"/>
	<xsd:element name="LocationName" type="att:String100RequiredDataType"/>
</xsd:schema>
