prod-opennode2-net/plugins/OWIR_ATT_20/xml_schema/0/ATT_UserCategories_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name: ATT_UserCategories.xsd</xsd:documentation>
		<xsd:documentation>Description: Component Schema for ATT (Water Assessment Data) UserCategory types</xsd:documentation>
		<xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
		<xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
		<xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
	<xsd:complexType name="UserCategoriesDataType">
		<xsd:sequence>
			<xsd:element ref="att:UserCategoryDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserCategoryDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="att:CategoryID"/>
			<xsd:element ref="att:CategoryDescription"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UserCategories" type="att:UserCategoriesDataType">
		<xsd:unique name="UCPK">
			<xsd:selector xpath="att:UserCategoryDetails"/>
			<xsd:field xpath="att:CategoryID"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="UserCategoryDetails" type="att:UserCategoryDetailsDataType"/>
	<xsd:element name="CategoryID" type="att:String10DataType"/>
	<xsd:element name="CategoryDescription" type="att:String4000DataType"/>
</xsd:schema>
