prod-opennode2-net/plugins/OWIR_ATT_20/xml_schema/0/ATT_Causes_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name: ATT_Causes.xsd</xsd:documentation>
		<xsd:documentation>Description: Component Schema for ATT (Water Assessment Data) Cause types</xsd:documentation>
		<xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
		<xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
		<xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
	<xsd:complexType name="CausesDataType">
		<xsd:sequence>
			<xsd:element ref="att:CauseDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CauseDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="att:CauseName"/>
			<xsd:element ref="att:PollutantFlag" minOccurs="0"/>
			<xsd:element ref="att:CauseComments" minOccurs="0"/>
			<xsd:element ref="att:UserFlag" minOccurs="0"/>
			<xsd:element ref="att:EPACauseCategory" minOccurs="0"/>
			<xsd:element ref="att:Sources" minOccurs="0"/>
			<xsd:element ref="att:Confidence" minOccurs="0"/>
			<xsd:element ref="att:StateCauseCategory" minOccurs="0"/>
			<xsd:element ref="att:EPAAddedCause" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SourcesDataType">
		<xsd:sequence>
			<xsd:element ref="att:SourceDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SourceDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="att:SourceName"/>
			<xsd:element ref="att:SourceComments" minOccurs="0"/>
			<xsd:element ref="att:Confirmed" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CauseName" type="att:String240DataType"/>
	<xsd:element name="UserFlag" type="att:String15DataType"/>
	<xsd:element name="EPACauseCategory" type="att:EPACauseCategoryDataType"/>
	<xsd:element name="UseComment" type="att:String4000DataType"/>
	<xsd:element name="Causes" type="att:CausesDataType">
		<xsd:unique name="CPK">
			<xsd:selector xpath="att:CauseDetails"/>
			<xsd:field xpath="att:CauseName"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="CauseDetails" type="att:CauseDetailsDataType"/>
	<xsd:element name="Sources" type="att:SourcesDataType">
		<xsd:unique name="SPK">
			<xsd:selector xpath="att:SourceDetails"/>
			<xsd:field xpath="att:SourceName"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="SourceDetails" type="att:SourceDetailsDataType"/>
	<xsd:element name="PollutantFlag" type="att:StringYesNoDataType"/>
	<xsd:element name="CauseComments" type="att:String4000DataType"/>
	<xsd:element name="SourceName" type="att:String250DataType"/>
	<xsd:element name="SourceComments" type="att:String4000DataType"/>
	<xsd:element name="Confidence" type="att:ConfidenceDataType"/>
	<xsd:element name="StateCauseCategory" type="att:String10DataType"/>
	<xsd:element name="EPAAddedCause" type="att:StringYNDataType"/>
	<xsd:element name="Confirmed" type="att:StringYNDataType"/>
</xsd:schema>
