dotnet/src/Node20TestConsole/Node20TestConsole/Web References/endpoint/ENService20.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://www.exchangenetwork.net/schema/node/2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.exchangenetwork.net/wsdl/node/2" xmlns:s1="http://www.w3.org/2005/05/xmlmime" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.exchangenetwork.net/wsdl/node/2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.exchangenetwork.net/schema/node/2">
      <s:import namespace="http://www.w3.org/2005/05/xmlmime" />
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="credential" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="domain" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticationMethod" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataflow" type="s:NCName" />
            <s:element minOccurs="0" maxOccurs="1" name="flowOperation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="recipient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="notificationURI" type="s0:NotificationURIType" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="documents" type="s0:NodeDocumentType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NotificationURIType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="notificationType" type="s0:NotificationTypeCode" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="NotificationTypeCode">
        <s:restriction base="s:string">
          <s:enumeration value="Warning" />
          <s:enumeration value="Error" />
          <s:enumeration value="Status" />
          <s:enumeration value="All" />
          <s:enumeration value="None" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="NodeDocumentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="documentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="documentFormat" type="s0:DocumentFormatType" />
          <s:element minOccurs="0" maxOccurs="1" name="documentContent" type="s0:AttachmentType" />
        </s:sequence>
        <s:attribute name="documentId" type="s:ID" />
      </s:complexType>
      <s:simpleType name="DocumentFormatType">
        <s:restriction base="s:string">
          <s:enumeration value="XML" />
          <s:enumeration value="FLAT" />
          <s:enumeration value="BIN" />
          <s:enumeration value="ZIP" />
          <s:enumeration value="ODF" />
          <s:enumeration value="OTHER" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AttachmentType">
        <s:simpleContent>
          <s:extension base="s:base64Binary">
            <s:attribute ref="s1:contentType" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="SubmitResponse" type="s0:StatusResponseType" />
      <s:complexType name="StatusResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s0:TransactionStatusCode" />
          <s:element minOccurs="0" maxOccurs="1" name="statusDetail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TransactionStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="Received" />
          <s:enumeration value="Processing" />
          <s:enumeration value="Pending" />
          <s:enumeration value="Failed" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="Approved" />
          <s:enumeration value="Processed" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusResponse" type="s0:StatusResponseType" />
      <s:element name="Notify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataflow" type="s:NCName" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="messages" type="s0:NotificationMessageType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NotificationMessageType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="messageCategory" type="s0:NotificationMessageCategoryType" />
          <s:element minOccurs="0" maxOccurs="1" name="messageName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s0:TransactionStatusCode" />
          <s:element minOccurs="0" maxOccurs="1" name="statusDetail" type="s:string" />
        </s:sequence>
        <s:attribute name="objectId" type="s:ID" />
      </s:complexType>
      <s:simpleType name="NotificationMessageCategoryType">
        <s:restriction base="s:string">
          <s:enumeration value="Event" />
          <s:enumeration value="Status" />
          <s:enumeration value="Document" />
        </s:restriction>
      </s:simpleType>
      <s:element name="NotifyResponse" type="s0:StatusResponseType" />
      <s:element name="Download">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataflow" type="s:NCName" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="documents" type="s0:NodeDocumentType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadResponse" type="s0:ArrayOfNodeDocumentType" />
      <s:complexType name="ArrayOfNodeDocumentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="documents" type="s0:NodeDocumentType" />
        </s:sequence>
      </s:complexType>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataflow" type="s:NCName" />
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rowId" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="maxRows" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="parameters" type="s0:ParameterType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ParameterType">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="parameterName" type="s:string" />
            <s:attribute name="parameterType" type="s:QName" />
            <s:attribute default="XML" name="parameterEncoding" type="s0:EncodingType" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="EncodingType">
        <s:restriction base="s:string">
          <s:enumeration value="Base64" />
          <s:enumeration value="ZIP" />
          <s:enumeration value="Encrypt" />
          <s:enumeration value="Digest" />
          <s:enumeration value="XML" />
        </s:restriction>
      </s:simpleType>
      <s:element name="QueryResponse" type="s0:ResultSetType" />
      <s:complexType name="ResultSetType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="rowId" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="rowCount" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="isLastSet" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="results" type="s0:GenericXmlType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GenericXmlType">
        <s:simpleContent>
          <s:extension base="s:base64Binary">
            <s:attribute default="XML" name="format" type="s0:DocumentFormatType" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="Solicit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataflow" type="s:NCName" />
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="recipient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="notificationURI" type="s0:NotificationURIType" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="parameters" type="s0:ParameterType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolicitResponse" type="s0:StatusResponseType" />
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="interfaceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="methodName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="unbounded" name="parameters" type="s0:ParameterType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s0:TransactionStatusCode" />
            <s:element minOccurs="0" maxOccurs="1" name="results" type="s0:GenericXmlType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NodePing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hello" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NodePingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nodeStatus" type="s0:NodeStatusCode" />
            <s:element minOccurs="0" maxOccurs="1" name="statusDetail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="NodeStatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="Ready" />
          <s:enumeration value="Offline" />
          <s:enumeration value="Busy" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceCategory" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServicesResponse" type="s0:GenericXmlType" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/05/xmlmime">
      <s:attribute name="contentType" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="Authenticate1" element="s0:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="AuthenticateResult" element="s0:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitSoapIn">
    <wsdl:part name="Submit1" element="s0:Submit" />
  </wsdl:message>
  <wsdl:message name="SubmitSoapOut">
    <wsdl:part name="SubmitResult" element="s0:SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapIn">
    <wsdl:part name="GetStatus1" element="s0:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapOut">
    <wsdl:part name="GetStatusResult" element="s0:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="NotifySoapIn">
    <wsdl:part name="Notify1" element="s0:Notify" />
  </wsdl:message>
  <wsdl:message name="NotifySoapOut">
    <wsdl:part name="NotifyResult" element="s0:NotifyResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadSoapIn">
    <wsdl:part name="Download1" element="s0:Download" />
  </wsdl:message>
  <wsdl:message name="DownloadSoapOut">
    <wsdl:part name="DownloadResult" element="s0:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="Query1" element="s0:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="QueryResult" element="s0:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="SolicitSoapIn">
    <wsdl:part name="Solicit1" element="s0:Solicit" />
  </wsdl:message>
  <wsdl:message name="SolicitSoapOut">
    <wsdl:part name="SolicitResult" element="s0:SolicitResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="Execute1" element="s0:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="ExecuteResult" element="s0:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="NodePingSoapIn">
    <wsdl:part name="NodePing1" element="s0:NodePing" />
  </wsdl:message>
  <wsdl:message name="NodePingSoapOut">
    <wsdl:part name="NodePingResult" element="s0:NodePingResponse" />
  </wsdl:message>
  <wsdl:message name="GetServicesSoapIn">
    <wsdl:part name="GetServices1" element="s0:GetServices" />
  </wsdl:message>
  <wsdl:message name="GetServicesSoapOut">
    <wsdl:part name="GetServicesResult" element="s0:GetServicesResponse" />
  </wsdl:message>
  <wsdl:portType name="NetworkNodeBinding2">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input message="tns:SubmitSoapIn" />
      <wsdl:output message="tns:SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatusSoapIn" />
      <wsdl:output message="tns:GetStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:input message="tns:NotifySoapIn" />
      <wsdl:output message="tns:NotifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:input message="tns:DownloadSoapIn" />
      <wsdl:output message="tns:DownloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicit">
      <wsdl:input message="tns:SolicitSoapIn" />
      <wsdl:output message="tns:SolicitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NodePing">
      <wsdl:input message="tns:NodePingSoapIn" />
      <wsdl:output message="tns:NodePingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input message="tns:GetServicesSoapIn" />
      <wsdl:output message="tns:GetServicesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NetworkNodeBinding22" />
  <wsdl:binding name="NetworkNodeBinding2" type="tns:NetworkNodeBinding2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap:operation soapAction="Notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap:operation soapAction="Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicit">
      <soap:operation soapAction="Solicit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NodePing">
      <soap:operation soapAction="NodePing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetworkNodeBinding21" type="tns:NetworkNodeBinding2">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap12:operation soapAction="Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap12:operation soapAction="Notify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap12:operation soapAction="Download" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicit">
      <soap12:operation soapAction="Solicit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NodePing">
      <soap12:operation soapAction="NodePing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap12:operation soapAction="GetServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetworkNodeBinding22" type="tns:NetworkNodeBinding22">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="ENService20">
    <wsdl:port name="NetworkNodeBinding2" binding="tns:NetworkNodeBinding2">
      <soap:address location="http://localhost:4609/ENService20.asmx" />
    </wsdl:port>
    <wsdl:port name="NetworkNodeBinding21" binding="tns:NetworkNodeBinding21">
      <soap12:address location="http://localhost:4609/ENService20.asmx" />
    </wsdl:port>
    <wsdl:port name="NetworkNodeBinding22" binding="tns:NetworkNodeBinding22">
      <http:address location="http://localhost:4609/ENService20.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>