dotnet/prod-opennode2-net/plugins/OWIR_ATT_20/xml_schema/0/ATT_CycleTrack_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
  <xsd:annotation>
    <xsd:documentation>Schema Name: ATT_CycleTrack.xsd</xsd:documentation>
    <xsd:documentation>Description: Component Schema for ATT (Water Assessment Data) CycleTrack types</xsd:documentation>
    <xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
    <xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
    <xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
  </xsd:annotation>
  <xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
  <xsd:complexType name="CycleTracksDataType">
    <xsd:sequence>
      <xsd:element ref="att:CycleTrackDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CycleTrackDetailsDataType">
    <xsd:sequence>
      <xsd:element ref="att:PreID305b"/>
      <xsd:element ref="att:PreCycle"/>
      <xsd:element ref="att:Purpose"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CycleTracks" type="att:CycleTracksDataType">
    <xsd:unique name="CTPK">
      <xsd:selector xpath="att:CycleTrackDetails"/>
      <xsd:field xpath="att:PreID305b"/>
      <xsd:field xpath="att:PreCycle"/>
    </xsd:unique>
  </xsd:element>
  <xsd:element name="CycleTrackDetails" type="att:CycleTrackDetailsDataType"/>
  <xsd:element name="PreID305b" type="att:String50RequiredDataType"/>
  <xsd:element name="PreCycle" type="xsd:gYear"/>
  <xsd:element name="Purpose" type="att:PurposeDataType"/>
</xsd:schema>
