dotnet/opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/FACID_AffiliationDataType_v2.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:annotation>
	<xsd:appinfo>AffiliationDataType_v_2.0.xsd v2.0 2001-02 </xsd:appinfo>
	<xsd:documentation>
		Data Type for Affiliation.
	</xsd:documentation>
</xsd:annotation>
<xsd:complexType name="AffiliationDataType">
<xsd:sequence>
<xsd:element name="AffiliationTypeText" type="xsd:string" minOccurs="0"/>
<xsd:element name="AffiliationStartDate" type="xsd:date" minOccurs="0"/>
<xsd:element name="AffiliationEndDate" type="xsd:date" minOccurs="0"/>	
</xsd:sequence>	
</xsd:complexType>
</xsd:schema>
