dotnet/opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_CodeListLocationalDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:annotation>
		<xsd:documentation>General Type Definitions for Locational Detail code list</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAHorizontalCollectionMethodCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
			<xsd:enumeration value="004"/>
			<xsd:enumeration value="005"/>
			<xsd:enumeration value="006"/>
			<xsd:enumeration value="007"/>
			<xsd:enumeration value="008"/>
			<xsd:enumeration value="009"/>
			<xsd:enumeration value="010"/>
			<xsd:enumeration value="011"/>
			<xsd:enumeration value="012"/>
			<xsd:enumeration value="013"/>
			<xsd:enumeration value="014"/>
			<xsd:enumeration value="015"/>
			<xsd:enumeration value="016"/>
			<xsd:enumeration value="017"/>
			<xsd:enumeration value="018"/>
			<xsd:enumeration value="019"/>
			<xsd:enumeration value="020"/>
			<xsd:enumeration value="021"/>
			<xsd:enumeration value="022"/>
			<xsd:enumeration value="023"/>
			<xsd:enumeration value="024"/>
			<xsd:enumeration value="025"/>
			<xsd:enumeration value="026"/>
			<xsd:enumeration value="027"/>
			<xsd:enumeration value="028"/>
			<xsd:enumeration value="029"/>
			<xsd:enumeration value="030"/>
			<xsd:enumeration value="031"/>
			<xsd:enumeration value="032"/>
			<xsd:enumeration value="033"/>
			<xsd:enumeration value="034"/>
			<xsd:enumeration value="035"/>
			<xsd:enumeration value="036"/>
			<xsd:enumeration value="037"/>
			<xsd:enumeration value="038"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAReferencePointCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
			<xsd:enumeration value="004"/>
			<xsd:enumeration value="005"/>
			<xsd:enumeration value="006"/>
			<xsd:enumeration value="007"/>
			<xsd:enumeration value="008"/>
			<xsd:enumeration value="009"/>
			<xsd:enumeration value="010"/>
			<xsd:enumeration value="011"/>
			<xsd:enumeration value="012"/>
			<xsd:enumeration value="013"/>
			<xsd:enumeration value="014"/>
			<xsd:enumeration value="015"/>
			<xsd:enumeration value="016"/>
			<xsd:enumeration value="017"/>
			<xsd:enumeration value="018"/>
			<xsd:enumeration value="019"/>
			<xsd:enumeration value="020"/>
			<xsd:enumeration value="021"/>
			<xsd:enumeration value="022"/>
			<xsd:enumeration value="023"/>
			<xsd:enumeration value="024"/>
			<xsd:enumeration value="025"/>
			<xsd:enumeration value="026"/>
			<xsd:enumeration value="027"/>
			<xsd:enumeration value="028"/>
			<xsd:enumeration value="029"/>
			<xsd:enumeration value="030"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAHorizontalReferenceDatumCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWASourceMapScaleCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="G"/>
			<xsd:enumeration value="H"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="J"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="NA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAGeometricTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
			<xsd:enumeration value="004"/>
			<xsd:enumeration value="005"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWACoordinateDataSourceCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="004"/>
			<xsd:enumeration value="005"/>
			<xsd:enumeration value="006"/>
			<xsd:enumeration value="008"/>
			<xsd:enumeration value="009"/>
			<xsd:enumeration value="010"/>
			<xsd:enumeration value="011"/>
			<xsd:enumeration value="012"/>
			<xsd:enumeration value="013"/>
			<xsd:enumeration value="015"/>
			<xsd:enumeration value="016"/>
			<xsd:enumeration value="017"/>
			<xsd:enumeration value="018"/>
			<xsd:enumeration value="019"/>
			<xsd:enumeration value="020"/>
			<xsd:enumeration value="021"/>
			<xsd:enumeration value="022"/>
			<xsd:enumeration value="023"/>
			<xsd:enumeration value="024"/>
			<xsd:enumeration value="025"/>
			<xsd:enumeration value="026"/>
			<xsd:enumeration value="027"/>
			<xsd:enumeration value="028"/>
			<xsd:enumeration value="029"/>
			<xsd:enumeration value="030"/>
			<xsd:enumeration value="031"/>
			<xsd:enumeration value="032"/>
			<xsd:enumeration value="033"/>
			<xsd:enumeration value="034"/>
			<xsd:enumeration value="035"/>
			<xsd:enumeration value="036"/>
			<xsd:enumeration value="037"/>
			<xsd:enumeration value="038"/>
			<xsd:enumeration value="039"/>
			<xsd:enumeration value="040"/>
			<xsd:enumeration value="041"/>
			<xsd:enumeration value="042"/>
			<xsd:enumeration value="044"/>
			<xsd:enumeration value="045"/>
			<xsd:enumeration value="046"/>
			<xsd:enumeration value="047"/>
			<xsd:enumeration value="048"/>
			<xsd:enumeration value="049"/>
			<xsd:enumeration value="050"/>
			<xsd:enumeration value="051"/>
			<xsd:enumeration value="053"/>
			<xsd:enumeration value="054"/>
			<xsd:enumeration value="055"/>
			<xsd:enumeration value="056"/>
			<xsd:enumeration value="060"/>
			<xsd:enumeration value="064"/>
			<xsd:enumeration value="066"/>
			<xsd:enumeration value="068"/>
			<xsd:enumeration value="069"/>
			<xsd:enumeration value="070"/>
			<xsd:enumeration value="072"/>
			<xsd:enumeration value="074"/>
			<xsd:enumeration value="078"/>
			<xsd:enumeration value="080"/>
			<xsd:enumeration value="081"/>
			<xsd:enumeration value="082"/>
			<xsd:enumeration value="083"/>
			<xsd:enumeration value="084"/>
			<xsd:enumeration value="085"/>
			<xsd:enumeration value="086"/>
			<xsd:enumeration value="087"/>
			<xsd:enumeration value="088"/>
			<xsd:enumeration value="089"/>
			<xsd:enumeration value="090"/>
			<xsd:enumeration value="091"/>
			<xsd:enumeration value="092"/>
			<xsd:enumeration value="093"/>
			<xsd:enumeration value="094"/>
			<xsd:enumeration value="095"/>
			<xsd:enumeration value="096"/>
			<xsd:enumeration value="097"/>
			<xsd:enumeration value="098"/>
			<xsd:enumeration value="NN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAVerificationMethodCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
			<xsd:enumeration value="004"/>
			<xsd:enumeration value="005"/>
			<xsd:enumeration value="006"/>
			<xsd:enumeration value="007"/>
			<xsd:enumeration value="008"/>
			<xsd:enumeration value="009"/>
			<xsd:enumeration value="010"/>
			<xsd:enumeration value="011"/>
			<xsd:enumeration value="012"/>
			<xsd:enumeration value="013"/>
			<xsd:enumeration value="014"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAVerticalCollectionMethodCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
			<xsd:enumeration value="004"/>
			<xsd:enumeration value="005"/>
			<xsd:enumeration value="006"/>
			<xsd:enumeration value="007"/>
			<xsd:enumeration value="008"/>
			<xsd:enumeration value="009"/>
			<xsd:enumeration value="010"/>
			<xsd:enumeration value="011"/>
			<xsd:enumeration value="012"/>
			<xsd:enumeration value="013"/>
			<xsd:enumeration value="014"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAVerticalReferenceDatumCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
			<xsd:enumeration value="004"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAHorizontalCollectionMethodCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAHorizontalCollectionMethodCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAReferencePointCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAReferencePointCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAHorizontalReferenceDatumCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAHorizontalReferenceDatumCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASourceMapScaleCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASourceMapScaleCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAGeometricTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAGeometricTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWACoordinateDataSourceCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWACoordinateDataSourceCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAVerificationMethodCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAVerificationMethodCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAVerticalCollectionMethodCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAVerticalCollectionMethodCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAVerticalReferenceDatumCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAVerticalReferenceDatumCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
