dotnet/opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_LocationalDetail_v2.xsd

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (SAIC) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_WaterSystemFacilityDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_LocationalDetailDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_MessageNotification_v2.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Locational Detail Business Object</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Locations" type="LocationsType"/>
	<xsd:element name="LocationDetails" type="LocationDetailsType"/>
	<xsd:complexType name="LocationsType">
		<xsd:sequence>
			<xsd:element ref="LocationDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocationDetailsType">
		<xsd:sequence>
			<xsd:element ref="PWSIdentifier"/>
			<xsd:element ref="FacilityIdentifier"/>
			<xsd:element ref="LatitudeLongitude"/>
			<xsd:element ref="HorizontalCollectionMethodCode"/>
			<xsd:element ref="HorizontalAccuracyMeasure"/>
			<xsd:element ref="ReferencePointCode"/>
			<xsd:element ref="HorizontalReferenceDatumCode"/>
			<xsd:element ref="SourceMapScaleCode"/>
			<xsd:element ref="GeometricTypeCode"/>
			<xsd:element ref="DataCollectionDate" minOccurs="0"/>
			<xsd:element ref="CoordinateDataSourceCode" minOccurs="0"/>
			<xsd:element ref="VerificationMethodCode" minOccurs="0"/>
			<xsd:element ref="VerticalMeasure" minOccurs="0"/>
			<xsd:element ref="VerticalCollectionMethodCode" minOccurs="0"/>
			<xsd:element ref="VerticalAccuracyMeasure" minOccurs="0"/>
			<xsd:element ref="VerticalReferenceDatumCode" minOccurs="0"/>
			<xsd:element ref="LocationCommentText" minOccurs="0"/>
			<xsd:element ref="MessageStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
