dotnet/opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_EnforcementDataTypes_v2.xsd

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_CodeList.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Data Type Definitions for Enforcement.
</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="EnforcementIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementCommentTextType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EnforcementActionCodeType">
		<xsd:choice>
			<xsd:element name="SDWAEnforcementActionCode" type="SDWAEnforcementActionCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Global Element Declarations for Enforcement.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="EnforcementIdentifier" type="EnforcementIdentifierType"/>
	<xsd:element name="EnforcementDate" type="xsd:date"/>
	<xsd:element name="EnforcementActionCode" type="EnforcementActionCodeType"/>
	<xsd:element name="EnforcementCommentText" type="EnforcementCommentTextType"/>
	<xsd:element name="EnforcementReportingDate" type="xsd:date"/>
</xsd:schema>
