dotnet/opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_WaterSystemFacility_v2.xsd

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Fazal Mohammed (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_WaterSystemFacilityDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_MessageNotification_v2.xsd"/>
	<xsd:element name="WaterSystemFacilities" type="WaterSystemFacilitiesType"/>
	<xsd:element name="FacilityDetails" type="FacilityDetailsType"/>
	<xsd:complexType name="WaterSystemFacilitiesType">
		<xsd:sequence>
			<xsd:element ref="FacilityDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FacilityDetailsType">
		<xsd:sequence>
			<xsd:element ref="PWSIdentifier"/>
			<xsd:element ref="FacilityIdentifier"/>
			<xsd:element ref="FacilityActivityFlag"/>
			<xsd:element ref="FacilityDeactivationDate" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="SourceFacility"/>
				<xsd:element ref="TreatmentPlantFacility"/>
				<xsd:element ref="OtherFacility"/>
			</xsd:choice>
			<xsd:element ref="MessageStatus" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
