dotnet/opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_EventScheduleActivity_v2.xsd

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 (http://www.xmlspy.com) by 4.0  Installed Multi Suite for 10 users (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_WaterSystemDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_EventScheduleDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_MessageNotification_v2.xsd"/>
	<xsd:element name="EventScheduleActivities" type="EventActivitiesType"/>
	<xsd:element name="EventScheduleActivityDetails" type="EventActivityDetailsType"/>
	<xsd:complexType name="EventActivityDetailsType">
		<xsd:sequence>
			<xsd:element ref="PWSIdentifier"/>
			<xsd:element ref="EventScheduleIdentifier"/>
			<xsd:element ref="EventScheduleActivityIdentifier"/>
			<xsd:element ref="EventActivityCode"/>
			<xsd:element ref="EventActivityAchieveDate" minOccurs="0"/>
			<xsd:element ref="EventActivityDueDate"/>
			<xsd:element ref="EventActivityReasonCode" minOccurs="0"/>
			<xsd:element ref="EventActivityCommentText" minOccurs="0"/>
			<xsd:element ref="MessageStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EventActivitiesType">
		<xsd:sequence>
			<xsd:element ref="EventScheduleActivityDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
