dotnet/opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_WaterSystemFacilityDataTypes_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 (http://www.xmlspy.com) by 4.0  Installed Multi Suite for 10 users (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation=".\SDWA_CodeList.xsd"/>
	<xsd:include schemaLocation=".\SDWA_WaterSystemDataTypes_v2.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Data Type Definitions for Water System Facilities.</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="FacilityIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityStateDatabaseFacilityIdType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityNameType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FacilityActivityFlagType">
		<xsd:choice>
			<xsd:element name="SDWAActivityFlag" type="SDWAActivityFlagCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SourceFacilityTypeCodeType">
		<xsd:choice>
			<xsd:element name="SDWASourceFacilityTypeCode" type="SDWASourceFacilityTypeCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TreatmentFacilityTypeCodeType">
		<xsd:choice>
			<xsd:element name="SDWATreatmentFacilityTypeCode" type="SDWATreatmentFacilityTypeCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="OtherFacilityTypeCodeType">
		<xsd:choice>
			<xsd:element name="SDWAOtherFacilityTypeCode" type="SDWAOtherFacilityTypeCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SourceFacilityWaterTypeCodeType">
		<xsd:choice>
			<xsd:element name="SDWASourceFacilityWaterTypeCode" type="SDWASourceFacilityWaterTypeCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SourceFacilityAvailabilityType">
		<xsd:choice>
			<xsd:element name="SDWASourceFacilityAvailability" type="SDWASourceFacilityAvailabilityType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SourceFacilitySellerTreatmentCodeType">
		<xsd:choice>
			<xsd:element name="SDWASourceFacilitySellerTreatmentCode" type="SDWASourceFacilitySellerTreatmentCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SourceFacilityTreatedCodeType">
		<xsd:choice>
			<xsd:element name="SDWASourceFacilityTreatedCode" type="SDWASourceFacilityTreatedCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SourceFacilityReportedFiltrationStatusType">
		<xsd:choice>
			<xsd:element name="SDWASourceFacilityReportedFiltrationStatus" type="SDWASourceFacilityReportedFiltrationStatusType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FacilityFlowType">
		<xsd:sequence>
			<xsd:element ref="FlowFromFacility"/>
			<xsd:element ref="FlowToFacility"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Data Type Definitions for Different Water System Facilities</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="SourceFacilityType">
		<xsd:sequence>
			<xsd:element ref="FacilityNameText"/>
			<xsd:element ref="FacilityStateDatabaseFacilityId" minOccurs="0"/>
			<xsd:element ref="SourceFacilityTypeCode"/>
			<xsd:element ref="SourceFacilityWaterTypeCode"/>
			<xsd:element ref="SourceFacilityAvailabilityCode"/>
			<xsd:element ref="SourceFacilitySellerPWSIdentifier" minOccurs="0"/>
			<xsd:element ref="SourceFacilitySellerTreatmentCode" minOccurs="0"/>
			<xsd:element ref="SourceFacilityTreatedCode" minOccurs="0"/>
			<xsd:element ref="SourceFacilityReportedFiltrationStatus" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreatmentPlantFacilityType">
		<xsd:sequence>
			<xsd:element ref="FacilityNameText"/>
			<xsd:element ref="FacilityStateDatabaseFacilityId" minOccurs="0"/>
			<xsd:element ref="TreatmentFacilityTypeCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherFacilityType">
		<xsd:sequence>
			<xsd:element ref="FacilityNameText"/>
			<xsd:element ref="FacilityStateDatabaseFacilityId" minOccurs="0"/>
			<xsd:element ref="OtherFacilityTypeCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Global Element Declarations for Water System Facilities.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="FacilityIdentifier" type="FacilityIdentifierDataType"/>
	<xsd:element name="FacilityNameText" type="FacilityNameType"/>
	<xsd:element name="FacilityStateDatabaseFacilityId" type="FacilityStateDatabaseFacilityIdType"/>
	<xsd:element name="FacilityActivityFlag" type="FacilityActivityFlagType"/>
	<xsd:element name="FacilityDeactivationDate" type="xsd:date"/>
	<xsd:element name="SourceFacilityTypeCode" type="SourceFacilityTypeCodeType"/>
	<xsd:element name="TreatmentFacilityTypeCode" type="TreatmentFacilityTypeCodeType"/>
	<xsd:element name="OtherFacilityTypeCode" type="OtherFacilityTypeCodeType"/>
	<xsd:element name="SourceFacilityWaterTypeCode" type="SourceFacilityWaterTypeCodeType"/>
	<xsd:element name="SourceFacilityAvailabilityCode" type="SourceFacilityAvailabilityType"/>
	<xsd:element name="SourceFacilitySellerPWSIdentifier" type="PWSIdentifierType"/>
	<xsd:element name="SourceFacilitySellerTreatmentCode" type="SourceFacilitySellerTreatmentCodeType"/>
	<xsd:element name="SourceFacilityTreatedCode" type="SourceFacilityTreatedCodeType"/>
	<xsd:element name="SourceFacilityReportedFiltrationStatus" type="SourceFacilityReportedFiltrationStatusType"/>
	<xsd:element name="SourceFacility" type="SourceFacilityType"/>
	<xsd:element name="TreatmentPlantFacility" type="TreatmentPlantFacilityType"/>
	<xsd:element name="OtherFacility" type="OtherFacilityType"/>
	<xsd:annotation>
		<xsd:documentation>Global Element Declarations for Facility Flow.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="FacilityFlow" type="FacilityFlowType"/>
	<xsd:element name="FlowFromFacility" type="FacilityIdentifierDataType"/>
	<xsd:element name="FlowToFacility" type="FacilityIdentifierDataType"/>
</xsd:schema>
