dotnet/prod-opennode2-net/plugins/AQS2/xml_schema_v2.2/2/AQS_ELEMENTS/EN_AQS_AreaRepresentedDataElements_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/2" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1">
    <xsd:annotation>
        <xsd:documentation>AQS Area Represented data elements file
		Current Version Available At :
		Description : Schema for the Area Represented data elements
		Application : Air Quality System (AQS) reusable data elements
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		</xsd:documentation>
    </xsd:annotation>
    <!--Data type include files-->
    <xsd:include schemaLocation="AQS_TYPES/EN_AQS_DigitFourStringDataType_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_TYPES/EN_AQS_DigitOneToFourStringDataType_v2.2.xsd"/>
    <!--Area Represented data elements-->
    <xsd:element name="UrbanAreaRepresentedCode" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>The urbanized area from which the concentrations originated (not the location of the monitor).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MSARepresentedCode" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>The Metropolitan Statistical Area (MSA) from which the concentrations originated, not the location of the monitor.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CMSARepresentedCode" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>The Consolidated Metropolitan Statistical Area (CMSA) from which the concentrations originated, not the location of the monitor.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CBSARepresentedCode" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>The Core Based Statistical Area (CBSA) from which the concentrations originated, not the location of the monitor.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CSARepresentedCode" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>The Combined Statistical Area (CSA) from which the concentrations originated, not the location of the monitor.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>
