java/node-plugin/node-plugin-icis-air/src/main/xsd/ICIS_AirComplianceMonitoringStrategy_v5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_AirComplianceMonitoringStrategy_v5.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-Air Compliance Monitoring Strategy data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2014-10-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AirComplianceMonitoringStrategy" type="icis:AirComplianceMonitoringStrategy"/>
	<xsd:element name="AirCMSSourceCategoryCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="AirCMSMinimumFrequency" type="icis:IntegerRange0To9TypeBase"/>
	<xsd:element name="AirActiveCMSPlanIndicator" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="AirCMSStartDate" type="xsd:date"/>
	<xsd:element name="AirRemovedPlanDate" type="xsd:date"/>
	<xsd:element name="AirReasonChangingCMSComments" type="icis:StringMin1Max200Type"/>
	<xsd:complexType name="AirComplianceMonitoringStrategyData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:AirComplianceMonitoringStrategy"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AirComplianceMonitoringStrategy">
		<xsd:complexContent>
			<xsd:extension base="icis:AirComplianceMonitoringStrategyKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:AirCMSSourceCategoryCode" minOccurs="0"/>
					<xsd:element ref="icis:AirCMSMinimumFrequency" minOccurs="0"/>
					<xsd:element ref="icis:AirCMSStartDate" minOccurs="0"/>
					<xsd:element ref="icis:AirActiveCMSPlanIndicator" minOccurs="0"/>
					<xsd:element ref="icis:AirRemovedPlanDate" minOccurs="0"/>
					<xsd:element ref="icis:AirReasonChangingCMSComments" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
