java/node-plugin/node-plugin-icis-air/src/main/xsd/ICIS_ResponseFileSubmissionResponse_v5.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:annotation>
		<xsd:documentation>Schema Name : ICIS_ResponseFileSubmissionResponse_v5.2.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description : The schema that defines the response to an ICIS Batch Submission. The report includes errors, accepted records and a summary of accepted and rejected transactions that were encountered during processing. If a submission does not generate an error or accepted transactions, nothing will be contained in the SubmissionReponse for errors or accepted transactions but there should always be a summary report.</xsd:documentation>
		<xsd:documentation>Developed by : ICIS Full Batch IPT</xsd:documentation>
		<xsd:documentation>Point of Contact : Won Lee, U.S. EPA</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2014-10-27</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="ICIS_ResponseFileShared_v5.2.xsd"/>
	<xsd:include schemaLocation="ICIS_ResponseFileSubmissionErrors_v5.2.xsd"/>
	<xsd:include schemaLocation="ICIS_ResponseFileSubmissionsAccepted_v5.2.xsd"/>
	<xsd:include schemaLocation="ICIS_ResponseFileSubmissionSummary_v5.2.xsd"/>
	<xsd:element name="FileSubmissionErrors" type="icis:FileSubmissionErrorsDataType"/>
	<xsd:element name="FileSubmissionError" type="icis:FileSubmissionErrorDataType"/>
	<xsd:element name="SubmissionResponse" type="icis:SubmissionResponseDataType">
		<xsd:annotation>
			<xsd:documentation>Defines the response to a Submission. The report includes errors, accepted records and a summary of accepted and rejected transactions that were encountered during processing. If a submission does not generate an error or accepted transactions, nothing will be contained in the SubmissionReponse for errors or accepted transactions but there should always be a summary report.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SubmissionResponseDataType">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionIdentifier"/>
			<xsd:element ref="icis:SubmissionDate"/>
			<xsd:element ref="icis:ProcessedDate"/>
			<xsd:element ref="icis:SubmittingParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:FileSubmissionErrors" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubmittingParty" type="icis:SubmittingPartyDataType"/>
	<xsd:complexType name="SubmittingPartyDataType">
		<xsd:sequence>
			<xsd:element ref="icis:UserID"/>
			<xsd:element ref="icis:SubmissionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:BatchTotalTransactions" minOccurs="0"/>
			<xsd:element ref="icis:BatchTotalSubmissions" minOccurs="0"/>
			<xsd:element ref="icis:BatchTotalPercentTransactionsAccepted" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubmissionType" type="icis:SubmissionTypeDataType"/>
	<xsd:complexType name="SubmissionTypeDataType">
		<xsd:sequence>
			<xsd:element ref="icis:SubmissionTypeName"/>
			<xsd:choice>
				<xsd:element ref="icis:SubmissionsAccepted" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="icis:SubmissionErrors" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="icis:SubmissionSummary"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileSubmissionErrorsDataType">
		<xsd:sequence>
			<xsd:element ref="icis:FileSubmissionError" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileSubmissionErrorDataType">
		<xsd:sequence>
			<xsd:element ref="icis:FileErrorReport" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
