java/node-plugin/node-plugin-icis-air/src/main/xsd/ICIS_AirPollutants_v5.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.2.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_AirPollutants_v5.2.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-Air Pollutants data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2014-10-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AirPollutants" type="icis:AirPollutants"/>
	<xsd:element name="AirPollutantStatusIndicator" type="icis:ActiveInactiveType"/>
	<xsd:element name="AirPollutantEPAClassificationData" type="icis:AirPollutantEPAClassificationData"/>
	<xsd:element name="AirPollutantEPAClassificationCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="AirPollutantEPAClassificationStartDate" type="xsd:date"/>
	<xsd:element name="AirPollutantDAClassificationData" type="icis:AirPollutantDAClassificationData"/>
	<xsd:element name="AirPollutantDAClassificationCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="AirPollutantDAClassificationStartDate" type="xsd:date"/>
	<xsd:complexType name="AirPollutantsData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:AirPollutants"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AirPollutants">
		<xsd:complexContent>
			<xsd:extension base="icis:AirPollutantsKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:AirPollutantStatusIndicator" minOccurs="0"/>
					<xsd:element ref="icis:AirPollutantEPAClassificationData" minOccurs="0"/>
					<xsd:element ref="icis:AirPollutantDAClassificationData" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AirPollutantEPAClassificationData">
		<xsd:sequence>
			<xsd:element ref="icis:AirPollutantEPAClassificationCode"/>
			<xsd:element ref="icis:AirPollutantEPAClassificationStartDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AirPollutantDAClassificationData">
		<xsd:sequence>
			<xsd:element ref="icis:AirPollutantDAClassificationCode"/>
			<xsd:element ref="icis:AirPollutantDAClassificationStartDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
