java/node-plugin/node-plugin-icis-air/src/main/xsd/ICIS_AirDAComplianceMonitoring_v5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Contact_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_KeyElements_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_ComplianceMonitoring_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_FederalComplianceMonitoring_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_AirPrograms_v5.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_AirDAComplianceMonitoring_v5.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-Air DA (Delegated Agency) compliance monitoring element data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-Air</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2014-10-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AirDAComplianceMonitoring" type="icis:AirDAComplianceMonitoring"/>
	<xsd:element name="AirStackTestData" type="icis:AirStackTestData"/>
	<xsd:element name="StackIdentifier" type="icis:StringMin1Max100Type"/>
	<xsd:element name="StackTestStatusCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="StackTestPurposeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="OtherStackTestPurposeName" type="icis:StringMin1Max100Type"/>
	<xsd:element name="StackTestObservedAgencyTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="StackTestConductorTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="StackTestReportReceivedDate" type="icis:DateType"/>
	<xsd:element name="TestResultsReviewedDate" type="icis:DateType"/>
	<xsd:element name="TestResultsData" type="icis:TestResultsData"/>
	<xsd:element name="AirTestedPollutantCode" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="TestResultCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="MethodCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="AllowableValue" type="icis:NonNegativeIntegerMin1Max5Type"/>
	<xsd:element name="AllowableUnitCode" type="icis:StringMin1Max7Type"/>
	<xsd:element name="ActualResult" type="icis:NonNegativeIntegerMin1Max5Type"/>
	<xsd:element name="FailureReasonCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="OtherFailureReasonText" type="icis:StringMin1Max50Type"/>
	

	<xsd:complexType name="AirDAComplianceMonitoringData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:AirDAComplianceMonitoring"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AirDAComplianceMonitoring">
		<xsd:complexContent>
			<xsd:extension base="icis:ComplianceMonitoringKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ComplianceMonitoringActivityTypeCode" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceInspectionTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:ComplianceMonitoringActivityName" minOccurs="0"/>
					<xsd:element ref="icis:NationalPrioritiesCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:MultimediaIndicator" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringPlannedStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringPlannedEndDate" minOccurs="0"/>
					<xsd:element ref="icis:RegionalPriorityCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:DeficienciesObservedIndicator" minOccurs="0"/>
					<xsd:element ref="icis:AirFacilityIdentifier" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LeadAgencyCode" minOccurs="0"/>
					<xsd:element ref="icis:ProgramCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:OtherProgramDescriptionText" minOccurs="0"/>
					<xsd:element ref="icis:AirPollutantCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:OtherAgencyInitiativeText" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField6" minOccurs="0"/>
					<xsd:element ref="icis:InspectionContact" minOccurs="0"/>
					<xsd:element ref="icis:InspectionGovernmentContact" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:InspectionCommentText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:SensitiveCommentText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:AirStackTestData" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AirStackTestData">
		<xsd:sequence>
			<xsd:element ref="icis:StackTestStatusCode"/>
			<xsd:element ref="icis:StackTestConductorTypeCode"/>
			<xsd:element ref="icis:StackIdentifier" minOccurs="0"/>
			<xsd:element ref="icis:StackTestPurposeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:OtherStackTestPurposeName" minOccurs="0"/>
			<xsd:element ref="icis:StackTestObservedAgencyTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:StackTestReportReceivedDate" minOccurs="0"/>
			<xsd:element ref="icis:TestResultsReviewedDate" minOccurs="0"/>
			<xsd:element ref="icis:TestResultsData" minOccurs="0" maxOccurs="unbounded"/>					
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TestResultsData">
		<xsd:sequence>
			<xsd:element ref="icis:AirTestedPollutantCode"/>
			<xsd:element ref="icis:TestResultCode" minOccurs="0"/>
			<xsd:element ref="icis:MethodCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:AllowableValue" minOccurs="0"/>
			<xsd:element ref="icis:AllowableUnitCode" minOccurs="0"/>
			<xsd:element ref="icis:ActualResult" minOccurs="0"/>
			<xsd:element ref="icis:FailureReasonCode" minOccurs="0"/>
			<xsd:element ref="icis:OtherFailureReasonText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
