java/Wnos_Plugin/resources/icisnpdes15/xsd/5/ICIS_Key_Elements_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Address_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Key_Elements_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES key element data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="BasicPermitKeyElements" type="icis:BasicPermitKeyElements"/>
	<xsd:element name="PermitIdentifier" type="icis:String9FixedTypeBase"/>
	<xsd:element name="ComplianceMonitoringKeyElements" type="icis:ComplianceMonitoringKeyElements"/>
	<xsd:element name="ComplianceInspectionTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="ComplianceMonitoringDate" type="xsd:date"/>
	<xsd:element name="ComplianceMonitoringPlannedEndDate" type="xsd:date"/>
	<xsd:element name="ComplianceScheduleKeyElements" type="icis:ComplianceScheduleKeyElements"/>
	<xsd:element name="ComplianceScheduleNumber" type="icis:Integer2FixedRange01To99TypeBase"/>
	<xsd:element name="ComplianceScheduleEventKeyElements" type="icis:ComplianceScheduleKeyElements"/>
	<xsd:element name="ComplianceScheduleType" type="icis:ComplianceScheduleFlagType"/>
	<xsd:element name="DischargeMonitoringReportKeyElements" type="icis:DischargeMonitoringReportKeyElements"/>
	<xsd:element name="MonitoringPeriodEndDate" type="xsd:date"/>
	<xsd:element name="DMRViolationKeyElements" type="icis:DMRViolationKeyElements"/>
	<xsd:element name="MonitoringSiteDescriptionCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="EffluentTradePartnerKeyElements" type="icis:ComplianceScheduleKeyElements"/>
	<xsd:element name="TradeID" type="icis:StringMin1Max30TypeBase"/>
	<xsd:element name="NumericReportCode" type="icis:NumericReportTextType"/>
	<xsd:element name="EnforcementActionKeyElements" type="icis:EnforcementActionKeyElements"/>
	<xsd:element name="EnforcementActionIdentifier" type="icis:StringMin1Max20TypeBase"/>
	<xsd:element name="LimitKeyElements" type="icis:LimitKeyElements"/>
	<xsd:element name="LimitSeasonNumber" type="icis:IntegerRange0To12TypeBase"/>
	<xsd:element name="LimitSetKeyElements" type="icis:LimitSetKeyElements"/>
	<xsd:element name="LimitSetDesignator" type="icis:StringMin1Max2TypeBase"/>
	<xsd:element name="NarrativeConditionKeyElements" type="icis:NarrativeConditionKeyElements"/>
	<xsd:element name="NarrativeConditionNumber" type="icis:Integer2FixedRange01To99TypeBase"/>
	<xsd:element name="ParameterLimitKeyElements" type="icis:ParameterLimitKeyElements"/>
	<xsd:element name="ParameterKeyElements" type="icis:ParameterKeyElements"/>
	<xsd:element name="ParameterCode" type="icis:StringMin1Max5TypeBase"/>
	<xsd:element name="PermitScheduleKeyElements" type="icis:PermitScheduleKeyElements"/>
	<xsd:element name="PermitScheduleEventKeyElements" type="icis:PermitScheduleEventKeyElements"/>
	<xsd:element name="PermitScheduleEventViolationKeyElements" type="icis:PermitScheduleEventViolationKeyElements"/>
	<xsd:element name="ScheduleDate" type="xsd:date"/>
	<xsd:element name="ScheduleEventCode" type="icis:StringMin1Max5TypeBase"/>
	<xsd:element name="PermitTrackingEventKeyElements" type="icis:PermitTrackingEventKeyElements"/>
	<xsd:element name="PermitTrackingEventCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="PermitTrackingEventDate" type="xsd:date"/>
	<xsd:element name="PermittedFeatureKeyElements" type="icis:PermittedFeatureKeyElements"/>
	<xsd:element name="ProgramInspectionKeyElements" type="icis:ProgramInspectionKeyElements"/>
	<xsd:element name="ComplianceScheduleEventViolationKeyElements" type="icis:ComplianceScheduleEventViolationKeyElements"/>
	<xsd:element name="ScheduleEventViolationKeyElements" type="icis:ScheduleEventViolationKeyElements"/>
	<xsd:element name="SingleEventKeyElements" type="icis:SingleEventKeyElements"/>
	<xsd:element name="SingleEventViolationCode" type="icis:StringMin1Max5TypeBase"/>
	<xsd:element name="SingleEventViolationDate" type="xsd:date"/>
	<xsd:element name="FacilityLocationAddress" type="icis:LocationAddress"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="BasicPermitKeyElements">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplianceMonitoringKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ComplianceInspectionTypeCode" maxOccurs="unbounded"/>
					<xsd:element ref="icis:ComplianceMonitoringPlannedEndDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringDate" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplianceScheduleKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ComplianceScheduleNumber"/>
					<xsd:element ref="icis:EnforcementActionIdentifier"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplianceScheduleEventKeyElements">
		<xsd:sequence>
			<xsd:element ref="icis:ScheduleEventCode"/>
			<xsd:element ref="icis:ScheduleDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplianceScheduleEventViolationKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:ComplianceScheduleKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ScheduleEventCode"/>
					<xsd:element ref="icis:ScheduleDate"/>
					<xsd:element ref="icis:ScheduleViolationCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DischargeMonitoringReportKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittedFeatureIdentifier"/>
					<xsd:element ref="icis:LimitSetDesignator"/>
					<xsd:element ref="icis:MonitoringPeriodEndDate"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DMRViolationKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittedFeatureIdentifier"/>
					<xsd:element ref="icis:LimitSetDesignator"/>
					<xsd:element ref="icis:MonitoringPeriodEndDate"/>
					<xsd:element ref="icis:ParameterCode"/>
					<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
					<xsd:element ref="icis:LimitSeasonNumber"/>
					<xsd:element ref="icis:NumericReportCode"/>
					<xsd:element ref="icis:NumericReportViolationCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EffluentTradePartnerKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittedFeatureIdentifier"/>
					<xsd:element ref="icis:LimitSetDesignator"/>
					<xsd:element ref="icis:ParameterCode"/>
					<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
					<xsd:element ref="icis:LimitSeasonNumber"/>
					<xsd:element ref="icis:LimitStartDate"/>
					<xsd:element ref="icis:LimitEndDate"/>
					<xsd:element ref="icis:TradeID"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EnforcementActionKeyElements">
		<xsd:sequence>
			<xsd:element ref="icis:EnforcementActionIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LimitKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittedFeatureIdentifier"/>
					<xsd:element ref="icis:LimitSetDesignator"/>
					<xsd:element ref="icis:ParameterCode"/>
					<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
					<xsd:element ref="icis:LimitSeasonNumber"/>
					<xsd:element ref="icis:LimitStartDate"/>
					<xsd:element ref="icis:LimitEndDate"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LimitSetKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittedFeatureIdentifier"/>
					<xsd:element ref="icis:LimitSetDesignator"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NarrativeConditionKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:NarrativeConditionNumber"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParameterLimitKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:LimitSetKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ParameterCode"/>
					<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
					<xsd:element ref="icis:LimitSeasonNumber"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParameterKeyElements">
		<xsd:sequence>
			<xsd:element ref="icis:ParameterCode"/>
			<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
			<xsd:element ref="icis:LimitSeasonNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PermitScheduleKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:NarrativeConditionNumber"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PermitScheduleEventKeyElements">
		<xsd:sequence>
			<xsd:element ref="icis:ScheduleEventCode"/>
			<xsd:element ref="icis:ScheduleDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PermitScheduleEventViolationKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:NarrativeConditionNumber"/>
					<xsd:element ref="icis:ScheduleEventCode"/>
					<xsd:element ref="icis:ScheduleDate"/>
					<xsd:element ref="icis:ScheduleViolationCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PermittedFeatureKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittedFeatureIdentifier"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PermitTrackingEventKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermitTrackingEventCode"/>
					<xsd:element ref="icis:PermitTrackingEventDate"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProgramInspectionKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ComplianceInspectionTypeCode" maxOccurs="unbounded"/>
						<xsd:choice>
							<xsd:element ref="icis:ComplianceMonitoringPlannedEndDate"/>
							<xsd:element ref="icis:ComplianceMonitoringDate"/>
						</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ScheduleEventViolationKeyElements">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="icis:PermitScheduleEventViolationKeyElements"/>
				<xsd:element ref="icis:ComplianceScheduleEventViolationKeyElements"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SingleEventKeyElements">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:SingleEventViolationCode"/>
					<xsd:element ref="icis:SingleEventViolationDate"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
