java/Wnos_Plugin/resources/icisnpdes15/xsd/5/ICIS_Biosolids_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Biosolids_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: biosolids shared amount data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AnnualDrySludgeProductionNumber" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="BeneficiallyUsedOutOfStateAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="CodisposedInMSWLandfillAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="DisposedOutOfStateAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="EQProductDistributedMarketedAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="IncineratedAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="LandAppliedAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="ManagedOtherMethodsAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="ManagedOtherMethodsOutOfStateAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="ReceivedOffsiteSourcesAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="SurfaceDisposalAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="TotalRemovedAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="TransferredAmount" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:group name="BiosolidsAmountGroup">
		<xsd:sequence>
			<xsd:element ref="icis:EQProductDistributedMarketedAmount" minOccurs="0"/>
			<xsd:element ref="icis:LandAppliedAmount" minOccurs="0"/>
			<xsd:element ref="icis:IncineratedAmount" minOccurs="0"/>
			<xsd:element ref="icis:CodisposedInMSWLandfillAmount" minOccurs="0"/>
			<xsd:element ref="icis:SurfaceDisposalAmount" minOccurs="0"/>
			<xsd:element ref="icis:ManagedOtherMethodsAmount" minOccurs="0"/>
			<xsd:element ref="icis:ReceivedOffsiteSourcesAmount" minOccurs="0"/>
			<xsd:element ref="icis:TransferredAmount" minOccurs="0"/>
			<xsd:element ref="icis:DisposedOutOfStateAmount" minOccurs="0"/>
			<xsd:element ref="icis:BeneficiallyUsedOutOfStateAmount" minOccurs="0"/>
			<xsd:element ref="icis:ManagedOtherMethodsOutOfStateAmount" minOccurs="0"/>
			<xsd:element ref="icis:TotalRemovedAmount" minOccurs="0"/>
			<xsd:element ref="icis:AnnualDrySludgeProductionNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
