prod-opennode2-net/plugins/HERE/xml_schema/FACID (FRS)/2/3/FACID_EnvironmentalInterestList_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:facid="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:include schemaLocation=".\FACID_EnvironmentalInterestDetails_v2.3.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_EnvironmentalInterestList_v2.3
		Current Version Available At :
		Description : 	Environmental Interest schema for Data transfer.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="EnvironmentalInterestList" type="facid:EnvironmentalInterestList"/>
	<xsd:complexType name="EnvironmentalInterestList">
		<xsd:sequence>
			<xsd:element ref="facid:EnvironmentalInterestDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="EnvironmentalInterestDetails" type="facid:EnvironmentalInterestDetails"/>
</xsd:schema>
