prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_CAFOAnnualProgramReport_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CAFO_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CAFOAnnualProgramReport_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES CAFO annual report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Jay Stubbs, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: December 2024</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2024-12-05</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CAFOAnnualProgramReport" type="icis:CAFOAnnualProgramReport"/>
	<xsd:element name="NutrientManagementPlanAcreageNumber" type="icis:DecimalRange0To999999.99Type"/>
	<xsd:element name="ActualLandApplicationAcreageNumber" type="icis:DecimalRange0To999999.99Type"/>
	<xsd:element name="NMPCertifiedPlannerIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:complexType name="CAFOAnnualProgramReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:CAFOAnnualProgramReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CAFOAnnualProgramReport">
		<xsd:complexContent>
			<xsd:extension base="icis:CAFOAnnualProgramReportKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ProgramReportFormID" minOccurs="0"/>
					<xsd:element ref="icis:ProgramReportReceivedDate" minOccurs="0"/>
					<xsd:element ref="icis:ProgramReportStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ProgramReportEndDate" minOccurs="0"/>
					<xsd:element ref="icis:ElectronicSubmissionTypeCode" minOccurs="0"/>
					<xsd:element ref="icis:ProgramReportNPDESDataGroupNumberCode" minOccurs="0"/>
					<xsd:element ref="icis:NutrientManagementPlanAcreageNumber" minOccurs="0"/>
					<xsd:element ref="icis:ActualLandApplicationAcreageNumber" minOccurs="0"/>
					<xsd:element ref="icis:NMPCertifiedPlannerIndicator" minOccurs="0"/>
					<xsd:element ref="icis:AnimalType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:CAFOMLPWTotalAmounts" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:CAFOMLPWNutrientMonitoring" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:CAFOProductionAreaDischarge" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:CAFOLandApplicationFieldInformation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>