prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_PermittedFeature_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_Contact_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_GeographicCoordinates_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_Status_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SW_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_PermittedFeature_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES permitted feature data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Jay Stubbs, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2024-06-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="PermittedFeature" type="icis:PermittedFeature"/>
	<xsd:element name="CoolingWaterIntakeStructureInformation" type="icis:CoolingWaterIntakeStructureInformation"/>
	<xsd:element name="CoolingWaterIntakeStructureApplicableSubpart" type="icis:IntegerRange0To8Type"/>
	<xsd:element name="CoolingWaterIntakeStructureComplianceMethod" type="icis:CoolingWaterIntakeStructureComplianceMethod"/>
	<xsd:element name="CoolingWaterIntakeStructureLocation" type="icis:CoolingWaterIntakeStructureLocation"/>
	<xsd:element name="CoolingWaterIntakeStructureSourceWater" type="icis:CoolingWaterIntakeStructureSourceWater"/>
	<xsd:element name="CoolingWaterIntakeStructureDesignIntakeFlow" type="icis:NonNegativeDecimal8FloatingType"/>
	<xsd:element name="CoolingWaterIntakeStructureActualIntakeFlow" type="icis:NonNegativeDecimal8FloatingType"/>
	<xsd:element name="CoolingWaterActualIntakeStructureVelocity" type="icis:DecimalRange0To9999.99Type"/>
	<xsd:element name="CoolingWaterIntakeStructureComplianceMethodCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CoolingWaterIntakeStructureComplianceMethodText" type="icis:StringMin1Max500Type"/>
	<xsd:element name="CoolingWaterIntakeStructureLocationCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CoolingWaterIntakeStructureLocationText" type="icis:StringMin1Max500Type"/>
	<xsd:element name="CoolingWaterIntakeStructureSourceWaterCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CoolingWaterIntakeStructureSourceWaterText" type="icis:StringMin1Max500Type"/>
	<xsd:element name="DoesUnitHaveDailyCover" type="icis:YesNoIndicatorType"/>
	<xsd:element name="FieldSize" type="icis:NonNegativeIntegerMin1Max3Type"/>
	<xsd:element name="IsRequiredNitrateGroundWater" type="icis:YesNoIndicatorType"/>
	<xsd:element name="IsSiteOwnByFacility" type="icis:YesNoIndicatorType"/>
	<xsd:element name="IsSystemLinedWithLeachate" type="icis:YesNoIndicatorType"/>
	<xsd:element name="PermittedFeatureActualAverageFlowNumber" type="icis:NonNegativeDecimal8FloatingType"/>
	<xsd:element name="PermittedFeatureCharacteristics" type="icis:StringMin1Max3Type"/>
	<xsd:element name="PermittedFeatureDescription" type="icis:StringMin1Max100Type"/>
	<xsd:element name="PermittedFeatureDesignFlowNumber" type="icis:NonNegativeDecimal8FloatingType"/>
	<xsd:element name="PermittedFeatureStateWaterBodyCode" type="icis:StringMin1Max12Type"/>
	<xsd:element name="PermittedFeatureStateWaterBodyName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="PermittedFeatureTreatmentTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="PermittedFeatureTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="PermittedFeatureUserDefinedDataElement1" type="icis:StringMin1Max30Type"/>
	<xsd:element name="PermittedFeatureUserDefinedDataElement2" type="icis:StringMin1Max30Type"/>
	<xsd:element name="PropertyBoundaryDistance" type="icis:NonNegativeIntegerMin1Max3Type"/>
	<xsd:element name="SourcePermittedFeatureDetailText" type="icis:StringMin1Max200Type"/>
	<xsd:element name="WellNumber" type="icis:NonNegativeIntegerMin1Max5Type"/>
	<xsd:element name="PollutantList" type="icis:PollutantList"/>
	<xsd:element name="ImpairedWaterPollutants" type="icis:ImpairedWaterPollutants"/>
	<xsd:element name="ImpairedWaterPollutantCode" type="icis:NonNegativeIntegerMin1Max10TypeBase"/>
	<xsd:element name="SourceWaterBaselineBiologicalCharacterization" type="icis:StringMin1Max8000Type"/>
	<xsd:element name="TMDLPollutants" type="icis:TMDLPollutants"/>
	<xsd:element name="TMDLIdentifier" type="icis:StringMin1Max6TypeBase"/>
	<xsd:element name="TMDLName" type="icis:StringMin1Max100TypeBase"/>
	<xsd:element name="TMDLPollutantCode" type="icis:NonNegativeIntegerMin1Max10TypeBase"/>
	<xsd:element name="TierLevelName" type="icis:TierLevelType"/>
	<xsd:complexType name="PermittedFeatureData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:PermittedFeature"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PermittedFeature">
		<xsd:complexContent>
			<xsd:extension base="icis:PermittedFeatureKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittedFeatureTypeCode" minOccurs="0"/>
					<xsd:element ref="icis:PermittedFeatureCharacteristics" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:PermittedFeatureDescription" minOccurs="0"/>
					<xsd:element ref="icis:PermittedFeatureTreatmentTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:PermittedFeatureDesignFlowNumber" minOccurs="0"/>
					<xsd:element ref="icis:PermittedFeatureActualAverageFlowNumber" minOccurs="0"/>
					<xsd:element ref="icis:PermittedFeatureStateWaterBodyCode" minOccurs="0"/>
					<xsd:element ref="icis:PermittedFeatureStateWaterBodyName" minOccurs="0"/>
					<xsd:element ref="icis:TierLevelName" minOccurs="0"/>
					<xsd:element ref="icis:ImpairedWaterIndicator" minOccurs="0"/>
					<xsd:element ref="icis:TMDLCompletedIndicator" minOccurs="0"/>
					<xsd:element ref="icis:PollutantList" minOccurs="0"/>
					<xsd:element ref="icis:PermittedFeatureUserDefinedDataElement1" minOccurs="0"/>
					<xsd:element ref="icis:PermittedFeatureUserDefinedDataElement2" minOccurs="0"/>
					<xsd:element ref="icis:FieldSize" minOccurs="0"/>
					<xsd:element ref="icis:IsSiteOwnByFacility" minOccurs="0"/>
					<xsd:element ref="icis:IsSystemLinedWithLeachate" minOccurs="0"/>
					<xsd:element ref="icis:DoesUnitHaveDailyCover" minOccurs="0"/>
					<xsd:element ref="icis:PropertyBoundaryDistance" minOccurs="0"/>
					<xsd:element ref="icis:IsRequiredNitrateGroundWater" minOccurs="0"/>
					<xsd:element ref="icis:WellNumber" minOccurs="0"/>
					<xsd:element ref="icis:GeographicCoordinates" minOccurs="0"/>
					<xsd:element ref="icis:SourcePermittedFeatureDetailText" minOccurs="0"/>
					<xsd:element ref="icis:CoolingWaterIntakeStructureInformation" minOccurs="0"/>
					<xsd:element ref="icis:SiteOwnerContact" minOccurs="0"/>
					<xsd:element ref="icis:SiteOwnerAddress" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PollutantList">
		<xsd:sequence>
			<xsd:element ref="icis:ImpairedWaterPollutants" minOccurs="0"/>
			<xsd:element ref="icis:TMDLPollutants" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ImpairedWaterPollutants">
		<xsd:sequence>
			<xsd:element ref="icis:ImpairedWaterPollutantCode" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TMDLPollutants">
		<xsd:sequence>
			<xsd:element ref="icis:TMDLIdentifier"/>
			<xsd:element ref="icis:TMDLName"/>
			<xsd:element ref="icis:TMDLPollutantCode" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CoolingWaterIntakeStructureInformation">
		<xsd:sequence>
			<xsd:element ref="icis:CoolingWaterIntakeStructureApplicableSubpart" minOccurs="0"/>
			<xsd:element ref="icis:CoolingWaterIntakeStructureComplianceMethod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:CoolingWaterIntakeStructureLocation" minOccurs="0"/>
			<xsd:element ref="icis:CoolingWaterIntakeStructureSourceWater" minOccurs="0"/>
			<xsd:element ref="icis:CoolingWaterIntakeStructureDesignIntakeFlow" minOccurs="0"/>
			<xsd:element ref="icis:CoolingWaterIntakeStructureActualIntakeFlow" minOccurs="0"/>
			<xsd:element ref="icis:CoolingWaterActualIntakeStructureVelocity" minOccurs="0"/>
			<xsd:element ref="icis:SourceWaterBaselineBiologicalCharacterization" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CoolingWaterIntakeStructureComplianceMethod">
		<xsd:sequence>
			<xsd:element ref="icis:CoolingWaterIntakeStructureComplianceMethodCode"/>
			<xsd:element ref="icis:CoolingWaterIntakeStructureComplianceMethodText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CoolingWaterIntakeStructureLocation">
		<xsd:sequence>
			<xsd:element ref="icis:CoolingWaterIntakeStructureLocationCode"/>
			<xsd:element ref="icis:CoolingWaterIntakeStructureLocationText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CoolingWaterIntakeStructureSourceWater">
		<xsd:sequence>
			<xsd:element ref="icis:CoolingWaterIntakeStructureSourceWaterCode"/>
			<xsd:element ref="icis:CoolingWaterIntakeStructureSourceWaterText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>