prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_CollectionSystemPermit_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Common_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CollectionSystemPermit_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: Collection system permit data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Jay Stubbs, U.S. EPA</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2024-06-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CollectionSystemPermit" type="icis:CollectionSystemPermit"/>
	<xsd:element name="CollectionSystemName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="CollectionSystemOwnerTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CollectionSystemPopulation" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="PercentCollectionSystemCSS" type="icis:PercentRange0To100Type"/>
	<xsd:complexType name="CollectionSystemPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:CollectionSystemPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CollectionSystemPermit">
		<xsd:complexContent>
			<xsd:extension base="icis:CollectionSystemKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:CollectionSystemName" minOccurs="0"/>
					<xsd:element ref="icis:CollectionSystemOwnerTypeCode" minOccurs="0"/>
					<xsd:element ref="icis:CollectionSystemPopulation" minOccurs="0"/>
					<xsd:element ref="icis:PercentCollectionSystemCSS" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
