prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by William Rensmith (Windsor Solutions, Inc) -->
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_BasicPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_BiosolidsAnnualProgramReport_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_BiosolidsPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CaseFileLinkage_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CAFOAnnualProgramReport_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CAFOPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CollectionSystemPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_Common_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_ComplianceMonitoring_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_ComplianceMonitoringLinkage_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_ComplianceSchedule_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CopyMGPLimitSet_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CopyMGPMS4Requirement.xsd"/>
	<xsd:include schemaLocation="ICIS_CSOLongTermControlPlan_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CWA316bProgramReport_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_DischargeMonitoringReport_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_DischargeMonitoringReportViolation_v5.14.xsd"/>
	<!--<xsd:include schemaLocation="ICIS_DMRProgramReportLinkage_v5.14.xsd"/>-->
	<xsd:include schemaLocation="ICIS_EffluentTradePartner_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_EnforcementActionMilestone_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_EnforcementActionViolationLinkage_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_FinalOrderViolationLinkage_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_FormalEnforcementAction_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_GeneralPermitCoveredFacility_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_Header_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_HistoricalPermitScheduleEvents_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_InformalEnforcementAction_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_Limits_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_LimitSet_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_MasterGeneralPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_NarrativeConditionSchedule_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_NPDESVariancePermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_ParameterLimits_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_PermitReissuance_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_PermittedFeature_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_PermitTermination_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_PermitTrackingEvent_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_POTWPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_POTWTreatmentTechnologyPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_PretreatmentPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_PretreatmentProgramReport_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_ResponseFileSubmissionResponse_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_ScheduleEventViolation_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SewerOverflowBypassEventReport_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SingleEventViolation_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SWConstructionPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SWIndustrialPermit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SWIndustrialAnnualReport_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SWMS4Permit_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SWMS4AnnualProgramReport_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_UnpermittedFacility_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES main schema</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Jay Stubbs, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2024-12-05</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Document">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="icis:HeaderData"/>
				<xsd:element name="Payload" type="icis:PayloadData" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PayloadData">
		<xsd:choice>
			<xsd:element name="BasicPermitData" type="icis:BasicPermitData" maxOccurs="unbounded"/>
			<xsd:element name="BiosolidsAnnualProgramReportData" type="icis:BiosolidsAnnualProgramReportData" maxOccurs="unbounded"/>
			<xsd:element name="BiosolidsPermitData" type="icis:BiosolidsPermitData" maxOccurs="unbounded"/>
			<xsd:element name="CaseFileLinkageData" type="icis:CaseFileLinkageData" maxOccurs="unbounded"/>
			<xsd:element name="CAFOAnnualProgramReportData" type="icis:CAFOAnnualProgramReportData" maxOccurs="unbounded"/>
			<xsd:element name="CAFOPermitData" type="icis:CAFOPermitData" maxOccurs="unbounded"/>
			<xsd:element name="CollectionSystemPermitData" type="icis:CollectionSystemPermitData" maxOccurs="unbounded"/>
			<xsd:element name="ComplianceMonitoringData" type="icis:ComplianceMonitoringData" maxOccurs="unbounded"/>
			<xsd:element name="ComplianceMonitoringLinkageData" type="icis:ComplianceMonitoringLinkageData" maxOccurs="unbounded"/>
			<xsd:element name="ComplianceScheduleData" type="icis:ComplianceScheduleData" maxOccurs="unbounded"/>
			<xsd:element name="CopyMGPLimitSetData" type="icis:CopyMGPLimitSetData" maxOccurs="unbounded"/>
			<xsd:element name="CopyMGPMS4RequirementData" type="icis:CopyMGPMS4RequirementData" maxOccurs="unbounded"/>
			<xsd:element name="CSOLongTermControlPlanData" type="icis:CSOLongTermControlPlanData" maxOccurs="unbounded"/>
			<xsd:element name="CWA316bProgramReportData" type="icis:CWA316bProgramReportData" maxOccurs="unbounded"/>
			<xsd:element name="DischargeMonitoringReportData" type="icis:DischargeMonitoringReportData" maxOccurs="unbounded"/>
			<!--<xsd:element name="DMRProgramReportLinkageData" type="icis:DMRProgramReportLinkageData" maxOccurs="unbounded"/>-->
			<xsd:element name="DMRViolationData" type="icis:DMRViolationData" maxOccurs="unbounded"/>
			<xsd:element name="EffluentTradePartnerData" type="icis:EffluentTradePartnerData" maxOccurs="unbounded"/>
			<xsd:element name="EnforcementActionMilestoneData" type="icis:EnforcementActionMilestoneData" maxOccurs="unbounded"/>
			<xsd:element name="EnforcementActionViolationLinkageData" type="icis:EnforcementActionViolationLinkageData" maxOccurs="unbounded"/>
			<xsd:element name="FinalOrderViolationLinkageData" type="icis:FinalOrderViolationLinkageData" maxOccurs="unbounded"/>
			<xsd:element name="FormalEnforcementActionData" type="icis:FormalEnforcementActionData" maxOccurs="unbounded"/>
			<xsd:element name="GeneralPermitData" type="icis:GeneralPermitData" maxOccurs="unbounded"/>
			<xsd:element name="HistoricalPermitScheduleEventsData" type="icis:HistoricalPermitScheduleEventsData" maxOccurs="unbounded"/>
			<xsd:element name="InformalEnforcementActionData" type="icis:InformalEnforcementActionData" maxOccurs="unbounded"/>
			<xsd:element name="LimitsData" type="icis:LimitsData" maxOccurs="unbounded"/>
			<xsd:element name="LimitSetData" type="icis:LimitSetData" maxOccurs="unbounded"/>
			<xsd:element name="MasterGeneralPermitData" type="icis:MasterGeneralPermitData" maxOccurs="unbounded"/>
			<xsd:element name="NarrativeConditionScheduleData" type="icis:NarrativeConditionScheduleData" maxOccurs="unbounded"/>
			<xsd:element name="NPDESVariancePermitData" type="icis:NPDESVariancePermitData" maxOccurs="unbounded"/>
			<xsd:element name="ParameterLimitsData" type="icis:ParameterLimitsData" maxOccurs="unbounded"/>
			<xsd:element name="PermitReissuanceData" type="icis:PermitReissuanceData" maxOccurs="unbounded"/>
			<xsd:element name="PermittedFeatureData" type="icis:PermittedFeatureData" maxOccurs="unbounded"/>
			<xsd:element name="PermitTerminationData" type="icis:PermitTerminationData" maxOccurs="unbounded"/>
			<xsd:element name="PermitTrackingEventData" type="icis:PermitTrackingEventData" maxOccurs="unbounded"/>
			<xsd:element name="POTWPermitData" type="icis:POTWPermitData" maxOccurs="unbounded"/>
			<xsd:element name="POTWTreatmentTechnologyPermitData" type="icis:POTWTreatmentTechnologyPermitData" maxOccurs="unbounded"/>
			<xsd:element name="PretreatmentPermitData" type="icis:PretreatmentPermitData" maxOccurs="unbounded"/>
			<xsd:element name="PretreatmentProgramReportData" type="icis:PretreatmentProgramReportData" maxOccurs="unbounded"/>
			<xsd:element name="ScheduleEventViolationData" type="icis:ScheduleEventViolationData" maxOccurs="unbounded"/>
			<xsd:element name="SewerOverflowBypassEventReportData" type="icis:SewerOverflowBypassEventReportData" maxOccurs="unbounded"/>
			<xsd:element name="SingleEventViolationData" type="icis:SingleEventViolationData" maxOccurs="unbounded"/>
			<xsd:element name="SWConstructionPermitData" type="icis:SWConstructionPermitData" maxOccurs="unbounded"/>
			<xsd:element name="SWIndustrialAnnualReportData" type="icis:SWIndustrialAnnualReportData" maxOccurs="unbounded"/>
			<xsd:element name="SWIndustrialPermitData" type="icis:SWIndustrialPermitData" maxOccurs="unbounded"/>
			<xsd:element name="SWMS4PermitData" type="icis:SWMS4PermitData" maxOccurs="unbounded"/>
			<xsd:element name="SWMS4AnnualProgramReportData" type="icis:SWMS4AnnualProgramReportData" maxOccurs="unbounded"/>
			<xsd:element name="UnpermittedFacilityData" type="icis:UnpermittedFacilityData" maxOccurs="unbounded"/>
		</xsd:choice>
		<xsd:attribute name="Operation" type="icis:OperationType" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="OperationType">
		<xsd:restriction base="xsd:string">
			<!--<xsd:enumeration value="AirComplianceMonitoringStrategySubmission"/>
			<xsd:enumeration value="AirDACaseFileSubmission"/>
			<xsd:enumeration value="AirDAComplianceMonitoringSubmission"/>
			<xsd:enumeration value="AirDAEnforcementActionLinkageSubmission"/>
			<xsd:enumeration value="AirDAEnforcementActionMilestoneSubmission"/>
			<xsd:enumeration value="AirDAFormalEnforcementActionSubmission"/>
			<xsd:enumeration value="AirDAInformalEnforcementActionSubmission"/>
			<xsd:enumeration value="AirFacilitySubmission"/>
			<xsd:enumeration value="AirPollutantsSubmission"/>
			<xsd:enumeration value="AirProgramsSubmission"/>
			<xsd:enumeration value="AirTVACCSubmission"/>-->
			<xsd:enumeration value="BasicPermitSubmission"/>
			<xsd:enumeration value="BiosolidsAnnualProgramReportSubmission"/>
			<xsd:enumeration value="BiosolidsPermitSubmission"/>
			<!--<xsd:enumeration value="BiosolidsProgramReportSubmission"/>-->
			<xsd:enumeration value="CaseFileLinkageSubmission"/>
			<xsd:enumeration value="CAFOAnnualProgramReportSubmission"/>
<!--			<xsd:enumeration value="CAFOAnnualReportSubmission"/>-->
			<xsd:enumeration value="CAFOPermitSubmission"/>
			<xsd:enumeration value="CollectionSystemPermitSubmission"/>
			<xsd:enumeration value="ComplianceMonitoringLinkageSubmission"/>
			<xsd:enumeration value="ComplianceMonitoringSubmission"/>
			<xsd:enumeration value="ComplianceScheduleSubmission"/>
			<xsd:enumeration value="CopyMGPLimitSetSubmission"/>
			<xsd:enumeration value="CopyMGPMS4RequirementSubmission"/>
<!--			<xsd:enumeration value="CSOEventReportSubmission"/>-->
			<xsd:enumeration value="CSOLongTermControlPlanSubmission"/>
			<!--<xsd:enumeration value="CSOPermitSubmission"/>-->
			<xsd:enumeration value="CWA316bProgramReportSubmission"/>
			<xsd:enumeration value="DischargeMonitoringReportSubmission"/>
			<xsd:enumeration value="DMRProgramReportLinkageSubmission"/>
			<xsd:enumeration value="DMRViolationSubmission"/>
			<xsd:enumeration value="EffluentTradePartnerSubmission"/>
			<xsd:enumeration value="EnforcementActionMilestoneSubmission"/>
			<xsd:enumeration value="EnforcementActionViolationLinkageSubmission"/>
			<!--<xsd:enumeration value="FederalComplianceMonitoringSubmission"/>-->
			<xsd:enumeration value="FinalOrderViolationLinkageSubmission"/>
			<xsd:enumeration value="FormalEnforcementActionSubmission"/>
			<xsd:enumeration value="GeneralPermitSubmission"/>
			<xsd:enumeration value="HistoricalPermitScheduleEventsSubmission"/>
			<xsd:enumeration value="InformalEnforcementActionSubmission"/>
			<xsd:enumeration value="LimitSetSubmission"/>
			<xsd:enumeration value="LimitsSubmission"/>
			<!--<xsd:enumeration value="LocalLimitsProgramReportSubmission"/>-->
			<xsd:enumeration value="MasterGeneralPermitSubmission"/>
			<xsd:enumeration value="NarrativeConditionScheduleSubmission"/>
			<xsd:enumeration value="NPDESVariancePermitSubmission"/>
			<xsd:enumeration value="ParameterLimitsSubmission"/>
			<xsd:enumeration value="PermitReissuanceSubmission"/>
			<xsd:enumeration value="PermittedFeatureSubmission"/>
			<xsd:enumeration value="PermitTerminationSubmission"/>
			<xsd:enumeration value="PermitTrackingEventSubmission"/>
			<xsd:enumeration value="POTWPermitSubmission"/>
			<xsd:enumeration value="POTWTreatmentTechnologyPermitSubmission"/>
			<!--<xsd:enumeration value="PretreatmentPerformanceSummarySubmission"/>-->
			<xsd:enumeration value="PretreatmentPermitSubmission"/>
			<xsd:enumeration value="PretreatmentProgramReportSubmission"/>
			<xsd:enumeration value="ScheduleEventViolationSubmission"/>
			<xsd:enumeration value="SewerOverflowBypassEventReportSubmission"/>
			<xsd:enumeration value="SingleEventViolationSubmission"/>
<!--			<xsd:enumeration value="SSOAnnualReportSubmission"/>
			<xsd:enumeration value="SSOEventReportSubmission"/>
			<xsd:enumeration value="SSOMonthlyEventReportSubmission"/>
-->			
		    <xsd:enumeration value="SWConstructionPermitSubmission"/>
			<!--<xsd:enumeration value="SWEventReportSubmission"/>-->
			<xsd:enumeration value="SWIndustrialAnnualReportSubmission"/>
			<xsd:enumeration value="SWIndustrialPermitSubmission"/>
<!--			<xsd:enumeration value="SWMS4LargePermitSubmission"/>-->
			<xsd:enumeration value="SWMS4PermitSubmission"/>
			<!--<xsd:enumeration value="SWMS4ProgramReportSubmission"/>-->
			<xsd:enumeration value="SWMS4AnnualProgramReportSubmission"/>
			<!--<xsd:enumeration value="SWMS4SmallPermitSubmission"/>-->
			<xsd:enumeration value="UnpermittedFacilitySubmission"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
