prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_POTWTreatmentTechnologyPermit_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Common_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_POTWTreatmentTechnologyPermit_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: POTW treatment technology permit data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Jay Stubbs, U.S. EPA</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2024-06-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="POTWTreatmentTechnologyPermit" type="icis:POTWTreatmentTechnologyPermit"/>
	<xsd:element name="WastewaterFlowTreatmentTechnology" type="icis:WastewaterFlowTreatmentTechnology"/>
	<xsd:element name="POTWTreatmentLevel" type="icis:POTWTreatmentLevel"/>
	<xsd:element name="POTWWastewaterDisinfectionTechnology" type="icis:POTWWastewaterDisinfectionTechnology"/>
	<xsd:element name="POTWWastewaterTreatmentTechnologyUnitOperations" type="icis:POTWWastewaterTreatmentTechnologyUnitOperations"/>
	<xsd:element name="POTWTreatmentLevelCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="POTWTreatmentLevelOtherText" type="icis:StringMin1Max100Type"/>
	<xsd:element name="POTWWastewaterDisinfectionTechnologyCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="POTWWastewaterDisinfectionTechnologyOtherText" type="icis:StringMin1Max100Type"/>
	<xsd:element name="POTWWastewaterTreatmentTechnologyUnitOperationCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="POTWWastewaterTreatmentTechnologyUnitOperationOtherText" type="icis:StringMin1Max100Type"/>
	<xsd:complexType name="POTWTreatmentTechnologyPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:POTWTreatmentTechnologyPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POTWTreatmentTechnologyPermit">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:WastewaterFlowTreatmentTechnology" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WastewaterFlowTreatmentTechnology">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element ref="icis:POTWTreatmentLevel" minOccurs="0"/>
			<xsd:element ref="icis:POTWWastewaterDisinfectionTechnology" minOccurs="0"/>
			<xsd:element ref="icis:POTWWastewaterTreatmentTechnologyUnitOperations" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POTWTreatmentLevel">
		<xsd:sequence>
			<xsd:element ref="icis:POTWTreatmentLevelCode" minOccurs="0"/>
			<xsd:element ref="icis:POTWTreatmentLevelOtherText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POTWWastewaterDisinfectionTechnology">
		<xsd:sequence>
			<xsd:element ref="icis:POTWWastewaterDisinfectionTechnologyCode" minOccurs="0"/>
			<xsd:element ref="icis:POTWWastewaterDisinfectionTechnologyOtherText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POTWWastewaterTreatmentTechnologyUnitOperations">
		<xsd:sequence>
			<xsd:element ref="icis:POTWWastewaterTreatmentTechnologyUnitOperationCode" minOccurs="0"/>
			<xsd:element ref="icis:POTWWastewaterTreatmentTechnologyUnitOperationOtherText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
