prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_CAFOPermit_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CAFO_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CAFOPermit_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES CAFO permit data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CAFOPermit" type="icis:CAFOPermit"/>
	<xsd:element name="LegalDescriptionText" type="icis:StringMin1Max100Type"/>
	<xsd:complexType name="CAFOPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:CAFOPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CAFOPermit">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:group ref="icis:CAFOClassificationGroup" minOccurs="0"/>
					<xsd:element ref="icis:AnimalType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:ConfinementContainmentGroup" minOccurs="0"/>
					<xsd:group ref="icis:DrainageApplicationGroup" minOccurs="0"/>
					<xsd:group ref="icis:AnimalNMPLitterGroup" minOccurs="0"/>
					<xsd:group ref="icis:NMPDetailsGroup" minOccurs="0"/>
					<xsd:group ref="icis:EMSGroup" minOccurs="0"/>
					<xsd:element ref="icis:LandApplicationBMP" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:CapacityGroup" minOccurs="0"/>
					<xsd:element ref="icis:LegalDescriptionText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
