prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_BiosolidsPermit_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Contact_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_Biosolids_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_BiosolidsPermit_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES biosolid permit data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="BiosolidsEndUseDisposalTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="BiosolidsPermit" type="icis:BiosolidsPermit"/>
	<xsd:element name="BiosolidsTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:complexType name="BiosolidsPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:BiosolidsPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BiosolidsPermit">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:BiosolidsTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:BiosolidsEndUseDisposalTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:BiosolidsAmountGroup" minOccurs="0"/>
					<xsd:element ref="icis:BiosolidsPermitContact" minOccurs="0"/>
					<xsd:element ref="icis:BiosolidsPermitAddress" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
