prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_SWEventReport_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_SW_v5.14.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_SWEventReport_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES stormwater event report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="SWEventReport" type="icis:SWEventReport"/>
	<xsd:element name="DurationSinceLastStormEvent" type="icis:NonNegativeIntegerMin1Max3Type"/>
	<xsd:element name="DurationStormEventSampled" type="icis:HourMinuteType"/>
	<xsd:element name="EssentiallyIdenticalOutfallNotification" type="icis:StringMin1Max50Type"/>
	<xsd:element name="MonitoringExemptionRationaleIndicator" type="icis:StringMin1Max3Type"/>
	<xsd:element name="PollutantMonitoringBasisCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="PrecipitationForm" type="icis:PrecipitationFormType"/>
	<xsd:element name="RainfallStormEventSampledNumber" type="icis:DecimalRange0To999.9Type"/>
	<xsd:element name="SampleTakenWithinTimeframeIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="SamplingBasisIndicator" type="icis:SamplingBasisType"/>
	<xsd:element name="TimeExceedanceRationaleCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="VolumeDischargeSample" type="icis:NonNegativeIntegerMin1Max3Type"/>
	
	<xsd:complexType name="SWEventReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:SWEventReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWEventReport">
		<xsd:complexContent>
			<xsd:extension base="icis:SWEventReportKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittedFeatureIdentifier" minOccurs="0"/>
					<xsd:element ref="icis:RainfallStormEventSampledNumber" minOccurs="0"/>
					<xsd:element ref="icis:DurationStormEventSampled" minOccurs="0"/>
					<xsd:element ref="icis:VolumeDischargeSample" minOccurs="0"/>
					<xsd:element ref="icis:DurationSinceLastStormEvent" minOccurs="0"/>
					<xsd:element ref="icis:SamplingBasisIndicator" minOccurs="0"/>
					<xsd:element ref="icis:PrecipitationForm" minOccurs="0"/>
					<xsd:element ref="icis:SampleTakenWithinTimeframeIndicator" minOccurs="0"/>
					<xsd:element ref="icis:TimeExceedanceRationaleCode" minOccurs="0"/>
					<xsd:element ref="icis:EssentiallyIdenticalOutfallNotification" minOccurs="0"/>
					<xsd:element ref="icis:MonitoringExemptionRationaleIndicator" minOccurs="0"/>
					<xsd:element ref="icis:PollutantMonitoringBasisCode" minOccurs="0"/>
					<xsd:group ref="icis:StormWaterContactGroup" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
