prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_SingleEventViolation_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_ReportableNonComplianceDetectionResolution_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_SingleEventViolation_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES single event violation element data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Jay Stubbs, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2024-06-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="SingleEventViolation" type="icis:SingleEventViolation"/>
	<xsd:element name="SingleEventCommentText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="SingleEventUserDefinedField1" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventUserDefinedField2" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventUserDefinedField3" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventUserDefinedField4" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventUserDefinedField5" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventViolationEndDate" type="icis:DateType"/>
	
	<xsd:complexType name="SingleEventViolationData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:SingleEventViolation"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SingleEventViolation">
		<xsd:complexContent>
			<xsd:extension base="icis:SingleEventKeyElements">
				<xsd:sequence>
					
					<xsd:element ref="icis:SingleEventViolationEndDate" minOccurs="0"/>
					<xsd:group ref="icis:ReportableNonComplianceDetectionDataGroup" minOccurs="0"/>
					<xsd:group ref="icis:ReportableNonComplianceResolutionDataGroup" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventCommentText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
