prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_NPDESVariancePermit_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Address_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_Permit_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_NPDESVariancePermit.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES permit basic data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Jay Stubbs, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: December 2024</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2024-12-11</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="NPDESVariancePermit" type="icis:NPDESVariancePermit"/>
	<xsd:element name="NPDESVarianceVersionType" type="icis:String3FixedType"/>
	<xsd:element name="NPDESVarianceStatusCode" type="icis:String3FixedType"/>
	<xsd:element name="NPDESVarianceActionDate" type="icis:DateType"/>
	<xsd:element name="ThermalVarianceRequestPublicNoticeIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="NPDESVarianceCommentText" type="icis:StringMin1Max500Type"/>
	<xsd:complexType name="NPDESVariancePermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:NPDESVariancePermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NPDESVariancePermit">
		<xsd:complexContent>
			<xsd:extension base="icis:NPDESVariancePermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:NPDESVarianceVersionType" minOccurs="0"/>
					<xsd:element ref="icis:NPDESVarianceStatusCode" minOccurs="0"/>
					<xsd:element ref="icis:NPDESVarianceActionDate" minOccurs="0"/>
					<xsd:element ref="icis:ThermalVarianceRequestPublicNoticeIndicator" minOccurs="0"/>
					<xsd:element ref="icis:NPDESVarianceCommentText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>