prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_CAFOAnnualReport_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:include schemaLocation="ICIS_CAFO_v5.14.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CAFOAnnualReport_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES CAFO annual report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="CAFOAnnualReport" type="icis:CAFOAnnualReport"/>
	<xsd:element name="TotalNumberAcresNMPIdentified" type="icis:NonNegativeIntegerMin1Max6Type"/>
	<xsd:element name="TotalNumberAcresUsedLandApplication" type="icis:NonNegativeIntegerMin1Max6Type"/>
	
	<xsd:complexType name="CAFOAnnualReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:CAFOAnnualReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CAFOAnnualReport">
		<xsd:complexContent>
			<xsd:extension base="icis:CAFOAnnualProgramReportKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:DischargesDuringYearProductionAreaIndicator" minOccurs="0"/>
					<xsd:element ref="icis:ReportedAnimalType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:AnimalNMPLitterGroup" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberAcresNMPIdentified" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberAcresUsedLandApplication" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
