prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/14/ICIS_CWA316bProgramReport_v5.14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.14.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CWA316bProgramReport_v5.14.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES local limits program report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Jay Stubbs, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2024-12-09</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CWA316bProgramReport" type="icis:CWA316bProgramReport"/>
	<xsd:element name="CWA316bCriticalHabitatProtectionMeasures" type="icis:StringMin1Max8000Type"/>
	<xsd:element name="CWA316bFederalStatus" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CWA316bLifestageCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CWA316bOtherMonitoringInformation" type="icis:StringMin1Max8000Type"/>
	<xsd:element name="CWA316bSpeciesCommonName" type="icis:StringMin1Max100Type"/>
	<xsd:element name="CWA316bSpeciesName" type="icis:StringMin1Max100Type"/>
	<xsd:element name="CWA316bSpeciesNumber" type="icis:NonNegativeIntegerMin1Max12Type"/>
	<xsd:element name="CWA316bSpeciesNumberImpingedEntrained" type="icis:NonNegativeIntegerMin1Max12Type"/>
	<xsd:element name="CWA316bSpeciesNumberImpingedEntrainedDate" type="icis:DateType"/>
	<xsd:element name="CWA316bTakeIdentifier" type="icis:StringMin1Max20Type"/>
	<xsd:element name="CWA316bTakeInformation" type="icis:CWA316bTakeInformation"/>
	<xsd:element name="CWA316bTakeMethodCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CWA316bTakeMethodOtherText" type="icis:StringMin1Max500Type"/>
	<xsd:element name="CWA316bTakeTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CWA316bTakeTypeOtherText" type="icis:StringMin1Max500Type"/>
	<xsd:complexType name="CWA316bProgramReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:CWA316bProgramReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CWA316bProgramReport">
		<xsd:complexContent>
			<xsd:extension base="icis:CWA316bProgramReportKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ProgramReportFormID" minOccurs="0"/>
					<xsd:element ref="icis:ProgramReportReceivedDate" minOccurs="0"/>
					<xsd:element ref="icis:ProgramReportStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ProgramReportEndDate" minOccurs="0"/>
					<xsd:element ref="icis:ElectronicSubmissionTypeCode" minOccurs="0"/>
					<xsd:element ref="icis:ProgramReportNPDESDataGroupNumberCode" minOccurs="0"/>
					<xsd:element ref="icis:CWA316bCriticalHabitatProtectionMeasures" minOccurs="0"/>
					<xsd:element ref="icis:CWA316bOtherMonitoringInformation" minOccurs="0"/>
					<xsd:element ref="icis:CWA316bTakeInformation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CWA316bTakeInformation">
		<xsd:sequence>
			<xsd:element ref="icis:CWA316bTakeIdentifier"/>
			<xsd:element ref="icis:CWA316bSpeciesName" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bSpeciesCommonName" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bFederalStatus" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bLifestageCode" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bTakeMethodCode" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bTakeMethodOtherText" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bTakeTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bTakeTypeOtherText" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bSpeciesNumber" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bSpeciesNumberImpingedEntrained" minOccurs="0"/>
			<xsd:element ref="icis:CWA316bSpeciesNumberImpingedEntrainedDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>