prod-opennode2-net/plugins/ICISNPDES_58/xml_schema/6/ICIS_EnforcementActionMilestone_v5.6a_draft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.6a_draft.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_EnforcementActionMilestone_v5.6a_draft.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES enforcement action subactivity data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Milestone" type="icis:Milestone"/>
	<xsd:element name="MilestoneActualDate" type="icis:DateType"/>
	<xsd:element name="MilestonePlannedDate" type="icis:DateType"/>
	<xsd:complexType name="EnforcementActionMilestoneData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:Milestone"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Milestone">
		<xsd:complexContent>
			<xsd:extension base="icis:EnforcementActionMilestoneKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:MilestonePlannedDate" minOccurs="0"/>
					<xsd:element ref="icis:MilestoneActualDate" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
