prod-opennode2-net/plugins/ICISNPDES_58/xml_schema/6/ICIS_AirDAFormalEnforcementAction_v5.6a_draft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_EnforcementAction_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_FormalEnforcementAction_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_AirDAComplianceMonitoring_v5.6a_draft.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_AirDAFormalEnforcementAction_v5.6a_draft.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-Air Delegated Agency formal enforcement action data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-Air</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: December 2013</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AirDACombinedSupersededEAID" type="icis:StringMin1Max25Type"/>
	<xsd:element name="AirDAFinalOrder" type="icis:AirDAFinalOrder"/>
	<xsd:element name="AirDAFormalEnforcementAction" type="icis:AirDAFormalEnforcementAction"/>
	<xsd:element name="AirResolvedDate" type="icis:DateType"/>
	<xsd:element name="DemandStipulatedPenaltyAmount" type="icis:DecimalRange0To999999999999.99Type"/>
	<xsd:element name="DemandStipulatedPenaltyData" type="icis:DemandStipulatedPenaltyData"/>
	<xsd:element name="DemandStipulatedPenaltyPaidDate" type="icis:DateType"/>
	<xsd:element name="EnforcementActionCommentText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="FinalOrderAirFacilityIdentifier" type="icis:StringMin6Max18TypeBase"/>
	<xsd:element name="FinalOrderLodgedDate" type="icis:DateType"/>
	<xsd:complexType name="AirDAFormalEnforcementActionData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:AirDAFormalEnforcementAction"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AirDAFormalEnforcementAction">
		<xsd:complexContent>
			<xsd:extension base="icis:AirDAEnforcementActionKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:AirFacilityIdentifier" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:EnforcementActionName" minOccurs="0"/>
					<xsd:element ref="icis:Forum" minOccurs="0"/>
					<xsd:element ref="icis:EnforcementActionTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:ProgramsViolatedCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:OtherProgramDescriptionText" minOccurs="0"/>
					<xsd:element ref="icis:ResolutionTypeCode" minOccurs="0"/>
					<xsd:element ref="icis:AirDACombinedSupersededEAID" minOccurs="0"/>
					<xsd:element ref="icis:ReasonDeletingRecord" minOccurs="0"/>
					<xsd:element ref="icis:FormalEAUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:FormalEAUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:FormalEAUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:FormalEAUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:FormalEAUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:FormalEAUserDefinedField6" minOccurs="0"/>
					<xsd:element ref="icis:AirDAFinalOrder" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LeadAgencyCode" minOccurs="0"/>
					<xsd:element ref="icis:EnforcementAgencyTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:EnforcementAgencyName" minOccurs="0"/>
					<xsd:element ref="icis:EnforcementActionGovernmentContact" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:OtherAgencyInitiativeText" minOccurs="0"/>
					<xsd:element ref="icis:AirPollutantCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:EnforcementActionCommentText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:SensitiveCommentText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AirDAFinalOrder">
		<xsd:sequence>
			<xsd:element ref="icis:FinalOrderIdentifier"/>
			<xsd:element ref="icis:FinalOrderTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:FinalOrderAirFacilityIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:FinalOrderLodgedDate" minOccurs="0"/>
			<xsd:element ref="icis:FinalOrderIssuedEnteredDate" minOccurs="0"/>
			<xsd:element ref="icis:AirResolvedDate" minOccurs="0"/>
			<xsd:element ref="icis:CashCivilPenaltyRequiredAmount" minOccurs="0"/>
			<xsd:element ref="icis:OtherComments" minOccurs="0"/>
			<xsd:element ref="icis:DemandStipulatedPenaltyData" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DemandStipulatedPenaltyData">
		<xsd:sequence>
			<xsd:element ref="icis:DemandStipulatedPenaltyAmount"/>
			<xsd:element ref="icis:DemandStipulatedPenaltyPaidDate"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
