prod-opennode2-net/plugins/WQX_3/xml_schema/0/WQX_ActivityMetric_v3.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="WQX_SimpleContent_v3.0.xsd"/>
  <xsd:include schemaLocation="WQX_MeasureCompact_v3.0.xsd"/>
	<xsd:include schemaLocation="WQX_ActivityMetricType_v3.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_ActivityMetric_v3.0.xsd
        Description   : This section allows for the reporting of metrics to support habitat or biotic integrity indices.	
        Developed by  : EPA Office of Water	 
        Point of Contact :   Kevin Christian
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ActivityMetricDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:ActivityMetricType"/>
			<xsd:element ref="wqx:MetricValueMeasure" minOccurs="0"/>
			<xsd:element ref="wqx:MetricScore"/>
      <xsd:element ref="wqx:MetricSamplingPointPlaceInSeries" minOccurs="0"/>
      <xsd:element ref="wqx:MetricCommentText" minOccurs="0"/>
			<xsd:element ref="wqx:IndexIdentifier" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MetricValueMeasure" type="wqx:MeasureCompactDataType">
		<xsd:annotation>
			<xsd:documentation>A non-scaled value calculated from raw results that may be scaled into a metric score.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MetricCommentText" type="wqx:CommentTextDataType">
		<xsd:annotation>
			<xsd:documentation>Free text with general comments concerning the metric.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityMetric" type="wqx:ActivityMetricDataType">
		<xsd:annotation>
			<xsd:documentation>This section allows for the reporting of metrics to support habitat or biotic integrity indices.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
