prod-opennode2-net/plugins/WQX_3/xml_schema/0/WQX_BiologicalHabitatIndex_v3.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="WQX_SimpleContent_v3.0.xsd"/>
	<xsd:include schemaLocation="WQX_IndexType_v3.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_BiologicalHabitatIndex_v3.0.xsd
        Description   : This section allows for the reporting of habitat and biotic integrity indices as a representation of water quality conditions.	
        Developed by  : EPA Office of Water	 
        Point of Contact :   Kevin Christian
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="BiologicalHabitatIndexDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:IndexIdentifier"/>
			<xsd:element ref="wqx:IndexType"/>
			<xsd:element ref="wqx:IndexScore"/>
			<xsd:element ref="wqx:IndexQualifierCode" minOccurs="0"/>
			<xsd:element ref="wqx:IndexCommentText" minOccurs="0"/>
			<xsd:element ref="wqx:IndexCalculatedDate" minOccurs="0"/>
			<xsd:element ref="wqx:MonitoringLocationIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BiologicalHabitatIndex" type="wqx:BiologicalHabitatIndexDataType">
		<xsd:annotation>
			<xsd:documentation>This section allows for the reporting of habitat and biotic integrity indices as a representation of water quality conditions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IndexCommentText" type="wqx:CommentTextDataType">
		<xsd:annotation>
			<xsd:documentation>Free text with general comments concerning the index.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
