prod-opennode2-net/plugins/WQX_3/xml_schema/0/WQX_TaxonomicDetails_v3.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="WQX_SimpleContent_v3.0.xsd"/>
	<xsd:include schemaLocation="WQX_BibliographicReference_v3.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_TaxonomicDetails_v3.0.xsd
        Description   : This section allows for the further definition of user-defined details for taxa.	
        Developed by  : EPA Office of Water	 
        Point of Contact :   Kevin Christian
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="TaxonomicDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:CellFormName" minOccurs="0"/>
			<xsd:element ref="wqx:CellShapeName" minOccurs="0"/>
			<xsd:element ref="wqx:HabitName" minOccurs="0" maxOccurs="3"/>
			<xsd:element ref="wqx:VoltinismName" minOccurs="0"/>
			<xsd:element ref="wqx:TaxonomicPollutionTolerance" minOccurs="0"/>
			<xsd:element ref="wqx:TaxonomicPollutionToleranceScaleText" minOccurs="0"/>
			<xsd:element ref="wqx:TrophicLevelName" minOccurs="0"/>
			<xsd:element ref="wqx:FunctionalFeedingGroupName" minOccurs="0" maxOccurs="3"/>
			<xsd:element ref="wqx:TaxonomicDetailsCitation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TaxonomicDetailsCitation" type="wqx:BibliographicReferenceDataType">
		<xsd:annotation>
			<xsd:documentation>Identifes the source that created or defined the Taxonomic Details.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxonomicDetails" type="wqx:TaxonomicDetailsDataType">
		<xsd:annotation>
			<xsd:documentation>This section allows for the further definition of user-defined details for taxa.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
