prod-opennode2-net/plugins/WQX_3/xml_schema/0/WQX_WellInformation_v3.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="WQX_SimpleContent_v3.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_WellInformation_v3.0.xsd
        Description   : Description of the attributes of a well.
        Developed by  : EPA Office of Water
        Point of Contact :   Dwane Young
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="WellInformationDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:WellTypeText"/>
			<xsd:element ref="wqx:AquiferName" minOccurs="0"/>
			<xsd:element ref="wqx:FormationTypeText" minOccurs="0"/>
			<xsd:element ref="wqx:WellHoleDepthMeasure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="WellHoleDepthMeasure" type="wqx:MeasureCompactDataType">
		<xsd:annotation>
			<xsd:documentation>Depth below land surface datum (LSD) to the bottom of the hole on completion of drilling.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellInformation" type="wqx:WellInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Description of the attributes of a well.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
