prod-opennode2-net/plugins/WQX_3/xml_schema/0/WQX_ActivityMetricType_v3.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:include schemaLocation="WQX_SimpleContent_v3.0.xsd"/>
	<xsd:include schemaLocation="WQX_BibliographicReference_v3.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_ActivityMetricType_v3.0.xsd
        Description   : This section allows for the reporting of metrics to support habitat or biotic integrity indices.	
        Developed by  : EPA Office of Water	 
        Point of Contact :   Kevin Christian
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ActivityMetricTypeDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:MetricTypeIdentifier"/>
			<xsd:element ref="wqx:MetricTypeIdentifierContext"/>
			<xsd:element ref="wqx:MetricTypeName" minOccurs="0"/>
			<xsd:element ref="wqx:MetricTypeCitation" minOccurs="0"/>
			<xsd:element ref="wqx:MetricTypeScaleText" minOccurs="0"/>
			<xsd:element ref="wqx:FormulaDescriptionText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MetricTypeCitation" type="wqx:BibliographicReferenceDataType">
		<xsd:annotation>
			<xsd:documentation>Provides additional description of the source that created or defined the metric.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityMetricType" type="wqx:ActivityMetricTypeDataType">
		<xsd:annotation>
			<xsd:documentation>This section identifies the metric type reported as part of an activity metric.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
