dotnet/prod-opennode2-net/plugins/EMTS_10/xml_schema/0/EMTS_SupportingDocumentDetail_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:emts="http://www.exchangenetwork.net/schema/emts/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/emts/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : EMTS_SupportingDocumentDetail_v1.0.xsd
        Description   : Identifies the user defined information regarding supporting document identifiers for a transaction.
        Developed by  : 	 Perrin Quarles Associates, Inc.
        Point of Contact : 	Perrin Quarles Associates, Inc.	
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="EMTS_SimpleContent_v1.0.xsd"/>
	<xsd:complexType name="SupportingDocumentDetailDataType">
		<xsd:sequence>
			<xsd:element ref="emts:SupportingDocumentText"/>
			<xsd:element ref="emts:SupportingDocumentNumberText"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BuySupportingDocumentDetail" type="emts:SupportingDocumentDetailDataType"/>
	<xsd:element name="SellSupportingDocumentDetail" type="emts:SupportingDocumentDetailDataType"/>
	<xsd:element name="RetireSupportingDocumentDetail" type="emts:SupportingDocumentDetailDataType"/>
	<xsd:element name="SeparateSupportingDocumentDetail" type="emts:SupportingDocumentDetailDataType"/>
</xsd:schema>
