dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_LimitSet_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2" xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v2.0.xsd"/>
	<xsd:include schemaLocation="ICIS_Status_v2.0.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_LimitSet_v2.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/2</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES limit set data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-02-02</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="AgencyReviewer" type="icis:StringMin1Max5Type"/>
	<xsd:element name="DMRPrePrintCommentsText" type="icis:StringMin1Max315Type"/>
	<xsd:element name="InitialDMRDueDate" type="xsd:date"/>
	<xsd:element name="InitialMonitoringDate" type="xsd:date"/>
	<xsd:element name="LimitSet" type="icis:LimitSet"/>
	<xsd:element name="LimitSetModificationEffectiveDate" type="icis:DateType"/>
	<xsd:element name="LimitSetModificationTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="LimitSetMonthsApplicable" type="icis:MonthTextType"/>
	<xsd:element name="LimitSetNameText" type="icis:StringMin1Max100Type"/>
	<xsd:element name="LimitSetSchedule" type="icis:LimitSetSchedule"/>
	<xsd:element name="LimitSetUserDefinedDataElement1Text" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="LimitSetUserDefinedDataElement2Text" type="icis:StringMin1Max150Type"/>
	<xsd:element name="NumberSubmissionUnitsInteger" type="icis:Integer2FixedRange01To60Type"/>
	<xsd:element name="NumberUnitsReportPeriodInteger" type="icis:Integer2FixedRange01To60Type"/>
	
	<xsd:complexType name="LimitSetData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:LimitSet"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LimitSet">
		<xsd:complexContent>
			<xsd:extension base="icis:LimitSetKeyElements">
				<xsd:sequence>
					<xsd:group ref="icis:LimitSetGroup" minOccurs="0"/>
					<xsd:element ref="icis:LimitSetSchedule" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LimitSetSchedule">
		<xsd:sequence>
			<xsd:element ref="icis:NumberUnitsReportPeriodInteger"/>
			<xsd:element ref="icis:NumberSubmissionUnitsInteger" minOccurs="0"/>
			<xsd:element ref="icis:InitialMonitoringDate" minOccurs="0"/>
			<xsd:element ref="icis:InitialDMRDueDate" minOccurs="0"/>
			<xsd:element ref="icis:LimitSetModificationTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:LimitSetModificationEffectiveDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="LimitSetGroup">
		<xsd:sequence>
			<xsd:element ref="icis:LimitSetNameText" minOccurs="0"/>
			<xsd:element ref="icis:DMRPrePrintCommentsText" minOccurs="0"/>
			<xsd:element ref="icis:AgencyReviewer" minOccurs="0"/>
			<xsd:element ref="icis:LimitSetUserDefinedDataElement1Text" minOccurs="0"/>
			<xsd:element ref="icis:LimitSetUserDefinedDataElement2Text" minOccurs="0"/>
			<xsd:element ref="icis:LimitSetMonthsApplicable" minOccurs="0" maxOccurs="12"/>
			<xsd:element ref="icis:LimitSetStatus" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>