dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_SWIndustrialPermit_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2" xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v2.0.xsd"/>
	<xsd:include schemaLocation="ICIS_SW_v2.0.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_SWIndustrialPermit_v2.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/2</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES permit stormwater industrial data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-02-02</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="GPCFNoExposure" type="icis:GPCFNoExposure"/>
	<xsd:element name="IndustrialActivitySize" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="NoExposureAuthorizationDate" type="icis:DateType"/>
	<xsd:element name="NoExposureCriteriaMetIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="NoExposureEvaluationBasisCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="NoExposureEvaluationDate" type="icis:DateType"/>
	<xsd:element name="NoExposurePostmarkDate" type="icis:DateType"/>
	<xsd:element name="PavedRoofSize" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="SWIndustrialPermit" type="icis:SWIndustrialPermit"/>
	
	<xsd:complexType name="SWIndustrialPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:SWIndustrialPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWIndustrialPermit">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:group ref="icis:StormWaterBodyGroup" minOccurs="0"/>
					<xsd:element ref="icis:GPCFNoticeOfIntent" minOccurs="0"/>
					<xsd:element ref="icis:GPCFNoticeOfTermination" minOccurs="0"/>
					<xsd:element ref="icis:GPCFNoExposure" minOccurs="0"/>
					<xsd:group ref="icis:StormWaterContactGroup" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GPCFNoExposure">
		<xsd:sequence>
			<xsd:element ref="icis:NoExposureAuthorizationDate" minOccurs="0"/>
			<xsd:element ref="icis:NoExposurePostmarkDate" minOccurs="0"/>
			<xsd:element ref="icis:NoExposureEvaluationDate" minOccurs="0"/>
			<xsd:element ref="icis:NoExposureEvaluationBasisCode" minOccurs="0"/>
			<xsd:element ref="icis:NoExposureCriteriaMetIndicator" minOccurs="0"/>
			<xsd:element ref="icis:PavedRoofSize" minOccurs="0"/>
			<xsd:element ref="icis:IndustrialActivitySize" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>