dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_SingleEventViolation_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2" xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v2.0.xsd"/>
	<xsd:include schemaLocation="ICIS_ReportableNonComplianceDetectionResolution_v2.0.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Single_Event_Violation_v2.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/2</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES single event violation element data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-02-02</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="SingleEventViolation" type="icis:SingleEventViolation"/>
	<xsd:element name="SingleEventCommentText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="SingleEventUserDefinedField1" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventUserDefinedField2" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventUserDefinedField3" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventUserDefinedField4" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventUserDefinedField5" type="icis:StringMin1Max30Type"/>
	<xsd:element name="SingleEventViolationEndDate" type="icis:DateType"/>
	<xsd:element name="SingleEventViolationStartDate" type="icis:DateType"/>
	
	<xsd:complexType name="SingleEventViolationData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:SingleEventViolation"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SingleEventViolation">
		<xsd:complexContent>
			<xsd:extension base="icis:SingleEventKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:SingleEventViolationStartDate" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventViolationEndDate" minOccurs="0"/>
					<xsd:group ref="icis:ReportableNonComplianceDetectionDataGroup" minOccurs="0"/>
					<xsd:group ref="icis:ReportableNonComplianceResolutionDataGroup" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:SingleEventCommentText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>