dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_ScheduleEvent_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2" xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v2.0.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_ScheduleEvent_v2.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/2</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES permit and compliance schedule event shared data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-02-02</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ScheduleActualDate" type="icis:DateType"/>
	<xsd:element name="ScheduleEventComments" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="ScheduleProjectedDate" type="icis:DateType"/>
	<xsd:element name="ScheduleReportReceivedDate" type="icis:DateType"/>
	<xsd:element name="ScheduleUserDefinedDataElement1" type="icis:StringMin1Max30Type"/>
	<xsd:element name="ScheduleUserDefinedDataElement2" type="icis:StringMin1Max30Type"/>
	
	<xsd:group name="ScheduleEventGroup">
		<xsd:sequence>
			<xsd:element ref="icis:ScheduleReportReceivedDate" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleActualDate" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleProjectedDate" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleUserDefinedDataElement1" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleUserDefinedDataElement2" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleEventComments" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>