dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_ResponseFileShared_v2.0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2">
	<xsd:annotation>
		<xsd:documentation>
        Schema Name : ICIS_ResponseFileShared_v2.0.xsd
        Description : Shared Content file for common simple types and data elements for the ICIS flows.
		Developed by : ICIS Full Batch IPT
		Point of Contact : Won Lee, U.S. EPA
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="ICIS_Common_v2.0.xsd"/>
	<xsd:element name="ProcessedDate" type="icis:ProcessedDateDataType">
		<xsd:annotation>
			<xsd:documentation>The date something was created.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ProcessedDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:element name="ErrorCode" type="icis:ErrorCodeDataType">
		<xsd:annotation>
			<xsd:documentation>An Service Provider (e.g., ICIS-NPDES) specific error code that uniquely identifies a type of error.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ErrorCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ErrorDescription" type="icis:ErrorDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>A human readable description on an error.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ErrorDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ErrorTypeCode" type="icis:ErrorTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The type of error that is being returned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ErrorTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="InformationCode" type="icis:InformationCodeDataType">
		<xsd:annotation>
			<xsd:documentation>An Service Provider (e.g., ICIS-NPDES) specific information or warning code that uniquely identifies a type of error.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="InformationCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="InformationDescription" type="icis:InformationDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>A human readable description on a  information or warning.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="InformationDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="InformationTypeCode" type="icis:InformationTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The type of  information or warning that is being returned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="InformationTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Information"/>
			<xsd:enumeration value="Warning"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="PercentTransactionsAccepted" type="icis:PercentTransactionsAcceptedDataType">
		<xsd:annotation>
			<xsd:documentation>Percent of TotalTransactions that were accepted. The reports show 2 decimal places max.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="PercentTransactionsAcceptedDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SubmissionDate" type="icis:SubmissionDateDataType">
		<xsd:annotation>
			<xsd:documentation>The date something was submitted.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="SubmissionDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:element name="SubmissionTransactionTypeCode" type="icis:SubmissionTransactionTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The type of transaction that was sent in the submission.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="SubmissionTransactionTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="X"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SubmissionTypeName" type="icis:SubmissionTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>The date something was submitted.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="SubmissionTypeNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TotalAcceptedTransactions" type="icis:TotalAcceptedTransactionsDataType">
		<xsd:annotation>
			<xsd:documentation>Unique number that identifies the total count of accepted records by transaction type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TotalAcceptedTransactionsDataType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="BatchTotalPercentTransactionsAccepted" type="icis:BatchTotalPercentTransactionsAcceptedDataType">
		<xsd:annotation>
			<xsd:documentation>Unique number that identifies the total percent of transactions that were accepted.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="BatchTotalPercentTransactionsAcceptedDataType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TotalRejectedTransactions" type="icis:TotalRejectedTransactionsDataType">
		<xsd:annotation>
			<xsd:documentation>Unique number that identifies the total count of rejected records by transaction type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TotalRejectedTransactionsDataType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="BatchTotalTransactions" type="icis:BatchTotalTransactionsDataType">
		<xsd:annotation>
			<xsd:documentation>Unique number that identifies the total transaction of records for an entire batch.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="BatchTotalTransactionsDataType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="BatchTotalSubmissions" type="icis:BatchTotalSubmissionsDataType">
		<xsd:annotation>
			<xsd:documentation>Unique number that identifies the total count of records for an entire submission.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="BatchTotalSubmissionsDataType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TotalSubmissions" type="icis:TotalSubmissionsDataType">
		<xsd:annotation>
			<xsd:documentation>Unique number that identifies the total count of records for an entire submission.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TotalSubmissionsDataType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TotalTransactions" type="icis:TotalTransactionsDataType">
		<xsd:annotation>
			<xsd:documentation>Unique number that identifies the total count of rejected records for an entire submission.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TotalTransactionsDataType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TransactionIdentifier" type="icis:TransactionIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>An Exchange Network transaction ID issued by a Exchange Network Node.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="TransactionIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="UserID" type="icis:UserIDDataType">
		<xsd:annotation>
			<xsd:documentation>Counts of the accepted and rejected transactions for this transaction type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="UserIDDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="AcceptedReport" type="icis:AcceptedReportDataType">
		<xsd:annotation>
			<xsd:documentation>Describes an error that was encountered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcceptedReportDataType">
		<xsd:sequence>
			<xsd:element ref="icis:InformationCode"/>
			<xsd:element ref="icis:InformationTypeCode"/>
			<xsd:element ref="icis:InformationDescription"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DischargeMonitoringReportIdentifier" type="icis:DischargeMonitoringReportIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a DMR by including all the appropriate keys for the DMR.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DischargeMonitoringReportIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:PermittedFeatureIdentifier"/>
			<xsd:element ref="icis:LimitSetDesignator"/>
			<xsd:element ref="icis:MonitoringPeriodEndDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DMRParameterIdentifier" type="icis:DMRParameterIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a parameter within a specific DMR by including all the appropriate keys.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DMRParameterIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:PermittedFeatureIdentifier"/>
			<xsd:element ref="icis:LimitSetDesignator"/>
			<xsd:element ref="icis:MonitoringPeriodEndDate"/>
			<xsd:element ref="icis:ParameterCode"/>
			<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
			<xsd:element ref="icis:LimitSeasonNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ErrorReport" type="icis:ErrorReportDataType">
		<xsd:annotation>
			<xsd:documentation>Describes an error that was encountered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ErrorReportDataType">
		<xsd:sequence>
			<xsd:element ref="icis:ErrorCode" minOccurs="0"/>
			<xsd:element ref="icis:ErrorTypeCode"/>
			<xsd:element ref="icis:ErrorDescription"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FileErrorReport" type="icis:FileErrorReportDataType">
		<xsd:annotation>
			<xsd:documentation>Describes an error that was encountered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FileErrorReportDataType">
		<xsd:sequence>
			<xsd:element ref="icis:ErrorTypeCode"/>
			<xsd:element ref="icis:ErrorDescription"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LimitSegmentIdentifier" type="icis:LimitSegmentIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a limit segment by including all the appropriate keys for the limit segment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LimitSegmentIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:PermittedFeatureIdentifier"/>
			<xsd:element ref="icis:LimitSetDesignator"/>
			<xsd:element ref="icis:ParameterCode"/>
			<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
			<xsd:element ref="icis:LimitSeasonNumber"/>
			<xsd:element ref="icis:LimitStartDate"/>
			<xsd:element ref="icis:LimitEndDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LimitSetIdentifier" type="icis:LimitSetIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a limit set by including all the appropriate keys for the limit set.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LimitSetIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:PermittedFeatureIdentifier"/>
			<xsd:element ref="icis:LimitSetDesignator"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NarrativeConditionScheduleIdentifier" type="icis:NarrativeConditionScheduleIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a narrative condition and its schedules by including all the appropriate keys for the narrative condition.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NarrativeConditionScheduleIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:NarrativeConditionNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ParameterLimitIdentifier" type="icis:ParameterLimitIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a parameter limit by including all the appropriate keys for the parameter limit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ParameterLimitIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:PermittedFeatureIdentifier"/>
			<xsd:element ref="icis:LimitSetDesignator"/>
			<xsd:element ref="icis:ParameterCode"/>
			<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
			<xsd:element ref="icis:LimitSeasonNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PermitRecordIdentifier" type="icis:PermitRecordIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a permit by including the appropriate key for the permit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PermitRecordIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PermittedFeatureRecordIdentifier" type="icis:PermittedFeatureRecordIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a permitted feature by including all the appropriate keys for the permitted feature.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PermittedFeatureRecordIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:PermittedFeatureIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PermitTrackingEventIdentifier" type="icis:PermitTrackingEventIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>Uniquely identifies a permit tracking event by including all the appropriate keys for the permit tracking event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PermitTrackingEventIdentifierDataType">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:PermitTrackingEventCode"/>
			<xsd:element ref="icis:PermitTrackingEventDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TransactionTypeTotals" type="icis:TransactionTypeTotalsDataType">
		<xsd:annotation>
			<xsd:documentation>Counts of the accepted and rejected transactions for this transaction type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransactionTypeTotalsDataType">
		<xsd:sequence>
			<xsd:element ref="icis:SubmissionTransactionTypeCode"/>
			<xsd:element ref="icis:TotalAcceptedTransactions"/>
			<xsd:element ref="icis:TotalRejectedTransactions"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>