dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_PermitSchedule_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2" xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v2.0.xsd"/>
	<xsd:include schemaLocation="ICIS_ScheduleEvent_v2.0.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_PermitSchedule_v2.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/2</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES permit schedule data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-02-02</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="PermitSchedule" type="icis:PermitSchedule"/>
	<xsd:element name="PermitScheduleEvent" type="icis:PermitScheduleEvent"/>
	<xsd:element name="PermitScheduleComments" type="icis:StringMin1Max4000Type"/>
	
	<xsd:complexType name="PermitScheduleData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:PermitSchedule"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PermitSchedule">
		<xsd:complexContent>
			<xsd:extension base="icis:PermitScheduleKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:NarrativeConditionCode" minOccurs="0"/>
					<xsd:element ref="icis:PermitScheduleComments" minOccurs="0"/>
					<xsd:element ref="icis:PermitScheduleEvent" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PermitScheduleEvent">
		<xsd:complexContent>
			<xsd:extension base="icis:PermitScheduleEventKeyElements">
				<xsd:sequence>
					<xsd:group ref="icis:ScheduleEventGroup" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>