dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_BiosolidsPermit_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2" xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:include schemaLocation="ICIS_Contact_v2.0.xsd"/>
	<xsd:include schemaLocation="ICIS_KeyElements_v2.0.xsd"/>
	<xsd:include schemaLocation="ICIS_Biosolids_v2.0.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_BiosolidsPermit_v2.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/2</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES biosolid permit data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-02-02</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="BiosolidsEndUseDisposalTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="BiosolidsPermit" type="icis:BiosolidsPermit"/>
	<xsd:element name="BiosolidsTypeCode" type="icis:StringMin1Max3Type"/>
	
	<xsd:complexType name="BiosolidsPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:BiosolidsPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BiosolidsPermit">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:BiosolidsTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:BiosolidsEndUseDisposalTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:BiosolidsAmountGroup" minOccurs="0"/>
					<xsd:element ref="icis:BiosolidsPermitContact" minOccurs="0"/>
					<xsd:element ref="icis:BiosolidsPermitAddress" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>