dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_SSO_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2">
	<xsd:include schemaLocation="ICIS_Common_v2.0.xsd"/>
	<xsd:include schemaLocation="ICIS_GeographicCoordinates_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_SSO_v2.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/2</xsd:documentation>
		<xsd:documentation>Description: SSO overflow event data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-02-02</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CauseSSOOverflowEvent" type="icis:StringMin1Max1000Type"/>
	<xsd:element name="DescriptionStepsTaken" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="DurationSSOOverflowEvent" type="icis:DecimalRange0To9999.99Type"/>
	<xsd:element name="ImpactSSOEvent" type="icis:StringMin1Max3Type"/>
	<xsd:element name="NameReceivingWater" type="icis:StringMin1Max1000Type"/>
	<xsd:element name="OtherStepsReducePreventMitigate" type="icis:StringMin1Max50Type"/>
	<xsd:element name="OtherSystemComponent" type="icis:StringMin1Max50Type"/>
	<xsd:element name="SSOOverflowLocationStreet" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="SSOVolume" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="StepsReducePreventMitigate" type="icis:StringMin1Max3Type"/>
	<xsd:element name="SystemComponent" type="icis:StringMin1Max3Type"/>
	<xsd:group name="SSOOverflowEventGroup">
		<xsd:sequence>
			<xsd:element ref="icis:CauseSSOOverflowEvent" minOccurs="0"/>
			<xsd:group ref="icis:LatitudeLongitudeCoordinates" minOccurs="0"/>
			<xsd:element ref="icis:SSOOverflowLocationStreet" minOccurs="0"/>
			<xsd:element ref="icis:DurationSSOOverflowEvent" minOccurs="0"/>
			<xsd:element ref="icis:SSOVolume" minOccurs="0"/>
			<xsd:element ref="icis:NameReceivingWater" minOccurs="0"/>
			<xsd:element ref="icis:ImpactSSOEvent" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:SystemComponent" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:OtherSystemComponent" minOccurs="0"/>
			<xsd:element ref="icis:StepsReducePreventMitigate" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:OtherStepsReducePreventMitigate" minOccurs="0"/>
			<xsd:element ref="icis:DescriptionStepsTaken" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
