dotnet/opennode2-net/plugins/ICISNPDES_20/xml_schema/0/ICIS_CAFOPermit_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2" xmlns:icis="http://www.exchangenetwork.net/schema/icis/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v2.0.xsd"/>
	<xsd:include schemaLocation="ICIS_CAFO_v2.0.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CAFOPermit_v2.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/2</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES CAFO permit data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2011-02-02</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="CAFOPermit" type="icis:CAFOPermit"/>
	<xsd:element name="LegalDescriptionText" type="icis:StringMin1Max100Type"/>
	
	<xsd:complexType name="CAFOPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:CAFOPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CAFOPermit">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:group ref="icis:CAFOClassificationGroup" minOccurs="0"/>
					<xsd:element ref="icis:AnimalType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:ConfinementContainmentGroup" minOccurs="0"/>
					<xsd:group ref="icis:DrainageApplicationGroup" minOccurs="0"/>
					<xsd:group ref="icis:AnimalNMPLitterGroup" minOccurs="0"/>
					<xsd:group ref="icis:NMPDetailsGroup" minOccurs="0"/>
					<xsd:group ref="icis:EMSGroup" minOccurs="0"/>
					<xsd:element ref="icis:LandApplicationBMP" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:CapacityGroup" minOccurs="0"/>
					<xsd:element ref="icis:LegalDescriptionText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>