prod-opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/FACID_IndividualDataType_v2.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:annotation>
	<xsd:appinfo>IndividualDataType_v2.xsd v2.0 2001-02 </xsd:appinfo>
	<xsd:documentation>
		Data Type for Individual.
	</xsd:documentation>
</xsd:annotation>
<xsd:complexType name="IndividualDataType">
<xsd:sequence>
<xsd:element name="IndividualFullName" type="xsd:string" minOccurs="0"/> 
<xsd:element name="IndividualTitleText" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>