prod-opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/FACID_AltNameDataType_v2.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:annotation>
	<xsd:appinfo>AltNameDataType_v_2.0.xsd v2.0 2001-02 </xsd:appinfo>
	<xsd:documentation>
		Complex Data Type for Alternate Names.
	</xsd:documentation>
</xsd:annotation>
<xsd:complexType name="AltNameDataType">
<xsd:sequence>
<xsd:element name="AlternativeName" type="xsd:string" minOccurs="0"/>
<xsd:element name="AlternativeNameTypeText" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
