prod-opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_FacilityFlow_v2.xsd

<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by sdcuser (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation=".\SDWA_WaterSystemFacilityDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_MessageNotification_v2.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Facility Flow Business Object</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="FacilityFlowData" type="FacilityFlowDataType"/>
	<xsd:element name="FacilityFlowDetails" type="FacilityFlowDetailsType"/>
	<xsd:complexType name="FacilityFlowDataType">
		<xsd:sequence>
			<xsd:element ref="FacilityFlowDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FacilityFlowDetailsType">
		<xsd:sequence>
			<xsd:element ref="PWSIdentifier"/>
			<xsd:element ref="FacilityFlow" maxOccurs="unbounded"/>
			<xsd:element ref="MessageStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
