prod-opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_WaterSystemDataTypes_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_CodeList.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Data Type Definitions for Water Systems.</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="PWSIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="9"/>
			<xsd:pattern value="[A-Za-z0-9]{2}[A-Za-z0-9]{7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PWSNameType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RetailPopulationServedType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="8"/>
			<xsd:maxInclusive value="9000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RetailServiceConnectionsType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:totalDigits value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="WholeSalerOfWaterType">
		<xsd:choice>
			<xsd:element name="SDWAWholeSalerOfWater" type="SDWAYesNoType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PWSTypeCodeType">
		<xsd:choice>
			<xsd:element name="SDWAPWSTypeCode" type="SDWAPWSTypeCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PWSActivityFlagType">
		<xsd:choice>
			<xsd:element name="SDWAActivityFlag" type="SDWAActivityFlagCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="OwnerTypeCodeType">
		<xsd:choice>
			<xsd:element name="SDWAOwnerTypeCode" type="SDWAPWSOwnerTypeCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="NonCommunitySeasonType">
		<xsd:sequence>
			<xsd:element ref="NonCommunitySeasonBeginMonthDay"/>
			<xsd:element ref="NonCommunitySeasonEndMonthDay"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Global Element Declarations for Water Systems.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="PWSIdentifier" type="PWSIdentifierType"/>
	<xsd:element name="PWSTypeCode" type="PWSTypeCodeType"/>
	<xsd:element name="PWSNameText" type="PWSNameType"/>
	<xsd:element name="PWSActivityFlag" type="PWSActivityFlagType"/>
	<xsd:element name="PWSDeactivationDate" type="xsd:date"/>
	<xsd:element name="RetailPopulationServed" type="RetailPopulationServedType"/>
	<xsd:element name="RetailServiceConnections" type="RetailServiceConnectionsType"/>
	<xsd:element name="OwnerTypeCode" type="OwnerTypeCodeType"/>
	<xsd:element name="WholeSalerOfWaterCode" type="WholeSalerOfWaterType"/>
	<xsd:element name="NonCommunitySeason" type="NonCommunitySeasonType"/>
	<xsd:element name="NonCommunitySeasonBeginMonthDay" type="xsd:gMonthDay"/>
	<xsd:element name="NonCommunitySeasonEndMonthDay" type="xsd:gMonthDay"/>
</xsd:schema>
