prod-opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_SiteVisitDataTypes_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_CodeList.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
Data Type Definitions for Site Visit.
</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="VisitIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VisitCommentTextType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="VisitReasonCodeType">
		<xsd:choice>
			<xsd:element name="SDWAVisitReasonCode" type="SDWAVisitReasonCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="VisitAgencyCodeType">
		<xsd:choice>
			<xsd:element name="SDWAVisitAgencyCode" type="SDWAVisitAgencyCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="VisitCategoryEvaluationCodeType">
		<xsd:choice>
			<xsd:element name="SDWAVisitCategoryEvaluationCode" type="SDWAVisitCategoryEvaluationCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="VisitCategoryEvaluationsType">
		<xsd:sequence>
			<xsd:element name="ManagementOperations" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="Source" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="Security" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="Pumps" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="Other" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="OperatorCompliance" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="MonReportDataVerification" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="Treatment" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="FinishedWaterStorage" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
			<xsd:element name="Distribution" type="VisitCategoryEvaluationCodeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Global Element Declarations for Site Visit.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="VisitIdentifier" type="VisitIdentifierType"/>
	<xsd:element name="VisitDate" type="xsd:date"/>
	<xsd:element name="VisitReasonCode" type="VisitReasonCodeType"/>
	<xsd:element name="VisitAgencyCode" type="VisitAgencyCodeType"/>
	<xsd:element name="VisitCategoryEvaluations" type="VisitCategoryEvaluationsType"/>
	<xsd:element name="VisitReportingDate" type="xsd:date"/>
	<xsd:element name="VisitCommentText" type="VisitCommentTextType"/>
</xsd:schema>
