java/node-plugin/src/main/packaging/rcra/xsd/RCRA_NAICSIdentity_v4.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/4" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="4.0">
	<xsd:include schemaLocation="./RCRA_Shared_v4.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_NAICSIdentity_v4.0
		Description : 	Information about North American Industry Classification Status codes reported for the handler.
		Developed by : 	 Windsor Solutions, Inc.
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="NAICSIdentity" type="RC:NAICSIdentityDataType">
		<xsd:annotation>
			<xsd:documentation>North American Industry Classification Status codes reported for the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NAICSIdentityDataType">
		<xsd:annotation>
			<xsd:documentation>NAICS Codes reported for the handler.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:TransactionCode" minOccurs="0"/>
			<xsd:element ref="RC:NAICSSequenceNumber"/>
			<xsd:element ref="RC:NAICSOwnerCode" minOccurs="0"/>
			<xsd:element ref="RC:NAICSCode" minOccurs="0"/>
			<xsd:element ref="RC:NAICSSupplementalInformationText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NAICSSupplementalInformationText" type="RC:NAICSSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes for the handler NAICS Code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NAICSSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes for the handler NAICS Code.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
