dotnet/prod-opennode2-net/plugins/AQS3/xml_schema/0/EN_AQS_MonitorChannelInformation_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/3" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/3" elementFormDefault="qualified" attributeFormDefault="qualified" version="3.0">
	<xsd:annotation>
		<xsd:documentation>Monitor Channel Information file
		Current Version Available At :
		Description : Schema for Monitor Collocation Information 
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency
		Point of Contact : Nick Mangus (EPA)
		</xsd:documentation>
	</xsd:annotation>
	<!--Data element and data type include files-->
	<xsd:include schemaLocation="http://www.exchangenetwork.net/schema/SC/SC_SimpleContent_v2.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_SamplerIdentifier_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ChannelIdentifier_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DateTimeDataTypes_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_IntegerTwoDigitPositiveDataType_v3.0.xsd"/>
	<!--Monitor Collocation Information schema components-->
	<xsd:element name="MonitorChannelInformation" type="aqs:MonitorChannelInformationType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements related to the description of sampling channels at monitors and their effective dates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Monitor Channel Information complex data types-->
	<xsd:complexType name="MonitorChannelInformationType">
		<xsd:annotation>
			<xsd:documentation>Monitor channel complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:ActionCode"/>
			<xsd:element ref="aqs:SamplerIdentifier"/>
			<xsd:element ref="aqs:ChannelIdentifier"/>
			<xsd:element ref="aqs:MonitorChannelBeginDate"/>
			<xsd:element ref="aqs:MonitorChannelEndDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Monitor Collocation Information data elements-->
	<xsd:element name="MonitorChannelBeginDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The beginning date of the time period during which the monitor is associated with a specific Sampler channel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitorChannelEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The ending date of the time period during which the monitor is associated with a specific Sampler channel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
