dotnet/prod-opennode2-net/plugins/AQS3/xml_schema/0/EN_AQS_MonitorSamplingSchedule_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/3" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
    <xsd:annotation>
        <xsd:documentation>Monitor Sampling Schedule file
		Current Version Available At :
		Description : Schema for Monitor Sampling Schedule 
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		</xsd:documentation>
    </xsd:annotation>
    <!--Data element and data type include files-->
    <xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v3.0.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DateTimeDataTypes_v3.0.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DigitOneStringDataType_v3.0.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_FrequencyCodeDataElement_v3.0.xsd"/>
    <!--Monitor Sampling Schedule schema components-->
    <xsd:element name="MonitorSamplingSchedule" type="aqs:MonitorSamplingScheduleType">
        <xsd:annotation>
            <xsd:documentation>This is a complex element (element grouping) containing all of the elements describing the monitor sampling schedule.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--Monitor Sampling Schedule complex data types-->
    <xsd:complexType name="MonitorSamplingScheduleType">
        <xsd:annotation>
            <xsd:documentation>Monitor sampling schedule details complex type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="aqs:ActionCode"/>
            <xsd:element ref="aqs:FrequencyCode" minOccurs="0"/>
            <xsd:element ref="aqs:RCFBeginDate"/>
            <xsd:element ref="aqs:RCFEndDate" minOccurs="0"/>
            <xsd:sequence minOccurs="0">
                <xsd:element ref="aqs:RCFJanuaryCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFFebruaryCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFMarchCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFAprilCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFMayCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFJuneCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFJulyCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFAugustCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFSeptemberCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFOctoberCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFNovemberCode" minOccurs="0"/>
                <xsd:element ref="aqs:RCFDecemberCode" minOccurs="0"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <!--Monitor Sampling Schedule data elements-->
    <xsd:element name="RCFBeginDate" type="xsd:date">
        <xsd:annotation>
            <xsd:documentation>The date on which the required collection frequency (RCF) went into effect.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFEndDate" type="xsd:date">
        <xsd:annotation>
            <xsd:documentation>The date on which the required collection frequency (RCF) ended.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFJanuaryCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFFebruaryCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFMarchCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFAprilCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFMayCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFJuneCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFJulyCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFAugustCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFSeptemberCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFOctoberCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFNovemberCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitorÆs required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RCFDecemberCode" type="aqs:DigitOneStringType">
        <xsd:annotation>
            <xsd:documentation>Specifies the collection frequency required within an indicated month for a monitor's required collection frequency when that frequency is stratified random, random, or seasonal. Twelve slots are available, one for each month in a year.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>
