dotnet/prod-opennode2-net/plugins/AQS3/xml_schema/0/EN_AQS_MonitorNetworkInformation_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Nick Mangus (LMP4 ISGS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/3" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/3" elementFormDefault="qualified" attributeFormDefault="qualified" version="3.0">
	<xsd:annotation>
		<xsd:documentation>Monitor Type Information file
		Current Version Available At :
		Description : Schema for Monitor Type Information 
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency
		Point of Contact : Nick Mangus (EPA)	
		</xsd:documentation>
	</xsd:annotation>
	<!--Data element and data type include files-->
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DateTimeDataTypes_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_NormCharTwentyTextDataType_v3.0.xsd"/>
	<!--Transaction MC schema components-->
	<xsd:element name="MonitorNetworkAffiliationInformation" type="aqs:MonitorNetworkAffiliationInformationType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements indicating when a monitor began and ended operations as part of different networks.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Monitor Type Information complex data types-->
	<xsd:complexType name="MonitorNetworkAffiliationInformationType">
		<xsd:annotation>
			<xsd:documentation>Monitor network affiliation information details complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:ActionCode"/>
			<xsd:element ref="aqs:MonitorNetworkAssignmentText"/>
			<xsd:element ref="aqs:MonitorNetworkAssignmentBeginDate"/>
			<xsd:element ref="aqs:MonitorNetworkAssignmentEndDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Monitor Type Information data elements-->
	<xsd:element name="MonitorNetworkAssignmentText" type="aqs:NormalizedString20CharType">
		<xsd:annotation>
			<xsd:documentation>The name (abbreviation) of the network the monitor belongs to.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitorNetworkAssignmentBeginDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date on which the monitor started operating as part of this network.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitorNetworkAssignmentEndDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date on which  the monitor ceased operating as part of this network.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
