java/node-plugin/node-plugin-here/src/main/xsd/T2/EI_IncidentContact_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ei="http://www.exchangenetwork.net/schema/EnvironmentalIncident/1/0" targetNamespace="http://www.exchangenetwork.net/schema/EnvironmentalIncident/1/0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_IndividualIdentity_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_MailingAddress_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_Telephonic_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_ElectronicAddress_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>		
		Schema Name : 	EI_IncidentContact_v1.0.xsd
		Current Version Available At :
		Description : 	General incident contact information, which includes individual name, title, mailing address, phone, contact type, etc.
		Aplication : 
		Developed by : 	 enfoTech
		Point of Contact : Sara Liu	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="IncidentContact" type="ei:IncidentContactDataType">
		<xsd:annotation>
			<xsd:documentation>Incident contact data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IncidentContactDataType">
		<xsd:sequence>
			<xsd:element ref="ei:Responsibility" maxOccurs="unbounded"/>
			<xsd:element ref="ei:ContactType" maxOccurs="unbounded"/>
			<xsd:element ref="sc:IndividualIdentity" minOccurs="0"/>
			<xsd:element ref="sc:MailingAddress" minOccurs="0"/>
			<xsd:element ref="sc:Telephonic" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="sc:ElectronicAddress" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ContactType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Identifying the types of the contact, for instance, emergency contact, night contact, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Responsibility" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Identifying the responsibility of the contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
