java/node-plugin/node-plugin-here/src/main/xsd/T2/TierII_Facility_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by private (private) -->
<xsd:schema targetNamespace="http://www.exchangenetwork.net/schema/TierII/1/0" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" xmlns:hls="urn:us:net:exchangenetwork:hls:1:0" xmlns:TRI="urn:us:net:exchangenetwork:TRI:1:0" xmlns:TierII="http://www.exchangenetwork.net/schema/TierII/1/0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_NAICSIdentity_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:TRI:1:0" schemaLocation="TRI_Facility_v1.0.xsd"/>
	<xsd:include schemaLocation="TierII_FacilityContact_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>		
		Schema Name : 	TierII_Facility_v1.0.xsd
		Current Version Available At :
		Description : 	Facility name, location, address, industry and related facility information
		Aplication : 
		Developed by : 	 enfoTech
		Point of Contact : Sara Liu	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="TierIIFacility" type="TierII:TierIIFacilityDataType">
		<xsd:annotation>
			<xsd:documentation>Facility Identification data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TierIIFacilityDataType">
		<xsd:sequence>
			<xsd:element ref="TRI:FacilityIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="sc:FacilitySiteName" minOccurs="0"/>
			<xsd:element ref="TierII:FacilityStatus" minOccurs="0"/>
			<xsd:element ref="sc:LocationAddress" minOccurs="0"/>
			<xsd:element ref="TRI:MailingFacilitySiteName" minOccurs="0"/>
			<xsd:element ref="TRI:MailingAddress" minOccurs="0"/>
			<xsd:element ref="TRI:FacilitySIC" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="sc:NAICSIdentity" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="TRI:ParentCompanyNameNAIndicator" minOccurs="0"/>
			<xsd:element ref="TRI:ParentCompanyNameText" minOccurs="0"/>
			<xsd:element ref="TRI:ParentDunBradstreetCode" minOccurs="0"/>
			<xsd:element ref="TRI:FacilityDunBradstreetCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="TRI:RCRAIdentificationNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="TRI:NPDESIdentificationNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="TRI:UICIdentificationNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="TierII:FacilityContact" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FacilityStatus" type="xsd:string"/>
</xsd:schema>
