prod-opennode2-net/plugins/RCRA_511/xml_schema/11/RCRA_HandlerEpisodicEvent_v5.11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="5.11">
	<xsd:include schemaLocation="./RCRA_Shared_v5.11.xsd"/>
	<xsd:include schemaLocation="./RCRA_Contact_v5.11.xsd"/>
	<xsd:include schemaLocation="./RCRA_HandlerEpisodicWaste_v5.11.xsd"/>
	<xsd:include schemaLocation="./RCRA_HandlerEpisodicProject_v5.11.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_HandlerEpisodicEvent_v5.11
		Description : 	Complex Data Type for RCRA Handler Episodic Event.
		Developed by : 	U.S. EPA
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="HandlerEpisodicEvent" type="RC:HandlerEpisodicEventDataType">
		<xsd:annotation>
			<xsd:documentation>Episodic event describing the handler's episodic event streams.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="HandlerEpisodicEventDataType">
		<xsd:annotation>
			<xsd:documentation>Episodic event describing the handler's episodic event streams.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:TransactionCode" minOccurs="0"/>
			<xsd:element ref="RC:EpisodicEventOwner" minOccurs="0"/>
			<xsd:element ref="RC:EpisodicEventType" minOccurs="0"/>			
			<xsd:element ref="RC:EpisodicProject" maxOccurs="unbounded"/>
			<xsd:element ref="RC:Contact" minOccurs="0"/>
			<xsd:element ref="RC:EpisodicEventStartDate" minOccurs="0"/>
			<xsd:element ref="RC:EpisodicEventEndDate" minOccurs="0"/>
			<xsd:element ref="RC:EpisodicWaste" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EpisodicEventStartDate" type="RC:DateDataType">
		<xsd:annotation>
			<xsd:documentation>Episodic event start event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EpisodicEventEndDate" type="RC:DateDataType">
		<xsd:annotation>
			<xsd:documentation>Episodic event end date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EpisodicEventOwner" type="RC:EpisodicEventOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Owner of the episodic event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="EpisodicEventOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="EpisodicEventType" type="RC:EpisodicEventTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Type of the episodic event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="EpisodicEventTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
