java/node-plugin/node-plugin-frs23/src/main/xsd/FACID_GeographicCoordinateDetails_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:facid="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:include schemaLocation="./FACID_GeographicCoordinateDataType_v2.3.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_GeographicCoordinateDetails_v2.3
		Current Version Available At :
		Description : 	Locational Reference schema for Data transfer.Date format is YYYY-MM-DD.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="GeographicCoordinateDetails">
		<xsd:sequence>
			<xsd:element ref="facid:GeographicCoordinates"/>
			<xsd:element ref="facid:StateFacilitySystemAcronymName"/>
			<xsd:element ref="facid:StateFacilityIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="GeographicCoordinates" type="facid:GeographicCoordinateDataType"/>
	<xsd:element name="StateFacilitySystemAcronymName" type="xsd:string"/>
	<xsd:element name="StateFacilityIdentifier" type="xsd:string"/>
</xsd:schema>
