java/node-plugin/node-plugin-frs23/src/main/xsd/FACID_SICCodeDetails_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:facid="http://www.epa.gov/xml" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:include schemaLocation="./FACID_SICCodeDataType_v2.3.xsd"/>
	<xsd:include schemaLocation="./FACID_PrimaryIndicatorDataType_v2.3.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_SICCodeDetails_v2.3 
		Current Version Available At :
		Description : 	SIC Code Details schema for Data transfer. Date format is YYYY-MM-DD.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="SICCodeDetails">
		<xsd:sequence>
			<xsd:element ref="facid:InformationSystemAcronymName" minOccurs="0"/>
			<xsd:element ref="facid:InformationSystemIdentifier" minOccurs="0"/>
			<xsd:element ref="facid:EnvironmentalInterestTypeText" minOccurs="0"/>
			<xsd:element ref="facid:SICCode" minOccurs="0"/>
			<xsd:element ref="facid:SICPrimaryIndicator" minOccurs="0"/>
			<xsd:element ref="facid:DataSourceName" minOccurs="0"/>
			<xsd:element ref="facid:LastReportedDate" minOccurs="0"/>
			<xsd:element ref="facid:StateFacilitySystemAcronymName"/>
			<xsd:element ref="facid:StateFacilityIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="InformationSystemAcronymName" type="xsd:string"/>
	<xsd:element name="InformationSystemIdentifier" type="xsd:string"/>
	<xsd:element name="EnvironmentalInterestTypeText" type="xsd:string"/>
	<xsd:element name="SICCode" type="facid:SICCodeDataType"/>
	<xsd:element name="SICPrimaryIndicator" type="facid:PrimaryIndicatorDataType"/>
	<xsd:element name="DataSourceName" type="xsd:string"/>
	<xsd:element name="LastReportedDate" type="xsd:date"/>
	<xsd:element name="StateFacilitySystemAcronymName" type="xsd:string"/>
	<xsd:element name="StateFacilityIdentifier" type="xsd:string"/>
</xsd:schema>
