dotnet/prod-opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/FACID_OrganizationDataType_v2.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="FACID_DUNSIdentifierDataType_v2.xsd"/>
<xsd:annotation>
	<xsd:appinfo>OrganizationDataType_v2.xsd v2.0 2001-02 </xsd:appinfo>
	<xsd:documentation>
		Complex Data Type for Organization.
	</xsd:documentation>
</xsd:annotation>
<xsd:complexType name="OrganizationDataType">
<xsd:sequence>
<xsd:element name="OrganizationFormalName" type="xsd:string" minOccurs="0"/> 
<xsd:element name="OrganizationDUNSNumber" type="DUNSIdentifierDataType" minOccurs="0"/>
<xsd:element name="OrganizationTypeText" type="xsd:string" minOccurs="0"/>
<xsd:element name="EmployerIdentifier" type="xsd:string" minOccurs="0"/>
<xsd:element name="StateBusinessIdentifier" type="xsd:string" minOccurs="0"/>
<xsd:element name="UltimateParentName" type="xsd:string" minOccurs="0"/>
<xsd:element name="UltimateParentDUNSNumber" type="DUNSIdentifierDataType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
