dotnet/prod-opennode2-net/plugins/HERE/xml_schema/SDWIS/2/0/FACID_GeographicCoordinateDataType_v2.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="FACID_SubEntityDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_VerticalDatumDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_VerticalMethodDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_GeometricDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_ReferencePointDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_HorizontalDatumDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_HorizontalMethodDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_VerticalMeasureDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_LongitudeDataType_v2.xsd"/>
<xsd:include schemaLocation="FACID_LatitudeDataType_v2.xsd"/>
<xsd:annotation>
	<xsd:appinfo>GeographicCoordinateDataType_v2.xsd v2.0 2001-02 </xsd:appinfo>
	<xsd:documentation>
		Data Type for Geographic Coordinates.
	</xsd:documentation>
</xsd:annotation>
<xsd:complexType name="GeographicCoordinateDataType">
<xsd:sequence>
<xsd:element name="LatitudeMeasure" type="LatitudeDataType"/>
<xsd:element name="LongitudeMeasure" type="LongitudeDataType"/>
<xsd:element name="HorizontalAccuracyMeasure" type="xsd:nonNegativeInteger" minOccurs="0"/>
<xsd:element name="HorizontalCollectionMethodText" type="HorizontalMethodDataType" minOccurs="0"/>
<xsd:element name="HorizontalReferenceDatumName" type="HorizontalDatumDataType" minOccurs="0"/>
<xsd:element name="SourceMapScaleNumber" type="xsd:nonNegativeInteger" minOccurs="0"/>
<xsd:element name="ReferencePointText" type="ReferencePointDataType" minOccurs="0"/>
<xsd:element name="DataCollectionDate" type="xsd:date" minOccurs="0"/>
<xsd:element name="GeometricTypeName" type="GeometricDataType" minOccurs="0"/> 
<xsd:element name="LocationCommentsText"  type="xsd:string" minOccurs="0"/>
<xsd:element name="VerticalCollectionMethodText"  type="VerticalMethodDataType" minOccurs="0"/>
<xsd:element name="VerticalMeasure"  type="VerticalMeasureDataType" minOccurs="0"/>
<xsd:element name="VerticalAccuracyMeasure"  type="xsd:nonNegativeInteger" minOccurs="0"/>
<xsd:element name="VerticalReferenceDatumName"  type="VerticalDatumDataType" minOccurs="0"/>
<xsd:element name="DataSourceName"  type="xsd:string" minOccurs="0"/>
<xsd:element name="CoordinateDataSourceName"  type="xsd:string" minOccurs="0"/>
<xsd:element name="SubEntityIdentifier"  type="xsd:string" minOccurs="0"/>
<xsd:element name="SubEntityTypeName"  type="SubEntityDataType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
