prod-opennode2-net/plugins/RCRA_513/xml_schema/13/RCRA_EmanifestWaste_v5.13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="5.13">
	<xsd:include schemaLocation="./RCRA_EmanifestTransporter_v5.13.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_ManifestWasteEM_v5.13
		Description : 	Top level of all information about the manifest waste
		Developed by : 	U.S. EPA
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ManifestWaste" type="RC:ManifestWasteDataType">
		<xsd:annotation>
			<xsd:documentation>Top level of all information about the manifest waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ManifestWasteDataType">
		<xsd:annotation>
			<xsd:documentation>Manifest waste data.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:DotHazardous" minOccurs="0"/>
			<xsd:element ref="RC:DotIdNumberDescription" minOccurs="0"/>
			<xsd:element ref="RC:DotPrintedInformation" minOccurs="0"/>
			<xsd:element ref="RC:NonHazWasteDescription" minOccurs="0"/>
			<xsd:element ref="RC:ContainerNumber" minOccurs="0"/>
			<xsd:element ref="RC:QuantityVal" minOccurs="0"/>
			<xsd:element ref="RC:ContainerTypeCode" minOccurs="0"/>
			<xsd:element ref="RC:ContainerTypeDescription" minOccurs="0"/>
			<xsd:element ref="RC:QtyUnitOfMeasureCode" minOccurs="0"/>
			<xsd:element ref="RC:QtyUnitOfMeasureDesc" minOccurs="0"/>			
			<xsd:element ref="RC:BrDensity" minOccurs="0"/>
			<xsd:element ref="RC:BrDensityUOMCode" minOccurs="0"/>
			<xsd:element ref="RC:BrDensityUOMDescription" minOccurs="0"/>
			<xsd:element ref="RC:BrFormCode" minOccurs="0"/>
			<xsd:element ref="RC:BrFormCodeDescription" minOccurs="0"/>
			<xsd:element ref="RC:BrSourceCode" minOccurs="0"/>
			<xsd:element ref="RC:BrSourceCodeDescription" minOccurs="0"/>
			<xsd:element ref="RC:BrWasteMinCode" minOccurs="0"/>
			<xsd:element ref="RC:BrWasteMinDescription" minOccurs="0"/>
			<xsd:element ref="RC:BrMixedRadioactiveWaste" minOccurs="0"/>
			<xsd:element ref="RC:HazardousWaste" minOccurs="0"/>
			<xsd:element ref="RC:Pcb" minOccurs="0"/>		
			<xsd:element ref="RC:PcbInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:QuantityDiscrepancy" minOccurs="0"/>
			<xsd:element ref="RC:WasteTypeDiscrepancy" minOccurs="0"/>
			<xsd:element ref="RC:DiscrepancyComments" minOccurs="0"/>
			<xsd:element ref="RC:WasteResidue" minOccurs="0"/>
			<xsd:element ref="RC:WasteResidueComments" minOccurs="0"/>
			<xsd:element ref="RC:ManagementMethodCode" minOccurs="0"/>
			<xsd:element ref="RC:ManagementMethodDescription" minOccurs="0"/>
			<xsd:element ref="RC:ConsentNumber" minOccurs="0"/>
			<xsd:element ref="RC:AdditionalComment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:HandlingInstructions" minOccurs="0"/>
			<xsd:element ref="RC:LineNumber" minOccurs="0"/>
			<xsd:element ref="RC:EpaWaste" minOccurs="0"/>
			<xsd:element ref="RC:COIOnly" minOccurs="0"/>
			<xsd:element ref="RC:QuantityAcuteKg" minOccurs="0"/>
			<xsd:element ref="RC:QuantityAcuteTons" minOccurs="0"/>
			<xsd:element ref="RC:QuantityKg" minOccurs="0"/>
			<xsd:element ref="RC:QuantityNonAcuteKg" minOccurs="0"/>
			<xsd:element ref="RC:QuantityNonAcuteTons" minOccurs="0"/>
			<xsd:element ref="RC:QuantityTons" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--       Elements       -->
		<xsd:element name="COIIndicator" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>COI indicator.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DotHazardous" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Hazardous indicator.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NonHazWasteDescription" type="RC:NonHazWasteDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Waste description.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContainerTypeCode" type="RC:ContainerTypeCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Container type code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContainerTypeDescription" type="RC:ContainerTypeDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Container type description information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QtyUnitOfMeasureCode" type="RC:QuantityUOMCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Qty unit of measure code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QtyUnitOfMeasureDesc" type="RC:QuantityUOMDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Qty unit of measure description information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HazardousWaste" type="RC:HazardousWasteDataType">
		<xsd:annotation>
			<xsd:documentation>Hazardous waste information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Pcb" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>PCB indicator.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PcbInfo" type="RC:PcbInfoDataType">
		<xsd:annotation>
			<xsd:documentation>PCB information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineNumber" type="RC:LineNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Line number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EpaWaste" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Indicate if it's a waste</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DotIdNumberDescription" type="RC:DotIdNumberDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Id number information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DotPrintedInformation" type="RC:PrintedDotInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Printed DOT information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContainerNumber" type="RC:IntegerDataType">
		<xsd:annotation>
			<xsd:documentation>Container number information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityVal" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity Valure information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrDensity" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>BR density information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrDensityUOMCode" type="RC:UOMCodeDataType">
		<xsd:annotation>
			<xsd:documentation>BR density unit of measurement code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrDensityUOMDescription" type="RC:UOMDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>BR density unit of measurement description</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrFormCode" type="RC:FormCodeTypeDataType">
		<xsd:annotation>
			<xsd:documentation>BR form code information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrFormCodeDescription" type="RC:FormDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>BR form code description</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrSourceCode" type="RC:SourceCodeTypeDataType">
		<xsd:annotation>
			<xsd:documentation>BR source code information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrSourceCodeDescription" type="RC:SourceDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>BR source code information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FederalWasteCode" type="RC:FedManifestWasteCodeDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Federal waste codes information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateWasteCode" type="RC:StateManifestWasteCodeDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Tsdf state waste codes information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TxWasteCode" type="RC:TxWasteCodeDataType">
		<xsd:annotation>
			<xsd:documentation>TX waste codes information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LoadTypeCode" type="RC:LoadCodeTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Load type information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LoadTypeDescription" type="RC:LoadCodeTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Load type description</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArticleContainerId" type="RC:ArticleContainerIdDataType">
		<xsd:annotation>
			<xsd:documentation>Article container Id</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateOfRemoval" type="RC:DateTimeDataType">
		<xsd:annotation>
			<xsd:documentation>Date of removal</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Weight" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>Weight information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteType" type="RC:WasteTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Waste type information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BulkIdentity" type="RC:BulkIdentityDataType">
		<xsd:annotation>
			<xsd:documentation>Bulk identity information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityDiscrepancy" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Indicate waste quantity</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteTypeDiscrepancy" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Indicate waste type</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteResidue" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Indicate residue information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DiscrepancyComments" type="RC:DiscrepancyCommentsDataType">
		<xsd:annotation>
			<xsd:documentation>Discrepancy comments information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteResidueComments" type="RC:ResidueCommentsDataType">
		<xsd:annotation>
			<xsd:documentation>Residue comments information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityUOMCode" type="RC:QuantityUOMCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity UOM Code information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityUOMDescription" type="RC:QuantityUOMDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity UOM description information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FormDescription" type="RC:FormDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Form description information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceDescription" type="RC:SourceDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Source description information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FedManifestWasteCode" type="RC:FedManifestWasteCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Fed manifest waste code information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateManifestWasteCode" type="RC:StateManifestWasteCodeDataType">
		<xsd:annotation>
			<xsd:documentation>State manifest waste code information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManifestWasteDescription" type="RC:ManifestWasteDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Manifest waste description information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManagementMethodCode" type="RC:ManagementMethodCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Management method code information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManagementMethodDescription" type="RC:ManagementMethodDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Management method description information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrWasteMinCode" type="RC:WMCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Waste minimization code information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrWasteMinDescription" type="RC:WMDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Waste minimization description information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BrMixedRadioactiveWaste" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Waste minimization description information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AdditionalComment" type="RC:AdditionalCommentDataType">
		<xsd:annotation>
			<xsd:documentation>Additional omment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentDescription" type="RC:CommentDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Comment description</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentLabel" type="RC:CommentLabelDataType">
		<xsd:annotation>
			<xsd:documentation>Comment label</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityAcuteKg" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity acute kg information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityAcuteTons" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity acute tons information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityKg" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity kg information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityNonAcuteKg" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity non acute kg information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityNonAcuteTons" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity non acute tons information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityTons" type="RC:DecimalDataType">
		<xsd:annotation>
			<xsd:documentation>Quantity tons information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="COIOnly" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Is public indicator</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConsentNumber" type="RC:ConsentNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a consent number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HandlingInstructions" type="RC:HandlingInstructionsDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a handling instructions</xsd:documentation>
		</xsd:annotation>
	</xsd:element>	
	<!--       Data Type      --> 
	<xsd:simpleType name="DotIdNumberDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PrintedDotInformationDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonHazWasteDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QuantityUOMCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="G"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
			<!--xsd:maxLength value="1"/>
			<xsd:minLength value="1"/-->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QuantityUOMDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Pounds"/>
			<xsd:enumeration value="Tons (2000 Pounds)"/>
			<xsd:enumeration value="Kilograms"/>
			<xsd:enumeration value="Metric Tons (1000 Kilograms)"/>
			<xsd:enumeration value="Gallons"/>
			<xsd:enumeration value="Liters"/>
			<xsd:enumeration value="Cubic Yards"/>
			<xsd:enumeration value="Cubic Meters"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UOMCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UOMDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="StateManifestWasteCodeDescriptionDataType">
		<xsd:sequence>
			<xsd:element ref="RC:StateManifestWasteCode"/>
			<xsd:element ref="RC:ManifestWasteDescription" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
		<xsd:complexType name="FedManifestWasteCodeDescriptionDataType">
		<xsd:sequence>
			<xsd:element ref="RC:FedManifestWasteCode"/>
			<xsd:element ref="RC:ManifestWasteDescription" minOccurs="0"/>
			<xsd:element ref="RC:COIIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalCommentDataType">
		<xsd:sequence>
			<xsd:element ref="RC:CommentLabel" minOccurs="0"/>
			<xsd:element ref="RC:CommentDescription" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="FormCodeTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FormDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SourceCodeTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SourceDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FedManifestWasteCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
		<xsd:simpleType name="StateManifestWasteCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ManifestWasteDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ManagementMethodCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ManagementMethodDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WMCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WMDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="240"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoadCodeTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalDataType">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="HazardousWasteDataType">
		<xsd:sequence>
			<xsd:element ref="RC:FederalWasteCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:StateWasteCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:TxWasteCode" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TxWasteCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="8"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PcbInfoDataType">
		<xsd:sequence>
			<xsd:element ref="RC:LoadTypeCode" minOccurs="0"/>
			<xsd:element ref="RC:LoadTypeDescription" minOccurs="0"/>  
			<xsd:element ref="RC:ArticleContainerId" minOccurs="0"/>
			<xsd:element ref="RC:DateOfRemoval" minOccurs="0"/>
			<xsd:element ref="RC:Weight" minOccurs="0"/>
			<xsd:element ref="RC:WasteType" minOccurs="0"/>
			<xsd:element ref="RC:BulkIdentity" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ArticleContainerIdDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WasteTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BulkIdentityDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DiscrepancyCommentsDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="257"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResidueCommentsDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LineNumberDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="19"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommentDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommentLabelDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
		<xsd:simpleType name="ConsentNumberDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HandlingInstructionsDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="ContainerTypeCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ContainerTypeDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
