prod-opennode2-net/plugins/RCRA_513/xml_schema/13/RCRA_MechanismDetail_v5.13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="5.12">
	<xsd:include schemaLocation="./RCRA_Shared_v5.13.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_MechanismDetail_v5.13
		Description : 	Financial Assurance Mechanism Details
		Developed by : 	U.S. EPA
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="MechanismDetail" type="RC:MechanismDetailDataType">
		<xsd:annotation>
			<xsd:documentation>Details of the mechanism used to address cost estimates of the Financial liability associated with a given Handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MechanismDetailDataType">
		<xsd:annotation>
			<xsd:documentation>Details of the mechanism used to address cost estimates of the Financial liability associated with a given Handler.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:TransactionCode" minOccurs="0"/>
			<xsd:element ref="RC:MechanismDetailSequenceNumber"/>
			<xsd:element ref="RC:MechanismIdentificationText" minOccurs="0"/>
			<xsd:element ref="RC:FaceValueAmount" minOccurs="0"/>
			<xsd:element ref="RC:EffectiveDate" minOccurs="0"/>
			<xsd:element ref="RC:ExpirationDate" minOccurs="0"/>
			<xsd:element ref="RC:SupplementalInformationText" minOccurs="0"/>
			<xsd:element ref="RC:CurrentMechanismDetailIndicator" minOccurs="0"/>
			<xsd:element ref="RC:CreatedByUserid" minOccurs="0"/>
			<xsd:element ref="RC:FCreatedDate" minOccurs="0"/>
			<xsd:element ref="RC:DataOrig" minOccurs="0"/>
			<xsd:element ref="RC:FacilityFaceValueAmount" minOccurs="0"/>
			<xsd:element ref="RC:AlternativeIndicator" minOccurs="0"/>	
			<xsd:element ref="RC:LastUpdatedBy" minOccurs="0"/>
			<xsd:element ref="RC:LastUpdatedDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FacilityFaceValueAmount" type="RC:FaceValueAmountDataType">
		<xsd:annotation>
			<xsd:documentation>The total dollar value of facility financial assurance mechanism.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternativeIndicator" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Flag indicating if it is alternative.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
