java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Common_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Address_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Common_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: global elements with their facets and code lists</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES 2.0</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT CHARACTERISTICS -->
	<xsd:element name="AffiliationTypeText" type="icis:StringMin1Max3Type"/>
	<xsd:element name="ComplianceSchedulePenaltyAmount" type="icis:DecimalRange0To99999999999999.99Type"/>
	<xsd:element name="CSOEventDate" type="xsd:date"/>
	<xsd:element name="EnforcementActionName" type="icis:StringMin1Max100Type"/>
	<xsd:element name="EnforcementActionTypeCode" type="icis:StringMin1Max7TypeBase"/>
	<xsd:element name="FacilitySiteName" type="icis:StringMin1Max80TypeBase"/>
	<xsd:element name="LimitEndDate" type="xsd:date"/>
	<xsd:element name="LimitStartDate" type="xsd:date"/>
	<xsd:element name="NarrativeConditionCode" type="icis:String3FixedType"/>
	<xsd:element name="NumericConditionQualifier" type="icis:StringMin1Max3Type"/>
	<xsd:element name="NumericConditionQuantity" type="icis:Decimal8FloatingType"/>
	<xsd:element name="NumericReportViolationCode" type="icis:StringMin1Max5TypeBase"/>
	<xsd:element name="OrganizationDUNSNumber" type="icis:String9FixedType"/>
	<xsd:element name="OrganizationFormalName" type="icis:StringMin1Max80Type"/>
	<xsd:element name="PermitEffectiveDate" type="icis:DateType"/>
	<xsd:element name="PermitExpirationDate" type="icis:DateType"/>
	<xsd:element name="PermitIssueDate" type="icis:DateType"/>
	<xsd:element name="PermittedFeatureIdentifier" type="icis:StringMin3Max4TypeBase"/>
	<xsd:element name="PermittingAuthorityReportReceivedDate" type="xsd:date"/>
	<xsd:element name="ProgramsViolatedCode" type="icis:StringMin1Max9TypeBase"/>
	<xsd:element name="ReasonForDeletingRecord" type="icis:StringMin1Max500Type"/>
	<xsd:element name="ScheduleViolationCode" type="icis:StringMin1Max5TypeBase"/>
	<xsd:element name="SSOAnnualReportReceivedDate" type="xsd:date"/>
	<xsd:element name="SSOEventDate" type="xsd:date"/>
	<xsd:element name="SSOMonthlyReportReceivedDate" type="xsd:date"/>
	<xsd:element name="StateFacilityIdentifier" type="icis:StringMin1Max12Type"/>
	<xsd:element name="StateRegionCode" type="icis:StringMin1Max5Type"/>
	<!-- SIMPLE TYPE DECLARATIONS -->
	<!-- An * is used in non-strings as way to blank out the field in the database -->
	<xsd:simpleType name="String1FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String1FixedType">
		<xsd:union memberTypes="icis:String1FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String2FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String2FixedType">
		<xsd:union memberTypes="icis:String2FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String3FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String3FixedType">
		<xsd:union memberTypes="icis:String3FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String4FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="4"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String4FixedType">
		<xsd:union memberTypes="icis:String4FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String5FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String5FixedType">
		<xsd:union memberTypes="icis:String5FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String6FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="6"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String6FixedType">
		<xsd:union memberTypes="icis:String6FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String8FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="8"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String8FixedType">
		<xsd:union memberTypes="icis:String8FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String9FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="9"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String9FixedType">
		<xsd:union memberTypes="icis:String9FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String10FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String10FixedType">
		<xsd:union memberTypes="icis:String10FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String11FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="11"/>
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String11FixedType">
		<xsd:union memberTypes="icis:String11FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String12FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="12"/>
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String12FixedType">
		<xsd:union memberTypes="icis:String12FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="String20FixedTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="20"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String20FixedType">
		<xsd:union memberTypes="icis:String20FixedTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max2TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max2Type">
		<xsd:union memberTypes="icis:StringMin1Max2TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max3TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max3Type">
		<xsd:union memberTypes="icis:StringMin1Max3TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max4Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max5TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max5Type">
		<xsd:union memberTypes="icis:StringMin1Max5TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max6Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max7TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="7"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max7Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max8Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max9TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="9"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max9Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max10Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max12Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max11Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max14TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max14Type">
		<xsd:union memberTypes="icis:StringMin1Max14TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max15Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max20TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max20Type">
		<xsd:union memberTypes="icis:StringMin1Max20TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max25Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max30TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max30Type">
		<xsd:union memberTypes="icis:StringMin1Max30TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max35Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max40TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max40Type">
		<xsd:union memberTypes="icis:StringMin1Max40TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max44Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="44"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max50TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max50Type">
		<xsd:union memberTypes="icis:StringMin1Max50TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max60TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="60"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max60Type">
		<xsd:union memberTypes="icis:StringMin1Max60TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max80TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
			<xsd:pattern value="[^\*]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max80Type">
		<xsd:union memberTypes="icis:StringMin1Max80TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max100Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max120Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max150Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max200Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max300Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max315Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="315"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max500Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max1000Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max2000Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max4000Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin1Max5000Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin3Max4TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin3Max4Type">
		<xsd:union memberTypes="icis:StringMin3Max4TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin3Max16TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin3Max16Type">
		<xsd:union memberTypes="icis:StringMin3Max16TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin3Max30Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin7Max10TypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="7"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMin7Max10Type">
		<xsd:union memberTypes="icis:StringMin7Max10TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- PERCENT TYPES -->
	<!-- acceptable percent range is 0 to 99.9 -->
	<xsd:simpleType name="PercentRange0To99.9TypeBase">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99.9"/>
			<xsd:fractionDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PercentRange0To99.9Type">
		<xsd:union memberTypes="icis:PercentRange0To99.9TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- DECIMAL TYPES -->
	<!-- acceptable range is 0 to 999999, 0 to 1 decimal places -->
	<xsd:simpleType name="Decimal6Base">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999.9"/>
			<xsd:fractionDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal6FloatingType">
		<xsd:union memberTypes="icis:Decimal6Base icis:NonNegativeIntegerMin1Max6TypeBase icis:AsteriskType"/>
	</xsd:simpleType>

	<!-- acceptable range is 0 to 99999999, 0 to 8 decimal places -->
	<xsd:simpleType name="Decimal8FloatingTypeBase">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="-9999999"/>
			<xsd:maxInclusive value="99999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal8FloatingType">
		<xsd:union memberTypes="icis:Decimal8FloatingTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- acceptable range is 0 to 999.9, up to 1 decimal place -->
	<xsd:simpleType name="DecimalRange0To999.9TypeBase">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999.9"/>
			<xsd:fractionDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalRange0To999.9Type">
		<xsd:union memberTypes="icis:DecimalRange0To999.9TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- acceptable range is 0 to 999.99, up to 2 decimal places -->
	<xsd:simpleType name="DecimalRange0To999.99TypeBase">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999.99"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalRange0To999.99Type">
		<xsd:union memberTypes="icis:DecimalRange0To999.99TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- acceptable percent range is 0 to 9999.99, up to 2 decimal places -->
	<xsd:simpleType name="DecimalRange0To9999.99TypeBase">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999.99"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalRange0To9999.99Type">
		<xsd:union memberTypes="icis:DecimalRange0To9999.99TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- acceptable percent range is 0 to 9999999.99, up to 2 decimal places -->
	<xsd:simpleType name="DecimalRange0To9999999.9TypeBase">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999.9"/>
			<xsd:fractionDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalRange0To9999999.9Type">
		<xsd:union memberTypes="icis:DecimalRange0To9999999.9TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- acceptable percent range is 0 to 99999999999999.99, up to 2 decimal places -->
	<xsd:simpleType name="DecimalRange0To99999999999999.99TypeBase">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999999999999.99"/>
			<xsd:fractionDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalRange0To99999999999999.99Type">
		<xsd:union memberTypes="icis:DecimalRange0To99999999999999.99TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- INTEGER TYPES -->

	<xsd:simpleType name="IntegerMin1Max6TypeBase">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-999999"/>
			<xsd:maxInclusive value="+999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerMin1Max6Type">
		<xsd:union memberTypes="icis:IntegerMin1Max6TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerMin1Max10TypeBase">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-9999999999"/>
			<xsd:maxInclusive value="+9999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerMin1Max10Type">
		<xsd:union memberTypes="icis:IntegerMin1Max10TypeBase icis:AsteriskType"/>
	</xsd:simpleType>

	<xsd:simpleType name="IntegerRange0To8TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange0To8Type">
		<xsd:union memberTypes="icis:IntegerRange0To8TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange0To12TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange0To12Type">
		<xsd:union memberTypes="icis:IntegerRange0To12TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange1To12TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange1To12Type">
		<xsd:union memberTypes="icis:IntegerRange1To12TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange1To4TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange1To4Type">
		<xsd:union memberTypes="icis:IntegerRange1To4TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange0To1000TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange0To1000Type">
		<xsd:union memberTypes="icis:IntegerRange0To1000TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange1To999999999999999TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="999999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange1To999999999999999Type">
		<xsd:union memberTypes="icis:IntegerRange1To999999999999999TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange1970To2099TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="1970"/>
			<xsd:maxInclusive value="2099"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerRange1970To2099Type">
		<xsd:union memberTypes="icis:IntegerRange1970To2099TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- Allows 00, 01,... up to 99 -->
	<xsd:simpleType name="Integer2FixedRange00To99TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:pattern value="\p{Nd}\p{Nd}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Integer2FixedRange00To99Type">
		<xsd:union memberTypes="icis:Integer2FixedRange00To99TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<!-- Allows 01,... up to 99, but not 00 b/c it is not a positiveInteger -->
	<xsd:simpleType name="Integer2FixedRange01To99TypeBase">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:pattern value="\p{Nd}\p{Nd}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Integer2FixedRange01To99Type">
		<xsd:union memberTypes="icis:Integer2FixedRange01To99TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="Integer2FixedRange01To12TypeBase">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:minInclusive value="01"/>
			<xsd:maxInclusive value="12"/>
			<xsd:pattern value="\p{Nd}\p{Nd}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Integer2FixedRange01To12Type">
		<xsd:union memberTypes="icis:Integer2FixedRange01To12TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="Integer2FixedRange01To60TypeBase">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:minInclusive value="01"/>
			<xsd:maxInclusive value="60"/>
			<xsd:pattern value="\p{Nd}\p{Nd}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Integer2FixedRange01To60Type">
		<xsd:union memberTypes="icis:Integer2FixedRange01To60TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="Integer3FixedRange001To999TypeBase">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:pattern value="\p{Nd}\p{Nd}\p{Nd}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Integer3FixedRange001To999Type">
		<xsd:union memberTypes="icis:Integer3FixedRange001To999TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max2TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max2Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max2TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max3TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max3Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max3TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max4TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max4Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max4TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max5TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max5Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max5TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max6TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max6Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max6TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max7TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max7Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max7TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max8TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max8Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max8TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max9TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max9Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max9TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max10TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max10Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max10TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max15TypeBase">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerMin1Max15Type">
		<xsd:union memberTypes="icis:NonNegativeIntegerMin1Max15TypeBase icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="HourMinuteType">
		<xsd:union memberTypes="icis:ClockTypeBeforeHour20 icis:ClockTypeAfterHour20 icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="ClockTypeBeforeHour20">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="[0-1][0-9][:][0-5][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClockTypeAfterHour20">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="[2][0-3][:][0-5][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NAICSType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="6"/>
			<xsd:maxLength value="6"/>
			<xsd:pattern value="[0-9]{6}|\*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SICType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="4"/>
			<xsd:maxLength value="4"/>
			<xsd:pattern value="[0-9]{4}|\*"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- ENUMERATION DEFINITIONS -->
	<!-- An * is used as way to blank out the field in the database -->
	<xsd:simpleType name="ActiveInactiveType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AsteriskType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BatchApplyFlagType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="R"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ComplianceScheduleFlagType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="J"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:union memberTypes="xsd:date icis:AsteriskType"/>
	</xsd:simpleType>
	<xsd:simpleType name="DischargesFromProductionAreaType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NO"/>
			<xsd:enumeration value="YA"/>
			<xsd:enumeration value="YU"/>
			<xsd:enumeration value="YB"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EstimatedMeasuredType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LeadPartyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonthTextType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ALL"/>
			<xsd:enumeration value="JAN"/>
			<xsd:enumeration value="FEB"/>
			<xsd:enumeration value="MAR"/>
			<xsd:enumeration value="APR"/>
			<xsd:enumeration value="MAY"/>
			<xsd:enumeration value="JUN"/>
			<xsd:enumeration value="JUL"/>
			<xsd:enumeration value="AUG"/>
			<xsd:enumeration value="SEP"/>
			<xsd:enumeration value="OCT"/>
			<xsd:enumeration value="NOV"/>
			<xsd:enumeration value="DEC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nameType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="e-mail"/>
			<xsd:enumeration value="Source"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NumericReportTextType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Q1"/>
			<xsd:enumeration value="Q2"/>
			<xsd:enumeration value="C1"/>
			<xsd:enumeration value="C2"/>
			<xsd:enumeration value="C3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassFailIndicatorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PrecipitationFormType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SamplingBasisType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="W"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateFederalJointType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="J"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="X"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WetDryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="W"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoIndicatorTypeBase">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoIndicatorType">
		<xsd:union memberTypes="icis:YesNoIndicatorTypeBase icis:AsteriskType"/>
	</xsd:simpleType>
</xsd:schema>
