java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Geographic_Coordinates_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Geographic_Coordinates_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES geographic coordinate data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="GeographicCoordinates" type="icis:GeographicCoordinates"/>
	<xsd:element name="GeometricTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="HorizontalAccuracyMeasure" type="icis:IntegerMin1Max6Type"/>
	<xsd:element name="HorizontalCollectionMethodCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="HorizontalReferenceDatumCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="LatitudeMeasure" type="icis:String10FixedType"/>
	<xsd:element name="LongitudeMeasure" type="icis:String11FixedType"/>
	<xsd:element name="ReferencePointCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="SourceMapScaleNumber" type="icis:IntegerMin1Max10Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="GeographicCoordinates">
		<xsd:sequence>
			<xsd:group ref="icis:LatitudeLongitudeCoordinates"/>
			<xsd:element ref="icis:HorizontalAccuracyMeasure" minOccurs="0"/>
			<xsd:element ref="icis:GeometricTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:HorizontalCollectionMethodCode" minOccurs="0"/>
			<xsd:element ref="icis:HorizontalReferenceDatumCode" minOccurs="0"/>
			<xsd:element ref="icis:ReferencePointCode" minOccurs="0"/>
			<xsd:element ref="icis:SourceMapScaleNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="LatitudeLongitudeCoordinates">
		<xsd:sequence>
			<xsd:element ref="icis:LatitudeMeasure" minOccurs="0"/>
			<xsd:element ref="icis:LongitudeMeasure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
 
