java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Informal_Enforcement_Action_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Informal_Enforcement_Action_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES informal enforcement action element data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="InformalEnforcementAction" type="icis:InformalEnforcementAction"/>
	<xsd:element name="InformalEACommentText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="InformalEAUserDefinedField1" type="icis:YesNoIndicatorType"/>
	<xsd:element name="InformalEAUserDefinedField2" type="icis:StringMin1Max50Type"/>
	<xsd:element name="InformalEAUserDefinedField3" type="icis:StringMin1Max50Type"/>
	<xsd:element name="InformalEAUserDefinedField4" type="icis:DateType"/>
	<xsd:element name="InformalEAUserDefinedField5" type="icis:DateType"/>
	<xsd:element name="InformalEAUserDefinedField6" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="ReturnComplianceActualDate" type="icis:DateType"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="InformalEnforcementActionData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:InformalEnforcementAction"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformalEnforcementAction">
		<xsd:complexContent>
			<xsd:extension base="icis:EnforcementActionKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermitIdentifier" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:EnforcementActionTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:EnforcementActionName" minOccurs="0"/>
					<xsd:element ref="icis:ReturnComplianceActualDate" minOccurs="0"/>
					<xsd:element ref="icis:ProgramsViolatedCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:ReasonForDeletingRecord" minOccurs="0"/>
					<xsd:element ref="icis:InformalEACommentText" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField6" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
