java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Compliance_Schedule_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Stays_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Schedule_Event_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Compliance_Schedule_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES compliance schedule data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="ComplianceSchedule" type="icis:ComplianceSchedule"/>
	<xsd:element name="ComplianceScheduleComments" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="ComplianceScheduleEvent" type="icis:ComplianceScheduleEvent"/>
	<xsd:element name="ScheduleDescriptorCode" type="icis:StringMin1Max3Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="ComplianceScheduleData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:ComplianceSchedule"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplianceSchedule">
		<xsd:complexContent>
			<xsd:extension base="icis:ComplianceScheduleKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ComplianceScheduleComments" minOccurs="0"/>
					<xsd:element ref="icis:ScheduleDescriptorCode" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceScheduleEvent" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplianceScheduleEvent">
		<xsd:complexContent>
			<xsd:extension base="icis:ComplianceScheduleEventKeyElements">
				<xsd:sequence>
					<xsd:group ref="icis:ScheduleEventGroup" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceSchedulePenaltyAmount" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
