java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Effluent_Trade_Partner_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Address_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Effluent_Trade_Partner_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES effluent trading partner data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="EffluentTradePartner" type="icis:EffluentTradePartner"/>
	<xsd:element name="TradePartnerEndDate" type="icis:DateType"/>
	<xsd:element name="TradePartnerNPDESID" type="icis:String9FixedType"/>
	<xsd:element name="TradePartnerOtherID" type="icis:StringMin1Max30Type"/>
	<xsd:element name="TradePartnerStartDate" type="icis:DateType"/>
	<xsd:element name="TradePartnerType" type="icis:StringMin1Max3Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="EffluentTradePartnerData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:EffluentTradePartner"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EffluentTradePartner">
		<xsd:complexContent>
			<xsd:extension base="icis:EffluentTradePartnerKeyElements">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element ref="icis:TradePartnerNPDESID" minOccurs="0"/>
						<xsd:element ref="icis:TradePartnerOtherID" minOccurs="0"/>
					</xsd:choice>
					<xsd:element ref="icis:TradePartnerType" minOccurs="0"/>
					<xsd:element ref="icis:EffluentTradePartnerAddress" minOccurs="0"/>
					<xsd:element ref="icis:TradePartnerStartDate" minOccurs="0"/>
					<xsd:element ref="icis:TradePartnerEndDate" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
