java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_POTW_Permit_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Satellite_Collection_Systems_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_POTW_Permit_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES permit SSO data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="POTWPermit" type="icis:POTWPermit"/>
	<xsd:element name="CombinedSSCSSystemLength" type="icis:Decimal6FloatingType"/>
	<xsd:element name="SSCSPopulationServedNumber" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="POTWPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:POTWPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POTWPermit">
			<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
				<xsd:element ref="icis:SSCSPopulationServedNumber" minOccurs="0"/>
				<xsd:element ref="icis:CombinedSSCSSystemLength" minOccurs="0"/>
				<xsd:element ref="icis:SatelliteCollectionSystem" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
