java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Pretreatment_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Pretreatment_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES pretreatment shared data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="AcceptanceOfHauledDomesticWastes" type="icis:YesNoIndicatorType"/>
	<xsd:element name="AcceptanceOfHazardousWaste" type="icis:YesNoIndicatorType"/>
	<xsd:element name="AcceptanceOfNonhazardousIndustrialWaste" type="icis:YesNoIndicatorType"/>
	<xsd:element name="AdequacyOfPretreatmentResources" type="icis:YesNoIndicatorType"/>
	<xsd:element name="AdministrativeOrdersIssuedToSIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="AnnualFrequencyEffluentToxicantSampling" type="icis:NonNegativeIntegerMin1Max2Type"/>
	<xsd:element name="AnnualFrequencyInfluentToxicantSampling" type="icis:NonNegativeIntegerMin1Max2Type"/>
	<xsd:element name="AnnualFrequencySludgeToxicantSampling" type="icis:NonNegativeIntegerMin1Max2Type"/>
	<xsd:element name="AnnualPretreatmentBudget" type="icis:NonNegativeIntegerMin1Max7Type"/>
	<xsd:element name="ControlMechanismDeficiencies" type="icis:YesNoIndicatorType"/>
	<xsd:element name="CivilSuitsFiledAgainstSIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="CriminalSuitsFiledAgainstSIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="CIUsInSNC" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="DeficienciesDataManagementPublicParticipation" type="icis:YesNoIndicatorType"/>
	<xsd:element name="DeficienciesIdentifiedDuringIUFileReview" type="icis:YesNoIndicatorType"/>
	<xsd:element name="DeficienciesInInterpretationApplicationPretreatmentStandards" type="icis:YesNoIndicatorType"/>
	<xsd:element name="DollarAmountPenaltiesCollected" type="icis:NonNegativeIntegerMin1Max15Type"/>
	<xsd:element name="FormalResponseViolationIUScheduleForRemedialMeasures" type="icis:YesNoIndicatorType"/>
	<xsd:element name="InadequacyOfSamplingInspectionIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="IUsWhichPenaltiesHaveBeenCollected" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="LegalAuthorityDeficiencies" type="icis:YesNoIndicatorType"/>
	<xsd:element name="NumberOfCIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="NumberOfSIUs" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="PassThroughInterferenceIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="SIUsNotInspected" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsNotSampled" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsOnSchedule" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsSNCPublishedInNewspaper" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsSNCWithPretreatmentSchedule" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsSNCWithPretreatmentStandards" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsSNCWithReportingRequirements" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SIUsWithoutControlMechanism" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SUODate" type="icis:DateType"/>
	<xsd:element name="SUOReference" type="icis:StringMin1Max15Type"/>
	<xsd:element name="ViolationIUScheduleForRemedialMeasures" type="icis:YesNoIndicatorType"/>
	<xsd:element name="ViolationNoticesIssuedToSIUs" type="icis:NonNegativeIntegerMin1Max15Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:group name="PretreatmentDataGroup">
		<xsd:sequence>
			<xsd:element ref="icis:SUOReference" minOccurs="0"/>
			<xsd:element ref="icis:SUODate" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceOfHazardousWaste" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceOfNonhazardousIndustrialWaste" minOccurs="0"/>
			<xsd:element ref="icis:AcceptanceOfHauledDomesticWastes" minOccurs="0"/>
			<xsd:element ref="icis:AnnualPretreatmentBudget" minOccurs="0"/>
			<xsd:element ref="icis:InadequacyOfSamplingInspectionIndicator" minOccurs="0"/>
			<xsd:element ref="icis:AdequacyOfPretreatmentResources" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesIdentifiedDuringIUFileReview" minOccurs="0"/>
			<xsd:element ref="icis:ControlMechanismDeficiencies" minOccurs="0"/>
			<xsd:element ref="icis:LegalAuthorityDeficiencies" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesInInterpretationApplicationPretreatmentStandards" minOccurs="0"/>
			<xsd:element ref="icis:DeficienciesDataManagementPublicParticipation" minOccurs="0"/>
			<xsd:element ref="icis:ViolationIUScheduleForRemedialMeasures" minOccurs="0"/>
			<xsd:element ref="icis:FormalResponseViolationIUScheduleForRemedialMeasures" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencyInfluentToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencyEffluentToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:AnnualFrequencySludgeToxicantSampling" minOccurs="0"/>
			<xsd:element ref="icis:NumberOfSIUs" minOccurs="0"/>
			<xsd:element ref="icis:SIUsWithoutControlMechanism" minOccurs="0"/>
			<xsd:element ref="icis:SIUsNotInspected" minOccurs="0"/>
			<xsd:element ref="icis:SIUsNotSampled" minOccurs="0"/>
			<xsd:element ref="icis:SIUsOnSchedule" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithPretreatmentStandards" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithReportingRequirements" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCWithPretreatmentSchedule" minOccurs="0"/>
			<xsd:element ref="icis:SIUsSNCPublishedInNewspaper" minOccurs="0"/>
			<xsd:element ref="icis:ViolationNoticesIssuedToSIUs" minOccurs="0"/>
			<xsd:element ref="icis:AdministrativeOrdersIssuedToSIUs" minOccurs="0"/>
			<xsd:element ref="icis:CivilSuitsFiledAgainstSIUs" minOccurs="0"/>
			<xsd:element ref="icis:CriminalSuitsFiledAgainstSIUs" minOccurs="0"/>
			<xsd:element ref="icis:DollarAmountPenaltiesCollected" minOccurs="0"/>
			<xsd:element ref="icis:IUsWhichPenaltiesHaveBeenCollected" minOccurs="0"/>
			<xsd:element ref="icis:NumberOfCIUs" minOccurs="0"/>
			<xsd:element ref="icis:CIUsInSNC" minOccurs="0"/>
			<xsd:element ref="icis:PassThroughInterferenceIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
