java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_RNC_Detection_Resolution_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_RNC_Detection_Resolution_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES RNC detection and resolution data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- RNC Detection Resolution -->
	<xsd:element name="RNCDetectionCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="RNCDetectionDate" type="icis:DateType"/>
	<xsd:element name="RNCResolutionDate" type="icis:DateType"/>
	<xsd:element name="RNCResolutionCode" type="icis:StringMin1Max3Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:group name="RNCDetectionDataGroup">
		<xsd:sequence>
			<xsd:element ref="icis:RNCDetectionCode" minOccurs="0"/>
			<xsd:element ref="icis:RNCDetectionDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="RNCResolutionDataGroup">
		<xsd:sequence>
			<xsd:element ref="icis:RNCResolutionCode" minOccurs="0"/>
			<xsd:element ref="icis:RNCResolutionDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
