java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Sub_Activity_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Sub_Activity_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES enforcement action subactivity data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="SubActivity" type="icis:SubActivity"/>
	<xsd:element name="EnforcementActionDate" type="icis:DateType"/>
	<xsd:element name="EnforcementActionPlannedDate" type="icis:DateType"/>
	<xsd:element name="SubActivityTypeCode" type="icis:StringMin1Max5TypeBase"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="SubActivityData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:SubActivity"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubActivity">
		<xsd:sequence>
			<xsd:element ref="icis:EnforcementActionIdentifier"/>
			<xsd:element ref="icis:SubActivityTypeCode"/>
			<xsd:element ref="icis:EnforcementActionPlannedDate" minOccurs="0"/>
			<xsd:element ref="icis:EnforcementActionDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
