java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_CSO_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Geographic_Coordinates_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CSO_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: CSO overflow event data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- CSO Event Report -->
	<xsd:element name="CorrectiveActionTakenDescriptionText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="CSOOverflowLocationStreet" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="DischargeVolumeTreated" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="DischargeVolumeUntreated" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="DryOrWetWeatherIndicator" type="icis:WetDryType"/>
	<xsd:element name="DurationOfCSOOverflowEvent" type="icis:DecimalRange0To9999.99Type"/>
	<xsd:element name="InchesOfPrecipitation" type="icis:DecimalRange0To999.99Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:group name="CSOOverflowEventGroup">
		<xsd:sequence>
			<xsd:element ref="icis:DryOrWetWeatherIndicator" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="icis:PermittedFeatureIdentifier" minOccurs="0"/>
				<xsd:group ref="icis:LatitudeLongitudeCoordinates" minOccurs="0"/>
				<xsd:element ref="icis:CSOOverflowLocationStreet" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="icis:DurationOfCSOOverflowEvent" minOccurs="0"/>
			<xsd:element ref="icis:DischargeVolumeTreated" minOccurs="0"/>
			<xsd:element ref="icis:DischargeVolumeUntreated" minOccurs="0"/>
			<xsd:element ref="icis:CorrectiveActionTakenDescriptionText" minOccurs="0"/>
			<xsd:element ref="icis:InchesOfPrecipitation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
