java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Enforcement_Action_Violation_Keys_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Enforcement_Action_Violation_Keys_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description:enforcement action violation key data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="ComplianceScheduleViolation" type="icis:ComplianceScheduleViolation"/>
	<xsd:element name="DischargeMonitoringReportViolation" type="icis:DischargeMonitoringReportViolation"/>
	<xsd:element name="EnforcementActionViolationKey" type="icis:EnforcementActionViolationKey"/>
	<xsd:element name="EnforcementActionViolation" type="icis:EnforcementActionViolation"/>
	<xsd:element name="FinalOrderViolation" type="icis:FinalOrderViolation"/>
	<xsd:element name="PermitScheduleViolation" type="icis:PermitScheduleViolation"/>
	<xsd:element name="SingleEventsViolation" type="icis:SingleEventsViolation"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="EnforcementActionViolationKeyData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:EnforcementActionViolationKey"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EnforcementActionViolationKey">
		<xsd:sequence>
			<xsd:element ref="icis:PermitIdentifier"/>
			<xsd:element ref="icis:EnforcementActionIdentifier"/>
			<xsd:element ref="icis:EnforcementActionViolation" minOccurs="0"/>
			<xsd:element ref="icis:FinalOrderViolation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EnforcementActionViolation">
		<xsd:sequence>
			<xsd:element ref="icis:PermitScheduleViolation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:ComplianceScheduleViolation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:DischargeMonitoringReportViolation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:SingleEventsViolation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FinalOrderViolation">
		<xsd:sequence>
			<xsd:element ref="icis:PermitScheduleViolation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:ComplianceScheduleViolation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:DischargeMonitoringReportViolation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:SingleEventsViolation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PermitScheduleViolation">
		<xsd:sequence>
			<xsd:element ref="icis:NarrativeConditionNumber"/>
			<xsd:element ref="icis:ScheduleEventCode"/>
			<xsd:element ref="icis:ScheduleDate"/>
			<xsd:element ref="icis:ScheduleViolationCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplianceScheduleViolation">
		<xsd:sequence>
			<xsd:element ref="icis:ComplianceScheduleNumber"/>
			<xsd:element ref="icis:EnforcementActionIdentifier"/>
			<xsd:element ref="icis:ScheduleEventCode"/>
			<xsd:element ref="icis:ScheduleDate"/>
			<xsd:element ref="icis:ScheduleViolationCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DischargeMonitoringReportViolation">
		<xsd:sequence>
			<xsd:element ref="icis:PermittedFeatureIdentifier"/>
			<xsd:element ref="icis:LimitSetDesignator"/>
			<xsd:element ref="icis:MonitoringPeriodEndDate"/>
			<xsd:element ref="icis:ParameterCode"/>
			<xsd:element ref="icis:MonitoringSiteDescriptionCode"/>
			<xsd:element ref="icis:LimitSeasonNumber"/>
			<xsd:element ref="icis:NumericReportCode"/>
			<xsd:element ref="icis:NumericReportViolationCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SingleEventsViolation">
		<xsd:sequence>
			<xsd:element ref="icis:SingleEventViolationCode"/>
			<xsd:element ref="icis:SingleEventViolationDate"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
