java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Schedule_Event_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Schedule_Event_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES permit and compliance schedule event shared data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ScheduleActualDate" type="icis:DateType"/>
	<xsd:element name="ScheduleEventComments" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="ScheduleProjectedDate" type="icis:DateType"/>
	<xsd:element name="ScheduleReportReceivedDate" type="icis:DateType"/>
	<xsd:element name="ScheduleUserDefinedDataElement1" type="icis:StringMin1Max30Type"/>
	<xsd:element name="ScheduleUserDefinedDataElement2" type="icis:StringMin1Max30Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:group name="ScheduleEventGroup">
		<xsd:sequence>
			<xsd:element ref="icis:ScheduleReportReceivedDate" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleActualDate" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleProjectedDate" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleUserDefinedDataElement1" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleUserDefinedDataElement2" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleEventComments" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
