java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Biosolids_Permit_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Contact_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Biosolids_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Biosolids_Permit_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES biosolid permit data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="BiosolidsEndUseDisposalTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="BiosolidsPermit" type="icis:BiosolidsPermit"/>
	<xsd:element name="BiosolidsPermitContact" type="icis:BiosolidsPermitContact"/>
	<xsd:element name="BiosolidsTypeCode" type="icis:StringMin1Max3Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="BiosolidsPermitData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:BiosolidsPermit"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BiosolidsPermit">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:BiosolidsTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:BiosolidsEndUseDisposalTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:BiosolidsAmountGroup" minOccurs="0"/>
					<xsd:element ref="icis:BiosolidsPermitContact" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BiosolidsPermitContact">
		<xsd:sequence>
			<xsd:element ref="icis:Contact" minOccurs="0"/>
			<xsd:element ref="icis:ContactAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
