java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_Header_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->

	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Header_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5 </xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES header data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Author" type="xsd:string"/>
	<xsd:element name="Comment" type="xsd:string"/>
	<xsd:element name="ContactInfo" type="xsd:string"/>
	<xsd:element name="CreationTime" type="xsd:dateTime"/>
	<xsd:element name="DataService" type="xsd:string"/>
	<xsd:element name="Id" type="icis:StringMin3Max30Type"/>
	<xsd:element name="name" type="icis:nameType"/>
	<xsd:element name="Notification" type="xsd:anyURI"/>
	<xsd:element name="Organization" type="xsd:string"/>
	<xsd:element name="Property" type="icis:Property"/>
	<xsd:element name="Sensitivity" type="xsd:string"/>
	<xsd:element name="Title" type="xsd:string"/>
	<xsd:element name="TransactionHeader" type="icis:TransactionHeader"/>
	<xsd:element name="TransactionTimestamp" type="xsd:dateTime"/>
	<xsd:element name="TransactionType" type="icis:TransactionType"/>
	<xsd:element name="value" type="xsd:string"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="HeaderData">
		<xsd:sequence>
			<xsd:element ref="icis:Id"/>
			<xsd:element ref="icis:Author" minOccurs="0"/>
			<xsd:element ref="icis:Organization" minOccurs="0"/>
			<xsd:element ref="icis:Title" minOccurs="0"/>
			<xsd:element ref="icis:CreationTime" minOccurs="0"/>
			<xsd:element ref="icis:Comment" minOccurs="0"/>
			<xsd:element ref="icis:DataService" minOccurs="0"/>
			<xsd:element ref="icis:ContactInfo" minOccurs="0"/>
			<!--xsd:element ref="icis:Notification" minOccurs="0"/-->
			<!--xsd:element ref="icis:Sensitivity" minOccurs="0"/-->
			<xsd:element ref="icis:Property" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Property">
		<xsd:sequence>
			<xsd:element ref="icis:name"/>
			<xsd:element ref="icis:value"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionHeader">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionType"/>
			<xsd:element ref="icis:TransactionTimestamp" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
