java/node-plugin/node-plugin-icisnpdes20/src/main/xsd/5/ICIS_SSO_Monthly_Event_Report_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_SSO_Monthly_Event_Report_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: SSO monthly event report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="SSOMonthlyEventReport" type="icis:SSOMonthlyEventReport"/>
	<xsd:element name="NumberSSOEventsReachUSWatersPerMonth" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="SSOMonthlyEventMonth" type="icis:IntegerRange1To12Type"/>
	<xsd:element name="SSOMonthlyEventYear" type="icis:IntegerRange1970To2099Type"/>
	<xsd:element name="VolumeSSOEventsReachUSWatersPerMonth" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="SSOMonthlyEventReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:SSOMonthlyEventReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SSOMonthlyEventReport">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:SSOMonthlyReportReceivedDate"/>
					<xsd:element ref="icis:SSOMonthlyEventMonth" minOccurs="0"/>
					<xsd:element ref="icis:SSOMonthlyEventYear" minOccurs="0"/>
					<xsd:element ref="icis:NumberSSOEventsReachUSWatersPerMonth" minOccurs="0"/>
					<xsd:element ref="icis:VolumeSSOEventsReachUSWatersPerMonth" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
