dotnet/opennode2-net/plugins/FRS_23/xml_schema/FACID_FacilitySiteAll_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:facid="http://www.epa.gov/xml" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:include schemaLocation=".\FACID_FacilitySiteAllDetails_v2.3.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_FacilitySiteList_v2.3
		Current Version Available At :
		Description : 	This schema describes the XML tags for sharing the core Facility Identification data 
		between partners. Facility identification data includes Site Information, Environmental Interest
		information, SIC Code information, NAICS Code information, Organizational information,
		Individual information, Mailing Address information , Alternative Name information and
		Geographic coordinate information.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="FacilitySiteList" type="facid:FacilitySiteList"/>
	<xsd:complexType name="FacilitySiteList">
		<xsd:sequence>
			<xsd:element ref="facid:FacilitySiteAllDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="FacilitySiteAllDetails" type="facid:FacilitySiteAllDetails"/>
</xsd:schema>
