prod-opennode2-net/plugins/ICISNPDES_514/xml_schema/6/ICIS_ParameterLimits_v5.6a_draft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_Limits_v5.6a_draft.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_ParameterLimits_v5.6a_draft.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES parameter limits element data input format for replace transactions only</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Limit" type="icis:Limit"/>
	<xsd:element name="ParameterLimits" type="icis:ParameterLimits"/>
	<xsd:complexType name="ParameterLimitsData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:ParameterLimits"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Limit">
		<xsd:sequence>
			<xsd:element ref="icis:LimitStartDate"/>
			<xsd:element ref="icis:LimitEndDate"/>
			<xsd:element ref="icis:LimitTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:MonthLimitApplies" minOccurs="0" maxOccurs="12"/>
			<xsd:element ref="icis:SampleTypeText" minOccurs="0"/>
			<xsd:element ref="icis:FrequencyOfAnalysisCode" minOccurs="0"/>
			<xsd:element ref="icis:EligibleForBurdenReduction" minOccurs="0"/>
			<xsd:group ref="icis:StayDataGroup" minOccurs="0"/>
			<xsd:element ref="icis:EnforcementActionIdentifier" minOccurs="0"/>
			<xsd:element ref="icis:FinalOrderIdentifier" minOccurs="0"/>
			<xsd:element ref="icis:BasisOfLimit" minOccurs="0"/>
			<xsd:element ref="icis:LimitModificationTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:LimitModificationEffectiveDate" minOccurs="0"/>
			<xsd:element ref="icis:LimitModificationTypeStayReasonText" minOccurs="0"/>
			<xsd:element ref="icis:LimitsUserDefinedField1" minOccurs="0"/>
			<xsd:element ref="icis:LimitsUserDefinedField2" minOccurs="0"/>
			<xsd:element ref="icis:LimitsUserDefinedField3" minOccurs="0"/>
			<xsd:element ref="icis:ConcentrationNumericConditionUnitMeasureCode" minOccurs="0"/>
			<xsd:element ref="icis:QuantityNumericConditionUnitMeasureCode" minOccurs="0"/>
			<xsd:element ref="icis:NumericCondition" minOccurs="0" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParameterLimits">
		<xsd:complexContent>
			<xsd:extension base="icis:ParameterLimitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:Limit" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
