prod-opennode2-net/plugins/AQS2/xml_schema_v2.2/2/AQS_ELEMENTS/EN_AQS_GeographicCoordinatesDataElements_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/2" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
    <xsd:annotation>
        <xsd:documentation>AQS Geographic Coordinates data elements file
		Current Version Available At :
		Description : Schema for the Geographic Coordinates data elements
		Application : Air Quality System (AQS) reusable data elements
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		</xsd:documentation>
    </xsd:annotation>
    <!--Data type include files-->
    <xsd:include schemaLocation="AQS_TYPES/EN_AQS_DecimalTenPointTwoNonNegativeDataType_v2.2.xsd"/>
    <!--Geographic Coordinates schema components-->
    <!--Geographic Coordinates data elements-->
    <xsd:element name="UTMZoneCode" type="aqs:UTMZoneCodeType">
        <xsd:annotation>
            <xsd:documentation>The zone of the universal transverse Mercator (UTM) system in which a site is located. EPA Locational Data Policy requires that coordinates be provided for all sites. AQS will convert the UTM coordinates to latitude/longitude, and store both UTM and latitude/longitude.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UTMEastingMeasure" type="aqs:TenPointTwoNonNegativeDecimalType">
        <xsd:annotation>
            <xsd:documentation>The easting UTM coordinate, expressed in meters (i.e., the horizontal distance from the reference edge of the UTM zone) for the site.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UTMNorthingMeasure" type="aqs:TenPointTwoNonNegativeDecimalType">
        <xsd:annotation>
            <xsd:documentation>The northing UTM coordinate expressed in meters (i.e., for the Northern hemisphere, the vertical distance from the equator; for the Southern hemisphere, 10,000,000 minus the vertical distance from the equator) for the site.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--Geographic Coordinates data types-->
    <xsd:simpleType name="UTMZoneCodeType">
        <xsd:annotation>
            <xsd:documentation>Positive integer 1 to 60 inclusive type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:maxInclusive value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
