java/node-plugin/node-plugin-wqx/src/main/xsd/WQX_SampleDescription_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="./WQX_SimpleContent_v2.0.xsd"/>
	<xsd:include schemaLocation="./WQX_SamplePreparation_v2.0.xsd"/>
	<xsd:include schemaLocation="./WQX_ReferenceMethod_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_SampleDescription_v2.0.xsd
        Description   : Describes sample information.
        Developed by  : EPA Office of Water	 
        Point of Contact :   Dwane Young
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="SampleDescriptionDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:SampleCollectionMethod"/>
			<xsd:element ref="wqx:SampleCollectionEquipmentName"/>
			<xsd:element ref="wqx:SampleCollectionEquipmentCommentText" minOccurs="0"/>
			<xsd:element ref="wqx:SamplePreparation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SampleCollectionMethod" type="wqx:ReferenceMethodDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies sample collection or measurement method procedures. Where a documented sample collection method has been employed, this enables the data provider to indicate the documented method that was employed during the field sample collection. Otherwise, the sample collection procedure will best be described in a freeform text.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SampleDescription" type="wqx:SampleDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Basic identification information for the sample collected as part of a monitoring activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
