java/node-plugin/node-plugin-wqx/src/main/xsd/WQX_IndexType_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="./WQX_SimpleContent_v2.0.xsd"/>
	<xsd:include schemaLocation="./WQX_BibliographicReference_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_IndexType_v2.0.xsd
        Description   : This section identifies the index type reported as part of a biological or habitat index.	
        Developed by  : EPA Office of Water	 
        Point of Contact :   Dwane Young
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="IndexTypeDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:IndexTypeIdentifier"/>
			<xsd:element ref="wqx:IndexTypeIdentifierContext"/>
			<xsd:element ref="wqx:IndexTypeName"/>
			<xsd:element ref="wqx:IndexTypeCitation" minOccurs="0"/>
			<xsd:element ref="wqx:IndexTypeScaleText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IndexType" type="wqx:IndexTypeDataType">
		<xsd:annotation>
			<xsd:documentation>This section identifies the index type reported as part of a biological or habitat index.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IndexTypeCitation" type="wqx:BibliographicReferenceDataType">
		<xsd:annotation>
			<xsd:documentation>Provides additional description of the source that created or defined the index.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
