dotnet/prod-opennode2-net/plugins/TRI_60/xml_schema/0/TRI_MailingAddress_v6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:TRI="http://www.exchangenetwork.net/schema/TRI/6" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" targetNamespace="http://www.exchangenetwork.net/schema/TRI/6" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.0">
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_MailingAddress_v1.0.xsd"/>
	<xsd:include schemaLocation="TRI_SharedTypes_v6.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : TRI_ReportType_v6.0.xsd
		Current Version Available At : 
		Description   :   A designator and associated metadata used to identify a type of report.
		Application : Toxics Release Inventory
		Developed by : 	 Environmental Protection Agency, CGI
		Point of Contact : Kathy Hale
		Maintained by : Environmental Protection Agency, CGI
		Point of Contact : Kathy Hale [kathy.hale@cgifederal.com]       
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="MailingAddress" type="TRI:MailingAddressDataType">
		<xsd:annotation>
			<xsd:documentation>Mailing address including province.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MailingAddressDataType">
		<xsd:complexContent>
			<xsd:extension base="sc:MailingAddressDataType">
				<xsd:sequence>
					<xsd:element ref="TRI:ProvinceNameText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ProvinceNameText" type="TRI:ToxicReleaseStringType">
		<xsd:annotation>
			<xsd:documentation>Name of the province for a non-US address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
