dotnet/prod-opennode2-net/plugins/TRI_60/xml_schema/0/TRI_SharedComponents_v6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:TRI="http://www.exchangenetwork.net/schema/TRI/6" targetNamespace="http://www.exchangenetwork.net/schema/TRI/6" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.0">
	<xsd:include schemaLocation="TRI_SharedTypes_v6.0.xsd"/>
	<xsd:include schemaLocation="TRI_ToxicEqivalencyIdentification_v6.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Schema Name : TRI_SharedComponents_v6.0.xsd
			Schema Identification :
			Current Version Available At :
			Description : File for TRI common schema components.
			Application : Toxics Release Inventory
			Developed by : 	 Environmental Protection Agency, CGI
			Point of Contact : Kathy Hale
			Maintained by : Environmental Protection Agency, CGI
			Point of Contact : Kathy Hale [kathy.hale@cgifederal.com]       
		</xsd:documentation>
	</xsd:annotation>
	<!--Shared complex types-->
	<xsd:complexType name="POTWWasteQuantityDataType">
		<xsd:annotation>
			<xsd:documentation>Captures a quantity of POTW waste and how the waste quantity was determined by the reporter</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		<xsd:element ref="TRI:POTWSequenceNumber" minOccurs="0"/>
			<xsd:choice>
				<xsd:sequence minOccurs="0">
					<xsd:element ref="TRI:WasteQuantityMeasure"/>
					<xsd:element ref="TRI:WasteQuantityCatastrophicMeasure" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence minOccurs="0">
					<xsd:element ref="TRI:WasteQuantityRangeCode"/>
					<xsd:element ref="TRI:WasteQuantityRangeNumericBasisValue" minOccurs="0"/>
					<xsd:element ref="TRI:WasteQuantityCatastrophicMeasure" minOccurs="0"/>
				</xsd:sequence>
				<xsd:element ref="TRI:WasteQuantityNAIndicator" minOccurs="0"/>
			</xsd:choice>
			<xsd:choice>
				<xsd:element ref="TRI:QuantityBasisEstimationCode" minOccurs="0"/>
				<xsd:element ref="TRI:QuantityBasisEstimationNAIndicator" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="TRI:ToxicEquivalencyIdentification" minOccurs="0"/>
			<xsd:element ref="TRI:QuantityDisposedLandfillPercentValue" minOccurs="0"/>
			<xsd:element ref="TRI:QuantityDisposedOtherPercentValue" minOccurs="0"/>
			<xsd:element ref="TRI:QuantityTreatedPercentValue" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TotalYearlyQuantityDataType">
		<xsd:annotation>
			<xsd:documentation>Total yearly quantity information with year offset complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TRI:YearOffsetMeasure" minOccurs="0"/>
			<xsd:choice>
				<xsd:sequence minOccurs="0">
					<xsd:element ref="TRI:TotalQuantity"/>
					<xsd:element ref="TRI:CalculatorRoundingHintNumber" minOccurs="0"/>
				</xsd:sequence>
				<xsd:element ref="TRI:TotalQuantityNAIndicator" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="TRI:ToxicEquivalencyIdentification" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WasteQuantityDataType">
		<xsd:annotation>
			<xsd:documentation>Captures a quantity of waste and how the waste quantity was determined by the reporter</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence minOccurs="0">
					<xsd:element ref="TRI:WasteQuantityMeasure"/>
					<xsd:element ref="TRI:WasteQuantityCatastrophicMeasure" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence minOccurs="0">
					<xsd:element ref="TRI:WasteQuantityRangeCode"/>
					<xsd:element ref="TRI:WasteQuantityRangeNumericBasisValue" minOccurs="0"/>
					<xsd:element ref="TRI:WasteQuantityCatastrophicMeasure" minOccurs="0"/>
				</xsd:sequence>
				<xsd:element ref="TRI:WasteQuantityNAIndicator" minOccurs="0"/>
			</xsd:choice>
			<xsd:choice>
				<xsd:element ref="TRI:QuantityBasisEstimationCode" minOccurs="0"/>
				<xsd:element ref="TRI:QuantityBasisEstimationNAIndicator" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="TRI:ToxicEquivalencyIdentification" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Shared elements-->
	<xsd:element name="CalculatorRoundingHintNumber" type="TRI:ToxicReleaseInteger0To10Type">
		<xsd:annotation>
			<xsd:documentation>The number of significant digits to be used in the results generated by the TRI-MEweb calculator.  Valid values are 0 to 10, where 0 will not round the number.  Rounding hints are currently only used for the current year (TRI:YearOffsetMeasure = 0).  This value will be ignored for previous/predicted year values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityBasisEstimationCode" type="TRI:QuantityBasisEstimationCodeType">
		<xsd:annotation>
			<xsd:documentation>The code representing the technique used to develop the estimate of the release amount reported.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityBasisEstimationNAIndicator" type="TRI:ToxicReleaseBooleanType">
		<xsd:annotation>
			<xsd:documentation>Indicates that 'NA' (Not Applicable) was entered on Form R for the Total Basis Estimation Code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityDisposedLandfillPercentValue" type="TRI:Decimal5Point2PercentType">
		<xsd:annotation>
			<xsd:documentation>The percent of the Section 6.1 quantity that was ultimately disposed in a Class I UIC or landfill.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityDisposedOtherPercentValue" type="TRI:Decimal5Point2PercentType">
		<xsd:annotation>
			<xsd:documentation>The percent of the Section 6.1 quantity that was ultimately otherwise disposed or released.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityTreatedPercentValue" type="TRI:Decimal5Point2PercentType">
		<xsd:annotation>
			<xsd:documentation>The percent of the Section 6.1 quantity that was ultimately treated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalQuantity" type="TRI:ToxicReleaseDecimalType">
		<xsd:annotation>
			<xsd:documentation>The total amount (in pounds) of the toxic chemical disposed, released, treated or recycled for a given calendar year.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalQuantityNAIndicator" type="TRI:ToxicReleaseBooleanType">
		<xsd:annotation>
			<xsd:documentation>Indicates that the form contains NA for an pounds/year value in Section 8 of the TRI Form R.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteQuantityCatastrophicMeasure" type="TRI:ToxicReleaseDecimalType">
		<xsd:annotation>
			<xsd:documentation>Non-production value due to catastrophic events, used in calculating Section 8 values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteQuantityMeasure" type="TRI:ToxicReleaseDecimalType">
		<xsd:annotation>
			<xsd:documentation>The total amount (in pounds) of the toxic chemical transferred from the reporting facility to the receiving facility. For dioxin or dioxin-like compunds, report in grams/year.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteQuantityNAIndicator" type="TRI:ToxicReleaseBooleanType">
		<xsd:annotation>
			<xsd:documentation>Indicates that 'NA' (Not Applicable) was entered on the Form R for the quantity total transfers.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteQuantityRangeCode" type="TRI:WasteQuantityRangeCodeType">
		<xsd:annotation>
			<xsd:documentation>Code that corresponds to the amount of toxic chemical released annually by the reporting facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteQuantityRangeNumericBasisValue" type="TRI:ToxicReleaseDecimalType">
		<xsd:annotation>
			<xsd:documentation>A decimal value used during calculations for a Waste Quantity that was reported using a range code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="YearOffsetMeasure" type="TRI:ToxicReleaseIntegerType">
		<xsd:annotation>
			<xsd:documentation>A value which when added to the reporting year for the current submission will equal the year for which the total quantity is reported. This value is used to calcuate the column on Form R Section 8 to which the total quantity values correspond. (i.e.  -1 = Proir Year)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="POTWSequenceNumber" type="TRI:ToxicReleaseIntegerType">
		<xsd:annotation>
			<xsd:documentation>The sequence in which a POTW is reported on a Form R submission.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
