dotnet/plugins/HERE/xml_schema/CAFO/1/0/CAFO_CAFO_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cafo="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="CAFO_Facility_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name:CAFO_CAFO_v1.0</xsd:documentation>
		<xsd:documentation>Current Version Available:  </xsd:documentation>
		<xsd:documentation>Description: Region 4 Pilot CAFO Schema</xsd:documentation>
		<xsd:documentation>Application: CAFO-Region 4</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/CoryWagner</xsd:documentation>
		<xsd:documentation>Data Written: December 2005</xsd:documentation>
		<xsd:documentation>Last Date Modified:02-06-2006</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="FacilityList" type="cafo:FacilityListDataType"/>
	<xsd:complexType name="FacilityListDataType">
		<xsd:sequence>
			<xsd:element ref="cafo:Facility" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:string" use="required"/>
	</xsd:complexType>
</xsd:schema>
