prod-opennode2-net/plugins/RCRA_59/xml_schema/9/georcra.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" version="1.0">
	<xs:annotation>
		<xs:documentation>GML application schema for the Simple and GML serializations of GeoRSS v. 1.1</xs:documentation>
		<xs:documentation>note that while this schema is a valid derivative of GML, it does not constitute a GML feature schema and cannot be used to encode explicit GML features because it does not derive from gml:AbstractFeature</xs:documentation>
		<xs:documentation>makes use of the gmlgeorss v. 1.1 profile of GML 3.1.1</xs:documentation>
		<xs:documentation>Generated by Joshua Lieberman - December 2006</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="gmlgeorcra.xsd"/>
	<xs:element name="_featureProperty" type="abstractFeaturePropertyType" abstract="true" substitutionGroup="gml:_Object">
		<xs:annotation>
			<xs:documentation>Global element which acts as the head of a substitution group that may include any element which is a GeoRcra feature property</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="abstractFeaturePropertyType" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract type of georcra feature properties</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:element name="rcraWhere" type="whereType" substitutionGroup="_featureProperty">
		<xs:annotation>
			<xs:documentation>Geometry property element of a GeoRcra GML instance</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- =========================================================== -->
	<xs:complexType name="whereType">
		<xs:complexContent>
			<xs:extension base="abstractFeaturePropertyType">
				<xs:choice>
					<xs:element ref="gml:Point"/>
					<xs:element ref="gml:LineString"/>
					<xs:element ref="gml:Polygon"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
