prod-opennode2-net/plugins/RCRA_59/xml_schema/9/RCRA_Handler_v5.9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="5.9">
	<xsd:include schemaLocation="./RCRA_Shared_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_LocationAddress_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_EnvironmentalPermit_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_Certification_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_NAICSIdentity_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_FacilityOwnerOperator_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_SiteWasteActivity_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_StateActivity_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_UniversalWasteActivity_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_UsedOil_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_HandlerWasteCodeDetails_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_WasteGenerator_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_LaboratoryHazardousWaste_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_HazardousSecondaryMaterial_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_SharedPublishing_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_HandlerLqgConsolidation_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_HandlerLqgClosure_v5.9.xsd"/>
	<xsd:include schemaLocation="./RCRA_HandlerEpisodicEvent_v5.9.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_Handler_v5.9
		Description : 	Top level of all information about the handler.
		Developed by : 	U.S. EPA
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Handler" type="RC:HandlerDataType">
		<xsd:annotation>
			<xsd:documentation>Top level of all information about the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="HandlerDataType">
		<xsd:annotation>
			<xsd:documentation>Handler identification and activity data.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:TransactionCode" minOccurs="0"/>
			<xsd:element ref="RC:ActivityLocationCode"/>
			<xsd:element ref="RC:SourceTypeCode"/>
			<xsd:element ref="RC:SourceTypeText" minOccurs="0"/>
			<xsd:element ref="RC:SourceRecordSequenceNumber"/>
			<xsd:element ref="RC:ReceiveDate" minOccurs="0"/>
			<xsd:element ref="RC:HandlerName" minOccurs="0"/>
			<xsd:element ref="RC:AcknowledgeReceiptDate" minOccurs="0"/>
			<xsd:element ref="RC:NonNotifierIndicator" minOccurs="0"/>
			<xsd:element ref="RC:NonNotifierIndicatorText" minOccurs="0"/>
			<xsd:element ref="RC:TreatmentStorageDisposalDate" minOccurs="0"/>
			<xsd:element ref="RC:NatureOfBusinessText" minOccurs="0"/>
			<xsd:element ref="RC:OffsiteWasteReceiptCode" minOccurs="0"/>
			<xsd:element ref="RC:AccessibilityCode" minOccurs="0"/>
			<xsd:element ref="RC:AccessibilityCodeText" minOccurs="0"/>
			<xsd:element ref="RC:CountyCodeOwner" minOccurs="0"/>
			<xsd:element ref="RC:CountyCode" minOccurs="0"/>
			<xsd:element ref="RC:CountyName" minOccurs="0"/>
			<xsd:element ref="RC:HandlerSupplementalInformationText" minOccurs="0"/>
			<xsd:element ref="RC:HandlerInternalSupplementalInformationText" minOccurs="0"/>
			<xsd:element ref="RC:ShortTermSupplementalInformationText" minOccurs="0"/>
			<xsd:element ref="RC:LocationAddress" minOccurs="0"/>
			<xsd:element ref="RC:MailingAddress" minOccurs="0"/>
			<xsd:element ref="RC:ContactAddress" minOccurs="0"/>
			<xsd:element ref="RC:PermitContactAddress" minOccurs="0"/>
			<xsd:element ref="RC:UsedOil" minOccurs="0"/>
			<xsd:element ref="RC:WasteActivitySite" minOccurs="0"/>
			<xsd:element ref="RC:StateWasteGenerator" minOccurs="0"/>
			<xsd:element ref="RC:FederalWasteGenerator" minOccurs="0"/>
			<xsd:element ref="RC:LaboratoryHazardousWaste" minOccurs="0"/>
			<xsd:element ref="RC:HazardousSecondaryMaterial" minOccurs="0"/>
			<xsd:element ref="RC:Certification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:NAICSIdentity" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:FacilityOwnerOperator" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:EnvironmentalPermit" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:StateActivity" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:HandlerUniversalWaste" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:HandlerWasteCodeDetails" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:HandlerLqgConsolidation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RC:HandlerLqgClosure" minOccurs="0"/>
			<xsd:element ref="RC:HandlerEpisodicEvent" minOccurs="0"/>
			<xsd:element ref="RC:AcknowledgeFlagIndicator" minOccurs="0"/>
			<xsd:element ref="RC:IncludeInNationalReportIndicator" minOccurs="0"/>
			<xsd:element ref="RC:LQHUWIndicator" minOccurs="0"/>
			<xsd:element ref="RC:HDReportCycleYear" minOccurs="0"/>
			<xsd:element ref="RC:HealthcareFacility" minOccurs="0"/>
			<xsd:element ref="RC:ReverseDistributor" minOccurs="0"/>
			<xsd:element ref="RC:SubpartPWithdrawal" minOccurs="0"/>
			<xsd:element ref="RC:CurrentRecord" minOccurs="0"/>
			<xsd:element ref="RC:CreatedByUserid" minOccurs="0"/>
			<xsd:element ref="RC:HCreatedDate" minOccurs="0"/>
			<xsd:element ref="RC:DataOrig" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AccessibilityCode" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the reason why the handler is not accessible for normal RCRA tracking and processing (previously called Bankrupt Indicator).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FederalWasteGenerator" type="RC:WasteGeneratorDataType">
		<xsd:annotation>
			<xsd:documentation>Federal code indicating that the handler is engaged in the generation of hazardous waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateWasteGenerator" type="RC:WasteGeneratorDataType">
		<xsd:annotation>
			<xsd:documentation>State code indicating that the handler is engaged in the generation of hazardous waste.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceTypeCode" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating the source of information for the associated data (activity, wastes, etc.).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceRecordSequenceNumber" type="RC:SequenceNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Sequence number for each source record about a handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiveDate" type="RC:ReceiveDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date that the form (indicated by the associated Source) was received from the handler by the appropriate authority.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AcknowledgeReceiptDate" type="RC:AcknowledgeReceiptDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date information was received for the handler.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NonNotifierIndicator" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Flag indicating that the handler has been identified through a source other than Notification and is suspected of conducting RCRA-regulated activities without proper authority.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TreatmentStorageDisposalDate" type="RC:TreatmentStorageDisposalDateDataType">
		<xsd:annotation>
			<xsd:documentation>The date that operation of the facility commenced, the date construction on the facility commenced, or the date that operation is expected to begin. Part-A submissions </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OffsiteWasteReceiptCode" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Code indicating that the handler, whether public or private, currently accepts hazardous waste from another site (site identified by a different EPA ID). If information is also available on the specific processes and wastes which are accepted, it is indicated by a flag at the process unit level (Process Unit Group Commercial Status).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitContactAddress" type="RC:ContactAddressDataType">
		<xsd:annotation>
			<xsd:documentation>Contains contact and contact address information for the holder of the permit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountyCodeOwner" type="RC:CountyCodeOwnerDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the agency that defines the county code.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountyCode" type="RC:CountyCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The Federal Information Processing Standard (FIPS) code for the county in which the facility is located (Ref: FIPS Publication, 6-3, "Counties and County Equivalents of the States of the United States").</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HandlerSupplementalInformationText" type="RC:HandlerSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the Handler (these are public notes; will be available via all services).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HandlerInternalSupplementalInformationText" type="RC:HandlerInternalSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the Handler (these are internal notes; will be available via authenticated services).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShortTermSupplementalInformationText" type="RC:HandlerSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the Handler (these are internal notes; will be available via authenticated services).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NatureOfBusinessText" type="RC:HandlerSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding Handler Part-A submissions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AcknowledgeFlagIndicator" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Flag indicating if it is acknowledged.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncludeInNationalReportIndicator" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Flag indicating if it is included in national report.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LQHUWIndicator" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Flag indicating if it is LQHUW.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HDReportCycleYear" type="RC:HDReportCycleDataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the year of report cycle.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--xsd:element name="UserId" type="RC:Char255DataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the user id.</xsd:documentation>
		</xsd:annotation>
	</xsd:element-->
	<xsd:element name="HealthcareFacility" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the health care facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReverseDistributor" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the reverse distributor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubpartPWithdrawal" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Indicates the withdrawal from Subpart P.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrentRecord" type="RC:Char1DataType">
		<xsd:annotation>
			<xsd:documentation>Flag indicating if it is current record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Char255DataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HDReportCycleDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AcknowledgeReceiptDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date information was received for the handler.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReceiveDateDataType">
		<xsd:annotation>
			<xsd:documentation>Date that the form (indicated by the associated Source) was received from the handler by the appropriate authority.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="TreatmentStorageDisposalDateDataType">
		<xsd:annotation>
			<xsd:documentation>The date that operation of the facility commenced, the date construction on the facility commenced, or the date that operation is expected to begin.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="CountyCodeOwnerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountyCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HandlerSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the Handler.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HandlerInternalSupplementalInformationDataType">
		<xsd:annotation>
			<xsd:documentation>Notes regarding the Handler.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
