java/node-plugin/node-plugin-uic2/src/main/xsd/0/UIC_PermitActivity_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:uic="http://www.exchangenetwork.net/schema/uic/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/uic/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="UIC_SimpleContent_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>UIC permit activity file (Table 4): UIC_PermitActivity_v2.0.xsd
		Current Version Available At :
		Description : Schema for the information on activities related to permit or rule authorized (e.g. permit issuance, authorized file review, etc.).
		Application : UIC data submission 
		Developed by : Environmental Protection Agency, Lockheed Martin, CGI Federal
		Point of Contact : Carl Reeverts, Trang Le (EPA/UIC), Lauren Hall (CGI Federal)	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Permit Activity complex component</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="PermitActivityDetail" type="uic:PermitActivityDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Permit Activity information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Permit Activity complex type</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="PermitActivityDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Permit Activity information type definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="uic:PermitActivityIdentifier"/>
			<xsd:element ref="uic:PermitActivityActionTypeCode"/>
			<xsd:element ref="uic:PermitActivityDate"/>
			<xsd:element ref="uic:PermitActivityPermitIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Permit Activity data elements</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="PermitActivityIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Permit Activity table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying the unique permit activity (e.g. TXRC0000000000WDW567, …).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitActivityActionTypeCode" type="uic:PermitActivityActionTypeCodeType">
		<xsd:annotation>
			<xsd:documentation>Type of permit action or authorization by rule.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitActivityDate" type="uic:EPADateType">
		<xsd:annotation>
			<xsd:documentation>The calendar date corresponding to each acceptable value of Permit Action Type includes:

- Application Date for Permit Issuance: Date of receipt of an application by state or DI program for permit issued.

- Application Date for Major Permit Modification: Date of receipt of an application by the state or DI program for major permit modification.

- Permit Issued Date: Date of signature (approval) by state/DI official for the issuance/denial/ withdrawal of permit.

- Permit Denied/Withdrawn Date: Date of signature by state/DI official for the denial/withdrawal of permit.

- Approved Major Permit Modification Date: Approval date of a major permit modification.  This is a date where an approved major modification requires a complete technical review, public notification or review, and a final decision document signed by the regulating authority.

- File Review Date (Class II only): Date of rule-authorized file review to determine whether the well is in compliance with UIC regulatory requirements.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitActivityPermitIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Permit table.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Permit Activity data type</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="PermitActivityActionTypeCodeType">
		<xsd:annotation>
			<xsd:documentation>Enumeration of 7 codes type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AI"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="PI"/>
			<xsd:enumeration value="PD"/>
			<xsd:enumeration value="PM"/>
			<xsd:enumeration value="PN"/>
			<xsd:enumeration value="FR"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
