java/node-plugin/node-plugin-uic2/src/main/xsd/0/UIC_Geology_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:uic="http://www.exchangenetwork.net/schema/uic/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/uic/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="UIC_SimpleContent_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>UIC geology (Table 16): UIC_Geology_v2.0.xsd
		Current Version Available At :
		Description : Schema for information on basic hydro-geologic parameters and depths for the “key” sub-surface formations penetrated by Class I injection wells and other deep-well injections.
		Application : UIC data submission 
		Developed by : Environmental Protection Agency, Lockheed Martin, CGI Federal
		Point of Contact : Carl Reeverts, Trang Le (EPA/UIC), Lauren Hall (CGI Federal)	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Geology complex component</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="GeologyDetail" type="uic:GeologyDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Geology information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Geology complex type</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="GeologyDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Geology information type definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="uic:GeologyIdentifier"/>
			<xsd:element ref="uic:GeologyConfiningZoneName" minOccurs="0"/>
			<xsd:element ref="uic:GeologyConfiningZoneTopNumeric" minOccurs="0"/>
			<xsd:element ref="uic:GeologyConfiningZoneBottomNumeric" minOccurs="0"/>
			<xsd:element ref="uic:GeologyLithologicConfiningZoneText" minOccurs="0"/>
			<xsd:element ref="uic:GeologyInjectionZoneFormationName" minOccurs="0"/>
			<xsd:element ref="uic:GeologyBottomInjectionZoneNumeric" minOccurs="0"/>
			<xsd:element ref="uic:GeologyLithologicInjectionZoneText" minOccurs="0"/>
			<xsd:element ref="uic:GeologyTopInjectionIntervalNumeric" minOccurs="0"/>
			<xsd:element ref="uic:GeologyBottomInjectionIntervalNumeric" minOccurs="0"/>
			<xsd:element ref="uic:GeologyInjectioneZonePermeabilityRateNumeric" minOccurs="0"/>
			<xsd:element ref="uic:GeologyInjectionZonePorosityPercentNumeric" minOccurs="0"/>
			<xsd:element ref="uic:GeologyUSDWDepthNumeric" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Geology data elements</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="GeologyIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Geology table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique geology information (e.g. 04DI0000000000 000566, …).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyConfiningZoneName" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Geologic formation name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyConfiningZoneTopNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The top of the geologic arresting layer that keeps injectate confined in the injection zone measured in feet below surface.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyConfiningZoneBottomNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The bottom of the geologic arresting layer that keeps injectate confined in the injection zone OR:The top of the vertical dimension of the zone in which waste is injected. -- measured in feet below surface.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyLithologicConfiningZoneText" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Confining zone data in the form of a simple lithologic description of the formation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyInjectionZoneFormationName" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Geologic formation name for injection zone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyBottomInjectionZoneNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The bottom of the vertical dimension of the zone in which waste is injected, measured in feet below surface.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyLithologicInjectionZoneText" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Injection zone data in the form of a simple lithologic description of the formation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyTopInjectionIntervalNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The top of the vertical dimension of the specific layer(s) of the Injection.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyBottomInjectionIntervalNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The bottom of the vertical dimension of the specific layer(s) of the Injection Zone in which waste is authorized to be injected into, measured in feet below surface.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyInjectioneZonePermeabilityRateNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The rate of diffusion of fluids (in this case liquid waste) under pressure through porous material (formation rock) that is measured in millidarcies (mD).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyInjectionZonePorosityPercentNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The percent of pore space the injection zone formation rock contains (measured in %).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyUSDWDepthNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The depth (in feet) to the base of the underground source of drinking water (USDW).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
