java/node-plugin/node-plugin-uic2/src/main/xsd/0/UIC_WellStatus_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:uic="http://www.exchangenetwork.net/schema/uic/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/uic/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="UIC_SimpleContent_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>UIC well status file (Table 6): UIC_WellStatus_v2.0.xsd
		Current Version Available At :
		Description : Schema for indicating the current and/or historical operating status of injection well.
		Application : UIC data submission 
		Developed by : Environmental Protection Agency, Lockheed Martin, CGI Federal
		Point of Contact : Carl Reeverts, Trang Le (EPA/UIC), Lauren Hall (CGI Federal)	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Well Status complex component</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="WellStatusDetail" type="uic:WellStatusDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Well Status information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Well Status complex type</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="WellStatusDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Well Status information type definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="uic:WellStatusIdentifier"/>
			<xsd:element ref="uic:WellStatusDate"/>
			<xsd:element ref="uic:WellStatusOperatingStatusCode"/>
			<xsd:element ref="uic:WellStatusWellIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Well Status data elements</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="WellStatusIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well Status table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only identifying the unique Well Status (e.g. TXEQ WDW369, …).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStatusDate" type="uic:EPADateType">
		<xsd:annotation>
			<xsd:documentation>Date that well status is determined.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStatusOperatingStatusCode" type="uic:WellStatusOperatingStatusType">
		<xsd:annotation>
			<xsd:documentation>The current operating status of well.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStatusWellIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Well Status data type</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="WellStatusOperatingStatusType">
		<xsd:annotation>
			<xsd:documentation>Enumeration of 7 codes type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AC"/>
			<xsd:enumeration value="UC"/>
			<xsd:enumeration value="TA"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="AN"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="PI"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
