java/node-plugin/node-plugin-flowsecurity/src/main/xsd/AuthRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.exchangenetwork.net/schema/SECURITY/1" elementFormDefault="qualified" targetNamespace="http://www.exchangenetwork.net/schema/SECURITY/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AuthorizationRequest" nillable="true" type="tns:AuthorizationRequest" />
  <xs:complexType name="AuthorizationRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GeneratedOn" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="AccountExistsInNaas" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="RequestType" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NaasUsername" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FullName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OrganizationAffiliation" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TelephoneNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="EmailAddress" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AffiliatedNodeId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AffiliatedCounty" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PurposeDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestedDataSourceNames" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="RequestedNodeIds" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>