java/node-plugin/node-plugin-flowsecurity/src/main/xsd/GetAuthorizedUsersResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.exchangenetwork.net/schema/SECURITY/1" elementFormDefault="qualified" targetNamespace="http://www.exchangenetwork.net/schema/SECURITY/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAuthorizedUsersResponse" nillable="true" type="tns:GetAuthorizedUsersResponse" />
  <xs:complexType name="GetAuthorizedUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AuthorizedUserList" type="tns:ArrayOfAuthorizedUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAuthorizedUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorizedUser" nillable="true" type="tns:AuthorizedUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuthorizedUser">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="NAASUserName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AuthorizedFlowList" type="tns:ArrayOfAuthorizedFlow" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAuthorizedFlow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorizedFlow" nillable="true" type="tns:AuthorizedFlow" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuthorizedFlow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FlowName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>