prod-opennode2-net/plugins/IC_10/xml_schema/0/IC_Event_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:IC="http://www.exchangenetwork.net/schema/IC/1" targetNamespace="http://www.exchangenetwork.net/schema/IC/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="IC_Resource_v1.0.xsd"/>
	<xsd:include schemaLocation="IC_Shared_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Schema Name: IC_Event_v1.0.xsd
			Current Version Available At: http://www.exchangenetwork.net/
			Description: Describes any occurrence or action taking place on a specific date or over a period of time, for which data may be collected, processed, distributed, or used for purposes related to ICs.
			Developed by: Windsor Solutions, Inc.
	        Point of Contact: ECOS
	        Last Modified by: Windsor Solutions, Inc.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Event" type="IC:EventDataType">
		<xsd:annotation>
			<xsd:documentation>Any occurrence or action taking place on a specific date or over a period of time, for which data may be collected, processed, distributed, or used for purposes related to ICs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventLocation" type="IC:EventLocationDataType">
		<xsd:annotation>
			<xsd:documentation>A location where an event takes place.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EventAffiliate" type="IC:EventAffiliateDataType">
		<xsd:annotation>
			<xsd:documentation>A person or organization related to an event.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EventDataType">
		<xsd:sequence>
			<xsd:element ref="IC:EventName"/>
			<xsd:element ref="IC:EventTypeCode" minOccurs="0"/>
			<xsd:element ref="IC:OtherEventTypeText" minOccurs="0"/>
			<xsd:element ref="IC:EventDescriptionText" minOccurs="0"/>
			<xsd:element ref="IC:EventStartDate"/>
			<xsd:element ref="IC:EventStartTime" minOccurs="0"/>
			<xsd:element ref="IC:EventEndDate" minOccurs="0"/>
			<xsd:element ref="IC:EventEndTime" minOccurs="0"/>
			<xsd:element ref="IC:EventDateQualifierCode" minOccurs="0"/>
			<xsd:element ref="IC:EventStatusText" minOccurs="0"/>
			<xsd:element ref="IC:RecurringEventIdentifier" minOccurs="0"/>
			<xsd:element ref="IC:Resource" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:EventLocation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:EventAffiliate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EventLocationDataType">
		<xsd:sequence>
			<xsd:element ref="IC:LocationIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EventAffiliateDataType">
		<xsd:sequence>
			<xsd:element ref="IC:AffiliateIdentifier"/>
			<xsd:element ref="IC:AffiliationTypeCode" maxOccurs="unbounded"/>
			<xsd:element ref="IC:OtherAffiliationTypeText" minOccurs="0"/>
			<xsd:element ref="IC:AffiliationStartDate" minOccurs="0"/>
			<xsd:element ref="IC:AffiliationEndDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
