prod-opennode2-net/plugins/IC_10/xml_schema/0/IC_RecurringEvent_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:IC="http://www.exchangenetwork.net/schema/IC/1" targetNamespace="http://www.exchangenetwork.net/schema/IC/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="IC_Shared_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Schema Name: IC_RecurringEvent_v1.0.xsd
			Current Version Available At: http://www.exchangenetwork.net/
			Description: Describes any scheduled recurring action taking place on a specific date or over a period of time, for which data may be collected, processed, distributed, or used for purposes related to ICs
			Developed by: Windsor Solutions, Inc.
	        Point of Contact: ECOS
	        Last Modified by: Windsor Solutions, Inc.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="RecurringEvent" type="IC:RecurringEventDataType">
		<xsd:annotation>
			<xsd:documentation>Any any scheduled recurring action taking place on a specific date or over a period of time, for which data may be collected, processed, distributed, or used for purposes related to ICs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecurringEventLocation" type="IC:RecurringEventLocationDataType">
		<xsd:annotation>
			<xsd:documentation>A location where a recurring event takes place.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RecurringEventDataType">
		<xsd:sequence>
			<xsd:element ref="IC:RecurringEventIdentifier"/>
			<xsd:element ref="IC:EventName"/>
			<xsd:element ref="IC:EventTypeCode" minOccurs="0"/>
			<xsd:element ref="IC:OtherEventTypeText" minOccurs="0"/>
			<xsd:element ref="IC:EventDescriptionText" minOccurs="0"/>
			<xsd:element ref="IC:EventFrequencyMeasure" minOccurs="0"/>
			<xsd:element ref="IC:EventFrequencyUnitCode" minOccurs="0"/>
			<xsd:element ref="IC:EventFrequencyStartDate" minOccurs="0"/>
			<xsd:element ref="IC:EventFrequencyEndDate" minOccurs="0"/>
			<xsd:element ref="IC:EventTriggerText" minOccurs="0"/>
			<xsd:element ref="IC:RecurringEventLocation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecurringEventLocationDataType">
		<xsd:sequence>
			<xsd:element ref="IC:LocationIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
