prod-opennode2-net/plugins/IC_10/xml_schema/0/IC_Resource_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:IC="http://www.exchangenetwork.net/schema/IC/1" targetNamespace="http://www.exchangenetwork.net/schema/IC/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="IC_Shared_v1.0.xsd"/>
	<xsd:include schemaLocation="SC_ElectronicAddress_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Schema Name: IC_Resource_v1.0.xsd
			Current Version Available At: http://www.exchangenetwork.net/
			Description: Describes any document or source of information either directly or indirectly associated with an IC.
			Developed by: Windsor Solutions, Inc.
	        Point of Contact: ECOS
	        Last Modified by: Windsor Solutions, Inc.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Resource" type="IC:ResourceDataType">
		<xsd:annotation>
			<xsd:documentation>Describes any document or source of information either directly or indirectly associated with an IC.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResourceLocation" type="IC:ResourceLocationDataType">
		<xsd:annotation>
			<xsd:documentation>A location where a Resource applies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ResourceDataType">
		<xsd:sequence>
			<xsd:element ref="IC:ResourceName"/>
			<xsd:element ref="IC:ResourceDescriptionText" minOccurs="0"/>
			<xsd:element ref="IC:ResourceTypeText" minOccurs="0"/>
			<xsd:element ref="IC:ElectronicAddress" minOccurs="0"/>
			<xsd:element ref="IC:ResourceLocation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResourceLocationDataType">
		<xsd:sequence>
			<xsd:element ref="IC:LocationIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
