prod-opennode2-net/plugins/IC_10/xml_schema/0/IC_UseRestriction_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:IC="http://www.exchangenetwork.net/schema/IC/1" targetNamespace="http://www.exchangenetwork.net/schema/IC/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="IC_Shared_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Schema Name: IC_UseRestriction_v1.0.xsd
			Current Version Available At: http://www.exchangenetwork.net/
			Description: Describes a land or resource use specifically prohibited or restricted by the language of the IC instrument.
			Developed by: Windsor Solutions, Inc.
	        Point of Contact: ECOS
	        Last Modified by: Windsor Solutions, Inc.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="UseRestriction" type="IC:UseRestrictionDataType">
		<xsd:annotation>
			<xsd:documentation>A land or resource use specifically prohibited or restricted by the language of the IC instrument.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UseRestrictionLocation" type="IC:UseRestrictionLocationDataType">
		<xsd:annotation>
			<xsd:documentation>A location where a Use Restriction applies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UseRestrictionDataType">
		<xsd:sequence>
			<xsd:element ref="IC:UseRestrictionTypeCode" minOccurs="0"/>
			<xsd:element ref="IC:UseRestrictionText"/>
			<xsd:element ref="IC:UseRestrictionStartDate" minOccurs="0"/>
			<xsd:element ref="IC:UseRestrictionEndDate" minOccurs="0"/>
			<xsd:element ref="IC:UseRestrictionLocation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UseRestrictionLocationDataType">
		<xsd:sequence>
			<xsd:element ref="IC:LocationIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
