dotnet/prod-opennode2-net/plugins/ICISNPDES_58/xml_schema/6/ICIS_CAFO_v5.6a_draft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Common_v5.6a_draft.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CAFO_v5.6a_draft.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES CAFO shared data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AnimalType" type="icis:AnimalType"/>
	<xsd:element name="AnimalTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="ApplicationMeasureAvailableLandNumber" type="icis:NonNegativeIntegerMin1Max6Type"/>
	<xsd:element name="AuthorizedLivestockCapacityNumber" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="CAFOClassificationCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="CAFODesignationDate" type="icis:DateType"/>
	<xsd:element name="CAFODesignationReasonText" type="icis:StringMin1Max500Type"/>
	<xsd:element name="Containment" type="icis:Containment"/>
	<xsd:element name="ContainmentCapacityNumber" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="ContainmentTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="DaysOfStorage" type="icis:IntegerRange0To1000Type"/>
	<xsd:element name="DischargesDuringYearProductionAreaIndicator" type="icis:StringMin1Max3Type"/>
	<xsd:element name="EMSDevelopedDate" type="icis:DateType"/>
	<xsd:element name="EMSLastUpdatedDate" type="icis:DateType"/>
	<xsd:element name="EnvironmentalManagementSystemIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="HousedUnderRoofConfinementCount" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="IsAnimalFacilityTypeCAFOIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="LandApplicationBMP" type="icis:LandApplicationBMP"/>
	<xsd:element name="LandApplicationBMPTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="LiquidManureWastewaterGeneratedAmount" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="LiquidManureWastewaterTransferAmount" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="LivestockCapacityDeterminationBasedUponNumber" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="LivestockMaximumCapacityNumber" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="ManureLitterProcessedWastewaterStorage" type="icis:ManureLitterProcessedWastewaterStorage"/>
	<xsd:element name="ManureLitterProcessedWastewaterStorageType" type="icis:StringMin1Max3Type"/>
	<xsd:element name="NMPDevelopedCertifiedPlannerApprovedIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="NMPDevelopedDate" type="icis:DateType"/>
	<xsd:element name="NMPLastUpdatedDate" type="icis:DateType"/>
	<xsd:element name="NumberAcresContributingDrainage" type="icis:NonNegativeIntegerMin1Max5Type"/>
	<xsd:element name="OpenConfinementCount" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="OtherAnimalTypeName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="OtherContainmentTypeName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="OtherLandApplicationBMPTypeName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="OtherStorageTypeName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="ReportedAnimalType" type="icis:ReportedAnimalType"/>
	<xsd:element name="SolidManureLitterGeneratedAmount" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="SolidManureLitterTransferAmount" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="StorageTotalCapacityMeasure" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:element name="TotalNumbersEachLivestock" type="icis:NonNegativeIntegerMin1Max9Type"/>
	<xsd:group name="AnimalNMPLitterGroup">
		<xsd:sequence>
			<xsd:element ref="icis:SolidManureLitterGeneratedAmount" minOccurs="0"/>
			<xsd:element ref="icis:LiquidManureWastewaterGeneratedAmount" minOccurs="0"/>
			<xsd:element ref="icis:SolidManureLitterTransferAmount" minOccurs="0"/>
			<xsd:element ref="icis:LiquidManureWastewaterTransferAmount" minOccurs="0"/>
			<xsd:element ref="icis:NMPDevelopedCertifiedPlannerApprovedIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ReportedAnimalType">
		<xsd:sequence>
			<xsd:element ref="icis:AnimalTypeCode"/>
			<xsd:element ref="icis:OtherAnimalTypeName" minOccurs="0"/>
			<xsd:element ref="icis:TotalNumbersEachLivestock" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnimalType">
		<xsd:complexContent>
			<xsd:extension base="icis:ReportedAnimalType">
				<xsd:sequence>
					<xsd:element ref="icis:OpenConfinementCount" minOccurs="0"/>
					<xsd:element ref="icis:HousedUnderRoofConfinementCount" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CAFOClassificationGroup">
		<xsd:sequence>
			<xsd:element ref="icis:CAFOClassificationCode" minOccurs="0"/>
			<xsd:element ref="icis:CAFOContact" minOccurs="0"/>
			<xsd:element ref="icis:CAFOAddress" minOccurs="0"/>
			<xsd:element ref="icis:IsAnimalFacilityTypeCAFOIndicator" minOccurs="0"/>
			<xsd:element ref="icis:CAFODesignationDate" minOccurs="0"/>
			<xsd:element ref="icis:CAFODesignationReasonText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CAFOInspectionClassificationGroup">
		<xsd:sequence>
			<xsd:element ref="icis:CAFOClassificationCode" minOccurs="0"/>
			<xsd:element ref="icis:IsAnimalFacilityTypeCAFOIndicator" minOccurs="0"/>
			<xsd:element ref="icis:CAFODesignationDate" minOccurs="0"/>
			<xsd:element ref="icis:CAFODesignationReasonText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="ConfinementContainmentGroup">
		<xsd:sequence>
			<xsd:element ref="icis:ManureLitterProcessedWastewaterStorage" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:Containment" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="Containment">
		<xsd:sequence>
			<xsd:element ref="icis:ContainmentTypeCode"/>
			<xsd:element ref="icis:OtherContainmentTypeName" minOccurs="0"/>
			<xsd:element ref="icis:ContainmentCapacityNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="DrainageApplicationGroup">
		<xsd:sequence>
			<xsd:element ref="icis:NumberAcresContributingDrainage" minOccurs="0"/>
			<xsd:element ref="icis:ApplicationMeasureAvailableLandNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="NMPDetailsGroup">
		<xsd:sequence>
			<xsd:element ref="icis:NMPDevelopedDate" minOccurs="0"/>
			<xsd:element ref="icis:NMPLastUpdatedDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="EMSGroup">
		<xsd:sequence>
			<xsd:element ref="icis:EnvironmentalManagementSystemIndicator" minOccurs="0"/>
			<xsd:element ref="icis:EMSDevelopedDate" minOccurs="0"/>
			<xsd:element ref="icis:EMSLastUpdatedDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="CapacityGroup">
		<xsd:sequence>
			<xsd:element ref="icis:LivestockMaximumCapacityNumber" minOccurs="0"/>
			<xsd:element ref="icis:LivestockCapacityDeterminationBasedUponNumber" minOccurs="0"/>
			<xsd:element ref="icis:AuthorizedLivestockCapacityNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ManureLitterProcessedWastewaterStorage">
		<xsd:sequence>
			<xsd:element ref="icis:ManureLitterProcessedWastewaterStorageType"/>
			<xsd:element ref="icis:OtherStorageTypeName" minOccurs="0"/>
			<xsd:element ref="icis:StorageTotalCapacityMeasure" minOccurs="0"/>
			<xsd:element ref="icis:DaysOfStorage" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LandApplicationBMP">
		<xsd:sequence>
			<xsd:element ref="icis:LandApplicationBMPTypeCode"/>
			<xsd:element ref="icis:OtherLandApplicationBMPTypeName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
