dotnet/prod-opennode2-net/plugins/ICISNPDES_58/xml_schema/6/ICIS_BiosolidsAnnualProgramReport_v5.6a_FILL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Address_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_Common_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_Contact_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_KeyElements_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_Permit_v5.6a_draft.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_BiosolidsAnnualProgramReport_v5.8.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES Biosolids Annual Program Report XML Schema</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: August 2016</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-11-30</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ActiveDisposalSiteIndicator" type="icis:YesNoUnknownIndicatorTypeBase"/>
	<xsd:element name="AnalyticalMethodData" type="icis:AnalyticalMethodData"/>
	<xsd:element name="AnalyticalMethodOtherTypeText" type="icis:StringMin1Max500Type"/>
	<xsd:element name="AnalyticalMethodTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="AnalyticalMethods" type="icis:AnalyticalMethods"/>
	<xsd:element name="BiosolidsAdditionalInformationCommentText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="BiosolidsAnnualProgramReport" type="icis:BiosolidsAnnualProgramReport"/>
	<xsd:element name="BiosolidsContainerTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="BiosolidsManagementPracticeTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="BiosolidsManagementPractices" type="icis:BiosolidsManagementPractices"/>
	<xsd:element name="CertifierProgramReportContact" type="icis:CertifierProgramReportContact"/>
	<xsd:element name="HandlerPreparerTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="LandApplicationSubCategoryCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="ManagementPracticeCommentText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="ManagementPracticeData" type="icis:ManagementPracticeData"/>
	<xsd:element name="ManagementPracticeDeficiencyTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="MinimumBoundaryDistanceIndicator" type="icis:YesNoUnknownIndicatorTypeBase"/>
	<xsd:element name="MinimumBoundaryDistanceTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="OtherSubCategoryCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="PathogenClassTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="PathogenReductionTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="PollutantConcentrationExceedanceIndicator" type="icis:YesNoUnknownIndicatorTypeBase"/>
	<xsd:element name="PollutantLoadingRatesExceedanceIndicator" type="icis:YesNoUnknownIndicatorTypeBase"/>
	<xsd:element name="ReportingObligationTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="ReportingPeriodEndDate" type="xsd:date"/>
	<xsd:element name="ReportingPeriodStartDate" type="xsd:date"/>
	<xsd:element name="SiteSpecificLimitIndicator" type="icis:YesNoUnknownIndicatorTypeBase"/>
	<xsd:element name="SubCategoryOtherText" type="icis:StringMin1Max100Type"/>
	<xsd:element name="ThirdPartyProgramReportAddress" type="icis:ThirdPartyProgramReportAddress"/>
	<xsd:element name="ThirdPartyProgramReportContact" type="icis:ThirdPartyProgramReportContact"/>
	<xsd:element name="TotalVolumeAmount" type="icis:NonNegativeDecimal18FloatingTypeBase"/>
	<xsd:element name="TreatmentProcessOtherText" type="icis:StringMin1Max100Type"/>
	<xsd:element name="TreatmentProcessTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="VectorAttractionReductionTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="VolumeAmount" type="icis:NonNegativeDecimal18FloatingTypeBase"/>
	<xsd:complexType name="BiosolidsAnnualProgramReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:BiosolidsAnnualProgramReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BiosolidsAnnualProgramReport">
		<xsd:complexContent>
			<xsd:extension base="icis:BiosolidsAnnualProgramReportKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ElectronicSubmissionTypeCode" minOccurs="0"/>
					<xsd:element ref="icis:ReportingObligationTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:ReportingPeriodStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ReportingPeriodEndDate" minOccurs="0"/>
					<xsd:element ref="icis:TreatmentProcessTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:TreatmentProcessOtherText" minOccurs="0"/>
					<xsd:element ref="icis:TotalVolumeAmount" minOccurs="0"/>
					<xsd:element ref="icis:AnalyticalMethods" minOccurs="0"/>
					<xsd:element ref="icis:BiosolidsManagementPractices" minOccurs="0"/>
					<xsd:element ref="icis:BiosolidsAdditionalInformationCommentText" minOccurs="0"/>
					<xsd:element ref="icis:CertifierProgramReportContact" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AnalyticalMethods">
		<xsd:sequence>
			<xsd:element ref="icis:AnalyticalMethodData" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnalyticalMethodData">
		<xsd:sequence>
			<xsd:element ref="icis:AnalyticalMethodTypeCode"/>
			<xsd:element ref="icis:AnalyticalMethodOtherTypeText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BiosolidsManagementPractices">
		<xsd:sequence>
			<xsd:element ref="icis:ManagementPracticeData" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ManagementPracticeData">
		<xsd:sequence>
			<xsd:element ref="icis:SSUIdentifier"/>
			<xsd:element ref="icis:BiosolidsManagementPracticeTypeCode"/>
			<xsd:element ref="icis:HandlerPreparerTypeCode"/>
			<xsd:choice>
				<xsd:element ref="icis:LandApplicationSubCategoryCode" minOccurs="0"/>
				<xsd:element ref="icis:OtherSubCategoryCode" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="icis:SubCategoryOtherText" minOccurs="0"/>
			<xsd:element ref="icis:BiosolidsContainerTypeCode"/>
			<xsd:element ref="icis:VolumeAmount"/>
			<xsd:element ref="icis:PathogenClassTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:PollutantConcentrationExceedanceIndicator" minOccurs="0"/>
			<xsd:element ref="icis:PollutantLoadingRatesExceedanceIndicator" minOccurs="0"/>
			<xsd:element ref="icis:PathogenReductionTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:VectorAttractionReductionTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:ActiveDisposalSiteIndicator" minOccurs="0"/>
			<xsd:element ref="icis:SiteSpecificLimitIndicator" minOccurs="0"/>
			<xsd:element ref="icis:MinimumBoundaryDistanceIndicator" minOccurs="0"/>
			<xsd:element ref="icis:MinimumBoundaryDistanceTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:AssociatedPermitIdentifier" minOccurs="0"/>
			<xsd:element ref="icis:ThirdPartyProgramReportContact" minOccurs="0"/>
			<xsd:element ref="icis:ThirdPartyProgramReportAddress" minOccurs="0"/>
			<xsd:element ref="icis:ManagementPracticeDeficiencyTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:ManagementPracticeCommentText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThirdPartyProgramReportContact">
		<xsd:sequence>
			<xsd:element ref="icis:Contact"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThirdPartyProgramReportAddress">
		<xsd:sequence>
			<xsd:element ref="icis:Address"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CertifierProgramReportContact">
		<xsd:sequence>
			<xsd:element ref="icis:Contact"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
