java/Wnos_Plugin/resources/nysitesspills/xsd/UIS_v1.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Peggy (Windsor Solutions, Inc) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:UIS="http://www.exchangenetwork.net/schema/UIS/1" xmlns:xdb="http://xmlns.oracle.com/xdb" targetNamespace="http://www.exchangenetwork.net/schema/UIS/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xdb:mapStringToNCHAR="true" xdb:mapUnboundedStringToLob="true">
    <!-- Include the simple types in the UIS namespace -->
    <xsd:include schemaLocation="./UIS_Simple_v1.0.1.xsd"/>
    <xsd:annotation>
        <xsd:documentation> 
            Schema Name : UIS_RemedSitesSpills_v1.0.xsd 
            Current Version Available At :
            Description : This is the root schema for New York DEC Remediation Sites and Spills data.
            Application : NY DEC Groundwater Quality Data Exchange Project, Remediation Sites and Spills
            Developed by: Windsor Solutions, Inc. 
            Point of Contact : Peggy Pryor 
            Change History: Initial Draft 9/19/08
            </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="UISExchange" type="UIS:UISExchangeDataType">
        <xsd:annotation>
            <xsd:documentation>The root-level container for the UIS data exchange.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UISExchangeDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:DERProgramsList" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:MaterialCodesList" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Optional lists for sending back individual DOH records to update DEC's UIS database without sending back the entire hierarchy -->
            <xsd:element ref="UIS:ERMaterialList" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:AffiliationList" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="schemaVersion" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                    <xsd:pattern value="3\.\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="DERProgramsList" type="UIS:DERProgramsListDataType">
        <xsd:annotation>
            <xsd:documentation>A container for one or more program-related remediation sites and spills.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DERProgramsListDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:DERPrograms" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DERPrograms" type="UIS:DERProgramsDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for Program (DERPrograms) Site </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DERProgramsDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:DERProgramsSiteID"/>
            <xsd:element ref="UIS:DERProgramsFacID" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsProgNo" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsProgTypeCode" minOccurs="0"/>
            <xsd:element ref="UIS:ProgramTypeCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsProgFacName" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsRecStartDate" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsRecStartQualifier" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsRecEndDate" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsRecEndQualifier" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramseDocsPath" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsNeweDocsPath" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramseDocsNew" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsLastModified"/>
            <xsd:element ref="UIS:Facility" minOccurs="0"/>
            <xsd:element ref="UIS:DERProgramsAffiliation" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:EROpUnit" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:DERProgramsGeographicLoc" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:ERSite" minOccurs="0"/>
            <xsd:element ref="UIS:Spills" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERSite" type="UIS:ERSiteDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for the Remediation Site information associated with the program site, when program site is of remediation site type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERSiteDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ERSiteSignifThreat" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteClassCode" minOccurs="0"/>
            <xsd:element ref="UIS:SiteClassCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:SiteClassCodeDesc" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteDescriptText" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteLandUse" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteIntendedUseCode" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteCleanUpTrackCode" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteCleanUpTrackCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteAcres" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteAssessEnvText" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteAssessDOH" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteDOHAssessMod" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteDOHAssessFlag" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteDOHAssessFlagReason" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteAssessLEG" minOccurs="0"/>
            <xsd:element ref="UIS:ERSitePeriodReviewFreq" minOccurs="0"/>
            <xsd:element ref="UIS:ERSitePeriodReviewFreqCode" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteVaporIntrusionLegacy" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteHudsonRiverEstuary" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteEditReviewComp" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteEditReviewDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteProjMgrReviewComp" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteProjMgrReviewDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteSiteManagePriority" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteModifiedBy" minOccurs="0"/>
            <xsd:element ref="UIS:ERSiteLastModified" minOccurs="0"/>
            <xsd:element ref="UIS:ERAdjProp" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:ERClassHis" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:ERClassChg" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:ERPetFile" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Spills" type="UIS:SpillsDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for the spills information associated with the program site, when program site is of spill type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SpillsDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:SpillsLeadDEC" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsReferredTo" minOccurs="0"/>
            <xsd:element ref="UIS:SpillDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsRcvdDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsContributingFactorCode" minOccurs="0"/>
            <xsd:element ref="UIS:ContributingFactorCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsWaterbody" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsFacilityTypeCode" minOccurs="0"/>
            <xsd:element ref="UIS:FacilityTypeCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsReportedByCode" minOccurs="0"/>
            <xsd:element ref="UIS:NotifierCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsCallerRemark" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsMeetsStd" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsInspDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsPenalty" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsUSTTrust" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsClass" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsRCDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsInvDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsRDDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsRADate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsSMDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsCloseDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsDECRemark" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsCreateDate" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsPrWell" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsPuWell" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsRegionalUse" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsAfterHours" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsRemedPhase" minOccurs="0"/>
            <xsd:element ref="UIS:SpillsLastModified" minOccurs="0"/>
            <xsd:element ref="UIS:SpTankTest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Facility" type="UIS:FacilityDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for the facility associated with the program site.  The same facility may be referenced by multiple program sites.  Additionally a program site may have several facilities on that site. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="FacilityDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:DERFacID" minOccurs="0"/>
            <xsd:element ref="UIS:FacilityAddress1" minOccurs="0"/>
            <xsd:element ref="UIS:FacilityAddress2" minOccurs="0"/>
            <xsd:element ref="UIS:FacilityLocality" minOccurs="0"/>
            <xsd:element ref="UIS:FacilityZIPcode" minOccurs="0"/>
            <xsd:element ref="UIS:FacilitySWIScode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DERProgramsAffiliation" type="UIS:DERProgramsAffiliationDataType">
        <xsd:annotation>
            <xsd:documentation>Contains affiliation information for DERPrograms (Sites and Spills).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DERProgramsAffiliationDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:AffiliationDERFacID" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationID" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationSiteID" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationTypeCode" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationTypeCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationSubTypeCode" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationSubTypeCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationSeqNo" minOccurs="0"/>
            <xsd:element ref="UIS:UISAffiliationStartDate" minOccurs="0"/>
            <xsd:element ref="UIS:UISAffiliationEndDate" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationCompany" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationFederalID" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationContactTitle" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationContactName" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationAddress1" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationAddress2" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationCity" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationState" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationZIPCode" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationCountryCode" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationPhone" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationPhoneExt" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationEmail" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationFax" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationModifiedBy" minOccurs="0"/>
            <xsd:element ref="UIS:AffiliationLastModified" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AffiliationList" type="UIS:AffiliationListDataType">
        <xsd:annotation>
            <xsd:documentation>Optional container for sending Affiliations, primarily when, through DOHs own work, DOH has assigned a DOH Project Manager and is sending back to DEC.  The list allows for this information to be sent without the full hierachy from DERPrograms -> Facility -> Affiliation</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AffiliationListDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:DERProgramsAffiliation" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DERProgramsGeographicLoc" type="UIS:DERProgramsGeographicLocDataType">
        <xsd:annotation>
            <xsd:documentation>Contains affiliation information for DERPrograms (Sites and Spills).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DERProgramsGeographicLocDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:GeographicLocGISID" minOccurs="0"/>
            <xsd:element ref="UIS:GeographicLocMethod" minOccurs="0"/>
            <xsd:element ref="UIS:GeographicLocAccuracy" minOccurs="0"/>
            <xsd:element ref="UIS:GeographicLocAccuracyUnit" minOccurs="0"/>
            <xsd:element ref="UIS:GeographicLocDatum" minOccurs="0"/>
            <xsd:element ref="UIS:GeographicLocLatitude" minOccurs="0"/>
            <xsd:element ref="UIS:GeographicLocLongitude" minOccurs="0"/>
            <xsd:element ref="UIS:GeographicLocModifiedBy" minOccurs="0"/>
            <xsd:element ref="UIS:GeographicLocLastModified" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EROpUnit" type="UIS:EROpUnitDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for the Operable Unit. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EROpUnitDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:EROpUnitID" minOccurs="0"/>
            <xsd:element ref="UIS:EROpUnitOU" minOccurs="0"/>
            <xsd:element ref="UIS:EROpUnitOUDesc" minOccurs="0"/>
            <xsd:element ref="UIS:EROpUnitRODDescText" minOccurs="0"/>
            <xsd:element ref="UIS:ERRemedy" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:ERProjects" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:ERMaterial" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERRemedy" type="UIS:ERRemedyDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for ERRemedy. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERRemedyDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:RemCode" minOccurs="0"/>
            <xsd:element ref="UIS:RemedyCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:RemType" minOccurs="0"/>
            <xsd:element ref="UIS:RemDesc" minOccurs="0"/>
            <xsd:element ref="UIS:RemInPlaceDate" minOccurs="0"/>
            <xsd:element ref="UIS:RemEff" minOccurs="0"/>
            <xsd:element ref="UIS:ParcelsMitigated" minOccurs="0"/>
            <xsd:element ref="UIS:MaxParcelsMitigated" minOccurs="0"/>
            <xsd:element ref="UIS:RemSysSizeCode" minOccurs="0"/>
            <xsd:element ref="UIS:RemedySizeCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:RemedyCompletionDate" minOccurs="0"/>
            <xsd:element ref="UIS:RemedyComments" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERProjects" type="UIS:ERProjectsDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERProjectsDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ProjID" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsFundSrcCode" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsFundSourceCodedesc" minOccurs="0"/>
            <xsd:element ref="UIS:ProjCode" minOccurs="0"/>
            <xsd:element ref="UIS:ProjectCodeDesc" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsSeqNo" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsReferName" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsBaseStartDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsStartDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsStartStatus" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsEndDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsEndStatus" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsRevisedStartDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsRevStartStatus" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsRevEndDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsRevEndStatus" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsRevReason" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsCurStartDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsCurStartStatus" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsCurEndDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsCurEndStatus" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsProjectManager" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsLeadAgency" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsLeadDiv" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsLeadBur" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsLeadOff" minOccurs="0"/>
            <xsd:element ref="UIS:ProjDesc" minOccurs="0"/>
            <xsd:element ref="UIS:ProjNotesText" minOccurs="0"/>
            <xsd:element ref="UIS:ERProjectsCurrentStatus" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERMaterial" type="UIS:ERMaterialDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERMaterialDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ERMaterialMatID" minOccurs="0"/>
            <!-- The OpUnitID may only need to be populated when additional materials are provided from DOH and exchanged by utilizing ERMaterialList-->
            <xsd:element ref="UIS:ERMaterialOpUnitID" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialMedRecept" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialMatCode" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialTargetLvl" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialQuantity" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialUnits" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialRecovered" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialChemComments" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialModifiedBy" minOccurs="0"/>
            <xsd:element ref="UIS:ERMaterialLastModified" minOccurs="0"/>
            <xsd:element ref="UIS:MediaAffected" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MediaAffected" type="UIS:MediaAffectedDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for Media Affected. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MediaAffectedDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:MaterialMediaAffectedCode" minOccurs="0"/>
            <xsd:element ref="UIS:MediaAffectedTargetLevel" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERMaterialList" type="UIS:ERMaterialListDataType">
        <xsd:annotation>
            <xsd:documentation>Optional container for sending ERMaterials, primarily when, through DOHs own investigation, DOH has identified and is sending back to DEC additional material information.  The list allows for this information to be sent without the full hierachy from DERPrograms -> EROpUnit -> ERMaterial.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERMaterialListDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ERMaterial" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MaterialCodesList" type="UIS:MaterialCodesListDataType">
        <xsd:annotation>
            <xsd:documentation>A container for sending all material codes, material family codes, and media affected codes independent of any specific spill or remediation site.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MaterialCodesListDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:MaterialCodes" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:MaterialFamilyCodes" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="UIS:MediaAffectedCodes" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MaterialCodes" type="UIS:MaterialCodesDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for exchanging any/all valid Material Codes in the system. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MaterialCodesDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:MatCode" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:CASNo" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialCodeFamilyCode" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialCodeLandRepQty" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialCodeAirRepQty" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialCodeAcute" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialCodeScreeningThreshold" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialCodeSpecificGravity" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialCodeRecordCount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MaterialFamilyCodes" type="UIS:MaterialFamilyCodesDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for Material Family Codes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MaterialFamilyCodesDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:MaterialFamilyCode" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialFamilyCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:MaterialFamilyCodeDesc" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MediaAffectedCodes" type="UIS:MediaAffectedCodesDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for Media Affected Codes and related information. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MediaAffectedCodesDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:MediaAffectedCode" minOccurs="0"/>
            <xsd:element ref="UIS:MediaAffectedCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:MediaAffectedCodeDesc" minOccurs="0"/>
            <xsd:element ref="UIS:MediaAffectedCodeType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERAdjProp" type="UIS:ERAdjPropDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERAdjPropDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:AdjPropID" minOccurs="0"/>
            <xsd:element ref="UIS:AdjPropIDC" minOccurs="0"/>
            <xsd:element ref="UIS:EADistrict" minOccurs="0"/>
            <xsd:element ref="UIS:EASec" minOccurs="0"/>
            <xsd:element ref="UIS:EASubsec" minOccurs="0"/>
            <xsd:element ref="UIS:EABlock" minOccurs="0"/>
            <xsd:element ref="UIS:EALot" minOccurs="0"/>
            <xsd:element ref="UIS:EASublot" minOccurs="0"/>
            <xsd:element ref="UIS:EASuffix" minOccurs="0"/>
            <xsd:element ref="UIS:NYTMN" minOccurs="0"/>
            <xsd:element ref="UIS:NYTME" minOccurs="0"/>
            <xsd:element ref="UIS:NYTMDist" minOccurs="0"/>
            <xsd:element ref="UIS:Sblprt" minOccurs="0"/>
            <xsd:element ref="UIS:ParcStr" minOccurs="0"/>
            <xsd:element ref="UIS:ParcCity" minOccurs="0"/>
            <xsd:element ref="UIS:ParcZIP" minOccurs="0"/>
            <xsd:element ref="UIS:ParcSWIS" minOccurs="0"/>
            <xsd:element ref="UIS:Controls" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Controls" type="UIS:ControlsDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ControlsDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ControlID" minOccurs="0"/>
            <xsd:element ref="UIS:ContrCode" minOccurs="0"/>
            <xsd:element ref="UIS:ControlCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:ContrSeq" minOccurs="0"/>
            <xsd:element ref="UIS:ControlsInplaceDate" minOccurs="0"/>
            <xsd:element ref="UIS:ControlsEndDate" minOccurs="0"/>
            <xsd:element ref="UIS:CertRecDate" minOccurs="0"/>
            <xsd:element ref="UIS:CertNoticeSentDate" minOccurs="0"/>
            <xsd:element ref="UIS:CertDueDate" minOccurs="0"/>
            <xsd:element ref="UIS:CertAcceptDate" minOccurs="0"/>
            <xsd:element ref="UIS:NextCertDate" minOccurs="0"/>
            <xsd:element ref="UIS:FollowupLtr" minOccurs="0"/>
            <xsd:element ref="UIS:EnforceRef" minOccurs="0"/>
            <xsd:element ref="UIS:AudDate" minOccurs="0"/>
            <xsd:element ref="UIS:ControlsDesc" minOccurs="0"/>
            <xsd:element ref="UIS:AudSummary" minOccurs="0"/>
            <xsd:element ref="UIS:CertComments" minOccurs="0"/>
            <xsd:element ref="UIS:ControlElements" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ControlElements" type="UIS:ControlElementsDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ControlElementsDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ControlElementCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:ControlElementCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERPetFile" type="UIS:ERPetFileDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERPetFileDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ERPetFilePSeqno" minOccurs="0"/>
            <xsd:element ref="UIS:PtFil1" minOccurs="0"/>
            <xsd:element ref="UIS:Petitr" minOccurs="0"/>
            <xsd:element ref="UIS:PSCSdtDate" minOccurs="0"/>
            <xsd:element ref="UIS:PacTrq" minOccurs="0"/>
            <xsd:element ref="UIS:PRegDtDate" minOccurs="0"/>
            <xsd:element ref="UIS:PCODatDate" minOccurs="0"/>
            <xsd:element ref="UIS:PDODDtDate" minOccurs="0"/>
            <xsd:element ref="UIS:PDEEDtDate" minOccurs="0"/>
            <xsd:element ref="UIS:PApprdDate" minOccurs="0"/>
            <xsd:element ref="UIS:PFinDtDate" minOccurs="0"/>
            <xsd:element ref="UIS:PHldDtDate" minOccurs="0"/>
            <xsd:element ref="UIS:PComm1" minOccurs="0"/>
            <xsd:element ref="UIS:PComm2" minOccurs="0"/>
            <xsd:element ref="UIS:PSName" minOccurs="0"/>
            <xsd:element ref="UIS:PTFil2" minOccurs="0"/>
            <xsd:element ref="UIS:PTFil2a" minOccurs="0"/>
            <xsd:element ref="UIS:PTFil3" minOccurs="0"/>
            <xsd:element ref="UIS:Commnt" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERClassHis" type="UIS:ERClassHisDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERClassHisDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ClassHisSeqno" minOccurs="0"/>
            <xsd:element ref="UIS:ClassHisSiteName" minOccurs="0"/>
            <xsd:element ref="UIS:OldERClass" minOccurs="0"/>
            <xsd:element ref="UIS:NewERClass" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisRequestDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisCHAddDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisProjMgr" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisCommType" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisProjMgrAd" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisCity" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisState" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisZip" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisTelephone" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisComments" minOccurs="0"/>
            <xsd:element ref="UIS:BCPIncompleteAppDate" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassHisFinalizedDate" minOccurs="0"/>
            <xsd:element ref="UIS:SCSComments" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERClassChg" type="UIS:ERClassChgDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ERClassChgDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:ERClassChgID" minOccurs="0"/>
            <xsd:element ref="UIS:Hw_code" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassChgSeqno" minOccurs="0"/>
            <xsd:element ref="UIS:CInitb" minOccurs="0"/>
            <xsd:element ref="UIS:CSectn" minOccurs="0"/>
            <xsd:element ref="UIS:DcSCSDt" minOccurs="0"/>
            <xsd:element ref="UIS:CActRq" minOccurs="0"/>
            <xsd:element ref="UIS:DcInvse" minOccurs="0"/>
            <xsd:element ref="UIS:DcDEE" minOccurs="0"/>
            <xsd:element ref="UIS:DcDOH" minOccurs="0"/>
            <xsd:element ref="UIS:DcDivDr" minOccurs="0"/>
            <xsd:element ref="UIS:DcBurDr" minOccurs="0"/>
            <xsd:element ref="UIS:DcApprov" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassChgComment" minOccurs="0"/>
            <xsd:element ref="UIS:ERClassChgCommentText" minOccurs="0"/>
            <xsd:element ref="UIS:CsName" minOccurs="0"/>
            <xsd:element ref="UIS:DcHldSt" minOccurs="0"/>
            <xsd:element ref="UIS:DcRegDt" minOccurs="0"/>
            <xsd:element ref="UIS:Dcfill2" minOccurs="0"/>
            <xsd:element ref="UIS:Cfill3" minOccurs="0"/>
            <xsd:element ref="UIS:DueDate" minOccurs="0"/>
            <xsd:element ref="UIS:RHWREDate" minOccurs="0"/>
            <xsd:element ref="UIS:AsstDivDirDate" minOccurs="0"/>
            <xsd:element ref="UIS:PkgHoldDate" minOccurs="0"/>
            <xsd:element ref="UIS:FinalizedDate" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SpTankTest" type="UIS:SpTankTestDataType">
        <xsd:annotation>
            <xsd:documentation>Data Type Definitions for . </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SpTankTestDataType">
        <xsd:sequence>
            <xsd:element ref="UIS:SpTankTestID" minOccurs="0"/>
            <xsd:element ref="UIS:TankNo" minOccurs="0"/>
            <xsd:element ref="UIS:TankSize" minOccurs="0"/>
            <xsd:element ref="UIS:SpillTankTestMaterial" minOccurs="0"/>
            <xsd:element ref="UIS:SpTankTestEPAUST" minOccurs="0"/>
            <xsd:element ref="UIS:SpTankTestUST" minOccurs="0"/>
            <xsd:element ref="UIS:SpTankTestCauseCode" minOccurs="0"/>
            <xsd:element ref="UIS:CauseCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:SpTankTestSourceCode" minOccurs="0"/>
            <xsd:element ref="UIS:SourceCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:TestMethodCode" minOccurs="0"/>
            <xsd:element ref="UIS:TestMethodCodeName" minOccurs="0"/>
            <xsd:element ref="UIS:LeakRate" minOccurs="0"/>
            <xsd:element ref="UIS:GrossFail" minOccurs="0"/>
            <xsd:element ref="UIS:SpTankTestLastModified" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
