java/Wnos_Plugin/resources/nysitesspills/xsd/UIS_Simple_v1.0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Peggy Pryor (Windsor Solutions, Inc) -->
<xsd:schema xmlns:UIS="http://www.exchangenetwork.net/schema/UIS/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/UIS/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation> 
		    Schema Name : UIS_SimpleContent_v1.0.xsd 
		    Current Version Available At :
            Description : Simple Content file for the Shared UIS data exchange common simple types and data elements. 
            Application : NY DEC Groundwater Quality Data Exchange Project, Remediation Sites and Spills
            Developed by: Windsor Solutions, Inc. 
            Point of Contact : Peggy Pryor 
        </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="DERProgramsSiteID">
		<xsd:annotation>
			<xsd:documentation>A number that uniquely identifies a site in a particular DER Program. Generated when the Program information record is inserted into the DERPrograms table. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsFacID">
		<xsd:annotation>
			<xsd:documentation>The facility identifier of a facility address associated to a particular DER Program Site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsProgNo">
		<xsd:annotation>
			<xsd:documentation>PBS/CBS registration number or MOSF license number that identifies the facility.  Site Code for Environmental Remediation sites.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsProgTypeCode">
		<xsd:annotation>
			<xsd:documentation>Program Type Code</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProgramTypeCodeName">
		<xsd:annotation>
			<xsd:documentation>Code name associated with Program Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsProgFacName">
		<xsd:annotation>
			<xsd:documentation>Program Name of the Site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="80"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsRecStartDate">
		<xsd:annotation>
			<xsd:documentation>Date a site became of environmental interest/entered the program (e.g. date the original Bulk Storage application was received).  A description of the event is in Record Start Qualifier field.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsRecStartQualifier">
		<xsd:annotation>
			<xsd:documentation>Describes the event recorded in the Record Start Date field.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsRecEndDate">
		<xsd:annotation>
			<xsd:documentation>Date a site stopped being significant to the program (e.g. date a site was deregulated).  A description of the event is in Record End Qualifier field.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsRecEndQualifier">
		<xsd:annotation>
			<xsd:documentation>Describes the event recorded in the Record End Date field.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramseDocsPath">
		<xsd:annotation>
			<xsd:documentation>Network path where electronic documents can be found for a particular site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="250"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsNeweDocsPath">
		<xsd:annotation>
			<xsd:documentation>Network path where electronic documents can be found for a particular site.  Added to account for differences in how network accessed folder system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="250"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramseDocsNew">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERProgramsLastModified">
		<xsd:annotation>
			<xsd:documentation>Date and time the DERPrograms record was last modified.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteID">
		<xsd:annotation>
			<xsd:documentation>A number that uniquely identifies a site in a particular DER Program. Generated when the Program information record is inserted into the DERPrograms table. Serves as both a primary and foreign key in the ERSite table</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteSignifThreat">
		<xsd:annotation>
			<xsd:documentation>Identifies if a site currently poses or at one time posed a significant threat to human health and the environment (See Part 6NYCRR part 375).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteClassCode">
		<xsd:annotation>
			<xsd:documentation>Historically limited to State Superfund Sites and identified the potential threat the site posed based upon the environmental threat.  Since expanded to include other programs (BCP, ERP VCP) to identify if the site is still active, Completed or No further action will be taken under a particular program.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteClassCodeName">
		<xsd:annotation>
			<xsd:documentation>Code name associated with the site class.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SiteClassCodeDesc">
		<xsd:annotation>
			<xsd:documentation>Code description associated with the site class.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteDescriptText">
		<xsd:annotation>
			<xsd:documentation>Provides a summary of the status, findings of investigations, and cleanup actions that have been taken at the site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteLandUse">
		<xsd:annotation>
			<xsd:documentation>Current land use of the site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteIntendedUseCode">
		<xsd:annotation>
			<xsd:documentation>Intended use of the site based upon the information included on the BCP application. Currently only applies to Brownfield Cleanup Sites (DERPrograms.progtype = BCP).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteCleanUpTrackCode">
		<xsd:annotation>
			<xsd:documentation>The field is used to define the Cleanup track select ted by the volunteer for the site.  This currently only applies to Brownfield Cleanup Sites (DERPrograms.progtype = BCP).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteCleanUpTrackCodeName">
		<xsd:annotation>
			<xsd:documentation>Name associated with the cleanup track code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteAcres">
		<xsd:annotation>
			<xsd:documentation>Approximate size of the site in acres.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:fractionDigits value="3"/>
				<xsd:totalDigits value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteAssessEnvText">
		<xsd:annotation>
			<xsd:documentation>Assessment of the environmental issues associated with the site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteAssessDOH">
		<xsd:annotation>
			<xsd:documentation>Assessment of health issues associated with the site.  Supplied by the Department of Health. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteDOHAssessMod">
		<xsd:annotation>
			<xsd:documentation>Date DOH Assessment is updated.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteDOHAssessFlag">
		<xsd:annotation>
			<xsd:documentation>Flag for DOH to indicate that assessment is requested by DEC.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteDOHAssessFlagReason">
		<xsd:annotation>
			<xsd:documentation>Reason why DEC is requesting that DOH assessment be provided e.g. upcoming hearing, annual review, etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteAssessLEG">
		<xsd:annotation>
			<xsd:documentation>Comments from the Division of Environmental Enforcement.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSitePeriodReviewFreq">
		<xsd:annotation>
			<xsd:documentation>Code from the PeriodicReviewFrequencyCodes. Used to track the  number of years between reviews of Sites that have been remediated and are in Site Management. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSitePeriodReviewFreqCode">
		<xsd:annotation>
			<xsd:documentation>Description associated with the Periodic Review Frequency Code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="75"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteVaporIntrusionLegacy">
		<xsd:annotation>
			<xsd:documentation>Identifies if a site has the potential to have soil vapor issues based on contaminants or site type (e.g., Dry Cleaner).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteHudsonRiverEstuary">
		<xsd:annotation>
			<xsd:documentation>Identifies if a site geographically falls within the Hudson River Estuary System.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteEditReviewComp">
		<xsd:annotation>
			<xsd:documentation>Tracks when a supervisor has completed his review of a site's information and identifies when it can be sent out to the external web.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteEditReviewDate">
		<xsd:annotation>
			<xsd:documentation>Date the supervisor completes his review.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteProjMgrReviewComp">
		<xsd:annotation>
			<xsd:documentation>Tracks when a project manager has completed his review of a site's information and identifies when it can be sent out to the external web.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteProjMgrReviewDate">
		<xsd:annotation>
			<xsd:documentation>Date the Project manager completes his review.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteSiteManagePriority">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteModifiedBy">
		<xsd:annotation>
			<xsd:documentation>Id of the user who last updated the record.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERSiteLastModified">
		<xsd:annotation>
			<xsd:documentation>Date and timestamp when ERSite record last updated.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsLeadDEC">
		<xsd:annotation>
			<xsd:documentation>DEC Lead on Spill.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsReferredTo">
		<xsd:annotation>
			<xsd:documentation>Spill referred to another program.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillDate">
		<xsd:annotation>
			<xsd:documentation>Date of spill.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsRcvdDate">
		<xsd:annotation>
			<xsd:documentation>Date Spill information received.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsContributingFactorCode">
		<xsd:annotation>
			<xsd:documentation>Cause of spill. Used for non-tank spills.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContributingFactorCodeName">
		<xsd:annotation>
			<xsd:documentation>Code name associated with the type of contributing factor.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsWaterbody">
		<xsd:annotation>
			<xsd:documentation>The name of the surface water affected by the spill. To be filled in when resource affected is surface water.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsFacilityTypeCode">
		<xsd:annotation>
			<xsd:documentation>Type of facility where spill occurred.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityTypeCodeName">
		<xsd:annotation>
			<xsd:documentation>Code name associated with type of facility where spill occurred.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsReportedByCode">
		<xsd:annotation>
			<xsd:documentation>The item that best identifies the person, company, department or agency that notified DEC of the spill.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NotifierCodeName">
		<xsd:annotation>
			<xsd:documentation>Code name associated with the type of the notifier of the spill.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsCallerRemark">
		<xsd:annotation>
			<xsd:documentation>Remarks from the Caller specific to the spill.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsMeetsStd">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the cleanup meet standards and/or guidance values. This is unknown for spills closed prior to September 1995, but was defaulted to true.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsInspDate">
		<xsd:annotation>
			<xsd:documentation>The date that the spill site was last inspected by regional staff.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsPenalty">
		<xsd:annotation>
			<xsd:documentation>A flag to determine whether there is a penalty recommendation for that spill.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsUSTTrust">
		<xsd:annotation>
			<xsd:documentation>A flag to determine if an underground storage tank meeting the criteria for the federal UST program was involved in the spill, therefore making this spill UST Trust eligible.  No longer being populated.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsClass">
		<xsd:annotation>
			<xsd:documentation>Spill classification.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsRCDate">
		<xsd:annotation>
			<xsd:documentation>Response and Containment End Date used for Spill Tracking.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsInvDate">
		<xsd:annotation>
			<xsd:documentation>Investigation End Date used for spill tracking.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsRDDate">
		<xsd:annotation>
			<xsd:documentation>Remedial Design End Date used for spill tracking.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsRADate">
		<xsd:annotation>
			<xsd:documentation>Remedial Action End Date used for spill tracking.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsSMDate">
		<xsd:annotation>
			<xsd:documentation>Site Management End Date used for spill tracking.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsCloseDate">
		<xsd:annotation>
			<xsd:documentation>Spill Close date. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsDECRemark">
		<xsd:annotation>
			<xsd:documentation>Remarks of DEC personnel.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsCreateDate">
		<xsd:annotation>
			<xsd:documentation>Date record created.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsPrWell">
		<xsd:annotation>
			<xsd:documentation>Private wells impacted.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsPuWell">
		<xsd:annotation>
			<xsd:documentation>Public wells impacted</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsRegionalUse">
		<xsd:annotation>
			<xsd:documentation>Text field used by staff for various purposes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="300"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsAfterHours">
		<xsd:annotation>
			<xsd:documentation>A flag to identify if the spill was received off-hours.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsRemedPhase">
		<xsd:annotation>
			<xsd:documentation>Remedial phase.  Response and Containment is default.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillsLastModified">
		<xsd:annotation>
			<xsd:documentation>Date and time of last update to the record.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DERFacID">
		<xsd:annotation>
			<xsd:documentation>A number used to tie multiple tables together.  The number is computer-generated and sequentially assigned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityAddress1">
		<xsd:annotation>
			<xsd:documentation>Street address or location of the facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityAddress2">
		<xsd:annotation>
			<xsd:documentation>Additional facility street address or location information. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityLocality">
		<xsd:annotation>
			<xsd:documentation>City, town or village in which the facility is located.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilityZIPcode">
		<xsd:annotation>
			<xsd:documentation>Zip code of the facility.  It includes the four digit zip code extension, if available.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FacilitySWIScode">
		<xsd:annotation>
			<xsd:documentation>Four-digit State Wide Information System number when the county and city or town are chosen from the list on the computer screen.  First two digits are county, last two are city or town. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationDERFacID">
		<xsd:annotation>
			<xsd:documentation>A computer generated number used to tie multiple tables together. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationID">
		<xsd:annotation>
			<xsd:documentation>A computer generated number that identifies the affiliation record. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationSiteID">
		<xsd:annotation>
			<xsd:documentation>A computer generated number that identifies the facility. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationTypeCode">
		<xsd:annotation>
			<xsd:documentation>Code number denoting type of affiliation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationTypeCodeName">
		<xsd:annotation>
			<xsd:documentation>Code name associated with type code of affiliation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationSubTypeCode">
		<xsd:annotation>
			<xsd:documentation>Alpha-numeric code denoting subtype of Bulk Storage Site Owner. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationSubTypeCodeName">
		<xsd:annotation>
			<xsd:documentation>Code name associated with subtype code of affiliation. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="61"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationSeqNo">
		<xsd:annotation>
			<xsd:documentation>Field used to distinguish between affiliations of the same type.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UISAffiliationStartDate">
		<xsd:annotation>
			<xsd:documentation>Date record was added.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UISAffiliationEndDate">
		<xsd:annotation>
			<xsd:documentation>Date affiliation became no longer valid.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationModifiedBy">
		<xsd:annotation>
			<xsd:documentation>Computer-generated field identifying the user ID of the person who last edited the record.  In bi-directional flow, will also indicate DOH-added affiliation records.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationLastModified">
		<xsd:annotation>
			<xsd:documentation>Computer-generated field identifying date and time the record was last modified.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationCompany">
		<xsd:annotation>
			<xsd:documentation>Name of the company listed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationFederalID">
		<xsd:annotation>
			<xsd:documentation>Federal ID number of the company listed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="11"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationContactTitle">
		<xsd:annotation>
			<xsd:documentation>Job title of the contact person listed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationContactName">
		<xsd:annotation>
			<xsd:documentation>Name of the contact person listed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationAddress1">
		<xsd:annotation>
			<xsd:documentation>Street address or location for the address for the affiliate.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationAddress2">
		<xsd:annotation>
			<xsd:documentation>Additional street address or location information for the affiliate.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationCity">
		<xsd:annotation>
			<xsd:documentation>City, town or village of the address for the affiliate.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationState">
		<xsd:annotation>
			<xsd:documentation>Two-character state abbreviation (for US states) or province abbreviation (for Canadian provinces) for the address for the affiliate.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationZIPCode">
		<xsd:annotation>
			<xsd:documentation>Zip code of the address of the affiliate.  For US zip codes this includes the four-digit zip code extension, if available.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationCountryCode">
		<xsd:annotation>
			<xsd:documentation>Code number denoting the country for the address of the affiliate.  For example, 001=USA.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationPhone">
		<xsd:annotation>
			<xsd:documentation>Telephone number for the affiliate.  (Field will have to be changed to accommodate foreign phone numbers.)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="19"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationPhoneExt">
		<xsd:annotation>
			<xsd:documentation>Phone extension for the affiliate.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationEmail">
		<xsd:annotation>
			<xsd:documentation>Email address for the affiliate. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AffiliationFax">
		<xsd:annotation>
			<xsd:documentation>Fax number for the affiliate.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="19"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocGISID">
		<xsd:annotation>
			<xsd:documentation>Computer generated field indicating GIS.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocSiteID">
		<xsd:annotation>
			<xsd:documentation>A number that uniquely identifies the site of the particular Geographic Location. Initially generated when the Program information record is inserted into the DERPrograms table.  Serves as a foreign key to the DERPrograms site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocMethod">
		<xsd:annotation>
			<xsd:documentation>Collection method for GIS coordinates.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocAccuracy">
		<xsd:annotation>
			<xsd:documentation>Indication of the accuracy of the GIS (Geographic Information System) information, measured in a specified accuracy unit (see AccuracyUnit field below).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocAccuracyUnit">
		<xsd:annotation>
			<xsd:documentation>Indication of the accuracy of the GIS (Geographic Information System) information, measured in a specified number of accuracy units (see Accuracy field above).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="6"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocDatum">
		<xsd:annotation>
			<xsd:documentation>Name of the geo-referencing datum used.  (For example, the North American Datum1983 (NAD83) was developed due to unacceptably large distortions in pre-existing datum and the development of more precise positioning techniques.)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocLatitude">
		<xsd:annotation>
			<xsd:documentation>Geographic Location Latitude</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocLongitude">
		<xsd:annotation>
			<xsd:documentation>Geographic Location Longitude</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocModifiedBy">
		<xsd:annotation>
			<xsd:documentation>Computer-generated field identifying the user ID of the person who edited the record.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GeographicLocLastModified">
		<xsd:annotation>
			<xsd:documentation>Computer-generated field identifying date and time the record was last modified.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EROpUnitID">
		<xsd:annotation>
			<xsd:documentation>Computer generated field indicating EROpUnit</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EROpUnitOU">
		<xsd:annotation>
			<xsd:documentation>Operable Unit (OU) number. Example: 01,02.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EROpUnitOUDesc">
		<xsd:annotation>
			<xsd:documentation>Operable unit description.  For Voluntary Cleanup Projects, the initial OU description will include the Voluntary Cleanup Agreement number, once issued.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="80"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EROpUnitRODDescText">
		<xsd:annotation>
			<xsd:documentation>Description of remedy.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemCode">
		<xsd:annotation>
			<xsd:documentation>Code associated with remedy.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemedyCodeName">
		<xsd:annotation>
			<xsd:documentation>Name associated with Remedy code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemType">
		<xsd:annotation>
			<xsd:documentation>The type of remedy that was put into place (i.e., drinking water filter, cap, etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="110"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemDesc">
		<xsd:annotation>
			<xsd:documentation>Remedy description.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemInPlaceDate">
		<xsd:annotation>
			<xsd:documentation>The date the technology was put into service or construction was completed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemEff">
		<xsd:annotation>
			<xsd:documentation>Identifies if the particular technology is effective 1 = Yes, 0 = No or 2 = being Evaluated(during initial operation) </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ParcelsMitigated">
		<xsd:annotation>
			<xsd:documentation>Applies only to sites where Vapor mitigation is being used.  It is the Current Number of parcels being mitigated using Vapor Mitigation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaxParcelsMitigated">
		<xsd:annotation>
			<xsd:documentation>The maximum number of parcels that were at one time being mitigated using vapor mitigation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemSysSizeCode">
		<xsd:annotation>
			<xsd:documentation>Size code of  the Treatment System</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemedySizeCodeName">
		<xsd:annotation>
			<xsd:documentation>Name associated with the Remedy Size Code</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemedyCompletionDate">
		<xsd:annotation>
			<xsd:documentation>The date the technology is taken out of service due to it being successful or ineffective.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RemedyComments">
		<xsd:annotation>
			<xsd:documentation>Comments regarding the selected cleanup technology.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="900"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProjID">
		<xsd:annotation>
			<xsd:documentation>DER Site Code (Can only access sites with an existing computer-generated site code.  New site codes can only be created in the Sites Table.)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsFundSrcCode">
		<xsd:annotation>
			<xsd:documentation>Program funding the cleanup project. See picklist for narrative translation of code - e.g., V - Volunteer.  Lookup table: FundSourceCodes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsFundSourceCodedesc">
		<xsd:annotation>
			<xsd:documentation>Description associated with the Fund Source Code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProjCode">
		<xsd:annotation>
			<xsd:documentation>Project Type - Code number assigned to each project.  e.g., 09 represents Investigation Application VCP.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProjectCodeDesc">
		<xsd:annotation>
			<xsd:documentation>Code description of Project Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsSeqNo">
		<xsd:annotation>
			<xsd:documentation>Sequence number, e.g. 00001, 00002</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsReferName">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsBaseStartDate">
		<xsd:annotation>
			<xsd:documentation>Originally planned start date for project. Actual or planned.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsStartDate">
		<xsd:annotation>
			<xsd:documentation>Actual or planned project start date as defined by each program.  See attached appendices (as appropriate).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsStartStatus">
		<xsd:annotation>
			<xsd:documentation>Start Status of the given Project</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsEndDate">
		<xsd:annotation>
			<xsd:documentation>Originally planned end date for project. Actual or planned.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsEndStatus">
		<xsd:annotation>
			<xsd:documentation>Project End Date Status - Indicates whether end date is planned, actual, denied, etc. See picklist for narrative translation of code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsRevisedStartDate">
		<xsd:annotation>
			<xsd:documentation>Date to which manager wishes to change the project start date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsRevStartStatus">
		<xsd:annotation>
			<xsd:documentation>Status to which manager wishes to change the project end status. Example:  ACT, PLN</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsRevEndDate">
		<xsd:annotation>
			<xsd:documentation>Date to which manager wishes to change the project end date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsRevEndStatus">
		<xsd:annotation>
			<xsd:documentation>Status to which manager wishes to change the project end status. Example:  ACT, PLN</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsRevReason">
		<xsd:annotation>
			<xsd:documentation>Reason given for the project date change.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="300"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsCurStartDate">
		<xsd:annotation>
			<xsd:documentation>Derived field based on values in the StartDate and RevStartDate Columns</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsCurStartStatus">
		<xsd:annotation>
			<xsd:documentation>Derived field based on values in the StartStatus and RevStartStatus Columns</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsCurEndDate">
		<xsd:annotation>
			<xsd:documentation>Derived field based on values in the EndDate and RevEndDate Columns</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsCurEndStatus">
		<xsd:annotation>
			<xsd:documentation>Derived field based on values in the EndStatus and RevEndStatus Columns</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsProjectManager">
		<xsd:annotation>
			<xsd:documentation>Project manager's name, entered: UserID or Last Name, First Initial (in capital letters) or UNASSIGNED</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsLeadAgency">
		<xsd:annotation>
			<xsd:documentation>Lead agency overseeing project.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsLeadDiv">
		<xsd:annotation>
			<xsd:documentation>Lead division overseeing project.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsLeadBur">
		<xsd:annotation>
			<xsd:documentation>Bureau in which project manager belongs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsLeadOff">
		<xsd:annotation>
			<xsd:documentation>Office/section in which project manager belongs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProjDesc">
		<xsd:annotation>
			<xsd:documentation>Project Managers description of the Project. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProjNotesText">
		<xsd:annotation>
			<xsd:documentation>Text Area which can be used by Project manager to log notes about the project, i.e. problems or notes about what project history.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERProjectsCurrentStatus">
		<xsd:annotation>
			<xsd:documentation>Place to note Current Status of the project. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialMatID">
		<xsd:annotation>
			<xsd:documentation>Computer Generated Unique ID.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialOpUnitID">
		<xsd:annotation>
			<xsd:documentation>Computer Generated ID related to specific Operable Unit.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialMedRecept">
		<xsd:annotation>
			<xsd:documentation>TBD</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialMatCode">
		<xsd:annotation>
			<xsd:documentation>Material code assigned by DER. Used for indexing by material.  Lookup Table:  Materialcodes</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialTargetLvl">
		<xsd:annotation>
			<xsd:documentation>Level to which the contaminant must be cleaned up. This level is dictated in the record of decision (ROD).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialQuantity">
		<xsd:annotation>
			<xsd:documentation>Amount of substance found/spilled.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="18"/>
				<xsd:fractionDigits value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialUnits">
		<xsd:annotation>
			<xsd:documentation>Units for amount of substance found/spilled. gal or lbs</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialRecovered">
		<xsd:annotation>
			<xsd:documentation>Amount of material recovered, if applicable.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="18"/>
				<xsd:fractionDigits value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialChemComments">
		<xsd:annotation>
			<xsd:documentation>Project manager's comments related the contaminant </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="500"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialModifiedBy">
		<xsd:annotation>
			<xsd:documentation>Network Id of the user who last updated the record.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERMaterialLastModified">
		<xsd:annotation>
			<xsd:documentation>Date and time stamp when record last updated.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MatCode">
		<xsd:annotation>
			<xsd:documentation>Code for material.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialCodeName">
		<xsd:annotation>
			<xsd:documentation>Name associated with Material code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CASNo">
		<xsd:annotation>
			<xsd:documentation>Unique chemical substance identifier (CAS number) of the material.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialCodeFamilyCode">
		<xsd:annotation>
			<xsd:documentation>Code of material family associated to this material.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialCodeLandRepQty">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialCodeAirRepQty">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialCodeAcute">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialCodeScreeningThreshold">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:fractionDigits value="0"/>
				<xsd:totalDigits value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialCodeSpecificGravity">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:fractionDigits value="4"/>
				<xsd:totalDigits value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialCodeRecordCount">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialFamilyCode">
		<xsd:annotation>
			<xsd:documentation>Code for the Material Family</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialFamilyCodeName">
		<xsd:annotation>
			<xsd:documentation>Code Name associated with the Material Family</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialFamilyCodeDesc">
		<xsd:annotation>
			<xsd:documentation>Code description associated with the Material Family</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MediaAffectedMatID">
		<xsd:annotation>
			<xsd:documentation>Unique identifier from ERMaterial table to link a contaminant to this particular media.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MaterialMediaAffectedCode">
		<xsd:annotation>
			<xsd:documentation>Code from MediaAffectedCode table, indentifying a particular media type. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MediaAffectedTargetLevel">
		<xsd:annotation>
			<xsd:documentation>Cleanup level for a particular media.  For future use.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MediaAffectedCode">
		<xsd:annotation>
			<xsd:documentation>Code identifying a particular media type.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MediaAffectedCodeName">
		<xsd:annotation>
			<xsd:documentation>Descriptive name for the code identifying a particular media type e.g. Soil, Soil Vapor, Groundwater. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MediaAffectedCodeDesc">
		<xsd:annotation>
			<xsd:documentation>Description for the code indentifying a particular media type. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MediaAffectedCodeType">
		<xsd:annotation>
			<xsd:documentation>Code Type</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AdjPropID">
		<xsd:annotation>
			<xsd:documentation>Adjacent Property identifier.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AdjPropIDC">
		<xsd:annotation>
			<xsd:documentation>Indicates the 'record number' for the adjacent property. Used for system maintenance.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="6"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EADistrict">
		<xsd:annotation>
			<xsd:documentation>Equalization and Assessment district for downstate counties- Nassau, Suffolk, NYC(formerly SNASEC or SNABLK in Adjacent Property file SBLFILF1).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EASec">
		<xsd:annotation>
			<xsd:documentation>Equalization and Assessment section (formerly SEASEC in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EASubsec">
		<xsd:annotation>
			<xsd:documentation>Equalization and Assessment sub-section (formerly SEASSE in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EABlock">
		<xsd:annotation>
			<xsd:documentation>Equalization and Assessment block (formerly SEABLK in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EALot">
		<xsd:annotation>
			<xsd:documentation>Equalization and Assessment lot (formerly SEALOT in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EASublot">
		<xsd:annotation>
			<xsd:documentation>Equalization and Assessment sub-lot (formerly SEASLT in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EASuffix">
		<xsd:annotation>
			<xsd:documentation>Equalization and Assessment suffix (formerly SEASUF in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NYTMN">
		<xsd:annotation>
			<xsd:documentation>NY Transmercator -N (Norther geo-locator).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NYTME">
		<xsd:annotation>
			<xsd:documentation>NY Transmercator -E (Easter geo-locator).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="10"/>
				<xsd:fractionDigits value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NYTMDist">
		<xsd:annotation>
			<xsd:documentation>Distance from parcel centroid to HW site centroid, in feet (formerly SDIST in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Sblprt">
		<xsd:annotation>
			<xsd:documentation>Section-Block-Lot Print Image (formerly SBLPRT in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ParcStr">
		<xsd:annotation>
			<xsd:documentation>Street address of parcel (formerly STR2 in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ParcCity">
		<xsd:annotation>
			<xsd:documentation>City in which parcel resides (formerly SCITY2 in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ParcZIP">
		<xsd:annotation>
			<xsd:documentation>Zip code of parcel (formerly SZIP2 in Adjacent Property file).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ParcSWIS">
		<xsd:annotation>
			<xsd:documentation>SWIS code of parcel.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ControlID">
		<xsd:annotation>
			<xsd:documentation>Computer Generated Record ID.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContrCode">
		<xsd:annotation>
			<xsd:documentation>Indicates the type of Control - Environmental Easement, Legacy Control(Deed restriction), or Administrative control</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ControlCodeName">
		<xsd:annotation>
			<xsd:documentation>Name associated with the Control Codes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContrSeq">
		<xsd:annotation>
			<xsd:documentation>Control Sequence Number</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ControlsInplaceDate">
		<xsd:annotation>
			<xsd:documentation>Indicates when a control went into effect.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ControlsEndDate">
		<xsd:annotation>
			<xsd:documentation>Date the Institutional Control restriction was lifted</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CertRecDate">
		<xsd:annotation>
			<xsd:documentation>Date last certification was received</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CertNoticeSentDate">
		<xsd:annotation>
			<xsd:documentation>Date IC/EC Certification was sent to Property Owner.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CertDueDate">
		<xsd:annotation>
			<xsd:documentation>Date IC/EC Certification is due from Property Owner.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CertAcceptDate">
		<xsd:annotation>
			<xsd:documentation>Date IC/EC Certification was accepted by Project Manager.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NextCertDate">
		<xsd:annotation>
			<xsd:documentation>Date next certification is due.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FollowupLtr">
		<xsd:annotation>
			<xsd:documentation>Date follow-up letter was sent for missed certification</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EnforceRef">
		<xsd:annotation>
			<xsd:documentation>Date referred for enforcement</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AudDate">
		<xsd:annotation>
			<xsd:documentation>Date of last DEC audit/inspection of inst/eng control</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ControlsDesc">
		<xsd:annotation>
			<xsd:documentation>Includes additional comments from the Project manager about the Control.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AudSummary">
		<xsd:annotation>
			<xsd:documentation>Summary of audit/inspection results.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="200"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CertComments">
		<xsd:annotation>
			<xsd:documentation>Status/description of why inst./eng. controls were not certified.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="200"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ControlElementCode">
		<xsd:annotation>
			<xsd:documentation>Element Code</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ControlElementCodeName">
		<xsd:annotation>
			<xsd:documentation>Code name associated with Control Element Code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERPetFilePSeqno">
		<xsd:annotation>
			<xsd:documentation>Sequence Number to track individual petitions for a site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PtFil1">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Petitr">
		<xsd:annotation>
			<xsd:documentation>Petitioner's name</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PSCSdtDate">
		<xsd:annotation>
			<xsd:documentation>Site control Section sign off date on Petition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PacTrq">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PRegDtDate">
		<xsd:annotation>
			<xsd:documentation>Regional Office(Hazardous Waste Engineer) sign off date on Petition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PCODatDate">
		<xsd:annotation>
			<xsd:documentation>Central office sign off date on Petition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PDODDtDate">
		<xsd:annotation>
			<xsd:documentation>NYSDOH  sign off date on Petition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PDEEDtDate">
		<xsd:annotation>
			<xsd:documentation>DEC Environmental Enforcement  sign off date on Petition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PApprdDate">
		<xsd:annotation>
			<xsd:documentation>Division Approval date of Petition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PFinDtDate">
		<xsd:annotation>
			<xsd:documentation>Finalized date of  Petition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PHldDtDate">
		<xsd:annotation>
			<xsd:documentation>Site control Section dates to put on Petition On Hold.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PComm1">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PComm2">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PSName">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PTFil2">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="254"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PTFil2a">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PTFil3">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Commnt">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="300"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ClassHisSeqno">
		<xsd:annotation>
			<xsd:documentation>Sequence number to track the individual Class Change.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ClassHisSiteName">
		<xsd:annotation>
			<xsd:documentation>Site name.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="80"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OldERClass">
		<xsd:annotation>
			<xsd:documentation>The current classification of the site which is proposed to be changed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NewERClass">
		<xsd:annotation>
			<xsd:documentation>The proposed classification of the  site.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisRequestDate">
		<xsd:annotation>
			<xsd:documentation>Date requested.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisCHAddDate">
		<xsd:annotation>
			<xsd:documentation>Date changed/added.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisProjMgr">
		<xsd:annotation>
			<xsd:documentation>Project Manager.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="24"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisCommType">
		<xsd:annotation>
			<xsd:documentation>Type of action being recorded by this.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisProjMgrAd">
		<xsd:annotation>
			<xsd:documentation>Project Manager Address.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="36"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisCity">
		<xsd:annotation>
			<xsd:documentation>Project Manager City</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="36"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisState">
		<xsd:annotation>
			<xsd:documentation>Project Manager State</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisZip">
		<xsd:annotation>
			<xsd:documentation>Project Manager ZIP Code</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisTelephone">
		<xsd:annotation>
			<xsd:documentation>Project Manager Telephone Number</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="14"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisComments">
		<xsd:annotation>
			<xsd:documentation>Comments field.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1500"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BCPIncompleteAppDate">
		<xsd:annotation>
			<xsd:documentation>Date That a BCP Application was determined to be incomplete. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassHisFinalizedDate">
		<xsd:annotation>
			<xsd:documentation>Date that the action is finalized.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SCSComments">
		<xsd:annotation>
			<xsd:documentation>Comments from the Site control Section regarding the class Change  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassChgID">
		<xsd:annotation>
			<xsd:documentation>Computer Generated Record ID.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Hw_code">
		<xsd:annotation>
			<xsd:documentation>Program-specific site identification number.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassChgSeqno">
		<xsd:annotation>
			<xsd:documentation>Sequence number.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CInitb">
		<xsd:annotation>
			<xsd:documentation>Package initiated by</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CSectn">
		<xsd:annotation>
			<xsd:documentation>Section</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcSCSDt">
		<xsd:annotation>
			<xsd:documentation>Date received by Site Control Section.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CActRq">
		<xsd:annotation>
			<xsd:documentation>Action requested.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcInvse">
		<xsd:annotation>
			<xsd:documentation>Investigation section approval date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcDEE">
		<xsd:annotation>
			<xsd:documentation>DEE approval date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcDOH">
		<xsd:annotation>
			<xsd:documentation>DOH approval date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcDivDr">
		<xsd:annotation>
			<xsd:documentation>REM/OandM approval date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcBurDr">
		<xsd:annotation>
			<xsd:documentation>Bureau of Technical Support Director approval date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcApprov">
		<xsd:annotation>
			<xsd:documentation>Hold/60 day start date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassChgComment">
		<xsd:annotation>
			<xsd:documentation>Comments</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2500"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ERClassChgCommentText">
		<xsd:annotation>
			<xsd:documentation>Site Control Sections Comments on the Class Change</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CsName">
		<xsd:annotation>
			<xsd:documentation>Site name.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcHldSt">
		<xsd:annotation>
			<xsd:documentation>60 day completion date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DcRegDt">
		<xsd:annotation>
			<xsd:documentation>Region approval date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Dcfill2">
		<xsd:annotation>
			<xsd:documentation>Site control section chief approval date.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Cfill3">
		<xsd:annotation>
			<xsd:documentation>Classification change type.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DueDate">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RHWREDate">
		<xsd:annotation>
			<xsd:documentation>Date regional Hazardous Waste Engineer signs off on Class Change.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AsstDivDirDate">
		<xsd:annotation>
			<xsd:documentation>Date Assistant Division Director on Class Change.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PkgHoldDate">
		<xsd:annotation>
			<xsd:documentation>Date Package is put on hold by Site Control Section. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FinalizedDate">
		<xsd:annotation>
			<xsd:documentation>Date the class change effective.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpTankTestID">
		<xsd:annotation>
			<xsd:documentation>Unique Identifier for a tank generated from the database when tank spill information entered into this table.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TankNo">
		<xsd:annotation>
			<xsd:documentation>Tank Number which had the spill as reported by the caller.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="11"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TankSize">
		<xsd:annotation>
			<xsd:documentation>Size of the tank which had the spill as reported by the caller. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpillTankTestMaterial">
		<xsd:annotation>
			<xsd:documentation>Five-character material code to identify the material spilled as reported by the caller.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpTankTestEPAUST">
		<xsd:annotation>
			<xsd:documentation>Identifies the tank as being an EPA Underground Storage Tank.  This is dependent upon how the caller answers a series a questions when the spill is called in.  </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpTankTestUST">
		<xsd:annotation>
			<xsd:documentation>Identifies it as a non-EPA UST.  This is dependent upon how the caller answers a series of questions when the spill is called in.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpTankTestCauseCode">
		<xsd:annotation>
			<xsd:documentation>Code to identify the cause of the spill from the tank. Code comes from CauseCodes lookup table. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CauseCodeName">
		<xsd:annotation>
			<xsd:documentation>Name associated with the code identifying the cause of the spill.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="54"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpTankTestSourceCode">
		<xsd:annotation>
			<xsd:documentation>Code to identify the source of the spill from the tank or piping . Code comes from SourceCodes lookup table.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SourceCodeName">
		<xsd:annotation>
			<xsd:documentation>Name associated with the code identifying the source of the spill.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="24"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TestMethodCode">
		<xsd:annotation>
			<xsd:documentation>Code to identify the test method used to test the tank.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TestMethodCodeName">
		<xsd:annotation>
			<xsd:documentation>Descriptive name associated with Test Method Code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="60"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LeakRate">
		<xsd:annotation>
			<xsd:documentation>Leak rate as determined by the Tank test method.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GrossFail">
		<xsd:annotation>
			<xsd:documentation>Identifies if there was a gross failure of the tank. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SpTankTestLastModified">
		<xsd:annotation>
			<xsd:documentation>Date Last Modified.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
