dotnet/prod-opennode2-net/plugins/CERS_12/xml_schema/2/CER_Communication_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_Communication_v1.2.xsd 
        Current Version Available At :  http://www.exchangenetwork.net/schema/cer/1/2/CER_Communication_v1.2.xsd 
        Description   : The means by which an individual or organization can be sent messages.
        Developed by  : 	Perrin Quarles Associates, Inc.
        Point of Contact : Perrin Quarles Associates, Inc.	
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v1.2.xsd"/>
	<xsd:complexType name="CommunicationDataType">
		<xsd:sequence>
			<xsd:element ref="cer:TelephoneNumberText" minOccurs="0"/>
			<xsd:element ref="cer:TelephoneNumberTypeName" minOccurs="0"/>
			<xsd:element ref="cer:TelephoneExtensionNumberText" minOccurs="0"/>
			<xsd:element ref="cer:ElectronicAddressText" minOccurs="0"/>
			<xsd:element ref="cer:ElectronicAddressTypeName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IndividualCommunication" type="cer:CommunicationDataType"/>
	<xsd:element name="OrganizationCommunication" type="cer:CommunicationDataType"/>
</xsd:schema>
