java/node-plugin/node-plugin-here/src/main/xsd/HERE_Manifest_v1.0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Bill (Windsor Solutions, Inc) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:here="http://www.exchangenetwork.net/schema/HERE/1" targetNamespace="http://www.exchangenetwork.net/schema/HERE/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			Schema Name : 	HERE_Manifest_v1.0.xsd  
			Current Version Available At : http://www.exchangenetwork.net/
			Description : 	Contains list of files available for download by the HERE Data Retrieval Tool
			Application : 	[tbd?]
			Developed by : 	Environmental Protection Agency, Windsor Solutions, Inc.
			Point of Contact : TK Conrad
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="HEREManifest" type="here:HEREManifestDataType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>This is the root element of the HERE Manifest schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="HEREManifestDataType">
		<xsd:sequence>
			<xsd:element ref="here:HEREManifestDetails" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A list of XML files available for download from a node.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="HEREManifestDetails" type="here:HEREManifestDetailsDataType"/>
	<xsd:complexType name="HEREManifestDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="here:HEREManifestItem" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Information about a single XML file.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="HEREManifestItem" type="here:HEREManifestItemDataType" nillable="true"/>
	<xsd:complexType name="HEREManifestItemDataType">
		<xsd:sequence>
			<xsd:element ref="here:TransactionIdentifier">
				<xsd:annotation>
					<xsd:documentation>The Transaction Id associated with the file in the node database (GUID).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="here:EndpointURLIdentifier">
				<xsd:annotation>
					<xsd:documentation>The URL for the node endpoint that serves as the source for this file.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="here:DataExchangeNameText">
				<xsd:annotation>
					<xsd:documentation>Name of the exchange related to the file.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="here:SourceInfo">
				<xsd:annotation>
					<xsd:documentation>Includes information about the source for data contained within this file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="here:FullReplaceIndicator">
				<xsd:annotation>
					<xsd:documentation>Indicates whether the file is intended to fully replace the data in the client system (True) or whether the file is intended to only replace matching facility records (false).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="here:CreatedDate">
				<xsd:annotation>
					<xsd:documentation>The date and time when the file was created.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FullReplaceIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the file is intended to fully replace the data in the client system (True) or whether the file is intended to only replace matching facility records (false).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionIdentifier" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The Transaction Id associated with the file in the node database</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CreatedDate" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>The date and time when the file was created</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceInfo" type="here:SourceInfoDataType">
		<xsd:annotation>
			<xsd:documentation>Includes information about the source for data contained within this file</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DataExchangeNameText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Name of the exchange related to the file</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndpointURLIdentifier" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The URL for the node endpoint that serves as the source for this file</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SourceInfoDataType">
		<xsd:sequence>
			<xsd:element ref="here:IsFacilitySourceIndicator">
				<xsd:annotation>
					<xsd:documentation>An indicator field (True/False) specifying whether the file should be treated as the source of facility data. If True, any records in the facility system will be deleted and replaced by the records in this file matching the Facility ID. If False, records in this file will be merged with the facility information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="here:SourceSystemName">
				<xsd:annotation>
					<xsd:documentation>The name of the source system to be included in loading the HERE Client data model (if not provided by the file)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IsFacilitySourceIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>An indicator field (True/False) specifying whether the file should be treated as the source of facility data. If True, any records in the facility system will be deleted and replaced by the records in this file matching the Facility ID. If False, records in this file will be merged with the facility information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceSystemName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The name of the source system to be included in loading the HERE Client data model (if not provided by the file)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
