dotnet/prod-opennode2-net/plugins/ICISAIR_50/xml_schema/0/ICIS_ComplianceMonitoringLinkage_v5.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.4.xsd"/>
	<!--<xsd:include schemaLocation="ICIS_BiosolidsProgramReport_v5.4.xsd"/>
	<xsd:include schemaLocation="ICIS_PretreatmentProgramSummaryReport_v5.4.xsd"/>
	<xsd:include schemaLocation="ICIS_SWEventReport_v5.4.xsd"/>
	<xsd:include schemaLocation="ICIS_SWMS4ProgramReport_v5.4.xsd"/>-->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_ComplianceMonitoringLinkage_v5.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES compliance monitoring linkages data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2014-10-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ComplianceMonitoringLinkage" type="icis:ComplianceMonitoringLinkage"/>
	<!--<xsd:element name="LinkageBiosolidsReport" type="icis:LinkageBiosolidsReport"/>
	<xsd:element name="LinkageCAFOAnnualReport" type="icis:LinkageCAFOAnnualReport"/>
	<xsd:element name="LinkageCSOEventReport" type="icis:LinkageCSOEventReport"/>-->
	<xsd:element name="LinkageEnforcementAction" type="icis:LinkageEnforcementAction"/>
	<xsd:element name="LinkageComplianceMonitoring" type="icis:LinkageComplianceMonitoring"/>
	<!--<xsd:element name="LinkageLocalLimitsReport" type="icis:LinkageLocalLimitsReport"/>
	<xsd:element name="LinkagePretreatmentPerformanceReport" type="icis:LinkagePretreatmentPerformanceReport"/>
	<xsd:element name="LinkageSingleEvent" type="icis:LinkageSingleEvent"/>
	<xsd:element name="LinkageSSOAnnualReport" type="icis:LinkageSSOAnnualReport"/>
	<xsd:element name="LinkageSSOEventReport" type="icis:LinkageSSOEventReport"/>
	<xsd:element name="LinkageSSOMonthlyEventReport" type="icis:LinkageSSOMonthlyEventReport"/>
	<xsd:element name="LinkageSWEventReport" type="icis:LinkageSWEventReport"/>
	<xsd:element name="LinkageSWMS4Report" type="icis:LinkageSWMS4Report"/>-->
	<xsd:element name="LinkageAirDAEnforcementAction" type="icis:LinkageAirDAEnforcementAction"/>
	<xsd:complexType name="ComplianceMonitoringLinkageData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:ComplianceMonitoringLinkage"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplianceMonitoringLinkage">
		<xsd:complexContent>
			<xsd:extension base="icis:ComplianceMonitoringKeyElements">
				<xsd:choice>
					<!--<xsd:element ref="icis:LinkageSingleEvent"/>
					<xsd:element ref="icis:LinkageEnforcementAction"/>
					<xsd:element ref="icis:LinkageBiosolidsReport"/>
					<xsd:element ref="icis:LinkageCAFOAnnualReport"/>
					<xsd:element ref="icis:LinkageCSOEventReport"/>
					<xsd:element ref="icis:LinkageLocalLimitsReport"/>
					<xsd:element ref="icis:LinkagePretreatmentPerformanceReport"/>
					<xsd:element ref="icis:LinkageSSOAnnualReport"/>
					<xsd:element ref="icis:LinkageSSOEventReport"/>
					<xsd:element ref="icis:LinkageSSOMonthlyEventReport"/>
					<xsd:element ref="icis:LinkageSWEventReport"/>
					<xsd:element ref="icis:LinkageSWMS4Report"/>-->
					<xsd:element ref="icis:LinkageComplianceMonitoring"/>
					<xsd:element ref="icis:LinkageAirDAEnforcementAction"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--<xsd:complexType name="LinkageSingleEvent">
		<xsd:sequence>
			<xsd:group ref="icis:SingleEventKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>-->
	<xsd:complexType name="LinkageEnforcementAction">
		<xsd:sequence>
			<xsd:group ref="icis:EnforcementActionKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--<xsd:complexType name="LinkageBiosolidsReport">
		<xsd:sequence>
			<xsd:group ref="icis:BiosolidsProgramReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageCAFOAnnualReport">
		<xsd:sequence>
			<xsd:group ref="icis:CAFOAnnualProgramReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageCSOEventReport">
		<xsd:sequence>
			<xsd:group ref="icis:CSOEventReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageLocalLimitsReport">
		<xsd:sequence>
			<xsd:group ref="icis:LocalLimitsProgramReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkagePretreatmentPerformanceReport">
		<xsd:sequence>
			<xsd:group ref="icis:PretreatmentPerformanceSummaryReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageSSOEventReport">
		<xsd:sequence>
			<xsd:group ref="icis:SSOEventReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageSSOMonthlyEventReport">
		<xsd:sequence>
			<xsd:group ref="icis:SSOMonthlyEventReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageSSOAnnualReport">
		<xsd:sequence>
			<xsd:group ref="icis:SSOAnnualReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageSWEventReport">
		<xsd:sequence>
			<xsd:group ref="icis:SWEventReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageSWMS4Report">
		<xsd:sequence>
			<xsd:group ref="icis:SWMS4ProgramReportKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>-->
	<xsd:complexType name="LinkageComplianceMonitoring">
		<xsd:sequence>
			<xsd:group ref="icis:ComplianceMonitoringKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageAirDAEnforcementAction">
		<xsd:sequence>
			<xsd:group ref="icis:AirDAEnforcementActionKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
