dotnet/prod-opennode2-net/plugins/ICISAIR_50/xml_schema/0/ICIS_CaseFileLinkage_v5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_ComplianceMonitoringLinkage_v5.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CaseFileLinkage_v5.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: C:\ICISSchemas\SchemasVersion5.0</xsd:documentation>
		<xsd:documentation>Description: ICIS-Air case file linkages data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-Air</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: May 2014</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2014-05-12</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CaseFileLinkage" type="icis:CaseFileLinkage"/>
	<xsd:element name="LinkageCaseFile" type="icis:LinkageCaseFile"/>
	<xsd:complexType name="CaseFileLinkageData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:CaseFileLinkage"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CaseFileLinkage">
		<xsd:complexContent>
			<xsd:extension base="icis:CaseFileKeyElements">
				<xsd:choice>
					<xsd:element ref="icis:LinkageCaseFile"/>
					<xsd:element ref="icis:LinkageAirDAEnforcementAction"/>
					<!--<xsd:element ref="icis:LinkageEnforcementAction"/>-->
					<xsd:element ref="icis:LinkageComplianceMonitoring"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LinkageCaseFile">
		<xsd:sequence>
			<xsd:group ref="icis:CaseFileKeyElementsGroup"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
