dotnet/prod-opennode2-net/plugins/ICISAIR_50/xml_schema/0/ICIS_AirTVACC_v5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Contact_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_KeyElements_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_ComplianceMonitoring_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_AirDAComplianceMonitoring_v5.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_AirTVACC_v5.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: C:\ICISSchemas\SchemasVersion5.0</xsd:documentation>
		<xsd:documentation>Description: ICIS-Air TVACC data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-Air</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2012-10-10</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="AirTVACC" type="icis:AirTVACC"/>
	<xsd:element name="TVACCReviewData" type="icis:TVACCReviewData"/>
	<xsd:element name="AirPermitIdentifier" type="icis:StringMin1Max100Type"/>
	<xsd:element name="CertificationPeriodStartDate" type="icis:DateType"/>
	<xsd:element name="CertificationPeriodEndDate" type="icis:DateType"/>
	<xsd:element name="FacilityReportedComplianceStatusCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="TVACCReviewedDate" type="icis:DateType"/>
	<xsd:element name="FacilityReportDeviationsIndicator" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="PermitConditionsText" type="icis:StringMin1Max100Type"/>
	<xsd:element name="ExceedanceExcursionIndicator" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="ReviewerAgencyCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="TVACCReviewerName" type="icis:StringMin1Max100Type"/>
	<xsd:element name="ReviewerComment" type="icis:StringMin1Max100Type"/>
	<xsd:complexType name="AirTVACCData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:AirTVACC"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AirTVACC">
		<xsd:complexContent>
			<xsd:extension base="icis:AirTVACCKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ComplianceMonitoringDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringActivityName" minOccurs="0"/>
					<xsd:element ref="icis:NationalPrioritiesCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:MultimediaIndicator" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringPlannedStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringPlannedEndDate" minOccurs="0"/>
					<xsd:element ref="icis:RegionalPriorityCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:DeficienciesObservedIndicator" minOccurs="0"/>
					<xsd:element ref="icis:AirFacilityIdentifier" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="icis:LeadAgencyCode" minOccurs="0"/>
					<xsd:element ref="icis:ProgramCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:OtherProgramDescriptionText" minOccurs="0"/>
					<xsd:element ref="icis:AirPollutantCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:OtherAgencyInitiativeText" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField6" minOccurs="0"/>
					<xsd:element ref="icis:AirPermitIdentifier" minOccurs="0"/>
					<xsd:element ref="icis:CertificationPeriodStartDate" minOccurs="0"/>
					<xsd:element ref="icis:CertificationPeriodEndDate" minOccurs="0"/>
					<xsd:element ref="icis:FacilityReportedComplianceStatusCode" minOccurs="0"/>	
					<xsd:element ref="icis:TVACCReviewData" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:InspectionContact" minOccurs="0"/>
					<xsd:element ref="icis:InspectionGovernmentContact" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:InspectionCommentText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:SensitiveComments" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TVACCReviewData">
		<xsd:sequence>
			<xsd:element ref="icis:TVACCReviewedDate"/>
			<xsd:element ref="icis:FacilityReportDeviationsIndicator" minOccurs="0"/>
			<xsd:element ref="icis:PermitConditionsText" minOccurs="0"/>
			<xsd:element ref="icis:ExceedanceExcursionIndicator" minOccurs="0"/>
			<xsd:element ref="icis:ReviewerAgencyCode" minOccurs="0"/>
			<xsd:element ref="icis:TVACCReviewerName" minOccurs="0"/>
			<xsd:element ref="icis:ReviewerComment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
