dotnet/prod-opennode2-net/plugins/ICISAIR_50/xml_schema/0/ICIS_InformalEnforcementAction_v5.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_KeyElements_v5.4.xsd"/>
	<xsd:include schemaLocation="ICIS_EnforcementAction_v5.4.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_InformalEnforcementAction_v5.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES informal enforcement action data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2014-10-27</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="InformalEnforcementAction" type="icis:InformalEnforcementAction"/>
	<xsd:element name="InformalEACommentText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="InformalEAUserDefinedField1" type="icis:YesNoIndicatorType"/>
	<xsd:element name="InformalEAUserDefinedField2" type="icis:StringMin1Max50Type"/>
	<xsd:element name="InformalEAUserDefinedField3" type="icis:StringMin1Max50Type"/>
	<xsd:element name="InformalEAUserDefinedField4" type="icis:DateType"/>
	<xsd:element name="InformalEAUserDefinedField5" type="icis:DateType"/>
	<xsd:element name="InformalEAUserDefinedField6" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="AchievedDate" type="icis:DateType"/>
	<xsd:element name="FileNumber" type="icis:StringMin1Max50Type"/>
	<xsd:complexType name="InformalEnforcementActionData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:InformalEnforcementAction"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformalEnforcementAction">
		<xsd:complexContent>
			<xsd:extension base="icis:EnforcementActionKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermitIdentifier" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:EnforcementActionTypeCode" minOccurs="0"/>
					<xsd:element ref="icis:EnforcementActionName" minOccurs="0"/>
					<xsd:element ref="icis:AchievedDate" minOccurs="0"/>
					<xsd:element ref="icis:ProgramsViolatedCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:FileNumber" minOccurs="0"/>
					<xsd:element ref="icis:ReasonDeletingRecord" minOccurs="0"/>
					<xsd:element ref="icis:InformalEACommentText" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:InformalEAUserDefinedField6" minOccurs="0"/>
					<xsd:element ref="icis:EnforcementAgency" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:EnforcementAgencyName" minOccurs="0"/>
					<xsd:element ref="icis:EnforcementActionGovernmentContact" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
