dotnet/plugins/UIC_10/xml_schema/0/UIC_SimpleContent_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:uic="http://www.exchangenetwork.net/schema/uic/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/uic/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name  : UIC_SimpleContent_v1.0.xsd
        Current Version Available At :  
        Description   : 	Simple Content file for the UIC schema defining basic simple content and data elements.
        Developed by  : 	Lockheed Martin
        Point of Contact :   Lockheed Marting</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="WellIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique well (e.g. TXEQWDW366, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStateIdentifier" type="uic:WellStateIDType">
		<xsd:annotation>
			<xsd:documentation>The well identification assigned by primacy state or direct implementation (DI) program  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellAquiferExemptionInjectionCode" type="uic:WellAquiferExemptionInjectionType">
		<xsd:annotation>
			<xsd:documentation>Well injects into exempting aquifer</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTotalDepthNumeric" type="uic:WellTotalDepthType">
		<xsd:annotation>
			<xsd:documentation>The vertical depth (in feet) from the surface to the bottom of injection welll</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellHighPriorityDesignationCode" type="uic:WellHighPriorityDesignationType">
		<xsd:annotation>
			<xsd:documentation>High priority Class V wells include all active motor vehicle waste disposal wells (MVWDWs) and large-capacity cesspools regulated under the 1999 Class V Rule, industrial wells, plus all other Class V wells identified as high priority by State Directors.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellFacilityIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Facility table </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellGeologyIdentifier" type="uic:WellGeologyIDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification for Geology record </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellContactIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Contact </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellSiteAreaNameText" type="uic:WellSiteAreaNameType">
		<xsd:annotation>
			<xsd:documentation>Name of the area where many Class III, IV, or V ( storm water drainage) injection wells are physically located or conducted</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellPermitIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Permit table </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStateTribalCode" type="uic:WellStateTribalCodeType">
		<xsd:annotation>
			<xsd:documentation>State postal code or tribal code (for American Indian or Alaska Native) indicating a program Directly Implemented by an EPA region (for DI programs) </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellInSourceWaterAreaLocationText" type="uic:WellInSourceWaterAreaLocationType">
		<xsd:annotation>
			<xsd:documentation>The well location in relation to the boundary of the ground water based source water area (SWA) delineated by the primacy state under the State Source Water Assessment Program (SWAP). </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellName" type="uic:WellNameType">
		<xsd:annotation>
			<xsd:documentation>The name that designates the well</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Facility table - The first four characters are the primacy agency code (appendix D).  The rest is DI program or State’s choice (letters and numbers only) identifying unique facility (e.g. DENR0000197590, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityStateIdentifier" type="uic:FacilityStateIDType">
		<xsd:annotation>
			<xsd:documentation>Facility identification assigned by DI program or primacy state </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocalityName" type="uic:FacilityCityType">
		<xsd:annotation>
			<xsd:documentation>The name of the city, town, or village where the facility is located.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteName" type="uic:FacilitySiteNameType">
		<xsd:annotation>
			<xsd:documentation>The public or commercial name of a facility site (i.e., the full name that commonly appears on invoices, signs, or other business documents, or as assigned by the state when the name is ambiguous).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityPetitionStatusCode" type="uic:FacilityPetitionStatusType">
		<xsd:annotation>
			<xsd:documentation>Status of review of no-migration petition (this is a technical demonstration required before Class I hazardous waste injection facilities may begin operating) </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddressStateCode" type="uic:FacilityStateType">
		<xsd:annotation>
			<xsd:documentation>The U.S. Postal Service abbreviation that represents the state  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddressText" type="uic:FacilityStreetAddressType">
		<xsd:annotation>
			<xsd:documentation>The address that describes the physical (geographic) location of the main entrance of a facility site, including urban-style street address or rural address, well field entrance, etc</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteTypeCode" type="uic:FacilityTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Class I well waste is disposed in either of two types of facilities: (1) Commercial- where the waste is generated offsite but transported to the disposal facility, or (2) Non-commercial-where the waste is generated onsite and disposed there also.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddressPostalCode" type="uic:ZipCodeType">
		<xsd:annotation>
			<xsd:documentation>The combination of the 5-digit Zone Improvement Plan (ZIP) code and the four-digit extension code (if available) that represents the geographic segment that is a subunit of the ZIP Code, assigned by the U.S. Postal Service to a geographic location. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SICCode" type="uic:FacilitySICCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the economic activity of a company. (4-digits) -- (only the primary code)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NAICSCode" type="uic:FacilityNAICSClassificationCodeType">
		<xsd:annotation>
			<xsd:documentation>The NAICS code that represents a subdivision of an industry that accommodates user needs in the United States (6-digits)-- (Only primary code) </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Inspection table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique  inspection (e.g. WYEQ00 000566, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionAssistanceCode" type="uic:InspectionAssistanceType">
		<xsd:annotation>
			<xsd:documentation>Compliance assistance provided by the inspector based on national policy:

-- General Assistance: involves distributing prepared information on regulatory compliance, P2 or other written materials/websites

-- Site-specific Assistance: involves on-site assistance by the inspector to support actions taken to address deficiencies 
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionDeficiencyCode" type="uic:InspectionDeficiencyType">
		<xsd:annotation>
			<xsd:documentation>Potential violations found by EPA inspector during inspection</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionActionDate" type="uic:EPADateType">
		<xsd:annotation>
			<xsd:documentation>The date inspection action was completed </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionICISComplianceMonitoringReasonCode" type="uic:InspectionICISComplianceMonitoringReasonTypeDataType">
		<xsd:annotation>
			<xsd:documentation>The reason for performing a Compliance Monitoring action.

-- Agency Priority: The compliance monitoring action was performed in furtherance of a priority or initiative of the Compliance Monitoring Agency or a partner agency.

-- Core Program: The compliance monitoring action was performed as part of the Compliance Monitoring Agency's core programmatic activities

-- Selected Monitoring Action: The Compliance Monitoring Agency selected the facility or regulated entity for compliance monitoring in response to a referral from another unit. 
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionICISComplianceMonitoringTypeCode" type="uic:InspectionICISComplianceMonitoringType">
		<xsd:annotation>
			<xsd:documentation>Type of Compliance Monitoring taken by a regulatory Agency</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionICISComplianceActivityTypeCode" type="uic:InspectionICISComplianceActivityTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Type of compliance activity taken by a regulatory agency.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionICISMOAName" type="uic:InspectionICISMOANameType">
		<xsd:annotation>
			<xsd:documentation>The name of Memorandum of Agreement (MOA) associated with the activity</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionICISRegionalPriorityName" type="uic:InspectionICISRegionalPriorityNameType">
		<xsd:annotation>
			<xsd:documentation>The name of regional priority associated with the activity</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionTypeActionCode" type="uic:InspectionTypeActionType">
		<xsd:annotation>
			<xsd:documentation>The type of inspection action that was conducted</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionFacilityIdentifier" type="uic:InspectionFacilityIDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Facility table- This field ONLY applies for Class V “No Well” inspection.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InspectionWellIdentifier" type="uic:InspectionWellIDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table -  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CorrectionIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Correction table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only identifying the unique  corrective action (e.g. 04DI00000139, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CorrectionActionTypeCode" type="uic:CorrectionActionTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Type of actions taken to correct deficiencies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CorrectionCommentText" type="uic:CorrectionCommentTextType">
		<xsd:annotation>
			<xsd:documentation>Narrative description of actions taken by the facility or assistance to help the facility come into compliance</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CorrectionInspectionIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>The unique identification of Inspection table </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStatusIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well Status table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only identifying the unique Well Status (e.g. TXEQ WDW369, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStatusDate" type="uic:EPADateType">
		<xsd:annotation>
			<xsd:documentation>Date that well status is determined</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStatusOperatingStatusCode" type="uic:WellStatusOperatingStatusType">
		<xsd:annotation>
			<xsd:documentation>The current operating status of well</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStatusWellIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table-  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Contact table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique contact for a well. (e.g. NMNR30005003490000)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberText" type="uic:ContactPhoneNumberType">
		<xsd:annotation>
			<xsd:documentation>The phone number of a contact for  the well</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IndividualFullName" type="uic:ContactNameType">
		<xsd:annotation>
			<xsd:documentation>The legal and complete name of a contact person (including first name, middle name or initial, and surname) for the well.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactCityName" type="uic:ContactCityType">
		<xsd:annotation>
			<xsd:documentation>The name of the city, town, or village of the contact for a well  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactAddressStateCode" type="uic:ContactStateType">
		<xsd:annotation>
			<xsd:documentation>The name of the state where the contact is located or the name of the country, if outside the U.S. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactAddressText" type="uic:ContactStreetType">
		<xsd:annotation>
			<xsd:documentation>The street address of the contact for a well.  This can be physical location or a mailing address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactAddressPostalCode" type="uic:ZipCodeType">
		<xsd:annotation>
			<xsd:documentation>The combination of the 5-digit Zone Improvement Plan (ZIP) code and the four-digit extension code (if available) that represents the geographic segment that is a subunit of the ZIP Code, assigned by the U.S. Postal Service to a geographic location to facilitate mail delivery; or the postal zone specific to the country, other than the U.S., where the mail is delivered. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Permit table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique permit(e.g. 04DI0000000000WDW366, …) </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitAuthorizedIdentifier" type="uic:PermitAuthorizedIDType">
		<xsd:annotation>
			<xsd:documentation>Identification assigned by DI program or primacy state to permit or rule authorized well</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitAORWellNumberNumeric" type="uic:PermitAORWellNumberType">
		<xsd:annotation>
			<xsd:documentation>Number of wells identified in area of review (AOR) requiring corrective action </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitAuthorizedStatusCode" type="uic:PermitAuthorizedStatusType">
		<xsd:annotation>
			<xsd:documentation>Identification of whether well is permitted or rule authorized.  If the well is permitted, the acceptable authorization types are individual, area, general, or emergency  permits.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitOwnershipTypeCode" type="uic:PermitOwnershipTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Type of ownership for a UIC well</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitActivityIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation> Unique identification of Permit Activity table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying the unique permit activity (e.g. TXRC0000000000WDW567, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitActivityActionTypeCode" type="uic:PermitActivityActionTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Type of permit action or authorization by rule </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitActivityDate" type="uic:EPADateType">
		<xsd:annotation>
			<xsd:documentation>The calendar date corresponding to each acceptable value of Permit Action Type includes:

- Application Date for Permit Issuance: Date of receipt of an application by state or DI program for permit issued 

- Application Date for Major Permit Modification: Date of receipt of an application by the state or DI program for major permit modification

- Permit Issued Date:  Date of signature (approval) by state/DI official for the issuance/denial/ withdrawal of permit.

- Permit Denied/Withdrawn Date:  Date of signature by state/DI official for the denial/withdrawal of permit.

- Approved Major Permit Modification Date: Approval date of a major permit modification.  This is a date where an approved major modification requires a complete technical review, public notification or review, and a final decision document signed by the regulating authority.

- File Review Date (Class II only): Date of rule-authorized file review to determine whether the well is in compliance with UIC regulatory requirements
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermitActivityPermitIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Permit table  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Location table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only identifying unique location (e.g. 03DI0000000000M00905) </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddressCounty" type="uic:LocationWellCountyType">
		<xsd:annotation>
			<xsd:documentation>The name of the U.S. county or county equivalent in which the regulated well is physically located.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAccuracyValueMeasure" type="uic:LocationAccuracyValueMeasurementType">
		<xsd:annotation>
			<xsd:documentation>Quantitative measurement of the amount of deviation from true value in a measurement for latitude or longitude (estimate of error).  It describes the correctness of the latitude/longitude measurement, in meters.  Only the least accurate measurement is recorded, regardless whether it is for longitude or latitude</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeographicReferencePointCode" type="uic:LocationDescriptionCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>Code representing the category of the feature referenced by the latitude and longitude.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalCoordinateReferenceSystemDatumCode" type="uic:LocationHorizontalDatumType">
		<xsd:annotation>
			<xsd:documentation>Code representing the reference standard for three dimensional and horizontal positioning established by the U.S. National Geodetic Survey (NGS) and other bodies</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalCollectionMethodCode" type="uic:LocationMethodCollectionCodeType">
		<xsd:annotation>
			<xsd:documentation>Code representing the method used to determine the latitude/longitude.  This represents the primary source of the data.   </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationPointLineAreaCode" type="uic:LocationPointLineAreaType">
		<xsd:annotation>
			<xsd:documentation>Code representing the value indicating whether the latitude and longitude coordinates represent a point, multiple points on a line, or an area.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SourceMapScaleNumeric" type="uic:LocationSourceMapScaleType">
		<xsd:annotation>
			<xsd:documentation>Code representing the scale of the map used to determine the latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationWellIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table- </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeMeasure" type="uic:LocationWellLatitudeType">
		<xsd:annotation>
			<xsd:documentation>Coordinate representing a location on the surface of the earth, using the earth's Equator as the origin, reported in decimal format.  If an area permit is being requested, give the latitude and longitude of the approximate center of the area.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeMeasure" type="uic:LocationWellLongitudeType">
		<xsd:annotation>
			<xsd:documentation>Coordinate representing a location on the surface of the earth, using the Prime Meridian (Greenwich, England) as the origin, reported in decimal format. If an area permit is being requested, give the latitude and longitude of the approximate center of the area.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MechanicalIntegrityTestIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Mechanical Integrity Test table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique MIT (e.g. 03DIVA000235, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MechanicalIntegrityTestCompletedDate" type="uic:EPADateType">
		<xsd:annotation>
			<xsd:documentation>The date that mechanical integrity test was completed</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MechanicalIntegrityTestResultCode" type="uic:MechanicalIntegrityTestResultType">
		<xsd:annotation>
			<xsd:documentation>The result of Mechanical Integrity Test on that date (see above)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MechanicalIntegrityTestTypeCode" type="uic:MechanicalIntegrityTestType">
		<xsd:annotation>
			<xsd:documentation>Type of mechanical integrity testt</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MechanicalIntegrityTestRemedialActionDate" type="uic:RemedialActionDateType">
		<xsd:annotation>
			<xsd:documentation>The date (corresponding to Remedial Action Type) when a well that failed an MI test received successful remedial action</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MechanicalIntegrityTestRemedialActionTypeCode" type="uic:MechanicalIntegrityTestRemedialActionTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Type of successful remedial action that well has received on the remedial action date  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MechanicalIntegrityTestWellIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Violation table - The first four characters are the primacy agency code (appendix D).  The rest is DI program or State’s choice (letters and numbers only) identifying unique  violation (e.g. 08DI000366, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationContaminationCode" type="uic:ViolationEndangering">
		<xsd:annotation>
			<xsd:documentation>Well in noncompliance has allegedly contaminated an underground source of drinking water (USDW) this year to date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationEndangeringCode" type="uic:ViolationEndangering">
		<xsd:annotation>
			<xsd:documentation>A violation that results in the well potentially or actually endangering the USDW.  The endangering fluid contaminant from the well is in violation of RCRA or SDWA or applicable regulations </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationReturnComplianceDate" type="uic:ViolationReturntoComplianceDate">
		<xsd:annotation>
			<xsd:documentation>The calendar date, determined by the Responsible Authority, on which the regulated entity actually returned to compliance with respect to the legal obligation that is the subject of the violation determined date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationSignificantCode" type="uic:ViolationSignificatntType">
		<xsd:annotation>
			<xsd:documentation>The indication whether or not the violation is in Significant Non-Compliance (SNC) . </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationDeterminedDate" type="uic:EPADateType">
		<xsd:annotation>
			<xsd:documentation>The calendar date the Responsible Authority determines that a regulated entity is in violation of a legally enforceable obligation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationTypeCode" type="uic:ViolationTypeDataType">
		<xsd:annotation>
			<xsd:documentation>The type of violation that is the subject of the Violation Date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationWellIdentifier" type="uic:ViolationWellIDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolationFacilityIdentifier" type="uic:ViolationFacilityIDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Facility table-  This field ONLY applies for Class V violations at FACILITY </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponseEnforcementIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Enforcement table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only identifying unique  enforcement action (e.g. 08DI000766, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponseViolationIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Violation table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only identifying unique violation (e.g. 08DI000905, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Enforcement table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique  enforcement action (e.g. 08DI000566, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementActionDate" type="uic:EPADateType">
		<xsd:annotation>
			<xsd:documentation>The calendar date the enforcement action was issued or filed</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnforcementActionType" type="uic:EnforcementActionTypeDataType">
		<xsd:annotation>
			<xsd:documentation>The type of enforcement action taken by the EPA or states</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Geology table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique geology information (e.g. 04DI0000000000 000566, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyConfiningZoneName" type="uic:GeologyConfiningZoneNameType">
		<xsd:annotation>
			<xsd:documentation>Geologic formation name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyConfiningZoneTopNumeric" type="uic:GeologyConfiningZoneTopType">
		<xsd:annotation>
			<xsd:documentation>The top of the geologic arresting layer that keeps injectate confined in the injection zone measured in feet below surface </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyConfiningZoneBottomNumeric" type="uic:GeologyConfiningZoneBottomType">
		<xsd:annotation>
			<xsd:documentation>The bottom of the geologic arresting layer that keeps injectate confined in the injection zone OR:The top of the vertical dimension of the zone in which waste is injected. -- measured in feet below surface--</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyLithologicConfiningZoneText" type="uic:GeologyLithologicConfiningZoneTextType">
		<xsd:annotation>
			<xsd:documentation>Confining zone data in the form of a simple lithologic description of the formation </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyInjectionZoneFormationName" type="uic:GeologyInjectionZoneFormationNameType">
		<xsd:annotation>
			<xsd:documentation>Geologic formation name for injection zone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyBottomInjectionZoneNumeric" type="uic:GeologyBottomInjectionZoneType">
		<xsd:annotation>
			<xsd:documentation>The bottom of the vertical dimension of the zone in which waste is injected, measured in feet below surface.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyLithologicInjectionZoneText" type="uic:GeologyLithologicInjectionZoneTextType">
		<xsd:annotation>
			<xsd:documentation>Injection zone data in the form of a simple lithologic description of the formation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyTopInjectionIntervalNumeric" type="uic:GeologyTopInjectionIntervalType">
		<xsd:annotation>
			<xsd:documentation>The top of the vertical dimension of the specific layer(s) of the Injection</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyBottomInjectionIntervalNumeric" type="uic:GeologyBottomInjectionIntervalType">
		<xsd:annotation>
			<xsd:documentation>The bottom of the vertical dimension of the specific layer(s) of the Injection Zone in which waste is authorized to be injected into, measured in feet below surface.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyInjectioneZonePermeabilityRateNumeric" type="uic:GeologyInjectioneZonePermeabilityRateType">
		<xsd:annotation>
			<xsd:documentation>The rate of diffusion of fluids (in this case liquid waste) under pressure through porous material (formation rock) that is measured in millidarcies (md.)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyInjectionZonePorosityPercentNumeric" type="uic:GeologyInjectionZonePorosityPercentType">
		<xsd:annotation>
			<xsd:documentation>The percent of pore space the injection zone formation rock contains (measured in %).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeologyUSDWDepthNumeric" type="uic:GeologyUSDWDepthType">
		<xsd:annotation>
			<xsd:documentation>The depth (in feet) to the base of the underground source of drinking water (USDW)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EngineeringIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Engineering table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only identifying unique engineering information  (e.g. WYEQ00000543, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EngineeringMaximumFlowRateNumeric" type="uic:EngineeringMaximumFlowRateType">
		<xsd:annotation>
			<xsd:documentation>Maximum flow rate of injectate in the current quartermeasured in gallons per minute.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EngineeringPermittedOnsiteInjectionVolumeNumeric" type="uic:EngineeringPermittedOnsiteInjectionVolumeType">
		<xsd:annotation>
			<xsd:documentation>Permitted on-site injected volume measured in million gallon per month</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EngineeringPermittedOffsiteInjectionVolumeNumeric" type="uic:EngineeringPermittedOffsiteInjectionVolumeType">
		<xsd:annotation>
			<xsd:documentation>Permitted off-site injected volume measured in million gallon per month</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EngineeringWellIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of an injection well - </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification for waste records - The first four characters are primacy agency code (appendix D) and followed by 8 additional characters identifying unique waste (e.g. WYEQ00000543, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteCode" type="uic:WasteCodeType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Waste table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique waste information (e.g. WYEQ00000793, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteStreamClassificationCode" type="uic:WasteStreamClassificationType">
		<xsd:annotation>
			<xsd:documentation>A classification of the waste stream that contains various constituents and waste codes in various concentrations.  These are liquids waste approved to go down the well.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WasteWellIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of an injection well </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConstituentIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Constituent  table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying constituent information (e.g. WYEQ0000000000 000389, …)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureValue" type="uic:ConstituentWasteConcentrationType">
		<xsd:annotation>
			<xsd:documentation>The concentration of the individual waste constituent as reported by EPA Regional staff and/or state agency staff (measured in mg/l or pCi/l)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureUnitCode" type="uic:ConstituentConcentrationUnitMeasurementType">
		<xsd:annotation>
			<xsd:documentation>Unit of measuring concentration (mg/l or pCi/l)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConstituentNameText" type="uic:ConstituentNameTextType">
		<xsd:annotation>
			<xsd:documentation>The chemical name or a description of the waste, in accordance with EPA Chemical/Biological Internal Tracking Name (http://www.epa.gov/srs/ )</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConstituentWasteIdentifier" type="uic:IDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification for waste records - </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTypeIdentifier" type="uic:WellTypeIDDataType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well Type table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique well type (e.g. TXEQWDW369, …) </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTypeCode" type="uic:WellTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Type of injection wells located at the listed facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTypeDate" type="uic:WellTypeDateType">
		<xsd:annotation>
			<xsd:documentation>Date that well type is determined.  This field ONLY applies when the well changes from one well type to another well type (e.g. converted from injection to production)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTypeWellIdentifier" type="uic:WellTypeWellIDType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table- </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="IDType">
		<xsd:annotation>
			<xsd:documentation> </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="([0-9,a-z,A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EPADateType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[1-2]{1}[0-9]{3}[0-1]{1}[0-9]{1}[0-3]{1}[0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZipCodeType">
		<xsd:annotation>
			<xsd:documentation> </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WellStateIDType">
		<xsd:annotation>
			<xsd:documentation> </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationContaminationType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(Y|y)"/>
			<xsd:pattern value="(N|n)"/>
			<xsd:pattern value="(U|u)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationSignificatntType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="(U|u)(I|i)"/>
			<xsd:pattern value="(M|m)(I|i)"/>
			<xsd:pattern value="(I|i)(P|p)"/>
			<xsd:pattern value="(P|p)(A|a)"/>
			<xsd:pattern value="(F|f)(O|o)"/>
			<xsd:pattern value="(F|f)(A|a)"/>
			<xsd:pattern value="(M|m)(R|r)"/>
			<xsd:pattern value="(F|f)(I|i)"/>
			<xsd:pattern value="(O|o)(M|m)"/>
			<xsd:pattern value="(O|o)(T|t)"/>
			<xsd:pattern value="(F|f)(R|r)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WellSiteAreaNameType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellInSourceWaterAreaLocationType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellAquiferExemptionInjectionType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellHighPriorityDesignationType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellStatusOperatingStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="(A|a)(C|c)"/>
			<xsd:pattern value="(U|u)(C|c)"/>
			<xsd:pattern value="(T|t)(A|a)"/>
			<xsd:pattern value="(P|p)(A|a)"/>
			<xsd:pattern value="(A|a)(N|n)"/>
			<xsd:pattern value="(P|p)(W|w)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WellStateTribalCodeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellNameType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationAccuracyValueMeasurementType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationDescriptionCategoryCodeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationHorizontalDatumType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationMethodCollectionCodeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationWellCountyType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationWellLatitudeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationWellLongitudeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationSourceMapScaleType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocationPointLineAreaType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnforcementActionTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:pattern value="(N|n)(O|o)(V|v)"/>
			<xsd:pattern value="(C|c)(G|g)(T|t)"/>
			<xsd:pattern value="(D|d)(A|a)(O|o)"/>
			<xsd:pattern value="(C|c)(I|i)(R|r)"/>
			<xsd:pattern value="(C|c)(R|r)(R|r)"/>
			<xsd:pattern value="(S|s)(H|h)(T|t)"/>
			<xsd:pattern value="(P|p)(S|s)(E|e)"/>
			<xsd:pattern value="(T|t)(O|o)(A|a)"/>
			<xsd:pattern value="(F|f)(A|a)(O|o)"/>
			<xsd:pattern value="(O|o)(T|t)(R|r)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityTypeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityStreetAddressType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityPetitionStatusType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilitySICCodeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilitySiteNameType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityStateType">
		<xsd:annotation>
			<xsd:documentation> </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityCityType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityNAICSClassificationCodeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionAssistanceType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionTypeActionType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="(M|m)(I|I)"/>
			<xsd:pattern value="(E|e)(C|c)"/>
			<xsd:pattern value="(C|c)(O|o)"/>
			<xsd:pattern value="(W|w)(P|p)"/>
			<xsd:pattern value="(R|r)(P|p)"/>
			<xsd:pattern value="(N|n)(W|w)"/>
			<xsd:pattern value="(O|o)(T|t)"/>
			<xsd:pattern value="(F|f)(I|i)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionDeficiencyType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionICISComplianceMonitoringReasonTypeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionICISComplianceMonitoringType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionICISMOANameType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionICISComplianceActivityTypeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionICISRegionalPriorityNameType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConstituentConcentrationUnitMeasurementType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConstituentNameTextType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConstituentWasteConcentrationType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CorrectionCommentTextType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CorrectionActionTypeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ContactPhoneNumberType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ContactNameType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ContactCityType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ContactStreetType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ContactStateType">
		<xsd:annotation>
			<xsd:documentation> </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MechanicalIntegrityTestResultType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="(P|p)(S|s)"/>
			<xsd:pattern value="(F|f)(U|u)"/>
			<xsd:pattern value="(F|f)(P|p)"/>
			<xsd:pattern value="(F|f)(A|a)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MechanicalIntegrityTestType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="(A|a)(P|p)"/>
			<xsd:pattern value="(C|c)(T|t)"/>
			<xsd:pattern value="(M|m)(R|r)"/>
			<xsd:pattern value="(W|w)(I|i)"/>
			<xsd:pattern value="(W|w)(A|a)"/>
			<xsd:pattern value="(A|a)(T|t)"/>
			<xsd:pattern value="(S|s)(R|r)"/>
			<xsd:pattern value="(O|o)(L|l)"/>
			<xsd:pattern value="(C|c)(R|r)"/>
			<xsd:pattern value="(T|t)(N|n)"/>
			<xsd:pattern value="(R|r)(C|c)"/>
			<xsd:pattern value="(C|c)(B|b)"/>
			<xsd:pattern value="(O|o)(A|a)"/>
			<xsd:pattern value="(R|r)(S|s)"/>
			<xsd:pattern value="(D|d)(C|c)"/>
			<xsd:pattern value="(O|o)(F|f)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MechanicalIntegrityTestRemedialActionTypeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PermitAuthorizedIDType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PermitOwnershipTypeDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PermitAuthorizedStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="(I|i)(P|p)"/>
			<xsd:pattern value="(A|a)(P|p)"/>
			<xsd:pattern value="(G|g)(P|p)"/>
			<xsd:pattern value="(E|e)(P|p)"/>
			<xsd:pattern value="(R|r)(A|a)"/>
			<xsd:pattern value="(N|n)(O|o)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PermitActivityActionTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="(A|a)(I|i)"/>
			<xsd:pattern value="(A|a)(M|m)"/>
			<xsd:pattern value="(P|p)(I|i)"/>
			<xsd:pattern value="(P|p)(D|d)"/>
			<xsd:pattern value="(P|p)(N|n)"/>
			<xsd:pattern value="(P|p)(M|m)"/>
			<xsd:pattern value="(F|f)(R|r)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PermitAORWellNumberType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WasteStreamClassificationType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WasteCodeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyLithologicConfiningZoneTextType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyLithologicInjectionZoneTextType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyInjectionZoneFormationNameType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyConfiningZoneNameType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyInjectioneZonePermeabilityRateType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyConfiningZoneBottomType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyTopInjectionIntervalType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyBottomInjectionIntervalType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyConfiningZoneTopType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyUSDWDepthType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyInjectionZonePorosityPercentType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="GeologyBottomInjectionZoneType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EngineeringMaximumFlowRateType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EngineeringPermittedOnsiteInjectionVolumeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EngineeringPermittedOffsiteInjectionVolumeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellTypeIDDataType">
		<xsd:restriction base="uic:IDType"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WellTypeDateType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellTypeWellIDType">
		<xsd:restriction base="uic:IDType"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellTotalDepthType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="WellGeologyIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityStateIDType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationReturntoComplianceDate">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationEndangering">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationWellIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ViolationFacilityIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionWellIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InspectionFacilityIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RemedialActionDateType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>
