dotnet/prod-opennode2-net/plugins/AQS3/xml_schema/0/AQS_ELEMENTS/EN_AQS_QualityAssuranceAssessmentElements_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/3" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/3" elementFormDefault="qualified" attributeFormDefault="qualified" version="3.0">
	<xsd:annotation>
		<xsd:documentation>Raw Precision Information file
		Current Version Available At :
		Description : Schema for Raw Precision Information
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency
		Point of Contact : Nick Mangus (EPA)
		</xsd:documentation>
	</xsd:annotation>
	<!--Include files-->
	<xsd:include schemaLocation="SC_SimpleContent_v2.0.xsd"/>
	<xsd:include schemaLocation="AQS_TYPES/EN_AQS_DigitThreeStringDataType_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_TYPES/EN_AQS_IntegerTwoDigitPositiveDataType_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_TYPES/EN_AQS_NormCharFortyTextDataType_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_TYPES/EN_AQS_NormCharTwentyTextDataType_v3.0.xsd"/>
	<xsd:include schemaLocation="AQS_TYPES/EN_AQS_DigitOneStringDataType_v3.0.xsd"/>
	<!--Data elements for Monitor and Agency assessment results metadata-->
	<xsd:element name="PrimaryQualityAssuranceOrganizationCode" type="aqs:AgencyCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the primary quality assurance organization for the monitor or test.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PerformingAgencyCode" type="aqs:AgencyCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code representing the agency performing the quality assurance assessment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AssessmentDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date on which the assessment occurred.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AssessmentIdentifier" type="aqs:TwoDigitPositiveIntegerType">
		<xsd:annotation>
			<xsd:documentation>Identifies the sequential assessment number performed on the assessment date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Data elements for monitor and assessment concentrations-->
	<xsd:element name="MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the parameter concentration at the operational monitor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the parameter concentration at the monitor brought in for the assessment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Data elements for flow rates-->
	<xsd:element name="MonitorFlowRateValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the flow rate at the operational monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AssessmentFlowRateValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the flow rate at the instrument brought in for the assessment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PM10FlowMethodCode" type="aqs:MethodIdentifierCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code representing the method used to measure flow.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FlowUnitCode" type="aqs:MeasureUnitCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code representing the units of measure for flow.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PM10FlowRateValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the flow rate at the operational monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PM10AssessmentFlowRateValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the flow rate at the instrument brought in for the assessment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PM25FlowMethodCode" type="aqs:MethodIdentifierCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code representing the method used to measure flow.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PM25FlowRateValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the flow rate at the operational monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PM25AssessmentFlowRateValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the flow rate at the instrument brought in for the assessment.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Elements for 10 level checks-->
	<xsd:element name="Level1MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level1AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level2MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level2AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level3MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level3AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level4MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level4AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level5MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level5AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level6MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level6AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level7MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level7AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level8MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level8AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level9MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level9AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level10MonitorConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Level10AssessmentConcentrationValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Data elements for duplicate assessments-->
	<xsd:element name="Duplicate1Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Duplicate2Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Duplicate3Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Duplicate4Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Duplicate5Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Data elements for replicate assessments-->
	<xsd:element name="Replicate1Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Replicate2Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Replicate3Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Replicate4Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Replicate5Value" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The concentration value provided by the monitor being assessed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Data elements for agency level Pb Audit Analysis-->
	<xsd:element name="LevelOneLabResponseValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the lead mass as measured by the lab.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelOneKnownMassValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The true value of the lead mass.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelTwoLabResponseValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value of the lead mass as measured by the lab.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelTwoKnownMassValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The true value of the lead mass.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Data elements for agency level Lab Proficiency test-->
	<xsd:element name="LabResponseValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The value as measured by the lab.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="KnownMassValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The true value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Data elements for agency level Ambient Air Protocol Gas Verification Program-->
	<xsd:element name="AuthoritativeStandardIdentifierCode" type="aqs:NormalizedString20CharType">
		<xsd:annotation>
			<xsd:documentation>Unique ID for Authoritative standard.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AuthoritativeStandardLevelValue" type="aqs:DigitOneStringType">
		<xsd:annotation>
			<xsd:documentation>Primary EPA standard is Level 1, those validated against it are level 2, and those validated against level 2 standards are level 3.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransferStandardIdentifierCode" type="aqs:NormalizedString20CharType">
		<xsd:annotation>
			<xsd:documentation>Unique ID code  (serial number) for transfer standard.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransferStandardLevelValue" type="aqs:DigitOneStringType">
		<xsd:annotation>
			<xsd:documentation>Level 1, 2, 3, 4 transfer standard has to be equal or a higher number then the Authoritative Standard.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProducerIdentificationCode" type="aqs:AgencyCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code identifying the producer of the gas.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CylinderIdentificationCode" type="aqs:NormCharFortyTextType">
		<xsd:annotation>
			<xsd:documentation>The code identifying a particular cylinder of gas..</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProducerSampleValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The gas concentration value reported by the producer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AssessmentSampleValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The gas concentration value reported by the assessing lab.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Elements for Ozone Transfer Standard agency level checks (10)-->
	<xsd:element name="LevelOneAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelOneTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelTwoAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelTwoTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelThreeAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelThreeTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelFourAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelFourTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelFiveAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelFiveTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelSixAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelSixTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelSevenAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelSevenTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelEightAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelEightTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelNineAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelNineTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelTenAuthoritativeStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the operational monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LevelTenTransferStandardValue" type="xsd:decimal">
		<xsd:annotation>
			<xsd:documentation>The observation from the assessment monitor at the prescribed audit level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
