dotnet/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_LocationalDetailDataTypes_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (SAIC) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_CodeListLocationalDetail.xsd"/>
	<xsd:include schemaLocation=".\FACID_LatitudeDataType_v2.xsd"/>
	<xsd:include schemaLocation=".\FACID_LongitudeDataType_v2.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Data Type Definitions for Locational Detail .</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="HorizontalAccuracyMeasureType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="7"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalMeasureType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="7"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalAccuracyMeasureType">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="7"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DataSourceCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
			<xsd:enumeration value="004"/>
			<xsd:enumeration value="005"/>
			<xsd:enumeration value="006"/>
			<xsd:enumeration value="007"/>
			<xsd:enumeration value="008"/>
			<xsd:enumeration value="009"/>
			<xsd:enumeration value="010"/>
			<xsd:enumeration value="011"/>
			<xsd:enumeration value="012"/>
			<xsd:enumeration value="013"/>
			<xsd:enumeration value="014"/>
			<xsd:enumeration value="015"/>
			<xsd:enumeration value="016"/>
			<xsd:enumeration value="017"/>
			<xsd:enumeration value="018"/>
			<xsd:enumeration value="019"/>
			<xsd:enumeration value="020"/>
			<xsd:enumeration value="021"/>
			<xsd:enumeration value="022"/>
			<xsd:enumeration value="023"/>
			<xsd:enumeration value="024"/>
			<xsd:enumeration value="025"/>
			<xsd:enumeration value="026"/>
			<xsd:enumeration value="027"/>
			<xsd:enumeration value="028"/>
			<xsd:enumeration value="029"/>
			<xsd:enumeration value="030"/>
			<xsd:enumeration value="031"/>
			<xsd:enumeration value="032"/>
			<xsd:enumeration value="033"/>
			<xsd:enumeration value="034"/>
			<xsd:enumeration value="035"/>
			<xsd:enumeration value="036"/>
			<xsd:enumeration value="037"/>
			<xsd:enumeration value="038"/>
			<xsd:enumeration value="039"/>
			<xsd:enumeration value="040"/>
			<xsd:enumeration value="041"/>
			<xsd:enumeration value="042"/>
			<xsd:enumeration value="043"/>
			<xsd:enumeration value="044"/>
			<xsd:enumeration value="045"/>
			<xsd:enumeration value="046"/>
			<xsd:enumeration value="047"/>
			<xsd:enumeration value="048"/>
			<xsd:enumeration value="049"/>
			<xsd:enumeration value="050"/>
			<xsd:enumeration value="051"/>
			<xsd:enumeration value="052"/>
			<xsd:enumeration value="053"/>
			<xsd:enumeration value="054"/>
			<xsd:enumeration value="055"/>
			<xsd:enumeration value="056"/>
			<xsd:enumeration value="060"/>
			<xsd:enumeration value="064"/>
			<xsd:enumeration value="066"/>
			<xsd:enumeration value="068"/>
			<xsd:enumeration value="069"/>
			<xsd:enumeration value="070"/>
			<xsd:enumeration value="072"/>
			<xsd:enumeration value="074"/>
			<xsd:enumeration value="078"/>
			<xsd:enumeration value="080"/>
			<xsd:enumeration value="081"/>
			<xsd:enumeration value="082"/>
			<xsd:enumeration value="083"/>
			<xsd:enumeration value="084"/>
			<xsd:enumeration value="085"/>
			<xsd:enumeration value="086"/>
			<xsd:enumeration value="087"/>
			<xsd:enumeration value="088"/>
			<xsd:enumeration value="089"/>
			<xsd:enumeration value="090"/>
			<xsd:enumeration value="091"/>
			<xsd:enumeration value="092"/>
			<xsd:enumeration value="093"/>
			<xsd:enumeration value="094"/>
			<xsd:enumeration value="095"/>
			<xsd:enumeration value="096"/>
			<xsd:enumeration value="097"/>
			<xsd:enumeration value="098"/>
			<xsd:enumeration value="NN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocationCommentTextType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeLongitudeSignType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="+"/>
			<xsd:enumeration value="-"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeDegreeType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="90"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeLongitudeMinuteType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="59"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeLongitudeSecondType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="59"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeLongitudeMicrosecondType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LongitudeDegreeType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="180"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeMeasureType">
		<xsd:restriction base="LatitudeDataType">
			<xsd:minInclusive value="-90.000000"/>
			<xsd:maxInclusive value="+90.000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LongitudeMeasureType">
		<xsd:restriction base="LongitudeDataType">
			<xsd:minInclusive value="-180.000000"/>
			<xsd:maxInclusive value="+180.000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LatitudeDegMinSecType">
		<xsd:sequence>
			<xsd:element ref="LatitudeSign"/>
			<xsd:element ref="LatitudeDegree"/>
			<xsd:element ref="LatitudeMinute"/>
			<xsd:element ref="LatitudeSecond"/>
			<xsd:element ref="LatitudeMicrosecond"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LongitudeDegMinSecType">
		<xsd:sequence>
			<xsd:element ref="LongitudeSign"/>
			<xsd:element ref="LongitudeDegree"/>
			<xsd:element ref="LongitudeMinute"/>
			<xsd:element ref="LongitudeSecond"/>
			<xsd:element ref="LongitudeMicrosecond"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LatitudeLongitudeType">
		<xsd:choice>
			<xsd:element ref="LatitudeLongitudeMeasure"/>
			<xsd:element ref="LatitudeLongitudeDegMinSec"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="LatitudeLongitudeMeasureType">
		<xsd:sequence>
			<xsd:element ref="LatitudeMeasure"/>
			<xsd:element ref="LongitudeMeasure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LatitudeLongitudeDegMinSecType">
		<xsd:sequence>
			<xsd:element ref="LatitudeDegMinSec"/>
			<xsd:element ref="LongitudeDegMinSec"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HorizontalCollectionMethodCodeType">
		<xsd:choice>
			<xsd:element name="SDWAHorizontalCollectionMethodCode" type="SDWAHorizontalCollectionMethodCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ReferencePointCodeType">
		<xsd:choice>
			<xsd:element name="SDWAReferencePointCode" type="SDWAReferencePointCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="HorizontalReferenceDatumCodeType">
		<xsd:choice>
			<xsd:element name="SDWAHorizontalReferenceDatumCode" type="SDWAHorizontalReferenceDatumCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SourceMapScaleCodeType">
		<xsd:choice>
			<xsd:element name="SDWASourceMapScaleCode" type="SDWASourceMapScaleCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="GeometricTypeCodeType">
		<xsd:choice>
			<xsd:element name="SDWAGeometricTypeCode" type="SDWAGeometricTypeCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="CoordinateDataSourceCodeType">
		<xsd:choice>
			<xsd:element name="SDWACoordinateDataSourceCode" type="SDWACoordinateDataSourceCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="VerificationMethodCodeType">
		<xsd:choice>
			<xsd:element name="SDWAVerificationMethodCode" type="SDWAVerificationMethodCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="VerticalCollectionMethodCodeType">
		<xsd:choice>
			<xsd:element name="SDWAVerticalCollectionMethodCode" type="SDWAVerticalCollectionMethodCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="VerticalReferenceDatumCodeType">
		<xsd:choice>
			<xsd:element name="SDWAVerticalReferenceDatumCode" type="SDWAVerticalReferenceDatumCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Global Element Declarations for Locational Detail .</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="LatitudeLongitude" type="LatitudeLongitudeType"/>
	<xsd:element name="LatitudeLongitudeMeasure" type="LatitudeLongitudeMeasureType"/>
	<xsd:element name="LatitudeLongitudeDegMinSec" type="LatitudeLongitudeDegMinSecType"/>
	<xsd:element name="HorizontalCollectionMethodCode" type="HorizontalCollectionMethodCodeType"/>
	<xsd:element name="HorizontalAccuracyMeasure" type="HorizontalAccuracyMeasureType"/>
	<xsd:element name="ReferencePointCode" type="ReferencePointCodeType"/>
	<xsd:element name="HorizontalReferenceDatumCode" type="HorizontalReferenceDatumCodeType"/>
	<xsd:element name="SourceMapScaleCode" type="SourceMapScaleCodeType"/>
	<xsd:element name="GeometricTypeCode" type="GeometricTypeCodeType"/>
	<xsd:element name="DataCollectionDate" type="xsd:date"/>
	<xsd:element name="CoordinateDataSourceCode" type="CoordinateDataSourceCodeType"/>
	<xsd:element name="VerificationMethodCode" type="VerificationMethodCodeType"/>
	<xsd:element name="VerticalMeasure" type="VerticalMeasureType"/>
	<xsd:element name="VerticalCollectionMethodCode" type="VerticalCollectionMethodCodeType"/>
	<xsd:element name="VerticalAccuracyMeasure" type="VerticalAccuracyMeasureType"/>
	<xsd:element name="VerticalReferenceDatumCode" type="VerticalReferenceDatumCodeType"/>
	<xsd:element name="LocationCommentText" type="LocationCommentTextType"/>
	<xsd:element name="LatitudeSign" type="LatitudeLongitudeSignType"/>
	<xsd:element name="LatitudeDegree" type="LatitudeDegreeType"/>
	<xsd:element name="LatitudeMinute" type="LatitudeLongitudeMinuteType"/>
	<xsd:element name="LatitudeSecond" type="LatitudeLongitudeSecondType"/>
	<xsd:element name="LatitudeMicrosecond" type="LatitudeLongitudeMicrosecondType"/>
	<xsd:element name="LatitudeDegMinSec" type="LatitudeDegMinSecType"/>
	<xsd:element name="LongitudeDegMinSec" type="LongitudeDegMinSecType"/>
	<xsd:element name="LongitudeSign" type="LatitudeLongitudeSignType"/>
	<xsd:element name="LongitudeDegree" type="LongitudeDegreeType"/>
	<xsd:element name="LongitudeMinute" type="LatitudeLongitudeMinuteType"/>
	<xsd:element name="LongitudeSecond" type="LatitudeLongitudeSecondType"/>
	<xsd:element name="LongitudeMicrosecond" type="LatitudeLongitudeMicrosecondType"/>
	<xsd:element name="LatitudeMeasure" type="LatitudeMeasureType"/>
	<xsd:element name="LongitudeMeasure" type="LongitudeMeasureType"/>
</xsd:schema>
