dotnet/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_Enforcement_v2.xsd

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_WaterSystemDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_EnforcementDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_MessageNotification_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_AssignmentCriteria_v2.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Enforcement Business Object</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Enforcements" type="EnforcementsType"/>
	<xsd:element name="EnforcementDetails" type="EnforcementDetailsType"/>
	<xsd:complexType name="EnforcementsType">
		<xsd:sequence>
			<xsd:element ref="EnforcementDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EnforcementDetailsType">
		<xsd:sequence>
			<xsd:element ref="PWSIdentifier"/>
			<xsd:element ref="EnforcementIdentifier"/>
			<xsd:element ref="EnforcementDate"/>
			<xsd:element ref="EnforcementActionCode"/>
			<xsd:element ref="EnforcementCommentText" minOccurs="0"/>
			<xsd:element ref="EnforcementReportingDate"/>
			<xsd:element ref="EnforcementAssignments" minOccurs="0"/>
			<xsd:element ref="MessageStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
