dotnet/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_GeographicAreaDataTypes_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_CodeList.xsd"/>
	<xsd:include schemaLocation=".\SDWA_CodeListTribalCode.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Data Type Definitions for Geographic Area.</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="FIPSCountyCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RetailPopulationZipCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CityServedType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="StateAndCityServedDataType">
		<xsd:sequence>
			<xsd:element ref="StateServed"/>
			<xsd:element ref="CityServed"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TribalCodeType">
		<xsd:choice>
			<xsd:element name="SDWATribalCode" type="SDWATribalCodeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Global Element Declarations for Geographic Area.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="StateAndCityServed" type="StateAndCityServedDataType"/>
	<xsd:element name="CityServed" type="CityServedType"/>
	<xsd:element name="StateServed">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="SDWAStateServed" type="SDWAStateCodeType"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FIPSCountyCode" type="FIPSCountyCodeType"/>
	<xsd:element name="TribalCode" type="TribalCodeType"/>
	<xsd:element name="RetailPopulationZipCode" type="RetailPopulationZipCodeType"/>
</xsd:schema>
