dotnet/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_TreatmentData_v2.xsd

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:include schemaLocation=".\SDWA_WaterSystemFacilityDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_TreatmentDataType_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_MessageNotification_v2.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Treatment Data Business Object</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="TreatmentData" type="TreatmentDataType"/>
	<xsd:element name="TreatmentDetails" type="TreatmentDetailsType"/>
	<xsd:complexType name="TreatmentDataType">
		<xsd:sequence>
			<xsd:element ref="TreatmentDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreatmentDetailsType">
		<xsd:sequence>
			<xsd:element ref="PWSIdentifier"/>
			<xsd:element ref="FacilityIdentifier"/>
			<xsd:element ref="TreatmentIdentifier"/>
			<xsd:element ref="TreatmentObjectiveCode"/>
			<xsd:element ref="TreatmentProcessCode"/>
			<xsd:element ref="TreatmentComment"/>
			<xsd:element ref="MessageStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
