dotnet/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_AssignmentCriteria_v2.xsd

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (Science Application International Corporation) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation=".\SDWA_AssignmentCriteriaDataTypes_v2.xsd"/>
	<xsd:include schemaLocation=".\SDWA_MessageNotification_v2.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Enforcement Assignment Criteria Business Object</xsd:documentation>
		<xsd:documentation>Schema Name    : Assigment Criteria Schema</xsd:documentation>
		<xsd:documentation>Description         : </xsd:documentation>
		<xsd:documentation>Application          : </xsd:documentation>
		<xsd:documentation>Developed By     :  </xsd:documentation>
		<xsd:documentation>Point Of Contact  : </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="EnforcementAssignments" type="EnforcementAssignmentsType"/>
	<xsd:element name="EnforcementAssignmentDetails" type="EnforcementAssignmentDetailsType"/>
	<xsd:complexType name="EnforcementAssignmentsType">
		<xsd:sequence>
			<xsd:element ref="EnforcementAssignmentDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EnforcementAssignmentDetailsType">
		<xsd:sequence>
			<xsd:element ref="EnforcementAssignment"/>
			<xsd:element ref="MessageStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Site Visit Assignment Criteria Business Object</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="SiteVisitAssignments" type="SiteVisitAssignmentsType"/>
	<xsd:element name="SiteVisitAssignmentDetails" type="SiteVisitAssignmentDetailsType"/>
	<xsd:complexType name="SiteVisitAssignmentsType">
		<xsd:sequence>
			<xsd:element ref="SiteVisitAssignmentDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SiteVisitAssignmentDetailsType">
		<xsd:sequence>
			<xsd:element ref="VisitAssignment"/>
			<xsd:element ref="MessageStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
