dotnet/plugins/HERE/xml_schema/SDWIS/2/0/SDWA_CodeList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Terrie Sutch (SAIC) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Terrie Sutch (Science Applications International Corp.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xsd:annotation>
		<xsd:documentation>General Type Definitions for code list</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAYesNoContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWACountryCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="AA"/>
			<xsd:enumeration value="AC"/>
			<xsd:enumeration value="AF"/>
			<xsd:enumeration value="AG"/>
			<xsd:enumeration value="AJ"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="AN"/>
			<xsd:enumeration value="AO"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="AT"/>
			<xsd:enumeration value="AU"/>
			<xsd:enumeration value="AV"/>
			<xsd:enumeration value="AY"/>
			<xsd:enumeration value="BA"/>
			<xsd:enumeration value="BB"/>
			<xsd:enumeration value="BC"/>
			<xsd:enumeration value="BD"/>
			<xsd:enumeration value="BE"/>
			<xsd:enumeration value="BF"/>
			<xsd:enumeration value="BG"/>
			<xsd:enumeration value="BH"/>
			<xsd:enumeration value="BK"/>
			<xsd:enumeration value="BM"/>
			<xsd:enumeration value="BN"/>
			<xsd:enumeration value="BO"/>
			<xsd:enumeration value="BP"/>
			<xsd:enumeration value="BR"/>
			<xsd:enumeration value="BS"/>
			<xsd:enumeration value="BT"/>
			<xsd:enumeration value="BU"/>
			<xsd:enumeration value="BV"/>
			<xsd:enumeration value="BX"/>
			<xsd:enumeration value="BY"/>
			<xsd:enumeration value="CB"/>
			<xsd:enumeration value="CD"/>
			<xsd:enumeration value="CE"/>
			<xsd:enumeration value="CF"/>
			<xsd:enumeration value="CG"/>
			<xsd:enumeration value="CH"/>
			<xsd:enumeration value="CI"/>
			<xsd:enumeration value="CJ"/>
			<xsd:enumeration value="CK"/>
			<xsd:enumeration value="CM"/>
			<xsd:enumeration value="CN"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CR"/>
			<xsd:enumeration value="CS"/>
			<xsd:enumeration value="CT"/>
			<xsd:enumeration value="CU"/>
			<xsd:enumeration value="CV"/>
			<xsd:enumeration value="CW"/>
			<xsd:enumeration value="CY"/>
			<xsd:enumeration value="DA"/>
			<xsd:enumeration value="DJ"/>
			<xsd:enumeration value="DO"/>
			<xsd:enumeration value="DR"/>
			<xsd:enumeration value="EC"/>
			<xsd:enumeration value="EG"/>
			<xsd:enumeration value="EI"/>
			<xsd:enumeration value="EK"/>
			<xsd:enumeration value="EN"/>
			<xsd:enumeration value="ER"/>
			<xsd:enumeration value="ES"/>
			<xsd:enumeration value="ET"/>
			<xsd:enumeration value="EU"/>
			<xsd:enumeration value="EZ"/>
			<xsd:enumeration value="FG"/>
			<xsd:enumeration value="FI"/>
			<xsd:enumeration value="FJ"/>
			<xsd:enumeration value="FK"/>
			<xsd:enumeration value="FO"/>
			<xsd:enumeration value="FP"/>
			<xsd:enumeration value="FR"/>
			<xsd:enumeration value="FS"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="GB"/>
			<xsd:enumeration value="GG"/>
			<xsd:enumeration value="GH"/>
			<xsd:enumeration value="GI"/>
			<xsd:enumeration value="GJ"/>
			<xsd:enumeration value="GK"/>
			<xsd:enumeration value="GL"/>
			<xsd:enumeration value="GM"/>
			<xsd:enumeration value="GO"/>
			<xsd:enumeration value="GP"/>
			<xsd:enumeration value="GR"/>
			<xsd:enumeration value="GT"/>
			<xsd:enumeration value="GV"/>
			<xsd:enumeration value="GY"/>
			<xsd:enumeration value="GZ"/>
			<xsd:enumeration value="HA"/>
			<xsd:enumeration value="HK"/>
			<xsd:enumeration value="HM"/>
			<xsd:enumeration value="HO"/>
			<xsd:enumeration value="HR"/>
			<xsd:enumeration value="HU"/>
			<xsd:enumeration value="IC"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IM"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="IO"/>
			<xsd:enumeration value="IP"/>
			<xsd:enumeration value="IR"/>
			<xsd:enumeration value="IS"/>
			<xsd:enumeration value="IT"/>
			<xsd:enumeration value="IV"/>
			<xsd:enumeration value="IZ"/>
			<xsd:enumeration value="JA"/>
			<xsd:enumeration value="JE"/>
			<xsd:enumeration value="JM"/>
			<xsd:enumeration value="JN"/>
			<xsd:enumeration value="JO"/>
			<xsd:enumeration value="JU"/>
			<xsd:enumeration value="KE"/>
			<xsd:enumeration value="KG"/>
			<xsd:enumeration value="KN"/>
			<xsd:enumeration value="KQ"/>
			<xsd:enumeration value="KR"/>
			<xsd:enumeration value="KS"/>
			<xsd:enumeration value="KT"/>
			<xsd:enumeration value="KU"/>
			<xsd:enumeration value="KZ"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="LE"/>
			<xsd:enumeration value="LG"/>
			<xsd:enumeration value="LH"/>
			<xsd:enumeration value="LI"/>
			<xsd:enumeration value="LO"/>
			<xsd:enumeration value="LS"/>
			<xsd:enumeration value="LT"/>
			<xsd:enumeration value="LU"/>
			<xsd:enumeration value="LY"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MB"/>
			<xsd:enumeration value="MC"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="MF"/>
			<xsd:enumeration value="MG"/>
			<xsd:enumeration value="MH"/>
			<xsd:enumeration value="MI"/>
			<xsd:enumeration value="MK"/>
			<xsd:enumeration value="ML"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="MR"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="MU"/>
			<xsd:enumeration value="MV"/>
			<xsd:enumeration value="MW"/>
			<xsd:enumeration value="MX"/>
			<xsd:enumeration value="MY"/>
			<xsd:enumeration value="MZ"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="NFF"/>
			<xsd:enumeration value="NG"/>
			<xsd:enumeration value="NH"/>
			<xsd:enumeration value="NI"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="NO"/>
			<xsd:enumeration value="NP"/>
			<xsd:enumeration value="NR"/>
			<xsd:enumeration value="NS"/>
			<xsd:enumeration value="NT"/>
			<xsd:enumeration value="NU"/>
			<xsd:enumeration value="NZ"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PC"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="PF"/>
			<xsd:enumeration value="PG"/>
			<xsd:enumeration value="PK"/>
			<xsd:enumeration value="PL"/>
			<xsd:enumeration value="PM"/>
			<xsd:enumeration value="PO"/>
			<xsd:enumeration value="PP"/>
			<xsd:enumeration value="PU"/>
			<xsd:enumeration value="QA"/>
			<xsd:enumeration value="RE"/>
			<xsd:enumeration value="RO"/>
			<xsd:enumeration value="RP"/>
			<xsd:enumeration value="RS"/>
			<xsd:enumeration value="RW"/>
			<xsd:enumeration value="SA"/>
			<xsd:enumeration value="SB"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="SF"/>
			<xsd:enumeration value="SG"/>
			<xsd:enumeration value="SH"/>
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="SL"/>
			<xsd:enumeration value="SM"/>
			<xsd:enumeration value="SN"/>
			<xsd:enumeration value="SO"/>
			<xsd:enumeration value="SP"/>
			<xsd:enumeration value="SR"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="SU"/>
			<xsd:enumeration value="SV"/>
			<xsd:enumeration value="SW"/>
			<xsd:enumeration value="SX"/>
			<xsd:enumeration value="SY"/>
			<xsd:enumeration value="SZ"/>
			<xsd:enumeration value="TC"/>
			<xsd:enumeration value="TD"/>
			<xsd:enumeration value="TE"/>
			<xsd:enumeration value="TH"/>
			<xsd:enumeration value="TI"/>
			<xsd:enumeration value="TK"/>
			<xsd:enumeration value="TL"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TO"/>
			<xsd:enumeration value="TP"/>
			<xsd:enumeration value="TS"/>
			<xsd:enumeration value="TU"/>
			<xsd:enumeration value="TV"/>
			<xsd:enumeration value="TW"/>
			<xsd:enumeration value="TX"/>
			<xsd:enumeration value="TZ"/>
			<xsd:enumeration value="UG"/>
			<xsd:enumeration value="UK"/>
			<xsd:enumeration value="UP"/>
			<xsd:enumeration value="US"/>
			<xsd:enumeration value="UV"/>
			<xsd:enumeration value="UY"/>
			<xsd:enumeration value="UZ"/>
			<xsd:enumeration value="VC"/>
			<xsd:enumeration value="VE"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VM"/>
			<xsd:enumeration value="VT"/>
			<xsd:enumeration value="WA"/>
			<xsd:enumeration value="WE"/>
			<xsd:enumeration value="WF"/>
			<xsd:enumeration value="WI"/>
			<xsd:enumeration value="WS"/>
			<xsd:enumeration value="WZ"/>
			<xsd:enumeration value="YM"/>
			<xsd:enumeration value="ZA"/>
			<xsd:enumeration value="ZI"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAStateCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="AK"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CT"/>
			<xsd:enumeration value="DC"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="FL"/>
			<xsd:enumeration value="FM"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="HI"/>
			<xsd:enumeration value="IA"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="KS"/>
			<xsd:enumeration value="KY"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="ME"/>
			<xsd:enumeration value="MH"/>
			<xsd:enumeration value="MI"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="ND"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="NH"/>
			<xsd:enumeration value="NJ"/>
			<xsd:enumeration value="NM"/>
			<xsd:enumeration value="NV"/>
			<xsd:enumeration value="NY"/>
			<xsd:enumeration value="OH"/>
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="OR"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="RI"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TX"/>
			<xsd:enumeration value="UT"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VT"/>
			<xsd:enumeration value="WA"/>
			<xsd:enumeration value="WI"/>
			<xsd:enumeration value="WV"/>
			<xsd:enumeration value="WY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWACanadianProvinceCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="BC"/>
			<xsd:enumeration value="MB"/>
			<xsd:enumeration value="NB"/>
			<xsd:enumeration value="NF"/>
			<xsd:enumeration value="NS"/>
			<xsd:enumeration value="NT"/>
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="PQ"/>
			<xsd:enumeration value="SK"/>
			<xsd:enumeration value="YT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAStateCodeCandianProvinceCodeContentType">
		<xsd:union memberTypes="SDWAStateCodeContentType SDWACanadianProvinceCodeContentType"/>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAActivityFlagCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="I"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAYesNoType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAYesNoContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWACountryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWACountryCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAStateCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAStateCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWACanadianProvinceCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWACanadianProvinceCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAStateCodeCanadianProvinceCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAStateCodeCandianProvinceCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAActivityFlagCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAActivityFlagCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Water System</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAPWSTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="NTNC"/>
			<xsd:enumeration value="NP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAPWSOwnerTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="S"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAPWSTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAPWSTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAPWSOwnerTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAPWSOwnerTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Legal Entity and Legal Entity Affiliation</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAAffiliationCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="AC"/>
			<xsd:enumeration value="BI"/>
			<xsd:enumeration value="DO"/>
			<xsd:enumeration value="EC"/>
			<xsd:enumeration value="FC"/>
			<xsd:enumeration value="HC"/>
			<xsd:enumeration value="IE"/>
			<xsd:enumeration value="IS"/>
			<xsd:enumeration value="LC"/>
			<xsd:enumeration value="LE"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="OP"/>
			<xsd:enumeration value="OT"/>
			<xsd:enumeration value="OW"/>
			<xsd:enumeration value="PC"/>
			<xsd:enumeration value="RC"/>
			<xsd:enumeration value="SA"/>
			<xsd:enumeration value="TC"/>
			<xsd:enumeration value="TE"/>
			<xsd:enumeration value="TG"/>
			<xsd:enumeration value="TH"/>
			<xsd:enumeration value="TP"/>
			<xsd:enumeration value="UN"/>
			<xsd:enumeration value="UT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAAffiliationCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAAffiliationCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for all Water System Facility</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="SDWAFacilityActivityCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAActivityFlagCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Source Water System Facility</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWASourceFacilityTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CC"/>
			<xsd:enumeration value="IG"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="NN"/>
			<xsd:enumeration value="NP"/>
			<xsd:enumeration value="RC"/>
			<xsd:enumeration value="RS"/>
			<xsd:enumeration value="SP"/>
			<xsd:enumeration value="WL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWASourceFacilityWaterTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="GW"/>
			<xsd:enumeration value="SW"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWASourceFacilityAvailabilityContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="S"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWASourceFacilitySellerTreatmentCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="Y"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWASourceFacilityReportedFiltrationStatusCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="MIF"/>
			<xsd:enumeration value="SAF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWASourceFacilityTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASourceFacilityTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASourceFacilityWaterTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASourceFacilityWaterTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASourceFacilityAvailabilityType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASourceFacilityAvailabilityContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASourceFacilitySellerTreatmentCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASourceFacilitySellerTreatmentCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASourceFacilityTreatedCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAYesNoContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASourceFacilityReportedFiltrationStatusType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASourceFacilityReportedFiltrationStatusCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Treatment Plant Water System Facility</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWATreatmentFacilityTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="TP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWATreatmentFacilityTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWATreatmentFacilityTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Other Water System Facility</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAOtherFacilityTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CH"/>
			<xsd:enumeration value="CS"/>
			<xsd:enumeration value="CW"/>
			<xsd:enumeration value="DS"/>
			<xsd:enumeration value="OT"/>
			<xsd:enumeration value="PC"/>
			<xsd:enumeration value="PF"/>
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="SS"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="TM"/>
			<xsd:enumeration value="WH"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAOtherFacilityTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAOtherFacilityTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Treatment Data</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWATreatmentObjectiveCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="Z"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWATreatmentProcessCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="100"/>
			<xsd:enumeration value="121"/>
			<xsd:enumeration value="125"/>
			<xsd:enumeration value="141"/>
			<xsd:enumeration value="143"/>
			<xsd:enumeration value="145"/>
			<xsd:enumeration value="147"/>
			<xsd:enumeration value="149"/>
			<xsd:enumeration value="160"/>
			<xsd:enumeration value="180"/>
			<xsd:enumeration value="190"/>
			<xsd:enumeration value="200"/>
			<xsd:enumeration value="220"/>
			<xsd:enumeration value="240"/>
			<xsd:enumeration value="300"/>
			<xsd:enumeration value="320"/>
			<xsd:enumeration value="341"/>
			<xsd:enumeration value="342"/>
			<xsd:enumeration value="343"/>
			<xsd:enumeration value="344"/>
			<xsd:enumeration value="345"/>
			<xsd:enumeration value="346"/>
			<xsd:enumeration value="347"/>
			<xsd:enumeration value="348"/>
			<xsd:enumeration value="360"/>
			<xsd:enumeration value="380"/>
			<xsd:enumeration value="401"/>
			<xsd:enumeration value="403"/>
			<xsd:enumeration value="421"/>
			<xsd:enumeration value="423"/>
			<xsd:enumeration value="441"/>
			<xsd:enumeration value="443"/>
			<xsd:enumeration value="445"/>
			<xsd:enumeration value="447"/>
			<xsd:enumeration value="449"/>
			<xsd:enumeration value="455"/>
			<xsd:enumeration value="460"/>
			<xsd:enumeration value="461"/>
			<xsd:enumeration value="473"/>
			<xsd:enumeration value="601"/>
			<xsd:enumeration value="500"/>
			<xsd:enumeration value="520"/>
			<xsd:enumeration value="541"/>
			<xsd:enumeration value="543"/>
			<xsd:enumeration value="560"/>
			<xsd:enumeration value="580"/>
			<xsd:enumeration value="600"/>
			<xsd:enumeration value="620"/>
			<xsd:enumeration value="623"/>
			<xsd:enumeration value="625"/>
			<xsd:enumeration value="627"/>
			<xsd:enumeration value="640"/>
			<xsd:enumeration value="660"/>
			<xsd:enumeration value="680"/>
			<xsd:enumeration value="700"/>
			<xsd:enumeration value="720"/>
			<xsd:enumeration value="740"/>
			<xsd:enumeration value="741"/>
			<xsd:enumeration value="742"/>
			<xsd:enumeration value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWATreatmentObjectiveCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWATreatmentObjectiveCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWATreatmentProcessCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWATreatmentProcessCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Violations</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAViolationTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="05"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="07"/>
			<xsd:enumeration value="08"/>
			<xsd:enumeration value="09"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
			<xsd:enumeration value="13"/>
			<xsd:enumeration value="21"/>
			<xsd:enumeration value="22"/>
			<xsd:enumeration value="23"/>
			<xsd:enumeration value="24"/>
			<xsd:enumeration value="25"/>
			<xsd:enumeration value="26"/>
			<xsd:enumeration value="27"/>
			<xsd:enumeration value="28"/>
			<xsd:enumeration value="29"/>
			<xsd:enumeration value="31"/>
			<xsd:enumeration value="36"/>
			<xsd:enumeration value="37"/>
			<xsd:enumeration value="38"/>
			<xsd:enumeration value="41"/>
			<xsd:enumeration value="42"/>
			<xsd:enumeration value="43"/>
			<xsd:enumeration value="44"/>
			<xsd:enumeration value="46"/>
			<xsd:enumeration value="47"/>
			<xsd:enumeration value="51"/>
			<xsd:enumeration value="52"/>
			<xsd:enumeration value="53"/>
			<xsd:enumeration value="56"/>
			<xsd:enumeration value="57"/>
			<xsd:enumeration value="58"/>
			<xsd:enumeration value="59"/>
			<xsd:enumeration value="63"/>
			<xsd:enumeration value="64"/>
			<xsd:enumeration value="65"/>
			<xsd:enumeration value="71"/>
			<xsd:enumeration value="72"/>
			<xsd:enumeration value="75"/>
			<xsd:enumeration value="76"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAViolationTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAViolationTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAMajorViolationIndicatorCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAYesNoContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Enforcement Action</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAEnforcementActionCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="EF!"/>
			<xsd:enumeration value="EF%"/>
			<xsd:enumeration value="EF&amp;"/>
			<xsd:enumeration value="EF-"/>
			<xsd:enumeration value="EF/"/>
			<xsd:enumeration value="EF&lt;"/>
			<xsd:enumeration value="EF="/>
			<xsd:enumeration value="EF2"/>
			<xsd:enumeration value="EF9"/>
			<xsd:enumeration value="EFG"/>
			<xsd:enumeration value="EFH"/>
			<xsd:enumeration value="EFJ"/>
			<xsd:enumeration value="EFK"/>
			<xsd:enumeration value="EFL"/>
			<xsd:enumeration value="EFN"/>
			<xsd:enumeration value="EFQ"/>
			<xsd:enumeration value="EFR"/>
			<xsd:enumeration value="EFS"/>
			<xsd:enumeration value="EFT"/>
			<xsd:enumeration value="EFU"/>
			<xsd:enumeration value="EFV"/>
			<xsd:enumeration value="EFW"/>
			<xsd:enumeration value="EIA"/>
			<xsd:enumeration value="EIB"/>
			<xsd:enumeration value="EIC"/>
			<xsd:enumeration value="EID"/>
			<xsd:enumeration value="EIE"/>
			<xsd:enumeration value="EIF"/>
			<xsd:enumeration value="EII"/>
			<xsd:enumeration value="EO+"/>
			<xsd:enumeration value="EO6"/>
			<xsd:enumeration value="EO7"/>
			<xsd:enumeration value="EO8"/>
			<xsd:enumeration value="EOX"/>
			<xsd:enumeration value="EOY"/>
			<xsd:enumeration value="EOZ"/>
			<xsd:enumeration value="ESX"/>
			<xsd:enumeration value="ETX"/>
			<xsd:enumeration value="SF%"/>
			<xsd:enumeration value="SF&amp;"/>
			<xsd:enumeration value="SF2"/>
			<xsd:enumeration value="SF3"/>
			<xsd:enumeration value="SF4"/>
			<xsd:enumeration value="SF5"/>
			<xsd:enumeration value="SF9"/>
			<xsd:enumeration value="SFG"/>
			<xsd:enumeration value="SFH"/>
			<xsd:enumeration value="SFJ"/>
			<xsd:enumeration value="SFK"/>
			<xsd:enumeration value="SFL"/>
			<xsd:enumeration value="SFM"/>
			<xsd:enumeration value="SFN"/>
			<xsd:enumeration value="SFO"/>
			<xsd:enumeration value="SFP"/>
			<xsd:enumeration value="SFQ"/>
			<xsd:enumeration value="SFR"/>
			<xsd:enumeration value="SFS"/>
			<xsd:enumeration value="SFT"/>
			<xsd:enumeration value="SFU"/>
			<xsd:enumeration value="SFV"/>
			<xsd:enumeration value="SFW"/>
			<xsd:enumeration value="SIA"/>
			<xsd:enumeration value="SIB"/>
			<xsd:enumeration value="SIC"/>
			<xsd:enumeration value="SID"/>
			<xsd:enumeration value="SIE"/>
			<xsd:enumeration value="SIF"/>
			<xsd:enumeration value="SII"/>
			<xsd:enumeration value="SO+"/>
			<xsd:enumeration value="SO6"/>
			<xsd:enumeration value="SO7"/>
			<xsd:enumeration value="SO8"/>
			<xsd:enumeration value="SOX"/>
			<xsd:enumeration value="SOY"/>
			<xsd:enumeration value="SOZ"/>
			<xsd:enumeration value="EO0"/>
			<xsd:enumeration value="SO0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAEnforcementActionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAEnforcementActionCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Site Visit</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAVisitReasonCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CAPD"/>
			<xsd:enumeration value="DNST"/>
			<xsd:enumeration value="CPEV"/>
			<xsd:enumeration value="EMRG"/>
			<xsd:enumeration value="ENGR"/>
			<xsd:enumeration value="FENF"/>
			<xsd:enumeration value="IENF"/>
			<xsd:enumeration value="INFI"/>
			<xsd:enumeration value="INVG"/>
			<xsd:enumeration value="LABC"/>
			<xsd:enumeration value="LABI"/>
			<xsd:enumeration value="LOCD"/>
			<xsd:enumeration value="NEED"/>
			<xsd:enumeration value="O&amp;M"/>
			<xsd:enumeration value="OTHR"/>
			<xsd:enumeration value="PRMT"/>
			<xsd:enumeration value="PUBH"/>
			<xsd:enumeration value="RCDR"/>
			<xsd:enumeration value="RSCH"/>
			<xsd:enumeration value="SHAZ"/>
			<xsd:enumeration value="SITE"/>
			<xsd:enumeration value="SMPL"/>
			<xsd:enumeration value="SNSV"/>
			<xsd:enumeration value="SRCE"/>
			<xsd:enumeration value="SRF"/>
			<xsd:enumeration value="SSVF"/>
			<xsd:enumeration value="TECH"/>
			<xsd:enumeration value="TRNG"/>
			<xsd:enumeration value="TRTP"/>
			<xsd:enumeration value="VAEX"/>
			<xsd:enumeration value="WHPP"/>
			<xsd:enumeration value="WSHD"/>
			<xsd:enumeration value="XCON"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAVisitAgencyCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="HQ"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="LC"/>
			<xsd:enumeration value="OF"/>
			<xsd:enumeration value="OP"/>
			<xsd:enumeration value="RG"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="TR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAVisitCategoryEvaluationCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="X"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAVisitReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAVisitReasonCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAVisitAgencyCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAVisitAgencyCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAVisitCategoryEvaluationCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAVisitCategoryEvaluationCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Event Schedule and Event Schedule Activities				</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWAEventScheduleRuleCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CCR"/>
			<xsd:enumeration value="CHRD"/>
			<xsd:enumeration value="DBPR"/>
			<xsd:enumeration value="IESW"/>
			<xsd:enumeration value="LEAD"/>
			<xsd:enumeration value="NITR"/>
			<xsd:enumeration value="PNR"/>
			<xsd:enumeration value="SWTR"/>
			<xsd:enumeration value="TCR"/>
			<xsd:enumeration value="UNRG"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAEventScheduleStatusCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="S"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAEventActivityCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="DEEM"/>
			<xsd:enumeration value="DONE"/>
			<xsd:enumeration value="LSLR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWAEventActivityReasonCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="B1"/>
			<xsd:enumeration value="B3"/>
			<xsd:enumeration value="LSLR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWAEventScheduleRuleCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAEventScheduleRuleCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAEventScheduleStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAEventScheduleStatusCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAEventActivityCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAEventActivityCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWAEventActivityReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWAEventActivityReasonCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Types Definitions for code list for Sample and Sample Results				</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="SDWASampleFacilityWaterTypeCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="GW"/>
			<xsd:enumeration value="SW"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWASampleWaterTreatmentCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="R"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWASampleResultSignCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="&lt;"/>
			<xsd:enumeration value="="/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SDWASampleUnitMeasureCodeContentType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="MG/L"/>
			<xsd:enumeration value="UG/L"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SDWASampleFacilityWaterTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASampleFacilityWaterTypeCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASampleWaterTreatmentCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASampleWaterTreatmentCodeContentType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASampleResultSignCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASampleResultSignCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SDWASampleUnitMeasureCodeType">
		<xsd:simpleContent>
			<xsd:extension base="SDWASampleUnitMeasureCodeContentType">
				<xsd:attribute name="ID" type="xsd:token" fixed="SDWA"/>
				<xsd:attribute name="agencyID" type="xsd:token" fixed="USEPA"/>
				<xsd:attribute name="versionID" type="xsd:string" fixed="1.0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
