dotnet/plugins/ICISNPDES_15/xml_schema/5/ICIS_Facility_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Contact_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Geographic_Coordinates_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_SIC_NAICS_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Facility_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES facility data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="ConstructionProjectLatitudeMeasure" type="icis:String10FixedType"/>
	<xsd:element name="ConstructionProjectLongitudeMeasure" type="icis:String11FixedType"/>
	<xsd:element name="ConstructionProjectName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="Facility" type="icis:Facility"/>
	<xsd:element name="FacilityClassification" type="icis:StringMin1Max3Type"/>
	<xsd:element name="FacilityComments" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="FacilityData" type="icis:FacilityData"/>
	<xsd:element name="FacilityCongressionalDistrictNumber" type="icis:Integer2FixedRange01To99Type"/>
	<xsd:element name="FacilityEnvironmentalJusticeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="FacilityContact" type="icis:FacilityContact"/>
	<xsd:element name="FacilitySmallBusinessIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="FacilityTypeOfOwnershipCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="FacilityUserDefinedField1" type="icis:StringMin1Max30Type"/>
	<xsd:element name="FacilityUserDefinedField2" type="icis:StringMin1Max30Type"/>
	<xsd:element name="FacilityUserDefinedField3" type="icis:StringMin1Max30Type"/>
	<xsd:element name="FacilityUserDefinedField4" type="icis:StringMin1Max30Type"/>
	<xsd:element name="FacilityUserDefinedField5" type="icis:StringMin1Max30Type"/>
	<xsd:element name="FederalAgencyCode" type="icis:StringMin1Max5Type"/>
	<xsd:element name="FederalFacilityIdentificationNumber" type="icis:StringMin1Max12Type"/>
	<xsd:element name="OriginatingProgramsCode" type="icis:StringMin1Max9Type"/>
	<xsd:element name="PolicyCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="SectionTownshipRange" type="icis:StringMin1Max50Type"/>
	<xsd:element name="TribalLandCode" type="icis:StringMin1Max4Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="FacilityData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:Facility"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Facility">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:group ref="icis:FacilityLocationAddressGroup" minOccurs="0"/>
					<xsd:element ref="icis:StateFacilityIdentifier" minOccurs="0"/>
					<xsd:element ref="icis:StateRegionCode" minOccurs="0"/>
					<xsd:element ref="icis:FacilityCongressionalDistrictNumber" minOccurs="0"/>
					<xsd:element ref="icis:FacilityClassification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:FacilitySmallBusinessIndicator" minOccurs="0"/>
					<xsd:element ref="icis:PolicyCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:OriginatingProgramsCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:FacilityTypeOfOwnershipCode" minOccurs="0"/>
					<xsd:element ref="icis:FederalFacilityIdentificationNumber" minOccurs="0"/>
					<xsd:element ref="icis:FederalAgencyCode" minOccurs="0"/>
					<xsd:element ref="icis:FacilityEnvironmentalJusticeCode" minOccurs="0"/>
					<xsd:element ref="icis:TribalLandCode" minOccurs="0"/>
					<xsd:element ref="icis:ConstructionProjectName" minOccurs="0"/>
					<xsd:element ref="icis:ConstructionProjectLatitudeMeasure" minOccurs="0"/>
					<xsd:element ref="icis:ConstructionProjectLongitudeMeasure" minOccurs="0"/>
					<xsd:element ref="icis:SICCodeDetails" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:NAICSCodeDetails" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:SectionTownshipRange" minOccurs="0"/>
					<xsd:element ref="icis:FacilityComments" minOccurs="0"/>
					<xsd:element ref="icis:FacilityUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:FacilityUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:FacilityUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:FacilityUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:FacilityUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:FacilityContact" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:GeographicCoordinates" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FacilityContact">
		<xsd:sequence>
			<xsd:element ref="icis:Contact"/>
			<xsd:element ref="icis:ContactAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
