dotnet/plugins/ICISNPDES_15/xml_schema/5/ICIS_CAFO_Annual_Report_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_CAFO_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_CAFO_Annual_Report_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: CAFO annual report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="CAFOAnnualReport" type="icis:CAFOAnnualReport"/>
	<xsd:element name="TotalNumberAcresNMPIdentified" type="icis:NonNegativeIntegerMin1Max6Type"/>
	<xsd:element name="TotalNumberAcresUsedLandApplication" type="icis:NonNegativeIntegerMin1Max6Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="CAFOAnnualReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:CAFOAnnualReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CAFOAnnualReport">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PermittingAuthorityReportReceivedDate"/>
					<xsd:element ref="icis:DischargesDuringYearFromProductionAreaIndicator" minOccurs="0"/>
					<xsd:element ref="icis:ReportedAnimalType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:group ref="icis:AnimalNMPLitterGroup" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberAcresNMPIdentified" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberAcresUsedLandApplication" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
