dotnet/plugins/ICISNPDES_15/xml_schema/5/ICIS_Compliance_Monitoring_Linkage_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Compliance_Monitoring_Linkage_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: enforcement action and inspection linkages data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="ComplianceMonitoringLinkage" type="icis:ComplianceMonitoringLinkage"/>
	<xsd:element name="LinkageToBiosolidsReport" type="icis:LinkageToBiosolidsReport"/>
	<xsd:element name="LinkageToCAFOAnnualReport" type="icis:LinkageToCAFOAnnualReport"/>
	<xsd:element name="LinkageToCSOEventReport" type="icis:LinkageToCSOEventReport"/>
	<xsd:element name="LinkageToEnforcementAction" type="icis:LinkageToEnforcementAction"/>
	<xsd:element name="LinkageToLocalLimitsReport" type="icis:LinkageToLocalLimitsReport"/>
	<xsd:element name="LinkageToOtherInspection" type="icis:LinkageToOtherInspection"/>
	<xsd:element name="LinkageToPretreatmentPerformanceReport" type="icis:LinkageToPretreatmentPerformanceReport"/>
	<xsd:element name="LinkageToSingleEvent" type="icis:LinkageToSingleEvent"/>
	<xsd:element name="LinkageToSSOAnnualReport" type="icis:LinkageToSSOAnnualReport"/>
	<xsd:element name="LinkageToSSOEventReport" type="icis:LinkageToSSOEventReport"/>
	<xsd:element name="LinkageToSSOMonthlyEventReport" type="icis:LinkageToSSOMonthlyEventReport"/>
	<xsd:element name="LinkageToSWEventReport" type="icis:LinkageToSWEventReport"/>
	<xsd:element name="LinkageToSWMS4Report" type="icis:LinkageToSWMS4Report"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="ComplianceMonitoringLinkageData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:ComplianceMonitoringLinkage"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplianceMonitoringLinkage">
		<xsd:complexContent>
			<xsd:extension base="icis:ProgramInspectionKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:LinkageToSingleEvent" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToEnforcementAction" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToBiosolidsReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToCAFOAnnualReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToCSOEventReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToLocalLimitsReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToPretreatmentPerformanceReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToSSOEventReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToSSOMonthlyEventReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToSSOAnnualReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToSWEventReport" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToSWMS4Report" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:LinkageToOtherInspection" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LinkageToSingleEvent">
		<xsd:sequence>
			<xsd:element ref="icis:SingleEventViolationCode"/>
			<xsd:element ref="icis:SingleEventViolationDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToEnforcementAction">
		<xsd:sequence>
			<xsd:element ref="icis:EnforcementActionIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToBiosolidsReport">
		<xsd:sequence>
			<xsd:element ref="icis:ReportCoverageEndDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToCAFOAnnualReport">
		<xsd:sequence>
			<xsd:element ref="icis:PermittingAuthorityReportReceivedDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToCSOEventReport">
		<xsd:sequence>
			<xsd:element ref="icis:CSOEventDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToLocalLimitsReport">
		<xsd:sequence>
			<xsd:element ref="icis:PermittingAuthorityReportReceivedDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToPretreatmentPerformanceReport">
		<xsd:sequence>
			<xsd:element ref="icis:PretreatmentPerformanceSummaryEndDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToSSOEventReport">
		<xsd:sequence>
			<xsd:element ref="icis:SSOEventDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToSSOMonthlyEventReport">
		<xsd:sequence>
			<xsd:element ref="icis:SSOMonthlyReportReceivedDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToSSOAnnualReport">
		<xsd:sequence>
			<xsd:element ref="icis:SSOAnnualReportReceivedDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToSWEventReport">
		<xsd:sequence>
			<xsd:element ref="icis:DateStormEventSampled"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToSWMS4Report">
		<xsd:sequence>
			<xsd:element ref="icis:StormWaterMS4ReportReceivedDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LinkageToOtherInspection">
		<xsd:complexContent>
			<xsd:extension base="icis:ComplianceMonitoringKeyElements"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
