java/Wnos_Plugin/resources/here/xsd/CAFO_v1.0/CAFO_Facility_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" xmlns:cafo="http://www.exchangenetwork.net/schema/CAFO/1_0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name:CAFO_Facility_v1.0</xsd:documentation>
		<xsd:documentation>Current Version Available:  </xsd:documentation>
		<xsd:documentation>Description: Region 4 Pilot CAFO Schema</xsd:documentation>
		<xsd:documentation>Application: CAFO-Region 4</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/CoryWagner</xsd:documentation>
		<xsd:documentation>Data Written: December 2005</xsd:documentation>
		<xsd:documentation>Last Date Modified:02-06-2006</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:include schemaLocation="CAFO_AnimalType_v1.0.xsd"/>
	<xsd:include schemaLocation="CAFO_GeographicLocationDescription_V1.0.xsd"/>
	<xsd:include schemaLocation="CAFO_RegulatoryDetails_v1.0.xsd"/>
	<xsd:include schemaLocation="CAFO_LocationAddress_v1.0.xsd"/>
	<xsd:element name="Facility" type="cafo:FacilityDataType"/>
	<xsd:complexType name="FacilityDataType">
		<xsd:sequence>
			<xsd:element ref="cafo:FacilityRegistryIdentifier" minOccurs="0"/>
			<xsd:element ref="cafo:StateFacilityIdentifier" minOccurs="0"/>
			<xsd:element ref="cafo:FacilitySiteName" minOccurs="0"/>
			<xsd:element ref="cafo:FacilityAlternativeName" minOccurs="0"/>
			<xsd:element ref="cafo:FacilityInformationURL" minOccurs="0"/>
			<xsd:element ref="cafo:LocationAddress" minOccurs="0"/>
			<xsd:element ref="cafo:GeographicLocationDescription" minOccurs="0"/>
			<xsd:element ref="cafo:RegulatoryDetails" minOccurs="0"/>
			<xsd:element ref="cafo:AnimalType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FacilityRegistryIdentifier" type="sc:FacilitySiteIdentifierDataType"/>
	<xsd:element name="StateFacilityIdentifier" type="sc:FacilitySiteIdentifierDataType"/>
	<xsd:element name="FacilitySiteName" type="sc:FacilitySiteNameDataType"/>
	<xsd:element name="FacilityAlternativeName" type="sc:FacilitySiteNameDataType"/>
	<xsd:element name="FacilityInformationURL" type="xsd:string"/>
</xsd:schema>
