prod-opennode2-net/plugins/CERS_12/xml_schema/2/CER_Affiliation_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_Affiliation_v1.2.xsd
        Current Version Available At : http://www.exchangenetwork.net/schema/cer/1/2/CER_Affiliation_v1.2.xsd
        Description   : Identifies the relationship between the facility site, a quality finding, or an individual and an organization.
        Developed by  : 	 Perrin Quarles Associates, Inc.
        Point of Contact : Perrin Quarles Associates, Inc.	
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_Organization_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_Individual_v1.2.xsd"/>
	<xsd:complexType name="AffiliationDataType">
		<xsd:sequence>
			<xsd:element ref="cer:AffiliationTypeCode"/>
			<xsd:element ref="cer:AffiliationStartDate" minOccurs="0"/>
			<xsd:element ref="cer:AffiliationEndDate" minOccurs="0"/>
			<xsd:element ref="cer:AffiliationOrganization" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:AffiliationIndividual" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FacilitySiteAffiliation" type="cer:AffiliationDataType"/>
	<xsd:element name="QualityFindingAffiliation" type="cer:AffiliationDataType"/>
</xsd:schema>
