prod-opennode2-net/plugins/CERS_12/xml_schema/2/CER_QualityIdentification_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_QualityIdentification_v1.2.xsd
        Current Version Available At : http://www.exchangenetwork.net/schema/cer/1/2/CER_QualityIdentification_v1.2.xsd
        Description   : Identifies the quality findings applicable to a facility site, emissions unit activity, or a reporting period for which emissions have been reported.
        Developed by  : 	 Perrin Quarles Associates, Inc.
        Point of Contact :  Perrin Quarles Associates, Inc.
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v1.2.xsd"/>
	<xsd:complexType name="QualityIdentificationDataType">
		<xsd:sequence>
			<xsd:element ref="cer:QualityIdentifier"/>
			<xsd:element ref="cer:ProgramSystemCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UnitQualityIdentification" type="cer:QualityIdentificationDataType"/>
	<xsd:element name="FacilitySiteQualityIdentification" type="cer:QualityIdentificationDataType"/>
	<xsd:element name="ReportingPeriodQualityIdentification" type="cer:QualityIdentificationDataType"/>
</xsd:schema>
