prod-opennode2-net/plugins/CERS_12/xml_schema/2/CER_ControlApproach_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_ControlApproach_v1.2.xsd
        Current Version Available At : http://www.exchangenetwork.net/schema/cer/1/2/CER_ControlApproach_v1.2.xsd
        Description   : Identifies the overall control system or approach, including capture effectiveness, where applied at an emissions unit activity or process to reduce the amount of pollutants released into the environment.
        Developed by  : 	Perrin Quarles Associates, Inc.
        Point of Contact : Perrin Quarles Associates, Inc. 		
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_ControlMeasure_v1.2.xsd"/>
	<xsd:include schemaLocation="CER_ControlPollutant_v1.2.xsd"/>
	<xsd:complexType name="ControlApproachDataType">
		<xsd:sequence>
			<xsd:element ref="cer:ControlApproachDescription" minOccurs="0"/>
			<xsd:element ref="cer:PercentControlApproachCaptureEfficiency" minOccurs="0"/>
			<xsd:element ref="cer:PercentControlApproachEffectiveness" minOccurs="0"/>
			<xsd:element ref="cer:PercentControlApproachPenetration" minOccurs="0"/>
			<xsd:element ref="cer:FirstInventoryYear" minOccurs="0"/>
			<xsd:element ref="cer:LastInventoryYear" minOccurs="0"/>
			<xsd:element ref="cer:ControlApproachComment" minOccurs="0"/>
			<xsd:element ref="cer:ControlMeasure" maxOccurs="unbounded"/>
			<xsd:element ref="cer:ControlPollutant" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ProcessControlApproach" type="cer:ControlApproachDataType"/>
	<xsd:element name="UnitControlApproach" type="cer:ControlApproachDataType"/>
</xsd:schema>
