java/node-plugin/node-plugin-ic/src/main/xsd/1/0/IC_Instrument_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:IC="http://www.exchangenetwork.net/schema/IC/1" targetNamespace="http://www.exchangenetwork.net/schema/IC/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="IC_Contaminant_v1.0.xsd"/>
	<xsd:include schemaLocation="IC_DataSource_v1.0.xsd"/>
	<xsd:include schemaLocation="IC_EngineeringControl_v1.0.xsd"/>
	<xsd:include schemaLocation="IC_Event_v1.0.xsd"/>
	<xsd:include schemaLocation="IC_Instrument_v1.0.xsd"/>
	<xsd:include schemaLocation="IC_Resource_v1.0.xsd"/>
	<xsd:include schemaLocation="IC_RecurringEvent_v1.0.xsd"/>
	<xsd:include schemaLocation="IC_UseRestriction_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Schema Name: IC_Instrument_v1.0.xsd
			Current Version Available At: http://www.exchangenetwork.net/
			Description: Describes an instututional control or non-engineered instrument.
			Developed by: Windsor Solutions, Inc.
	        Point of Contact: ECOS
	        Last Modified by: Windsor Solutions, Inc.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Instrument" type="IC:InstrumentDataType">
		<xsd:annotation>
			<xsd:documentation>Describes an instututional control or non-engineered instrument.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InstrumentLocation" type="IC:InstrumentLocationDataType">
		<xsd:annotation>
			<xsd:documentation>A location where an IC Instrument applies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InstrumentAffiliate" type="IC:InstrumentAffiliateDataType">
		<xsd:annotation>
			<xsd:documentation>A person or organization that relates to an IC Instrument.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InstrumentDataType">
		<xsd:sequence>
			<xsd:element ref="IC:DataSource"/>
			<xsd:element ref="IC:InstrumentIdentifier"/>
			<xsd:element ref="IC:InstrumentName"/>
			<xsd:element ref="IC:InstrumentCategoryCode" minOccurs="0"/>
			<xsd:element ref="IC:OtherInstrumentCategoryText" minOccurs="0"/>
			<xsd:element ref="IC:InstrumentTypeCode" minOccurs="0"/>
			<xsd:element ref="IC:OtherInstrumentTypeText" minOccurs="0"/>
			<xsd:element ref="IC:InstrumentLegalDescriptionText" minOccurs="0"/>
			<xsd:element ref="IC:InstrumentLocation" maxOccurs="unbounded"/>
			<xsd:element ref="IC:ObjectiveText" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:MediaTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:OtherMediaTypeText" minOccurs="0"/>
			<xsd:element ref="IC:UseRestriction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:Contaminant" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:EngineeringControl" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:InstrumentAffiliate" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:Resource" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:RecurringEvent" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="IC:Event" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InstrumentLocationDataType">
		<xsd:sequence>
			<xsd:element ref="IC:LocationIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InstrumentAffiliateDataType">
		<xsd:sequence>
			<xsd:element ref="IC:AffiliateIdentifier"/>
			<xsd:element ref="IC:AffiliationTypeCode" maxOccurs="unbounded"/>
			<xsd:element ref="IC:OtherAffiliationTypeText" minOccurs="0"/>
			<xsd:element ref="IC:AffiliationStartDate" minOccurs="0"/>
			<xsd:element ref="IC:AffiliationEndDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
