java/node-plugin/node-plugin-icisnpdes/src/main/xsd/6/ICIS_SW_v5.6a_draft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	<xsd:include schemaLocation="ICIS_Address_v5.6a_draft.xsd"/>
	<xsd:include schemaLocation="ICIS_Permit_v5.6a_draft.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_SW_v5.6a_draft.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES stormwater shared data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: Joe Carioti, U.S. EPA</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2016-08-09</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ActivitiesExposedSWText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="AssociatedPollutantsText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="CompleteNOIReceivedDate" type="icis:DateType"/>
	<xsd:element name="ConstructionSiteList" type="icis:ConstructionSiteList"/>
	<xsd:element name="ControlMeasuresText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="CorrectiveActionSummaryText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="EstimatedAreaDisturbedAcresNumber" type="icis:DecimalRange0To99999999.99Type"/>
	<xsd:element name="EstimatedCompleteDate" type="icis:DateType"/>
	<xsd:element name="EstimatedStartDate" type="icis:DateType"/>
	<xsd:element name="FacilityInspectionSummaryText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="FederalCERCLADischargeIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="GPCFNoticeOfIntent" type="icis:GPCFNoticeOfIntent"/>
	<xsd:element name="GPCFNoticeOfTermination" type="icis:GPCFNoticeOfTermination"/>
	<xsd:element name="HistoricPropertyCriterionMetCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="HistoricPropertyIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="ImpairedWaterIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="IndustrialActivitySize" type="icis:DecimalRange0To99999999.99Type"/>
	<xsd:element name="LegalEntityTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="MajorOutfallEstimatedMeasureIndicator" type="icis:EstimatedMeasuredType"/>
	<xsd:element name="MajorOutfallNumber" type="icis:NonNegativeIntegerMin1Max5Type"/>
	<xsd:element name="MinorOutfallEstimatedMeasureIndicator" type="icis:EstimatedMeasuredType"/>
	<xsd:element name="MinorOutfallNumber" type="icis:NonNegativeIntegerMin1Max5Type"/>
	<xsd:element name="MS4AcreageCoveredNumber" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="MS4AnnualExpenditureDollars" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="MS4AnnualExpenditureYear" type="icis:IntegerRange1970To2099Type"/>
	<xsd:element name="MS4BudgetDollars" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="MS4BudgetYear" type="icis:IntegerRange1970To2099Type"/>
	<xsd:element name="MS4PermitClassCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="MS4PopulationServedNumber" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="MS4TypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="NoFurtherReductionSummaryText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="NOIPostmarkDate" type="icis:DateType"/>
	<xsd:element name="NOIReceivedDate" type="icis:DateType"/>
	<xsd:element name="NOISignatureDate" type="icis:DateType"/>
	<xsd:element name="NOTPostmarkDate" type="icis:DateType"/>
	<xsd:element name="NOTReceivedDate" type="icis:DateType"/>
	<xsd:element name="NOTSignatureDate" type="icis:DateType"/>
	<xsd:element name="NOTTerminationDate" type="icis:DateType"/>
	<xsd:element name="PriorSurveysEvaluationsIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="ProjectSourcesOfFundingCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="ProjectedSourcesFundingCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="ProjectPlanSizeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="ProjectType" type="icis:ProjectType"/>
	<xsd:element name="ProjectTypeCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="ProjectTypeCodeOtherDescription" type="icis:StringMin1Max50Type"/>
	<xsd:element name="ReceivingMS4Name" type="icis:StringMin1Max50Type"/>
	<xsd:element name="ScheduleControlMeasuresText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="SpeciesCriticalHabitatIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="SpeciesCriterionMetCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="StateWaterBodyName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="SubsectorCodePlusDescription" type="icis:StringMin1Max304Type"/>
	<xsd:element name="SubsurfaceEarthDisturbanceControlIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="SubsurfaceEarthDisturbanceIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="TierTwoIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="TierThreeIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="TMDLCompletedIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="UrbanizedAreaIncorporatedPlaceName" type="icis:StringMin1Max50Type"/>
	<xsd:element name="VisualAssessmentSummaryText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="WebAddressURL" type="icis:StringMin1Max100Type"/>
	<xsd:element name="StructureDemolishedIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="StructureDemolishedFloorSpaceIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="PredevelopmentLandUseIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="EarthDisturbingActivitiesIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="EarthDisturbingEmergencyIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="PreviousStormwaterDischargesIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="CGPIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="MS4DischargeIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="WaterProximityIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="TreatmentChemicalsIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="CationicChemicalsIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="CationicChemicalsAuthorizationIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="TreatmentChemicalsList" type="icis:TreatmentChemicalsList"/>
	<xsd:element name="TreatmentChemicalName" type="icis:StringMin1Max2000TypeRejectSingleAsterisk"/>
	<xsd:element name="ConstructionSiteCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="ConstructionSiteOtherText" type="icis:StringMin1Max100Type"/>
	<xsd:element name="SWPPPPreparedIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="AntidegradationIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:complexType name="GPCFNoticeOfIntent">
		<xsd:sequence>
			<xsd:element ref="icis:NOISignatureDate" minOccurs="0"/>
			<xsd:element ref="icis:NOIPostmarkDate" minOccurs="0"/>
			<xsd:element ref="icis:NOIReceivedDate" minOccurs="0"/>
			<xsd:element ref="icis:CompleteNOIReceivedDate" minOccurs="0"/>
			<xsd:element ref="icis:SubsectorCodePlusDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:FederalCERCLADischargeIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GPCFNoticeOfTermination">
		<xsd:sequence>
			<xsd:element ref="icis:NOTTerminationDate" minOccurs="0"/>
			<xsd:element ref="icis:NOTSignatureDate" minOccurs="0"/>
			<xsd:element ref="icis:NOTPostmarkDate" minOccurs="0"/>
			<xsd:element ref="icis:NOTReceivedDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProjectType">
		<xsd:sequence>
			<xsd:element ref="icis:ProjectTypeCode"/>
			<xsd:element ref="icis:ProjectTypeCodeOtherDescription" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConstructionSiteList">
		<xsd:sequence>
			<xsd:element ref="icis:ConstructionSiteCode" maxOccurs="unbounded"/>
			<xsd:element ref="icis:ConstructionSiteOtherText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreatmentChemicalsList">
		<xsd:sequence>
			<xsd:element ref="icis:TreatmentChemicalName" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="StormWaterIndustrialPollutionPreventionPlanGroup">
		<xsd:sequence>
			<xsd:element ref="icis:WebAddressURL" minOccurs="0"/>
			<xsd:element ref="icis:ActivitiesExposedSWText" minOccurs="0"/>
			<xsd:element ref="icis:AssociatedPollutantsText" minOccurs="0"/>
			<xsd:element ref="icis:ControlMeasuresText" minOccurs="0"/>
			<xsd:element ref="icis:ScheduleControlMeasuresText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterBodyGroup">
		<xsd:sequence>
			<xsd:element ref="icis:StateWaterBodyName" minOccurs="0"/>
			<xsd:element ref="icis:ReceivingMS4Name" minOccurs="0"/>
			<xsd:element ref="icis:ImpairedWaterIndicator" minOccurs="0"/>
			<xsd:element ref="icis:HistoricPropertyIndicator" minOccurs="0"/>
			<xsd:element ref="icis:HistoricPropertyCriterionMetCode" minOccurs="0"/>
			<xsd:element ref="icis:SpeciesCriticalHabitatIndicator" minOccurs="0"/>
			<xsd:element ref="icis:SpeciesCriterionMetCode" minOccurs="0"/>
			<xsd:element ref="icis:IndustrialActivitySize" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterConstructionInspectionGroup">
		<xsd:sequence>
			<xsd:element ref="icis:ProjectType" minOccurs="0"/>
			<xsd:element ref="icis:EstimatedStartDate" minOccurs="0"/>
			<xsd:element ref="icis:EstimatedCompleteDate" minOccurs="0"/>
			<xsd:element ref="icis:EstimatedAreaDisturbedAcresNumber" minOccurs="0"/>
			<xsd:element ref="icis:ProjectPlanSizeCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterConstructionPermitComponentGroup">
		<xsd:sequence>
			<xsd:element ref="icis:ConstructionSiteList" minOccurs="0"/>
			<xsd:element ref="icis:ProjectTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:EstimatedStartDate" minOccurs="0"/>
			<xsd:element ref="icis:EstimatedCompleteDate" minOccurs="0"/>
			<xsd:element ref="icis:EstimatedAreaDisturbedAcresNumber" minOccurs="0"/>
			<xsd:element ref="icis:ProjectPlanSizeCode" minOccurs="0"/>
			<xsd:element ref="icis:StructureDemolishedIndicator" minOccurs="0"/>
			<xsd:element ref="icis:StructureDemolishedFloorSpaceIndicator" minOccurs="0"/>
			<xsd:element ref="icis:PredevelopmentLandUseIndicator" minOccurs="0"/>
			<xsd:element ref="icis:EarthDisturbingActivitiesIndicator" minOccurs="0"/>
			<xsd:element ref="icis:EarthDisturbingEmergencyIndicator" minOccurs="0"/>
			<xsd:element ref="icis:PreviousStormwaterDischargesIndicator" minOccurs="0"/>
			<xsd:element ref="icis:OtherPermitIdentifier" minOccurs="0"/>
			<xsd:element ref="icis:CGPIndicator" minOccurs="0"/>
			<xsd:element ref="icis:MS4DischargeIndicator" minOccurs="0"/>
			<xsd:element ref="icis:WaterProximityIndicator" minOccurs="0"/>
			<xsd:element ref="icis:AntidegradationIndicator" minOccurs="0"/>
			<xsd:element ref="icis:TreatmentChemicalsIndicator" minOccurs="0"/>
			<xsd:element ref="icis:CationicChemicalsIndicator" minOccurs="0"/>
			<xsd:element ref="icis:CationicChemicalsAuthorizationIndicator" minOccurs="0"/>
			<xsd:element ref="icis:TreatmentChemicalsList" minOccurs="0"/>
			<xsd:element ref="icis:SWPPPPreparedIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterFundingGroup">
		<xsd:sequence>
			<xsd:element ref="icis:MS4AnnualExpenditureDollars" minOccurs="0"/>
			<xsd:element ref="icis:MS4AnnualExpenditureYear" minOccurs="0"/>
			<xsd:element ref="icis:MS4BudgetDollars" minOccurs="0"/>
			<xsd:element ref="icis:MS4BudgetYear" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterFundingSourceGroup">
		<xsd:sequence>
			<xsd:element ref="icis:ProjectedSourcesFundingCode" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterProjectFundingSourceGroup">
		<xsd:sequence>
			<xsd:element ref="icis:ProjectSourcesOfFundingCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterMS4Group">
		<xsd:sequence>
			<xsd:element ref="icis:LegalEntityTypeCode" minOccurs="0"/>
			<xsd:element ref="icis:MS4PermitClassCode" minOccurs="0"/>
			<xsd:element ref="icis:MS4TypeCode" minOccurs="0"/>
			<xsd:element ref="icis:MS4AcreageCoveredNumber" minOccurs="0"/>
			<xsd:element ref="icis:MS4PopulationServedNumber" minOccurs="0"/>
			<xsd:element ref="icis:UrbanizedAreaIncorporatedPlaceName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterMS4OutfallEstimateGroup">
		<xsd:sequence>
			<xsd:element ref="icis:MajorOutfallEstimatedMeasureIndicator" minOccurs="0"/>
			<xsd:element ref="icis:MajorOutfallNumber" minOccurs="0"/>
			<xsd:element ref="icis:MinorOutfallEstimatedMeasureIndicator" minOccurs="0"/>
			<xsd:element ref="icis:MinorOutfallNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterContactGroup">
		<xsd:sequence>
			<xsd:element ref="icis:StormWaterContact" minOccurs="0"/>
			<xsd:element ref="icis:StormWaterAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="StormWaterIndustrialAnnualReportGroup">
		<xsd:sequence>
			<xsd:element ref="icis:FacilityInspectionSummaryText" minOccurs="0"/>
			<xsd:element ref="icis:VisualAssessmentSummaryText" minOccurs="0"/>
			<xsd:element ref="icis:NoFurtherReductionSummaryText" minOccurs="0"/>
			<xsd:element ref="icis:CorrectiveActionSummaryText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="HistoricPreservationGroup">
		<xsd:sequence>
			<xsd:element ref="icis:SubsurfaceEarthDisturbanceIndicator" minOccurs="0"/>
			<xsd:element ref="icis:PriorSurveysEvaluationsIndicator" minOccurs="0"/>
			<xsd:element ref="icis:SubsurfaceEarthDisturbanceControlIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
