prod-opennode2-net/plugins/PNWWQX/xsd/PNWWQX_MethodType_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:pnwwqx="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.3">	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_MethodType_v.1.3.xsd 		Current Version Available At :			Description : 					This schema defines the data elements needed to describe sample collection, preparation, preservation and analysis methods used as a means of determining water quality.		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)		</xsd:documentation>	</xsd:annotation>	<xsd:complexType name="MethodType">		<xsd:sequence>			<xsd:element ref="pnwwqx:MethodCode" minOccurs="0"/>			<xsd:element ref="pnwwqx:MethodContext" minOccurs="0"/>			<xsd:element ref="pnwwqx:MethodDescription" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="MethodCode" type="xsd:string"/>	<xsd:element name="MethodContext" type="xsd:string"/>	<xsd:element name="MethodDescription" type="xsd:string"/></xsd:schema>