prod-opennode2-net/plugins/PNWWQX/xsd/PNWWQX_MailingAddressType_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:pnwwqx="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.3">	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_MailingAddressType_v.1.3.xsd 		Current Version Available At :			Description : 					This schema defines the data elements needed to describe a mailing address.   NOTE: This schema may be supplanted in the future by a national standard schema.		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)		</xsd:documentation>	</xsd:annotation>	<xsd:complexType name="MailingAddressType">		<xsd:sequence>			<xsd:element ref="pnwwqx:MailingAddress" minOccurs="0"/>			<xsd:element ref="pnwwqx:MailingAddressCityName" minOccurs="0"/>			<xsd:element ref="pnwwqx:MailingAddressStateName" minOccurs="0"/>			<xsd:element ref="pnwwqx:MailingAddressZIPCode" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="MailingAddress" type="xsd:string"/>	<xsd:element name="MailingAddressCityName" type="xsd:string"/>	<xsd:element name="MailingAddressStateName" type="xsd:string"/>	<xsd:element name="MailingAddressZIPCode" type="xsd:string"/></xsd:schema>