prod-opennode2-net/plugins/PNWWQX/xsd/PNWWQX_wsdl_v.1.3.wsdl

<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:us:net:exchangenetwork" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="urn:us:net:exchangenetwork" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="urn:us:net:exchangenetwork">
			<s:element name="GetProjects">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="RowId" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="MaxRows" type="s:int"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectStartDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectEndDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationContactOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MaximumLocationLatitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MaximumLocationLongitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MinimumLocationLatitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MinimumLocationLongitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LocationDescriptorContext" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LocationDescriptorName" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationType" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SamplingOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="FieldEventStartDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="FieldEventEndDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SampledMedia" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="AnalyteName" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="TaxonomicName" type="s0:ArrayOfString"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetProjectsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PNWWQXProjects" type="s0:PNWWQXProjects"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PNWWQXProjects">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PNWWQXProjectsList" type="s0:PNWWQXProjectsList"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:complexType name="PNWWQXProjectsList">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationDetails" type="s0:ProvidingOrganizationDetails"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectDetails" type="s0:ProjectDetails_ForProjects"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ContactEntityDetails" type="s0:ContactEntityDetails"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ProvidingOrganizationDetails">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ProvidingOrganizationIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProvidingOrganizationName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProvidingOrganizationType" type="s0:EntityEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProvidingOrganizationContactName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationMailingAddress" type="s0:MailingAddressType"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProvidingOrganizationPhoneEmail" type="s0:PhoneEmailType"/>
					<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationURL" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="EntityEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Federal"/>
					<s:enumeration value="Tribal"/>
					<s:enumeration value="State or Provincial"/>
					<s:enumeration value="Local"/>
					<s:enumeration value="Public or Volunteer"/>
					<s:enumeration value="Non-profit"/>
					<s:enumeration value="Educational"/>
					<s:enumeration value="Commercial"/>
					<s:enumeration value="Other"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="MailingAddressType">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="MailingAddress" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="MailingAddressCityName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="MailingAddressStateName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="MailingAddressZIPCode" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="PhoneEmailType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="TelephoneNumber" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ElectronicMailAddressText" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ProjectDetails_ForProjects">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ProjectDetailsType" type="s0:ProjectDetailsType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectBinaryLargeObject" type="s0:BinaryLargeObjectType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectContact" type="s0:ProjectContactType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="Analyte" type="s0:AnalyteType"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ProjectDetailsType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectDescription" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectQAPPIndicator" type="s:boolean"/>
					<s:element minOccurs="0" maxOccurs="1" name="ProjectQAPPDescription" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectStartDate" type="s:date"/>
					<s:element minOccurs="0" maxOccurs="1" name="ProjectEndDate" type="s:date"/>
					<s:element minOccurs="0" maxOccurs="1" name="ProjectAreaDescription" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="BinaryLargeObjectType">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObject" type="s0:NodeDocument"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectURL" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectSize" type="s:nonNegativeInteger"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectTitleText" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectCreator" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectSubject" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectDescription" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectPublisher" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectContributor" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectDate" type="s:date"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectType" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectContentTypeText" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectIdentifierText" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectSource" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectLanguage" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectRelation" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectCoverage" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BinaryObjectRights" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="NodeDocument">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="Type" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="Content" type="s:base64Binary"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ProjectContactType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectContactIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="PrimaryDataSourceIndicator" type="s:boolean"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="AnalyteType">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="AnalyteIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="AnalyteName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="AnalyteContextName" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ContactEntityDetails">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ContactEntityIdentifier" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ContactOrganizationName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ContactEntityType" type="s0:ContactEntityEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="ContactIndividualName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ContactMailingAddress" type="s0:MailingAddressType"/>
					<s:element minOccurs="1" maxOccurs="1" name="ContactPhoneEmail" type="s0:PhoneEmailType"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="ContactEntityEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Federal"/>
					<s:enumeration value="Tribal"/>
					<s:enumeration value="State or Provincial"/>
					<s:enumeration value="Local"/>
					<s:enumeration value="Public or Volunteer"/>
					<s:enumeration value="Non-profit"/>
					<s:enumeration value="Educational"/>
					<s:enumeration value="Commercial"/>
					<s:enumeration value="Other"/>
					<s:enumeration value="Individual"/>
				</s:restriction>
			</s:simpleType>
			<s:element name="GetStations">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="RowId" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="MaxRows" type="s:int"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectStartDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectEndDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationContactOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MaximumLocationLatitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MaximumLocationLongitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MinimumLocationLatitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MinimumLocationLongitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LocationDescriptorContext" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LocationDescriptorName" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationType" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SamplingOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="FieldEventStartDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="FieldEventEndDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SampledMedia" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="AnalyteName" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="TaxonomicName" type="s0:ArrayOfString"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStationsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PNWWQXStations" type="s0:PNWWQXStations"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PNWWQXStations">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PNWWQXStationsList" type="s0:PNWWQXStationsList"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:complexType name="PNWWQXStationsList">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationDetails" type="s0:ProvidingOrganizationDetails"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="StationDetails" type="s0:StationDetails_ForStations"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectDetails" type="s0:ProjectDetails_ForStations"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ContactEntityDetails" type="s0:ContactEntityDetails"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="StationDetails_ForStations">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="StationDetailsType" type="s0:StationDetailsType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="StationBinaryLargeObject" type="s0:BinaryLargeObjectType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="StationProjectIdentifier" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="StationContactIdentifier" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="StationDetailsType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="StationIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StationName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="StationLocationDescription" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StationType" type="s0:StationTypeEnum"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="LocationDescriptor" type="s0:LocationDescriptorType"/>
					<s:element minOccurs="1" maxOccurs="1" name="LatitudeMeasure" type="s:decimal"/>
					<s:element minOccurs="1" maxOccurs="1" name="LongitudeMeasure" type="s:decimal"/>
					<s:element minOccurs="0" maxOccurs="1" name="HorizontalAccuracyMeasure" type="s:nonNegativeInteger"/>
					<s:element minOccurs="0" maxOccurs="1" name="SourceMapScaleNumber" type="s:nonNegativeInteger"/>
					<s:element minOccurs="0" maxOccurs="1" name="CoordinateDataSourceName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="HorizontalCollectionMethodText" type="s0:HorizontalCollectionMethodEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="HorizontalReferenceDatumName" type="s0:HorizontalReferenceDatumEnum"/>
					<s:element minOccurs="0" maxOccurs="1" name="ReferencePointText" type="s0:ReferencePointEnum"/>
					<s:element minOccurs="0" maxOccurs="1" name="VerticalMeasure" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="VerticalMeasureUnitofMeasure" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="VerticalAccuracyMeasure" type="s:nonNegativeInteger"/>
					<s:element minOccurs="0" maxOccurs="1" name="VerticalCollectionMethodText" type="s0:VerticalCollectionMethodEnum"/>
					<s:element minOccurs="0" maxOccurs="1" name="VerticalReferenceDatumName" type="s0:VerticalReferenceDatumEnum"/>
					<s:element minOccurs="0" maxOccurs="1" name="VerticalReferencePointContextText" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="WellDetail" type="s0:WellDetailType"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="StationTypeEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Estuary"/>
					<s:enumeration value="Groundwater"/>
					<s:enumeration value="Intertidal"/>
					<s:enumeration value="Lake or Pond"/>
					<s:enumeration value="Reservoir or Quarry"/>
					<s:enumeration value="Land"/>
					<s:enumeration value="Ocean"/>
					<s:enumeration value="Riparian Zone"/>
					<s:enumeration value="Source"/>
					<s:enumeration value="Spring"/>
					<s:enumeration value="Stream or River"/>
					<s:enumeration value="Wetland"/>
					<s:enumeration value="Other"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="LocationDescriptorType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="LocationDescriptorName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="LocationDescriptorContext" type="s0:LocationDescriptorContextEnum"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="LocationDescriptorContextEnum">
				<s:restriction base="s:string">
					<s:enumeration value="HUC"/>
					<s:enumeration value="Waterbody"/>
					<s:enumeration value="WRIA"/>
					<s:enumeration value="Aquifer"/>
					<s:enumeration value="NRCS ID"/>
					<s:enumeration value="Ecoregion"/>
					<s:enumeration value="LLID"/>
					<s:enumeration value="County"/>
					<s:enumeration value="State"/>
					<s:enumeration value="Congressional District"/>
					<s:enumeration value="ZIP Code"/>
					<s:enumeration value="Other"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HorizontalCollectionMethodEnum">
				<s:restriction base="s:string">
					<s:enumeration value="ADDRESS MATCHING-BLOCK FACE"/>
					<s:enumeration value="ADDRESS MATCHING-DIGITIZED"/>
					<s:enumeration value="ADDRESS MATCHING-HOUSE NUMBER"/>
					<s:enumeration value="ADDRESS MATCHING-NEAREST INTERSECTION"/>
					<s:enumeration value="ADDRESS MATCHING-OTHER"/>
					<s:enumeration value="ADDRESS MATCHING-PRIMARY NAME"/>
					<s:enumeration value="ADDRESS MATCHING-STREET CENTERLINE"/>
					<s:enumeration value="CENSUS BLOCK/GROUP-1990-CENTROID"/>
					<s:enumeration value="CENSUS BLOCK/TRACT-1990-CENTROID"/>
					<s:enumeration value="CENSUS BLOCK-1990-CENTROID"/>
					<s:enumeration value="CENSUS-OTHER"/>
					<s:enumeration value="CLASSICAL SURVEYING TECHNIQUES"/>
					<s:enumeration value="GPS - UNSPECIFIED"/>
					<s:enumeration value="GPS CARRIER PHASE KINEMATIC RELATIVE POSITION"/>
					<s:enumeration value="GPS CARRIER PHASE STATIC RELATIVE POSITION"/>
					<s:enumeration value="GPS CODE (PSEUDO RANGE) DIFFERENTIAL"/>
					<s:enumeration value="GPS CODE (PSEUDO RANGE) PRECISE POSITION"/>
					<s:enumeration value="GPS CODE (PSEUDO RANGE) STANDARD POSITION (SA OFF)"/>
					<s:enumeration value="GPS CODE (PSEUDO RANGE) STANDARD POSITION (SA ON)"/>
					<s:enumeration value="GPS, WITH CANADIAN ACTIVE CONTROL SYSTEM"/>
					<s:enumeration value="INTERPOLATION - DIGITAL MAP SRCE (TIGER)"/>
					<s:enumeration value="INTERPOLATION - SPOT"/>
					<s:enumeration value="INTERPOLATION -MSS"/>
					<s:enumeration value="INTERPOLATION -TM"/>
					<s:enumeration value="INTERPOLATION-MAP"/>
					<s:enumeration value="INTERPOLATION-OTHER"/>
					<s:enumeration value="INTERPOLATION-PHOTO"/>
					<s:enumeration value="INTERPOLATION-SATELLITE"/>
					<s:enumeration value="LORAN C"/>
					<s:enumeration value="PUBLIC LAND SURVEY - EIGHTH SECTION"/>
					<s:enumeration value="PUBLIC LAND SURVEY - FOOTING"/>
					<s:enumeration value="PUBLIC LAND SURVEY - SIXTEENTH SECTION"/>
					<s:enumeration value="PUBLIC LAND SURVEY-QUARTER SECTION"/>
					<s:enumeration value="PUBLIC LAND SURVEY-SECTION"/>
					<s:enumeration value="UNKNOWN"/>
					<s:enumeration value="ZIP CODE-CENTROID"/>
					<s:enumeration value="ZIP+2 CENTROID"/>
					<s:enumeration value="ZIP+4 CENTROID"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="HorizontalReferenceDatumEnum">
				<s:restriction base="s:string">
					<s:enumeration value="NAD27"/>
					<s:enumeration value="NAD83"/>
					<s:enumeration value="WGS84"/>
					<s:enumeration value="UNKNOWN"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ReferencePointEnum">
				<s:restriction base="s:string">
					<s:enumeration value="UNKNOWN"/>
					<s:enumeration value="PLANT ENTRANCE (GENERAL)"/>
					<s:enumeration value="OTHER"/>
					<s:enumeration value="PLANT ENTRANCE (PERSONNEL)"/>
					<s:enumeration value="PLANT ENTRANCE (FREIGHT)"/>
					<s:enumeration value="AIR RELEASE STACK"/>
					<s:enumeration value="AIR RELEASE VENT"/>
					<s:enumeration value="STORAGE TANK"/>
					<s:enumeration value="WATER RELEASE PIPE"/>
					<s:enumeration value="LAGOON OR SETTLING POND"/>
					<s:enumeration value="LIQUID WASTE TREATMENT UNIT"/>
					<s:enumeration value="ATMOSPHERIC EMISSIONS TREATMENT UNIT"/>
					<s:enumeration value="SOLID WASTE TREATMENT/DISP. UNIT"/>
					<s:enumeration value="SOLID WASTE STORAGE AREA"/>
					<s:enumeration value="LOADING FACILITY"/>
					<s:enumeration value="LOADING AREA CENTROID"/>
					<s:enumeration value="PROCESS UNIT"/>
					<s:enumeration value="PROCESS UNIT AREA CENTROID"/>
					<s:enumeration value="ADMINISTRATIVE BUILDING"/>
					<s:enumeration value="FACILITY CENTROID"/>
					<s:enumeration value="NE CORNER OF LAND PARCEL"/>
					<s:enumeration value="SE CORNER OF LAND PARCEL"/>
					<s:enumeration value="NW CORNER OF LAND PARCEL"/>
					<s:enumeration value="SW CORNER OF LAND PARCEL"/>
					<s:enumeration value="CENTER OF FACILITY"/>
					<s:enumeration value="WELLHEAD PROTECTION AREA"/>
					<s:enumeration value="WATER MONITORING STATION"/>
					<s:enumeration value="INTAKE PIPE"/>
					<s:enumeration value="WELL"/>
					<s:enumeration value="AIR MONITORING STATION"/>
					<s:enumeration value="WATER WELL"/>
					<s:enumeration value="SPRING"/>
					<s:enumeration value="SOURCE WATER AREA"/>
					<s:enumeration value="POTENTIAL CONTAMINANT SOURCE"/>
					<s:enumeration value="SOURCE WATER PROTECTION AREA"/>
					<s:enumeration value="SLUDGE FIELD"/>
					<s:enumeration value="INCINERATOR"/>
					<s:enumeration value="EMERGENCY OVERFLOW"/>
					<s:enumeration value="COMBINED ANIMAL FEED OPERATION (CAFO)"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="VerticalCollectionMethodEnum">
				<s:restriction base="s:string">
					<s:enumeration value="GPS CARRIER PHASE STATIC RELATIVE POSITION"/>
					<s:enumeration value="GPS CARRIER PHASE KINEMATIC RELATIVE POSITION"/>
					<s:enumeration value="GPS CODE (PSEUDO RANGE) DIFFERENTIAL"/>
					<s:enumeration value="GPS CODE (PSEUDO RANGE) PRECISE POSITION"/>
					<s:enumeration value="GPS CODE (PSEUDO RANGE) STANDARD POSITION (SA OFF)"/>
					<s:enumeration value="GPS CODE (PSEUDO RANGE) STANDARD POSITION (SA ON)"/>
					<s:enumeration value="CLASSICAL SURVEYING TECHNIQUES"/>
					<s:enumeration value="OTHER"/>
					<s:enumeration value="ALTIMETRY"/>
					<s:enumeration value="PRECISE LEVELING-BENCH MARK"/>
					<s:enumeration value="LEVELING-NON BENCH MARK CONTROL POINTS"/>
					<s:enumeration value="TRIGONOMETRIC LEVELING"/>
					<s:enumeration value="PHOTOGRAMMETRIC"/>
					<s:enumeration value="TOPOGRAPHIC MAP INTERPOLATION"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="VerticalReferenceDatumEnum">
				<s:restriction base="s:string">
					<s:enumeration value="NAD88"/>
					<s:enumeration value="NGVD29"/>
					<s:enumeration value="MEAN SEA-LEVEL"/>
					<s:enumeration value="LOCAL TIDAL DATUM"/>
					<s:enumeration value="OTHER"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="WellDetailType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="WellIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="WellIdentifierContext" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="WellDepthCompletionMeasure" type="s:decimal"/>
					<s:element minOccurs="0" maxOccurs="1" name="WellOpenIntervalType" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="WellDepthTopOpenIntervalMeasure" type="s:decimal"/>
					<s:element minOccurs="0" maxOccurs="1" name="WellDepthBottomOpenIntervalMeasure" type="s:decimal"/>
					<s:element minOccurs="0" maxOccurs="1" name="WellDepthUnitMeasureName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="WellDiameterMeasure" type="s:decimal"/>
					<s:element minOccurs="0" maxOccurs="1" name="WellDiameterUnitMeasureName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="WellStatus" type="s0:WellStatusEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="WellUse" type="s0:WellUseEnum"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="WellStatusEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Active"/>
					<s:enumeration value="Abandoned"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="WellUseEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Withdrawal of Water"/>
					<s:enumeration value="Waste Injection - Non Specific"/>
					<s:enumeration value="EPA Waste Injection: Class I"/>
					<s:enumeration value="EPA Waste Injection: Class II"/>
					<s:enumeration value="EPA Waste Injection: Class III"/>
					<s:enumeration value="EPA Waste Injection: Class IV"/>
					<s:enumeration value="EPA Waste Injection: Class V"/>
					<s:enumeration value="Standby Emergency Supply"/>
					<s:enumeration value="Test"/>
					<s:enumeration value="Observation"/>
					<s:enumeration value="Monitoring"/>
					<s:enumeration value="Geothermal"/>
					<s:enumeration value="Heat Reservoir"/>
					<s:enumeration value="Drainage"/>
					<s:enumeration value="Seismic"/>
					<s:enumeration value="Oil or Gas"/>
					<s:enumeration value="Mine"/>
					<s:enumeration value="Recharge"/>
					<s:enumeration value="Repressurization"/>
					<s:enumeration value="Anode"/>
					<s:enumeration value="Unused"/>
					<s:enumeration value="Destroyed"/>
					<s:enumeration value="Other"/>
					<s:enumeration value="Unknown"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="ProjectDetails_ForStations">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ProjectDetailsType" type="s0:ProjectDetailsType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectContact" type="s0:ProjectContactType"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetMeasurements">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="RowId" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="MaxRows" type="s:int"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectStartDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectEndDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationContactOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MaximumLocationLatitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MaximumLocationLongitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MinimumLocationLatitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MinimumLocationLongitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LocationDescriptorContext" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LocationDescriptorName" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationType" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SamplingOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="FieldEventStartDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="FieldEventEndDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SampledMedia" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="AnalyteName" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="TaxonomicName" type="s0:ArrayOfString"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetMeasurementsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PNWWQXMeasurements" type="s0:PNWWQXMeasurements"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PNWWQXMeasurements">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PNWWQXMeasurementsList" type="s0:PNWWQXMeasurementsList"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:complexType name="PNWWQXMeasurementsList">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationDetails" type="s0:ProvidingOrganizationDetails"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectDetails" type="s0:ProjectDetails_ForMeasurements"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="StationDetails" type="s0:StationDetails_ForMeasurements"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="FieldEventDetails" type="s0:FieldEventDetails"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ContactEntityDetails" type="s0:ContactEntityDetails"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ProjectDetails_ForMeasurements">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ProjectDetailsType" type="s0:ProjectDetailsType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectBinaryLargeObject" type="s0:BinaryLargeObjectType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectContact" type="s0:ProjectContactType"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="StationDetails_ForMeasurements">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="StationDetailsType" type="s0:StationDetailsType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="StationBinaryLargeObject" type="s0:BinaryLargeObjectType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="StationContactIdentifier" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="FieldEventDetails">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventDetailsType" type="s0:FieldEventDetailsType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="FieldEventLargeObject" type="s0:BinaryLargeObjectType"/>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventProjectIdentifier" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventStationIdentifier" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="FieldEventContactIdentifier" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ResultDetails" type="s0:ResultDetails"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="FieldEventDetailsType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="FieldEventStartDate" type="s:dateTime"/>
					<s:element minOccurs="1" maxOccurs="1" name="FieldEventStartTimeZone" type="s0:TimeZoneCodeEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="FieldEventEndDate" type="s:dateTime"/>
					<s:element minOccurs="1" maxOccurs="1" name="FieldEventEndTimeZone" type="s0:TimeZoneCodeEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="FieldEventTypeText" type="s0:ActivityEnum"/>
					<s:element minOccurs="0" maxOccurs="1" name="SampleIdentificationText" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="MediaText" type="s0:MediaTypeEnum"/>
					<s:element minOccurs="0" maxOccurs="1" name="Taxon" type="s0:TaxonType"/>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventUpperDepthMeasure" type="s:decimal"/>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventLowerDepthMeasure" type="s:decimal"/>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventDepthUnitMeasureName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventDepthComment" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventNotes" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="SampleCollectionMethod" type="s0:MethodType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="SamplePreparationMethod" type="s0:MethodType"/>
					<s:element minOccurs="1" maxOccurs="unbounded" name="SamplePreservationMethod" type="s0:MethodType"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="TimeZoneCodeEnum">
				<s:restriction base="s:string">
					<s:enumeration value="AST"/>
					<s:enumeration value="ADT"/>
					<s:enumeration value="EST"/>
					<s:enumeration value="EDT"/>
					<s:enumeration value="CST"/>
					<s:enumeration value="CDT"/>
					<s:enumeration value="MST"/>
					<s:enumeration value="MDT"/>
					<s:enumeration value="PST"/>
					<s:enumeration value="PDT"/>
					<s:enumeration value="KST"/>
					<s:enumeration value="KDT"/>
					<s:enumeration value="HST"/>
					<s:enumeration value="HDT"/>
					<s:enumeration value="SST"/>
					<s:enumeration value="SDT"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ActivityEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Routine In Situ Measurement/Observation"/>
					<s:enumeration value="Replicate In Situ Measurement/Observation"/>
					<s:enumeration value="Sample -- Routine Sample"/>
					<s:enumeration value="Sample -- Field Blank"/>
					<s:enumeration value="Sample -- Field Replicate"/>
					<s:enumeration value="Sample -- Depletion Replicate"/>
					<s:enumeration value="Sample -- Integrated Time Series"/>
					<s:enumeration value="Sample -- Integrate Flow Proportioned"/>
					<s:enumeration value="Sample -- Integrate Horizontal Profile"/>
					<s:enumeration value="Sample -- Integrated Vertical Profile"/>
					<s:enumeration value="Sample -- Composite Without Parents"/>
					<s:enumeration value="Sample -- Positive Control"/>
					<s:enumeration value="Sample -- Negative Control"/>
					<s:enumeration value="Sample -- Grab"/>
					<s:enumeration value="Sample -- Confirmation"/>
					<s:enumeration value="Sample -- Repeat"/>
					<s:enumeration value="Sample -- Noncompliance"/>
					<s:enumeration value="Sample -- Other"/>
					<s:enumeration value="Sample -- Continuous Monitoring Routine Sample"/>
					<s:enumeration value="Sample -- Continuous Monitoring Field Replicate"/>
					<s:enumeration value="Sample Created from Sample"/>
					<s:enumeration value="Composite Sample with Parents"/>
					<s:enumeration value="QC Sample -- Trip blank"/>
					<s:enumeration value="QC Sample -- Reagent Blank"/>
					<s:enumeration value="QC Sample -- Equipment Blank"/>
					<s:enumeration value="QC Sample -- Pre-preservative Blank"/>
					<s:enumeration value="QC Sample -- Post-preservative Blank"/>
					<s:enumeration value="QC Sample -- Field Spike"/>
					<s:enumeration value="QC Sample -- Field Blank"/>
					<s:enumeration value="QC Sample -- Reference Sample"/>
					<s:enumeration value="QC Sample -- Measurement Precision Sample"/>
					<s:enumeration value="QC Sample -- Blind Duplicate"/>
					<s:enumeration value="QC Sample -- Inter-lab split"/>
					<s:enumeration value="QC Sample -- Other"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MediaTypeEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Water"/>
					<s:enumeration value="Sediment"/>
					<s:enumeration value="Soil"/>
					<s:enumeration value="Biological (tissue)"/>
					<s:enumeration value="Biological (population)"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="TaxonType">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="BiologicalSystematicName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="BiologicalSystematicContextName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BiologicalSystematicIdentifier" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="MethodType">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="MethodCode" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="MethodContext" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="MethodDescription" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResultDetails">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ResultDetailsType" type="s0:ResultDetailsType"/>
					<s:element minOccurs="0" maxOccurs="1" name="ResultContactIdentifier" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ResultDetailsType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ResultValueMeasure" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ResultValueSignificantDigitsNumber" type="s:int"/>
					<s:element minOccurs="1" maxOccurs="1" name="ResultUnitMeasureName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ResultQualifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ResultAnalyte" type="s0:AnalyteType"/>
					<s:element minOccurs="0" maxOccurs="1" name="ResultTaxon" type="s0:TaxonType"/>
					<s:element minOccurs="1" maxOccurs="1" name="ResultQualityAssessment" type="s0:ResultQualityAssessmentEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="ResultStatus" type="s0:ResultStatusEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="ResultAvailabilityDescription" type="s0:ResultAvailabilityEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="ResultAnalyticalMethod" type="s0:MethodType"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ResultDetectionLevels" type="s0:DetectionQuantitationLevelType"/>
					<s:element minOccurs="1" maxOccurs="1" name="QAQCExceptionIndicator" type="s:boolean"/>
					<s:element minOccurs="0" maxOccurs="1" name="QAQCExceptionCommentText" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="ResultQualityAssessmentEnum">
				<s:restriction base="s:string">
					<s:enumeration value="A - Known good quality"/>
					<s:enumeration value="B - Known suspect quality"/>
					<s:enumeration value="C - Known unacceptable quality"/>
					<s:enumeration value="D - Sample collection failure"/>
					<s:enumeration value="E - Unknown quality"/>
					<s:enumeration value="F - Good quality non-representative sampling"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ResultStatusEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Preliminary - data has not been quality assured"/>
					<s:enumeration value="Final - data has been quality assured"/>
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="ResultAvailabilityEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Routine - No restrictions"/>
					<s:enumeration value="Agreement - Restricted by agreement between partners"/>
					<s:enumeration value="Civil - Restricted due to ongoing civil enforcement action"/>
					<s:enumeration value="Criminal - Restricted due to ongoing criminal enforcement action"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="DetectionQuantitationLevelType">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="DetectionQuantitationLevelMeasure" type="s:decimal"/>
					<s:element minOccurs="1" maxOccurs="1" name="DetectionQuantitationLevelTypeText" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="DetectionQuantitationLevelUnitMeasureName" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetDCReferenceData">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="RowId" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="MaxRows" type="s:int"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectStartDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="ProjectEndDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationContactOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MaximumLocationLatitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MaximumLocationLongitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MinimumLocationLatitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MinimumLocationLongitude" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LocationDescriptorContext" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="LocationDescriptorName" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationType" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="StationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SamplingOrganizationName" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="FieldEventStartDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="FieldEventEndDate" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SampledMedia" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="AnalyteName" type="s0:ArrayOfString"/>
						<s:element minOccurs="0" maxOccurs="1" name="TaxonomicName" type="s0:ArrayOfString"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetDCReferenceDataResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PNWWQXDataCatalog" type="s0:PNWWQXDataCatalog"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PNWWQXDataCatalog">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PNWWQXDataCatalogList" type="s0:PNWWQXDataCatalogList"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:complexType name="PNWWQXDataCatalogList">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ProvidingOrganizationDetails" type="s0:ProvidingOrganizationDetails"/>
					<s:element minOccurs="0" maxOccurs="1" name="DataAccess" type="s0:DataAccessDetails"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="ProjectSummary" type="s0:ProjectSummaryDetails"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="StationSummary" type="s0:StationSummaryDetails"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="FieldEventSummary" type="s0:FieldEventSummaryDetails"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="DataAccessDetails">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="DataSourceName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="DataSourceAccessMethod" type="s0:DataSourceAccessMethodEnum"/>
					<s:element minOccurs="0" maxOccurs="1" name="DataSourceLocation" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="AvailabilityDescription" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="RefreshDate" type="s:date"/>
				</s:sequence>
			</s:complexType>
			<s:simpleType name="DataSourceAccessMethodEnum">
				<s:restriction base="s:string">
					<s:enumeration value="Node"/>
					<s:enumeration value="Document"/>
					<s:enumeration value="On Request"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="ProjectSummaryDetails">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectStartDate" type="s:date"/>
					<s:element minOccurs="0" maxOccurs="1" name="ProjectEndDate" type="s:date"/>
					<s:element minOccurs="1" maxOccurs="1" name="ProjectContactOrganizationName" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="StationSummaryDetails">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="StationIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StationName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StationType" type="s0:StationTypeEnum"/>
					<s:element minOccurs="0" maxOccurs="unbounded" name="LocationDescriptor" type="s0:LocationDescriptorType"/>
					<s:element minOccurs="1" maxOccurs="1" name="LatitudeMeasure" type="s:decimal"/>
					<s:element minOccurs="1" maxOccurs="1" name="LongitudeMeasure" type="s:decimal"/>
					<s:element minOccurs="0" maxOccurs="1" name="StationContactOrganizationName" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="FieldEventSummaryDetails">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="MinFieldEventStartDate" type="s:date"/>
					<s:element minOccurs="1" maxOccurs="1" name="MaxFieldEventEndDate" type="s:date"/>
					<s:element minOccurs="1" maxOccurs="1" name="MediaText" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="BiologicalSystematicName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="AnalyteName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="NumberResults" type="s:nonNegativeInteger"/>
					<s:element minOccurs="1" maxOccurs="1" name="FieldEventProjectIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="FieldEventStationIdentifier" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="FieldEventContactOrganizationName" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetDCDataSources">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DataSourceName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetDCDataSourcesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PNWWQX_DC_DataSources" type="s0:PNWWQXDCDataSources"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PNWWQXDCDataSources">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PNWWQXDCDataSourceList" type="s0:PNWWQXDCDataSourceList"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:complexType name="PNWWQXDCDataSourceList">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ProvidingOrganizationDetails" type="s0:ProvidingOrganizationDetails"/>
					<s:element minOccurs="1" maxOccurs="1" name="DataAccess" type="s0:DataAccessDetails"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetDCStationsList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="StationName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetDCStationsListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PNWWQX_DC_Stations" type="s0:PNWWQXDCStations"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PNWWQXDCStations">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PNWWQXDCStationsList" type="s0:PNWWQXDCStationsList"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:complexType name="PNWWQXDCStationsList">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="ProvidingOrganizationIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StationIdentifier" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StationName" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="StationType" type="s0:StationTypeEnum"/>
					<s:element minOccurs="1" maxOccurs="1" name="LatitudeMeasure" type="s:decimal"/>
					<s:element minOccurs="1" maxOccurs="1" name="LongitudeMeasure" type="s:decimal"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetDCAnalyteNames">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="AnalyteName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetDCAnalyteNamesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PNWWQX_DC_Analytes" type="s0:PNWWQXDCAnalytes"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PNWWQXDCAnalytes">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="AnalyteName" type="s:string"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
			<s:element name="GetDCTaxonNames">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TaxonomicName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetDCTaxonNamesResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PNWWQX_DC_Taxon" type="s0:PNWWQXDCTaxon"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="PNWWQXDCTaxon">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="BiologicalSystematicName" type="s:string"/>
				</s:sequence>
				<s:anyAttribute/>
			</s:complexType>
		</s:schema>
	</types>
	<message name="GetProjectsSoapIn">
		<part name="parameters" element="s0:GetProjects"/>
	</message>
	<message name="GetProjectsSoapOut">
		<part name="parameters" element="s0:GetProjectsResponse"/>
	</message>
	<message name="GetStationsSoapIn">
		<part name="parameters" element="s0:GetStations"/>
	</message>
	<message name="GetStationsSoapOut">
		<part name="parameters" element="s0:GetStationsResponse"/>
	</message>
	<message name="GetMeasurementsSoapIn">
		<part name="parameters" element="s0:GetMeasurements"/>
	</message>
	<message name="GetMeasurementsSoapOut">
		<part name="parameters" element="s0:GetMeasurementsResponse"/>
	</message>
	<message name="GetDCReferenceDataSoapIn">
		<part name="parameters" element="s0:GetDCReferenceData"/>
	</message>
	<message name="GetDCReferenceDataSoapOut">
		<part name="parameters" element="s0:GetDCReferenceDataResponse"/>
	</message>
	<message name="GetDCDataSourcesSoapIn">
		<part name="parameters" element="s0:GetDCDataSources"/>
	</message>
	<message name="GetDCDataSourcesSoapOut">
		<part name="parameters" element="s0:GetDCDataSourcesResponse"/>
	</message>
	<message name="GetDCStationsListSoapIn">
		<part name="parameters" element="s0:GetDCStationsList"/>
	</message>
	<message name="GetDCStationsListSoapOut">
		<part name="parameters" element="s0:GetDCStationsListResponse"/>
	</message>
	<message name="GetDCAnalyteNamesSoapIn">
		<part name="parameters" element="s0:GetDCAnalyteNames"/>
	</message>
	<message name="GetDCAnalyteNamesSoapOut">
		<part name="parameters" element="s0:GetDCAnalyteNamesResponse"/>
	</message>
	<message name="GetDCTaxonNamesSoapIn">
		<part name="parameters" element="s0:GetDCTaxonNames"/>
	</message>
	<message name="GetDCTaxonNamesSoapOut">
		<part name="parameters" element="s0:GetDCTaxonNamesResponse"/>
	</message>
	<portType name="pnwwqxSoap">
		<operation name="GetProjects">
			<input message="s0:GetProjectsSoapIn"/>
			<output message="s0:GetProjectsSoapOut"/>
		</operation>
		<operation name="GetStations">
			<input message="s0:GetStationsSoapIn"/>
			<output message="s0:GetStationsSoapOut"/>
		</operation>
		<operation name="GetMeasurements">
			<input message="s0:GetMeasurementsSoapIn"/>
			<output message="s0:GetMeasurementsSoapOut"/>
		</operation>
		<operation name="GetDCReferenceData">
			<input message="s0:GetDCReferenceDataSoapIn"/>
			<output message="s0:GetDCReferenceDataSoapOut"/>
		</operation>
		<operation name="GetDCDataSources">
			<input message="s0:GetDCDataSourcesSoapIn"/>
			<output message="s0:GetDCDataSourcesSoapOut"/>
		</operation>
		<operation name="GetDCStationsList">
			<input message="s0:GetDCStationsListSoapIn"/>
			<output message="s0:GetDCStationsListSoapOut"/>
		</operation>
		<operation name="GetDCAnalyteNames">
			<input message="s0:GetDCAnalyteNamesSoapIn"/>
			<output message="s0:GetDCAnalyteNamesSoapOut"/>
		</operation>
		<operation name="GetDCTaxonNames">
			<input message="s0:GetDCTaxonNamesSoapIn"/>
			<output message="s0:GetDCTaxonNamesSoapOut"/>
		</operation>
	</portType>
	<binding name="pnwwqxSoap" type="s0:pnwwqxSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="GetProjects">
			<soap:operation soapAction="urn:us:net:exchangenetwork/getProjects" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStations">
			<soap:operation soapAction="urn:us:net:exchangenetwork/getStations" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetMeasurements">
			<soap:operation soapAction="urn:us:net:exchangenetwork/getMeasurements" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetDCReferenceData">
			<soap:operation soapAction="urn:us:net:exchangenetwork/GetDCReferenceData" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetDCDataSources">
			<soap:operation soapAction="urn:us:net:exchangenetwork/GetDCDataSources" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetDCStationsList">
			<soap:operation soapAction="urn:us:net:exchangenetwork/GetDCStationsList" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetDCAnalyteNames">
			<soap:operation soapAction="urn:us:net:exchangenetwork/GetDCAnalyteNames" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GetDCTaxonNames">
			<soap:operation soapAction="urn:us:net:exchangenetwork/GetDCTaxonNames" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="pnwwqx">
		<port name="pnwwqxSoap" binding="s0:pnwwqxSoap">
			<soap:address location="http://localhost/PNWDocLiteral/pnwwqx.asmx"/>
		</port>
	</service>
</definitions>
