prod-opennode2-net/plugins/PNWWQX/xsd/PNWWQX_AnalyteType_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:pnwwqx="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.3">	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_AnalyteType_v.1.3.xsd 		Current Version Available At :			Description : 					This schema defines the data elements needed to describe chemical, physical and microbiological analytes, characteristics or parameters that may be assessed as a means of monitoring water quality.		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)		</xsd:documentation>	</xsd:annotation>	<xsd:complexType name="AnalyteType">		<xsd:sequence>			<xsd:element ref="pnwwqx:AnalyteIdentifier" minOccurs="0"/>			<xsd:element ref="pnwwqx:AnalyteName"/>			<xsd:element ref="pnwwqx:AnalyteContextName"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="AnalyteIdentifier" type="xsd:string"/>	<xsd:element name="AnalyteName" type="xsd:string"/>	<xsd:element name="AnalyteContextName" type="xsd:string"/></xsd:schema>