dotnet/prod-opennode2-net/plugins/HERE/xml_schema/HERE/1/0/update_v1.1.xsd

<?xml version="1.0" encoding="utf-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by private (private) --><xs:schema targetNamespace="http://www.windsorsolutions.biz/xsd/here" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.windsorsolutions.biz/xsd/here" elementFormDefault="qualified">	<xs:element name="UpdateManifest" type="tns:UpdateManifest"/>	<xs:complexType name="UpdateManifest">		<xs:sequence>			<xs:element name="CurrentBuildNumber" type="xs:decimal"/>			<xs:element name="MsiUrl" type="xs:string"/>			<xs:element name="Message" type="xs:string"/>		</xs:sequence>		<xs:attribute name="schemaVersion" type="xs:string"/>		<xs:anyAttribute/>	</xs:complexType></xs:schema>