dotnet/prod-opennode2-net/plugins/PNWWQX/xsd/PNWWQX_ProjectDetailsType_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:pnwwqx="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.3">	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_ProjectDetailsType_v.1.3.xsd 		Current Version Available At :			Description : 					This schema defines the data elements to be shared through the Pacific Northwest Water Quality Data Exchange related to a monitoring project conducted to measure and assess the water quality.		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)			</xsd:documentation>	</xsd:annotation>	<xsd:complexType name="ProjectDetailsType">		<xsd:sequence>			<xsd:element ref="pnwwqx:ProjectIdentifier"/>			<xsd:element ref="pnwwqx:ProjectName"/>			<xsd:element ref="pnwwqx:ProjectDescription"/>			<xsd:element ref="pnwwqx:ProjectQAPPIndicator"/>			<xsd:element ref="pnwwqx:ProjectQAPPDescription" minOccurs="0"/>			<xsd:element ref="pnwwqx:ProjectStartDate"/>			<xsd:element ref="pnwwqx:ProjectEndDate" minOccurs="0"/>			<xsd:element ref="pnwwqx:ProjectAreaDescription" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="ProjectIdentifier" type="xsd:string"/>	<xsd:element name="ProjectName" type="xsd:string"/>	<xsd:element name="ProjectDescription" type="xsd:string"/>	<xsd:element name="ProjectQAPPIndicator" type="xsd:boolean"/>	<xsd:element name="ProjectQAPPDescription" type="xsd:string"/>	<xsd:element name="ProjectStartDate" type="xsd:date"/>	<xsd:element name="ProjectEndDate" type="xsd:date"/>	<xsd:element name="ProjectAreaDescription" type="xsd:string"/></xsd:schema>