dotnet/prod-opennode2-net/plugins/PNWWQX/xsd/PNWWQX_DataAccessType_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Department of Environmental Quality (Department of Environmental Quality) --><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pnwwqx="urn:us:net:exchangenetwork" version="1.3">	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_DataAccessType_v.1.3.xsd 		Current Version Available At :			Description : 					This schema defines the data elements needed to describe access to data sources related to the Data Catalog of the Pacific Northwest Water Quality Data Exchange 		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)			</xsd:documentation>	</xsd:annotation>	<xsd:complexType name="DataAccessType">		<xsd:sequence>			<xsd:element ref="pnwwqx:DataSourceName"/>			<xsd:element ref="pnwwqx:DataSourceAccessMethod"/>			<xsd:element ref="pnwwqx:DataSourceLocation" minOccurs="0"/>			<xsd:element ref="pnwwqx:AvailabilityDescription" minOccurs="0"/>			<xsd:element ref="pnwwqx:RefreshDate"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="DataSourceName" type="xsd:string"/>	<xsd:element name="DataSourceAccessMethod" type="pnwwqx:DataSourceAccessMethodType"/>	<xsd:simpleType name="DataSourceAccessMethodType">		<xsd:restriction base="xsd:string">			<xsd:enumeration value="Node"/>			<xsd:enumeration value="Document"/>			<xsd:enumeration value="On Request"/>		</xsd:restriction>	</xsd:simpleType>	<xsd:element name="DataSourceLocation" type="xsd:string"/>	<xsd:element name="AvailabilityDescription" type="xsd:string"/>	<xsd:element name="RefreshDate" type="xsd:date"/></xsd:schema>