prod-opennode2-net/plugins/HERE/xml_schema/TIER II/1/1/EI_EmergencyAdvisory_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:facid="http://www.epa.gov/xml" xmlns:ed="http://www.incident.com/EDXLDist/1.0" xmlns:ei="http://www.exchangenetwork.net/schema/EnvironmentalIncident/1/0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" targetNamespace="http://www.exchangenetwork.net/schema/EnvironmentalIncident/1/0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="EI_Comment_v1.0.xsd"/>
	<xsd:include schemaLocation="EI_IncidentContact_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_OrganizationIdentity_v1.0.xsd"/>
	<xsd:import namespace="http://www.incident.com/EDXLDist/1.0" schemaLocation="EDXLDistSchema200505.xsd"/>
	<xsd:annotation>
		<xsd:documentation>		
		Schema Name : 	EI_EmergencyAdvisory_v1.0.xsd
		Current Version Available At :
		Description : 	This schema provides elements for emergency advisory details. 
		Aplication : 
		Developed by : 	 enfoTech
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="EmergencyAdvisory" type="ei:EmergencyAdvisoryDataType"/>
	<xsd:complexType name="EmergencyAdvisoryDataType">
		<xsd:sequence>
			<xsd:element ref="ei:MSDSObject" minOccurs="0"/>
			<xsd:element ref="ei:MSDSReceivedDate" minOccurs="0"/>
			<xsd:element ref="ei:MSDSSentDate" minOccurs="0"/>
			<xsd:element ref="ei:MSDSResponsibleIndividual" minOccurs="0"/>
			<xsd:element ref="ei:EmergencyResponsePlan" minOccurs="0"/>
			<xsd:element ref="ei:FireAdvisory" minOccurs="0"/>
			<xsd:element ref="ei:HealthAdvisory" minOccurs="0"/>
			<xsd:element ref="ei:EnvironmentalAdvisory" minOccurs="0"/>
			<xsd:element ref="ei:EmergencyResponseTeam" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ei:Comment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ei:MSDSSentMethod" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MSDSObject" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Material Safety Data Sheet</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MSDSSentDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MSDSSentMethod" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MSDSReceivedDate" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MSDSResponsibleIndividual" type="ei:MSDSResponsibleIndividualType"/>
	<xsd:annotation>
		<xsd:documentation/>
	</xsd:annotation>
	<xsd:complexType name="MSDSResponsibleIndividualType">
		<xsd:complexContent>
			<xsd:extension base="ei:IncidentContactDataType">
				<xsd:sequence>
					<xsd:element ref="sc:OrganizationIdentity" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FireAdvisory" type="ei:AdvisoryDataType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HealthAdvisory" type="ei:AdvisoryDataType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalAdvisory" type="ei:AdvisoryDataType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmergencyResponsePlan" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmergencyResponseTeam" type="ei:IncidentContactDataType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AdvisoryDataType">
		<xsd:sequence>
			<xsd:element ref="ei:AdvisoryIdentifier"/>
			<xsd:element ref="ei:AdvisoryType" minOccurs="0"/>
			<xsd:element ref="ei:Preparedness" minOccurs="0"/>
			<xsd:element ref="ei:ResponseProcedure" minOccurs="0"/>
			<xsd:element ref="ei:EmergencyContacts" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AdvisoryIdentifier" type="xsd:string"/>
	<xsd:element name="AdvisoryType" type="xsd:string"/>
	<xsd:element name="Preparedness" type="xsd:string"/>
	<xsd:element name="ResponseProcedure" type="xsd:string"/>
	<xsd:element name="EmergencyContacts" type="ei:IncidentContactDataType"/>
</xsd:schema>
