java/2012-OCT-PRE-MAVEN-REFACTOR/resources/other/endpoint1/node_v11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.ExchangeNetwork.net/schema/v2.0/node.wsdl" xmlns:tns="http://www.ExchangeNetwork.net/schema/v2.0/node.wsdl"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.ExchangeNetwork.net/schema/v2.0/node.wsdl">
            <xsd:complexType name="QueryRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="parameters" nillable="true" type="tns:ArrayOfProperty"/>
                    <xsd:element minOccurs="0" name="request" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="queryDocument" nillable="true" type="tns:NetworkDocument"/>
                </xsd:sequence>                
            </xsd:complexType>            
          <xsd:element name="solicit">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="userToken" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="responseEndpoint" nillable="true" type="xsd:anyURI"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="dataflow" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="request" nillable="true" type="tns:QueryRequest"/>
                    </xsd:sequence>                    
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="download">
                <xsd:complexType>
                    <xsd:sequence>                        
                        <xsd:element maxOccurs="1" minOccurs="1" name="userToken" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="transactionId" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="documentIds" nillable="true" type="tns:ArrayOfString"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ArrayOfNetworkDocument">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="NetworkDocument" nillable="true" type="tns:NetworkDocument"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NetworkDocument">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="content" nillable="true" type="xsd:base64Binary"/>
                    <xsd:element minOccurs="0" name="metadata" nillable="true" type="tns:Metadata"/>
                    <xsd:element minOccurs="0" name="userInformation" nillable="true" type="tns:UserInformation"/>                                        
                </xsd:sequence>                
            </xsd:complexType>
            <xsd:complexType name="Metadata">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="comment" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="creationTime" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="properties" nillable="true" type="tns:ArrayOfProperty"/>
                    <xsd:element minOccurs="0" name="queryRequest" nillable="true" type="tns:QueryRequest"/>
                    <xsd:element minOccurs="0" name="sensitivity" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>                    
                </xsd:sequence>                
            </xsd:complexType>
            <xsd:complexType name="ArrayOfProperty">                
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Property" nillable="true" type="tns:Property"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Property">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="key" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>                    
                </xsd:sequence>                
            </xsd:complexType>
            <xsd:complexType name="UserInformation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="author" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="contactInfo" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="notification" nillable="true" type="xsd:anyURI"/>                    
                    <xsd:element minOccurs="0" name="organization" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="properties" nillable="true" type="tns:ArrayOfProperty"/>
                    <xsd:element minOccurs="0" name="signature" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>                    
                </xsd:sequence>                
            </xsd:complexType>
            <xsd:element name="downloadResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfNetworkDocument"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="submit">
                <xsd:complexType>                    
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="userToken" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="transactionId" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="dataflow" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="documents" nillable="true" type="tns:ArrayOfNetworkDocument"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="submitResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="query">
                <xsd:complexType>                    
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="userToken" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="dataflow" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="request" nillable="true" type="tns:QueryRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="queryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:NetworkDocument"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTransactionInformation">
                <xsd:complexType>
                    <xsd:sequence>                        
                        <xsd:element maxOccurs="1" minOccurs="1" name="userToken" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="transactionId" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="beginTime" type="xsd:dateTime"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="endTime" type="xsd:dateTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ArrayOfTransactionInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="TransactionInformation" nillable="true" type="tns:TransactionInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TransactionInformation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="auditHistory" nillable="true" type="tns:ArrayOfAudit"/>
                    <xsd:element minOccurs="0" name="documents" nillable="true" type="tns:ArrayOfNetworkDocument"/>
                    <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>                                        
                </xsd:sequence>                
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAudit">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Audit" nillable="true" type="tns:Audit"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Audit">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="actionDescription" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="actionGroup" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="actionName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="createDate" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="exception" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>                    
                </xsd:sequence>                
            </xsd:complexType>
            <xsd:element name="getTransactionInformationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfTransactionInformation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="message" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
                
            </xsd:element>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="Notification">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="category" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="notificationDocument" nillable="true" type="tns:NetworkDocument"/>
                </xsd:sequence>                
            </xsd:complexType>
            <xsd:element name="notify">                
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="userToken" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="dataflow" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="notification" nillable="true" type="tns:Notification"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="notifyResponse">
                <xsd:complexType/>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="downloadRequest">
        <wsdl:part name="parameters" element="tns:download"/>
        
    </wsdl:message>
    <wsdl:message name="submitResponse">
        <wsdl:part name="parameters" element="tns:submitResponse"/>
    </wsdl:message>
    <wsdl:message name="solicitResponse">
        <wsdl:part name="parameters" element="tns:solicitResponse"/>
    </wsdl:message>
    <wsdl:message name="notifyResponse">
        <wsdl:part name="parameters" element="tns:notifyResponse"/>        
    </wsdl:message>
    <wsdl:message name="queryRequest">
        <wsdl:part name="parameters" element="tns:query"/>
    </wsdl:message>
    <wsdl:message name="getTransactionInformationResponse">
        <wsdl:part name="parameters" element="tns:getTransactionInformationResponse"/>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="tns:ping"/>        
    </wsdl:message>
    <wsdl:message name="downloadResponse">
        <wsdl:part name="parameters" element="tns:downloadResponse"/>
    </wsdl:message>
    <wsdl:message name="submitRequest">
        <wsdl:part name="parameters" element="tns:submit"/>
    </wsdl:message>
    <wsdl:message name="notifyRequest">
        <wsdl:part name="parameters" element="tns:notify"/>        
    </wsdl:message>
    <wsdl:message name="getTransactionInformationRequest">
        <wsdl:part name="parameters" element="tns:getTransactionInformation"/>
    </wsdl:message>
    <wsdl:message name="solicitRequest">
        <wsdl:part name="parameters" element="tns:solicit"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="tns:pingResponse"/>
        
    </wsdl:message>
    <wsdl:message name="queryResponse">
        <wsdl:part name="parameters" element="tns:queryResponse"/>
    </wsdl:message>
    <wsdl:portType name="NetworkNodePortType">
        <wsdl:operation name="solicit">
            <wsdl:input name="solicitRequest" message="tns:solicitRequest"/>
            <wsdl:output name="solicitResponse" message="tns:solicitResponse"/>
        </wsdl:operation>       
        <wsdl:operation name="download">
            <wsdl:input name="downloadRequest" message="tns:downloadRequest"/>
            <wsdl:output name="downloadResponse" message="tns:downloadResponse"/>
        </wsdl:operation>
        <wsdl:operation name="submit">
            <wsdl:input name="submitRequest" message="tns:submitRequest"/>
            <wsdl:output name="submitResponse" message="tns:submitResponse"/>
        </wsdl:operation>
        <wsdl:operation name="query">            
            <wsdl:input name="queryRequest" message="tns:queryRequest"/>
            <wsdl:output name="queryResponse" message="tns:queryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransactionInformation">
            <wsdl:input name="getTransactionInformationRequest" message="tns:getTransactionInformationRequest"/>
            <wsdl:output name="getTransactionInformationResponse" message="tns:getTransactionInformationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ping">
            <wsdl:input name="pingRequest" message="tns:pingRequest"/>           
            <wsdl:output name="pingResponse" message="tns:pingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="notify">
            <wsdl:input name="notifyRequest" message="tns:notifyRequest"/>
            <wsdl:output name="notifyResponse" message="tns:notifyResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NetworkNodeHttpBinding" type="tns:NetworkNodePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="solicit">
      <wsdlsoap:operation soapAction="solicit"/>
      <wsdl:input name="solicitRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="solicitResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
      
    <wsdl:operation name="download">
      <wsdlsoap:operation soapAction="download"/>
      <wsdl:input name="downloadRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="submit">
      <wsdlsoap:operation soapAction="submit"/>
      <wsdl:input name="submitRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="query">
      <wsdlsoap:operation soapAction="query"/>
      <wsdl:input name="queryRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getTransactionInformation">
      <wsdlsoap:operation soapAction="getTransactionInformation"/>
      <wsdl:input name="getTransactionInformationRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTransactionInformationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ping">
      <wsdlsoap:operation soapAction="ping"/>
      <wsdl:input name="pingRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="notify">
      <wsdlsoap:operation soapAction="notify"/>
      <wsdl:input name="notifyRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="notifyResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  
  <wsdl:service name="NetworkNode">
    <wsdl:port name="NetworkNodeHttpPort" binding="tns:NetworkNodeHttpBinding">
      <wsdlsoap:address location="http://localhost:8080/cdx-enws20/services/NetworkNode"/>
    </wsdl:port>
  </wsdl:service>    
</wsdl:definitions>