dotnet/prod-opennode2-net/plugins/FACID30/xml_schema/3/0/FACID_SimpleContent_v3.0_draft1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:facid="http://www.exchangenetwork.net/schema/facilityid/3" targetNamespace="http://www.exchangenetwork.net/schema/facilityid/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xsd:annotation>
		<xsd:documentation>
			Schema Name : 	FACID_SimpleContent_v3.0.xsd
			Current Version Available At : http://www.exchangenetwork.net/
			Description : 	Simple Content file for FacID Facility Details common simple types and data elements.
			Application : 
			Developed by :  Environmental Protection Agency, Windsor Solutions, Inc. 
			Point of Contact : Kevin Lyons
		</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="AffiliateTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Individual"/>
			<xsd:enumeration value="Organization"/>
			<xsd:enumeration value="Unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AffiliateIdentifierDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AlternativeIdentificationTypeTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AlternativeNameTypeTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AlternativeIdentificationIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AlternativeNameTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CongressionalDistrictNumberCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnvironmentalInterestEndDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnvironmentalInterestEndDateQualifierTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnvironmentalInterestIdentifierDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnvironmentalInterestStartDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnvironmentalInterestStartDateQualifierTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EnvironmentalInterestTypeTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityNAICSCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d\d\d{0,1}\d{0,1}\d{0,1}\d{0,1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityNAICSPrimaryIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Primary"/>
			<xsd:enumeration value="Secondary"/>
			<xsd:enumeration value="Unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HUCCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="8"/>
			<xsd:pattern value="[0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InformationSystemAcronymNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LastUpdatedDateDataType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="LegislativeDistrictNumberCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OriginatingPartnerNameDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="URLTextDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FacilityCountMeasureDataType">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:element name="AffiliateIdentifier" type="facid:AffiliateIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>A number used to uniquely identify a Affiliate, which contains data for one individual or organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AffiliateType" type="facid:AffiliateTypeDataType">
		<xsd:annotation>
			<xsd:documentation>A classification used to indicate the type of individual or organization (e.g owner, operator, etc.).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternativeIdentificationTypeText" type="facid:AlternativeIdentificationTypeTextDataType">
		<xsd:annotation>
			<xsd:documentation>The type of the alternative, historical, or program-specific identifier for the facility site or environmental interest. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternativeNameTypeText" type="facid:AlternativeNameTypeTextDataType">
		<xsd:annotation>
			<xsd:documentation>The type of the alternative, historical, or program-specific name for the facility site (e.g., primary, legal, historical, local).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternativeIdentificationIdentifier" type="facid:AlternativeIdentificationIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>An alternative, historic or program specific identifier for the facility site or environmental interest.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AlternativeNameText" type="facid:AlternativeNameTextDataType">
		<xsd:annotation>
			<xsd:documentation>An alternative, historic or program specific name for the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CongressionalDistrictNumberCode" type="facid:CongressionalDistrictNumberCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A number representing an area within a state that a member of the House of Representatives is elected.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalInterestEndDate" type="facid:EnvironmentalInterestEndDateDataType">
		<xsd:annotation>
			<xsd:documentation>The date the agency ceased to be interested in the facility site for a particular environmental interest type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalInterestEndDateQualifierText" type="facid:EnvironmentalInterestEndDateQualifierTextDataType">
		<xsd:annotation>
			<xsd:documentation>The qualifier that specifies the meaning of  the date being used as an approximation for the environmental interest end date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalInterestIdentifier" type="facid:EnvironmentalInterestIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>A designator, such as a permit number, assigned by an information management system that is used to identify an environmental interest (e.g. permit, etc.) for a partner.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalInterestStartDate" type="facid:EnvironmentalInterestStartDateDataType">
		<xsd:annotation>
			<xsd:documentation>The date the agency became interested in the facility site for a particular environmental interest type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalInterestStartDateQualifierText" type="facid:EnvironmentalInterestStartDateQualifierTextDataType">
		<xsd:annotation>
			<xsd:documentation>The qualifier that specifies the meaning of  the date being used as an approximation for the environmental interest start date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalInterestTypeText" type="facid:EnvironmentalInterestTypeTextDataType">
		<xsd:annotation>
			<xsd:documentation>The environmental permit or regulatory program that applies to the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalInterestActiveIndicator" type="facid:YesNoIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>A designator that indicates whether the Environmental Interest is currently considered to active.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnvironmentalInterestURLText" type="facid:URLTextDataType">
		<xsd:annotation>
			<xsd:documentation>The web address where a computer user can access information about the facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityNAICSCode" type="facid:FacilityNAICSCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents a subdivision of an industry that accommodates user needs in the United States.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityNAICSPrimaryIndicator" type="facid:FacilityNAICSPrimaryIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>The name that indicates whether the associated NAICS Code represents the primary activity occurring at the facility site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityURLText" type="facid:URLTextDataType">
		<xsd:annotation>
			<xsd:documentation>The web address where a computer user can access information about the facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InformationSystemAcronymName" type="facid:InformationSystemAcronymNameDataType">
		<xsd:annotation>
			<xsd:documentation>The abbreviated name that represents the name of an information management system for an environmental program.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HUCCode" type="facid:HUCCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The hydrologic unit code (HUC) that represents a geographic area representing part or all of a surface drainage basin, a combination of drainage basins, or a distinct hydrologic feature.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastUpdatedDate" type="facid:LastUpdatedDateDataType">
		<xsd:annotation>
			<xsd:documentation>A value corresponding to the date the facility site or environmental interest was added to the source system or the date the partner last recorded a change to the data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LegislativeDistrictNumberCode" type="facid:LegislativeDistrictNumberCodeDataType">
		<xsd:annotation>
			<xsd:documentation>A number representing an area from which senators and General Assembly members are elected.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginatingPartnerName" type="facid:OriginatingPartnerNameDataType">
		<xsd:annotation>
			<xsd:documentation>The name of the partner that originally provided the exchanged facility site or environmental interest data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilityCountMeasure" type="facid:FacilityCountMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The count of facilities returned by a data service.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
