prod-opennode2-net/plugins/RCRA_512/xml_schema/12/RCRA_ManifestHandlerSite_v5.12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="5.9">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_ManifestHandlerSite_v5.9 
		Description : 	Top level of all information about the manifest handler site
		Developed by : 	U.S. EPA
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ManifestHandlerSite" type="RC:ManifestHandlerSiteDataType">
		<xsd:annotation>
			<xsd:documentation>Top level of all information about the manifest handler site.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ManifestHandlerSiteDataType">
		<xsd:annotation>
			<xsd:documentation>Manifest handler site data.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:SiteType" minOccurs="0"/>
			<xsd:element ref="RC:EpaSiteId" minOccurs="0"/>
			<xsd:element ref="RC:EmanifestName" minOccurs="0"/>
			<xsd:element ref="RC:EmanifestMailingAddress" minOccurs="0"/>
			<xsd:element ref="RC:SiteAddress" minOccurs="0"/>
			<xsd:element ref="RC:ManifestContact" minOccurs="0"/>
			<xsd:element ref="RC:EmergencyPhone" minOccurs="0"/>
			<xsd:element ref="RC:PaperSignatureInfo" minOccurs="0"/>
			<xsd:element ref="RC:ElectronicSignatureInfo" minOccurs="0"/>
			<xsd:element ref="RC:Order" minOccurs="0"/>
			<xsd:element ref="RC:Registered" minOccurs="0"/>
			<xsd:element ref="RC:Modified" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--       Elements       -->
	<xsd:element name="SiteType" type="RC:SiteTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Emanifest site type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EpaSiteId" type="RC:EpaSiteIdDataType">
		<xsd:annotation>
			<xsd:documentation>EPA site id.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmanifestName" type="RC:EmanifestNameDataType">
		<xsd:annotation>
			<xsd:documentation>Name description.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmanifestMailingAddress" type="RC:AddressDataType">
		<xsd:annotation>
			<xsd:documentation>Mailing address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SiteAddress" type="RC:AddressDataType">
		<xsd:annotation>
			<xsd:documentation>Site address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManifestContact" type="RC:ManifestContactDataType">
		<xsd:annotation>
			<xsd:documentation>Contact information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmergencyPhone" type="RC:PhoneDataType">
		<xsd:annotation>
			<xsd:documentation>Emergency phone information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PaperSignatureInfo" type="RC:PaperSignatureInfoDataType">
		<xsd:annotation>
			<xsd:documentation>Paper signature information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicSignatureInfo" type="RC:ElectronicSignatureInfoDataType">
		<xsd:annotation>
			<xsd:documentation>Electronic signature information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImportGenerator" type="RC:ImportGeneratorDataType">
		<xsd:annotation>
			<xsd:documentation>Import generator information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImportPortInfo" type="RC:ImportPortInfoDataType">
		<xsd:annotation>
			<xsd:documentation>Import generator information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Order" type="RC:OrderDataType">
		<xsd:annotation>
			<xsd:documentation>Order type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Registered" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Registered indicator.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Modified" type="RC:Char1BooleanDataType">
		<xsd:annotation>
			<xsd:documentation>Modified indicator.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--xsd:element name="Locality" type="RC:ManifestLocalityDataType">
		<xsd:annotation>
			<xsd:documentation>Locality</xsd:documentation>
		</xsd:annotation>
	</xsd:element-->
	<xsd:element name="Address1" type="RC:Address1DataType">
		<xsd:annotation>
			<xsd:documentation>Identifies address1.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Address2" type="RC:Address2DataType">
		<xsd:annotation>
			<xsd:documentation>Identifies address2.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="City" type="RC:CityDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies city in address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Country" type="RC:ManifestLocalityDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies country in address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManifestState" type="RC:ManifestLocalityDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies state in address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StreetNumber" type="RC:StreetNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies street number in address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Zip" type="RC:ZipDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies zip in address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CompanyName" type="RC:CompanyNameDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies company name in contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Email" type="RC:EmailDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies email in contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManifestFirstName" type="RC:ManifestFirstNameDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies frist name in contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManifestLastName" type="RC:ManifestLastNameDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies last name in contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManifestMiddleInitial" type="RC:ManifestMiddleInitialDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies middle initial in contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Phone" type="RC:PhoneDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies phone in contact.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PhoneExtension" type="RC:PhoneExtensionDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies phone extension.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PhoneNumber" type="RC:PhoneNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies phone number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrintedName" type="RC:PrintedNameDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies printed name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PaperSignatureDate" type="RC:DateTimeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies paper signature date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HumanReadableDocument" type="RC:DocumentDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a readable document</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectronicSignatureDate" type="RC:DateTimeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies electronic signature date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Signer" type="RC:SignerDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a signer</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MimeType" type="RC:MimeTypeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a mime type</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentName" type="RC:DocumentNameDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies document name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Size" type="RC:IntegerDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a size</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SignerUserId" type="RC:SignerUserIdDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a user id</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Comment" type="RC:CommentDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a comment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConsentNumber" type="RC:ConsentNumberDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a consent number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HandlingInstructions" type="RC:HandlingInstructionsDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies a handling instructions</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentDescription" type="RC:CommentDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Comment description</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HandlerId" type="RC:HandlerIdDataType">
		<xsd:annotation>
			<xsd:documentation>Comment handler Id</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentLabel" type="RC:CommentLabelDataType">
		<xsd:annotation>
			<xsd:documentation>Comment label</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImportGeneratorName" type="RC:ImportGeneratorNameDataType">
		<xsd:annotation>
			<xsd:documentation>Import generator name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImportGeneratorAddress" type="RC:ImportGeneratorAddressDataType">
		<xsd:annotation>
			<xsd:documentation>Import generator address</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Province" type="RC:ProvinceDataType">
		<xsd:annotation>
			<xsd:documentation>Import generator province</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManifestLocalityCode" type="RC:ManifestLocalityCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Locality code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManifestLocalityName" type="RC:ManifestLocalityNameDataType">
		<xsd:annotation>
			<xsd:documentation>Locality name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CromerrActivityId" type="RC:CromerrActivityIdDataType">
		<xsd:annotation>
			<xsd:documentation>Cromerr activity Id</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CromerrDocumentId" type="RC:CromerrDocumentIdDataType">
		<xsd:annotation>
			<xsd:documentation>Cromerr document Id</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImportCity" type="RC:ImportCityDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies city in address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PostalCode" type="RC:PostalCodeDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies postal code in address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--      Data Type      -->
	<xsd:simpleType name="SiteTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Tsdf"/>
			<xsd:enumeration value="Generator"/>
			<xsd:enumeration value="Transporter"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EpaSiteIdDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmanifestNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AddressDataType">
		<xsd:sequence>
			<xsd:element ref="RC:StreetNumber" minOccurs="0"/>
			<xsd:element ref="RC:Address1" minOccurs="0"/>
			<xsd:element ref="RC:Address2" minOccurs="0"/>
			<xsd:element ref="RC:City" minOccurs="0"/>
			<xsd:element ref="RC:Country" minOccurs="0"/>
			<xsd:element ref="RC:ManifestState" minOccurs="0"/>
			<xsd:element ref="RC:Zip" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Address1DataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Address2DataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CityDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StreetNumberDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZipDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ManifestContactDataType">
		<xsd:sequence>
			<xsd:element ref="RC:ManifestFirstName" minOccurs="0"/>
			<xsd:element ref="RC:ManifestMiddleInitial" minOccurs="0"/>
			<xsd:element ref="RC:ManifestLastName" minOccurs="0"/>
			<xsd:element ref="RC:Phone" minOccurs="0"/>
			<xsd:element ref="RC:Email" minOccurs="0"/>
			<xsd:element ref="RC:CompanyName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CompanyNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmailDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ManifestFirstNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="38"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ManifestLastNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="38"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ManifestMiddleInitialDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PhoneDataType">
		<xsd:sequence>
			<xsd:element ref="RC:PhoneNumber"/>
			<xsd:element ref="RC:PhoneExtension" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PhoneExtensionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneNumberDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:minLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PaperSignatureInfoDataType">
		<xsd:sequence>
			<xsd:element ref="RC:PrintedName" minOccurs="0"/>
			<xsd:element ref="RC:PaperSignatureDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PrintedNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ElectronicSignatureInfoDataType">
		<xsd:sequence>
			<xsd:element ref="RC:Signer" minOccurs="0"/>
			<xsd:element ref="RC:ElectronicSignatureDate" minOccurs="0"/>
			<xsd:element ref="RC:HumanReadableDocument" minOccurs="0"/>
			<xsd:element ref="RC:CromerrActivityId" minOccurs="0"/>
			<xsd:element ref="RC:CromerrDocumentId" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="MimeTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DocumentDataType">
		<xsd:sequence>
			<xsd:element ref="RC:DocumentName" minOccurs="0"/>
			<xsd:element ref="RC:Size" minOccurs="0"/>
			<xsd:element ref="RC:MimeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SignerDataType">
		<xsd:sequence>
			<xsd:element ref="RC:ManifestFirstName" minOccurs="0"/>
			<xsd:element ref="RC:ManifestLastName" minOccurs="0"/>
			<xsd:element ref="RC:SignerUserId" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SignerUserIdDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConsentNumberDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HandlingInstructionsDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CommentDataType">
		<xsd:sequence>
			<xsd:element ref="RC:CommentDescription" minOccurs="0"/>
			<xsd:element ref="RC:HandlerId" minOccurs="0"/>
			<xsd:element ref="RC:CommentLabel" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CommentDescriptionDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HandlerIdDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommentLabelDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ImportGeneratorDataType">
		<xsd:sequence>
			<xsd:element ref="RC:ImportGeneratorName" minOccurs="0"/>
			<xsd:element ref="RC:ImportGeneratorAddress" minOccurs="0"/>
			<xsd:element ref="RC:ImportCity" minOccurs="0"/>
			<xsd:element ref="RC:Country" minOccurs="0"/>
			<xsd:element ref="RC:PostalCode" minOccurs="0"/>
			<xsd:element ref="RC:Province" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ImportGeneratorNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ImportGeneratorAddressDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProvinceDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ImportPortInfoDataType">
		<xsd:sequence>
			<xsd:element ref="RC:ImportCity" minOccurs="0"/>
			<xsd:element ref="RC:ManifestState" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="OrderDataType">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ManifestLocalityDataType">
		<xsd:sequence>
			<xsd:element ref="RC:ManifestLocalityCode" minOccurs="0"/>
			<xsd:element ref="RC:ManifestLocalityName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ManifestLocalityCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ManifestLocalityNameDataType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char1BooleanDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateTimeDataType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerDataType">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="ManifestTrackingNumberDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CromerrActivityIdDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CromerrDocumentIdDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ImportCityDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PostalCodeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
