prod-opennode2-net/plugins/RCRA_512/xml_schema/12/RCRA_SiteWasteActivity_v5.12.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by levyarm (EMBRACE) -->
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="5.12">
	<xsd:include schemaLocation="./RCRA_Shared_v5.12.xsd"/>
	<xsd:include schemaLocation="./RCRA_SharedPublishing_v5.12.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	RCRA_SiteWasteActivity_v5.12
		Description : 	State and EPA hazardous waste activity codes.
		Developed by : 	U.S. EPA
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="WasteActivitySite" type="RC:SiteWasteActivityDataType">
		<xsd:annotation>
			<xsd:documentation>State and EPA hazardous waste activity codes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteWasteActivityDataType">
		<xsd:annotation>
			<xsd:documentation>Site waste activity codes.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RC:LandTypeCode" minOccurs="0"/>
			<xsd:element ref="RC:LandTypeText" minOccurs="0"/>
			<xsd:element ref="RC:StateDistrictOwnerName" minOccurs="0"/>
			<xsd:element ref="RC:StateDistrictCode" minOccurs="0"/>
			<xsd:element ref="RC:StateDistrictCodeText" minOccurs="0"/>
			<xsd:element ref="RC:ImporterActivityCode" minOccurs="0"/>
			<xsd:element ref="RC:MixedWasteGeneratorCode" minOccurs="0"/>
			<xsd:element ref="RC:RecyclerActivityCode" minOccurs="0"/>
			<xsd:element ref="RC:TransporterActivityCode" minOccurs="0"/>
			<xsd:element ref="RC:TreatmentStorageDisposalActivityCode" minOccurs="0"/>
			<xsd:element ref="RC:UndergroundInjectionActivityCode" minOccurs="0"/>
			<xsd:element ref="RC:UniversalWasteDestinationFacilityIndicator" minOccurs="0"/>
			<xsd:element ref="RC:OnsiteBurnerExemptionCode" minOccurs="0"/>
			<xsd:element ref="RC:FurnaceExemptionCode" minOccurs="0"/>
			<xsd:element ref="RC:ShortTermGeneratorIndicator" minOccurs="0"/>
			<xsd:element ref="RC:TransferFacilityIndicator" minOccurs="0"/>
			<xsd:element ref="RC:RecognizedTraderImporterIndicator" minOccurs="0"/>
			<xsd:element ref="RC:RecognizedTraderExporterIndicator" minOccurs="0"/>
			<xsd:element ref="RC:SlabImporterIndicator" minOccurs="0"/>
			<xsd:element ref="RC:SlabExporterIndicator" minOccurs="0"/>
			<xsd:element ref="RC:RecyclerActivityNonstorage" minOccurs="0"/>
			<xsd:element ref="RC:ManifestBroker" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RecyclerActivityNonstorage" type="RC:RecyclerActivityNonstorageDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies that Handler participates in Nonstorage Recycler Activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="RecyclerActivityNonstorageDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ManifestBroker" type="RC:ManifestBrokerDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies that Handler is ManifestBroker.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="ManifestBrokerDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
