java/node-plugin/node-plugin-here/src/main/xsd/CAFO_v1.0/CAFO_LocationAddress_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cafo="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name:CAFO_LocationAddress_v1.0</xsd:documentation>
		<xsd:documentation>Current Version Available:  </xsd:documentation>
		<xsd:documentation>Description: Region 4 Pilot CAFO Schema</xsd:documentation>
		<xsd:documentation>Application: CAFO-Region 4</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/CoryWagner</xsd:documentation>
		<xsd:documentation>Data Written: December 2005</xsd:documentation>
		<xsd:documentation>Last Date Modified:02-06-2006</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:element name="LocationAddress" type="cafo:LocationAddressDataType">
		<xsd:annotation>
			<xsd:documentation>The physical location of the facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LocationAddressDataType">
		<xsd:sequence>
			<xsd:element ref="cafo:LocationAddressText" minOccurs="0"/>
			<xsd:element ref="cafo:SupplementalAddressText" minOccurs="0"/>
			<xsd:element ref="cafo:LocalityName" minOccurs="0"/>
			<xsd:element ref="cafo:CountyName" minOccurs="0"/>
			<xsd:element ref="cafo:StateName" minOccurs="0"/>
			<xsd:element ref="cafo:StateUSPSCode" minOccurs="0"/>
			<xsd:element ref="cafo:AddressPostalCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LocationAddressText" type="sc:LocationAddressTextDataType"/>
	<xsd:element name="SupplementalAddressText" type="sc:SupplementalAddressTextDataType"/>
	<xsd:element name="LocalityName" type="sc:LocalityNameDataType"/>
	<xsd:element name="CountyName" type="sc:CountyNameDataType"/>
	<xsd:element name="StateName" type="sc:StateNameDataType"/>
	<xsd:element name="StateUSPSCode" type="xsd:string"/>
	<xsd:element name="AddressPostalCode" type="sc:AddressPostalCodeDataType"/>
	<xsd:element name="LocationDescriptionText" type="sc:LocationDescriptionTextDataType"/>
</xsd:schema>
