java/node-plugin/node-plugin-here/src/main/xsd/CAFO_v1.0/CAFO_RegulatoryDetails_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" xmlns:cafo="http://www.exchangenetwork.net/schema/CAFO/1_0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name:CAFO_RegulatoryDetails_v1.0</xsd:documentation>
		<xsd:documentation>Current Version Available:  </xsd:documentation>
		<xsd:documentation>Description: Region 4 Pilot CAFO Schema</xsd:documentation>
		<xsd:documentation>Application: CAFO-Region 4</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/CoryWagner</xsd:documentation>
		<xsd:documentation>Data Written: December 2005</xsd:documentation>
		<xsd:documentation>Last Date Modified:02-06-2006</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_PermitIdentity_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_MeasureUnit_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_Measure_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:element name="RegulatoryDetails" type="cafo:RegulatoryDetailsDataType"/>
	<xsd:complexType name="RegulatoryDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="sc:PermitIdentity" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cafo:DischargesFromProductionAreaIndicator" minOccurs="0"/>
			<xsd:element ref="cafo:AuthorizedDischargeIndicator" minOccurs="0"/>
			<xsd:element ref="cafo:UnauthorizedDischargeIndicator" minOccurs="0"/>
			<xsd:element ref="cafo:PermittingAuthorityReportReceivedDate" minOccurs="0"/>
			<xsd:element ref="cafo:IsAnimalFacilityTypeCAFOIndicator" minOccurs="0"/>
			<xsd:element ref="cafo:LiquidManureWastewaterGeneratedAmount" minOccurs="0"/>
			<xsd:element ref="cafo:LiquidManureWastewaterTransferAmount" minOccurs="0"/>
			<xsd:element ref="cafo:SolidManureLitterGeneratedAmount" minOccurs="0"/>
			<xsd:element ref="cafo:SolidManureLitterTransferAmount" minOccurs="0"/>
			<xsd:element ref="cafo:NMPDevelopedCertifiedPlannerApprovedIndicator" minOccurs="0"/>
			<xsd:element ref="cafo:TotalNumberAcresNMPIdentified" minOccurs="0"/>
			<xsd:element ref="cafo:TotalNumberAcresUsedLandApplication" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DischargesFromProductionAreaIndicator" type="cafo:YesNoDataIndicatorType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the facility discharges waste from the production area</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AuthorizedDischargeIndicator" type="cafo:YesNoDataIndicatorType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether or not the facility is authorized to discharge all or part of the waste generated by the facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnauthorizedDischargeIndicator" type="cafo:YesNoDataIndicatorType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the facility is unauthorized to discharge all or part of the waste generated by the facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IsAnimalFacilityTypeCAFOIndicator" type="cafo:YesNoDataIndicatorType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the facility is classified as a CAFO Facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LiquidManureWastewaterGeneratedAmount" type="sc:MeasureDataType">
		<xsd:annotation>
			<xsd:documentation>Total amount of liquid manure generated annually by the CAFO facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LiquidManureWastewaterTransferAmount" type="sc:MeasureDataType">
		<xsd:annotation>
			<xsd:documentation>Total amount of liquid manure transferred annually by the CAFO facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NMPDevelopedCertifiedPlannerApprovedIndicator" type="cafo:YesNoDataIndicatorType">
		<xsd:annotation>
			<xsd:documentation>Indicates if the CAFO facility has a nutrient management plan developed or approved by a certified planner</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PermittingAuthorityReportReceivedDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>The date the permitting authority received the CAFO report</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SolidManureLitterGeneratedAmount" type="sc:MeasureDataType">
		<xsd:annotation>
			<xsd:documentation>Total amount of solid manure generated annually by the CAFO facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SolidManureLitterTransferAmount" type="sc:MeasureDataType">
		<xsd:annotation>
			<xsd:documentation>Total amount of solid manure transferred annually by the CAFO facility</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalNumberAcresNMPIdentified" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>The total number of acres of land identified as being under an NMP</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalNumberAcresUsedLandApplication" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>The total number of acres of land used for land application of sludge</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="YesNoDataIndicatorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
