java/node-plugin/src/main/packaging/icisnpdes20/xsd/5/ICIS_SW_Inspection_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_SW_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_SW_Inspection_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: stormwater inspection data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="SWInspection" type="icis:SWInspection"/>
	<xsd:element name="StormWaterUnpermittedConstructionInspection" type="icis:StormWaterUnpermittedConstructionInspection"/>
	<xsd:element name="StormWaterConstructionIndustrialInspection" type="icis:StormWaterConstructionIndustrialInspection"/>
	<xsd:element name="StormWaterMS4Inspection" type="icis:StormWaterMS4Inspection"/>
	<xsd:element name="SWPPPEvaluationBasisCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="SWPPPEvaluationDate" type="icis:DateType"/>
	<xsd:element name="SWPPPEvaluationDescriptionText" type="icis:StringMin1Max4000Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="SWInspectionData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:SWInspection"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWInspection">
		<xsd:complexContent>
			<xsd:extension base="icis:ProgramInspectionKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:StormWaterUnpermittedConstructionInspection" minOccurs="0"/>
					<xsd:element ref="icis:StormWaterConstructionIndustrialInspection" minOccurs="0"/>
					<xsd:element ref="icis:StormWaterMS4Inspection" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StormWaterUnpermittedConstructionInspection">
		<xsd:sequence>
			<xsd:group ref="icis:StormWaterConstructionGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StormWaterConstructionIndustrialInspection">
		<xsd:sequence>
			<xsd:element ref="icis:SWPPPEvaluationBasisCode" minOccurs="0"/>
			<xsd:element ref="icis:SWPPPEvaluationDate" minOccurs="0"/>
			<xsd:element ref="icis:SWPPPEvaluationDescriptionText" minOccurs="0"/>
			<xsd:element ref="icis:NoExposureAuthorizationDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StormWaterMS4Inspection">
		<xsd:sequence>
			<xsd:group ref="icis:StormWaterFundingGroup" minOccurs="0"/>
			<xsd:group ref="icis:StormWaterFundingSourceGroup" minOccurs="0"/>
			<xsd:group ref="icis:StormWaterMS4OutfallEstimateGroup" minOccurs="0"/>
			<xsd:element ref="icis:StormWaterContact" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
