prod-opennode2-net/plugins/TRI_40/xml_schema/0/TRI_TRI_v4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by WDavid Ripley, III (COMPUTER SCIENCES CORP) -->
<xsd:schema xmlns:TRI="http://www.exchangenetwork.net/schema/TRI/4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" targetNamespace="http://www.exchangenetwork.net/schema/TRI/4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.0">
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_IndividualIdentity_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_ElectronicAddress_v1.0.xsd"/>
	<xsd:include schemaLocation="TRI_Facility_v4.0.xsd"/>
	<xsd:include schemaLocation="TRI_Report_v4.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>		
		Schema Name : 	TRI_TRI_v4.0.xsd
		Current Version Available At :
		Description : 	This is the root schema for Toxic Release Inventory reporting data
		Aplication : Toxic Release Inventory
		Developed by : 	 Environmental Protection Agency, Windsor Solutions, Inc.
		Point of Contact : William Rensmith
		Maintained by : Environmental Protection Agency, CSC
		Point of Contact : WDavid Ripley III [dripley@csc.com]
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="TRI" type="TRI:TRIDataType"/>
	<xsd:complexType name="TRIDataType">
		<xsd:sequence>
			<xsd:element ref="TRI:Submission" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Submission" type="TRI:SubmissionDataType">
		<xsd:annotation>
			<xsd:documentation>A container for one or more TRI Reports for a given facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SubmissionDataType">
		<xsd:sequence>
			<xsd:element ref="TRI:TRISubmissionIdentifier" minOccurs="0"/>
			<xsd:element ref="TRI:Facility" minOccurs="0"/>
			<xsd:element ref="TRI:Report" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TRISubmissionIdentifier" type="TRI:SubmissionIdentifierDataType">
		<xsd:annotation>
			<xsd:documentation>A number used to uniquely identify a TRI submission, which contains data for one facility and one or more chemicals.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SubmissionIdentifierDataType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="SubmissionIdentifierContext" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
