java/node-plugin/src/main/packaging/frs23/xsd/FACID_OrganizationList_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:facid="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:include schemaLocation="./FACID_OrganizationDetails_v2.3.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_OrganizationList_v2.3 
		Current Version Available At :
		Description : 	Organization schema for Data transfer.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="OrganizationList" type="facid:OrganizationList"/>
	<xsd:complexType name="OrganizationList">
		<xsd:sequence>
			<xsd:element ref="facid:OrganizationDetails" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="OrganizationDetails" type="facid:OrganizationDetails"/>
</xsd:schema>
