dotnet/opennode2-net/plugins/ICISNPDES_15/xml_schema/5/ICIS_SSO_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Geographic_Coordinates_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_SSO_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: SSO overflow event data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="CauseOfSSOOverflowEvent" type="icis:StringMin1Max1000Type"/>
	<xsd:element name="DescriptionOfStepsTaken" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="DurationOfSSOOverflowEvent" type="icis:DecimalRange0To9999.99Type"/>
	<xsd:element name="ImpactOfSSOEvent" type="icis:StringMin1Max3Type"/>
	<xsd:element name="NameOfReceivingWater" type="icis:StringMin1Max1000Type"/>
	<xsd:element name="OtherStepsToReducePreventMitigate" type="icis:StringMin1Max50Type"/>
	<xsd:element name="OtherSystemComponent" type="icis:StringMin1Max50Type"/>
	<xsd:element name="SSOOverflowLocationStreet" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="SSOSteps" type="icis:SSOSteps"/>
	<xsd:element name="SSOSystemComponent" type="icis:SSOSystemComponent"/>
	<xsd:element name="SSOVolume" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="StepsToReducePreventMitigate" type="icis:StringMin1Max3Type"/>
	<xsd:element name="SystemComponent" type="icis:StringMin1Max3Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:group name="SSOOverflowEventGroup">
		<xsd:sequence>
			<xsd:element ref="icis:CauseOfSSOOverflowEvent" minOccurs="0"/>
			<xsd:choice>
				<xsd:group ref="icis:LatitudeLongitudeCoordinates" minOccurs="0"/>
				<xsd:element ref="icis:SSOOverflowLocationStreet" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="icis:DurationOfSSOOverflowEvent" minOccurs="0"/>
			<xsd:element ref="icis:SSOVolume" minOccurs="0"/>
			<xsd:element ref="icis:NameOfReceivingWater" minOccurs="0"/>
			<xsd:element ref="icis:ImpactOfSSOEvent" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:SSOSystemComponent" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:SSOSteps" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="icis:DescriptionOfStepsTaken" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="SSOSystemComponent">
		<xsd:sequence>
			<xsd:element ref="icis:SystemComponent"/>
			<xsd:element ref="icis:OtherSystemComponent" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SSOSteps">
		<xsd:sequence>
			<xsd:element ref="icis:StepsToReducePreventMitigate"/>
			<xsd:element ref="icis:OtherStepsToReducePreventMitigate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
