dotnet/opennode2-net/plugins/ICISNPDES_15/xml_schema/5/ICIS_Compliance_Monitoring_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Contact_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_SIC_NAICS_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Compliance_Monitoring_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES compliance monitoring element data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="BiomonitoringInspectionMethod" type="icis:StringMin1Max3Type"/>
	<xsd:element name="ComplianceMonitoring" type="icis:ComplianceMonitoring"/>
	<xsd:element name="ComplianceMonitoringActionOutcomeCode" type="icis:NonNegativeIntegerMin1Max2Type"/>
	<xsd:element name="ComplianceMonitoringActionReasonCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="ComplianceMonitoringActivityName" type="icis:StringMin1Max100Type"/>
	<xsd:element name="ComplianceMonitoringAgencyCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="ComplianceMonitoringAgencyTypeCode" type="icis:StringMin1Max3TypeBase"/>
	<xsd:element name="ComplianceMonitoringPlannedStartDate" type="icis:DateType"/>
	<xsd:element name="ComplianceMonitoringStartDate" type="icis:DateType"/>
	<xsd:element name="EPAAssistanceIndicator" type="icis:YesNoIndicatorType"/>
	<xsd:element name="InspectionCommentText" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="InspectionRatingCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="InspectionUserDefinedField1" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="InspectionUserDefinedField2" type="icis:StringMin1Max50Type"/>
	<xsd:element name="InspectionUserDefinedField3" type="icis:StringMin1Max50Type"/>
	<xsd:element name="InspectionUserDefinedField4" type="icis:DateType"/>
	<xsd:element name="InspectionUserDefinedField5" type="icis:DateType"/>
	<xsd:element name="InspectionUserDefinedField6" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="InspectionContact" type="icis:InspectionContact"/>
	<xsd:element name="JointInspectionReasonCode" type="icis:StringMin1Max3Type"/>
	<xsd:element name="LeadParty" type="icis:LeadPartyType"/>
	<xsd:element name="MultimediaIndicator" type="icis:YesNoIndicatorTypeBase"/>
	<xsd:element name="NationalPrioritiesCode" type="icis:NonNegativeIntegerMin1Max3Type"/>
	<xsd:element name="NumberDaysPhysicallyConductingActivity" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="NumberHoursPhysicallyConductingActivity" type="icis:NonNegativeIntegerMin1Max10Type"/>
	<xsd:element name="StateFederalJointIndicator" type="icis:StateFederalJointType"/>
	<xsd:element name="StateStatuteViolatedName" type="icis:StringMin1Max100Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="ComplianceMonitoringData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:ComplianceMonitoring"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplianceMonitoring">
		<xsd:complexContent>
			<xsd:extension base="icis:ComplianceMonitoringKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ComplianceMonitoringPlannedStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringStartDate" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringActivityName" minOccurs="0"/>
					<xsd:element ref="icis:BiomonitoringInspectionMethod" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringActionReasonCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:ComplianceMonitoringAgencyTypeCode" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="icis:ComplianceMonitoringAgencyCode" minOccurs="0"/>
					<xsd:element ref="icis:StateStatuteViolatedName" minOccurs="0"/>
					<xsd:element ref="icis:EPAAssistanceIndicator" minOccurs="0"/>
					<xsd:element ref="icis:StateFederalJointIndicator" minOccurs="0"/>
					<xsd:element ref="icis:JointInspectionReasonCode" minOccurs="0"/>
					<xsd:element ref="icis:LeadParty" minOccurs="0"/>
					<xsd:element ref="icis:NumberDaysPhysicallyConductingActivity" minOccurs="0"/>
					<xsd:element ref="icis:NumberHoursPhysicallyConductingActivity" minOccurs="0"/>
					<xsd:element ref="icis:ComplianceMonitoringActionOutcomeCode" minOccurs="0"/>
					<xsd:element ref="icis:InspectionRatingCode" minOccurs="0"/>
					<xsd:element ref="icis:NationalPrioritiesCode" minOccurs="0"/>
					<xsd:element ref="icis:MultimediaIndicator" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField1" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField2" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField3" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField4" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField5" minOccurs="0"/>
					<xsd:element ref="icis:InspectionUserDefinedField6" minOccurs="0"/>
					<xsd:element ref="icis:InspectionCommentText" minOccurs="0"/>
					<xsd:element ref="icis:InspectionContact" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InspectionContact">
		<xsd:sequence>
			<xsd:element ref="icis:Contact" minOccurs="0"/>
			<xsd:element ref="icis:ContactAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
