dotnet/opennode2-net/plugins/ICISNPDES_15/xml_schema/5/ICIS_Biosolids_Program_Report_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.exchangenetwork.net/schema/icis/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" xmlns:icis="http://www.exchangenetwork.net/schema/icis/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- INCLUDE STATEMENTS -->
	<xsd:include schemaLocation="ICIS_Key_Elements_v1.5.xsd"/>
	<xsd:include schemaLocation="ICIS_Biosolids_v1.5.xsd"/>
	<!-- SCHEMA HEADER -->
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_Biosolids_Program_Report_v1.5.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/draft/icis/SchemasVersion1.5</xsd:documentation>
		<xsd:documentation>Description: biosolid program report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified:3-7-2008</xsd:documentation>
	</xsd:annotation>
	<!-- GLOBAL ELEMENT DECLARATIONS -->
	<xsd:element name="AnnualLoadingOfBiosolidDMT" type="icis:NonNegativeIntegerMin1Max5Type"/>
	<xsd:element name="AnnualLoadingOfBiosolidGallons" type="icis:NonNegativeIntegerMin1Max5Type"/>
	<xsd:element name="AnnualLoadingOfNutrientNitrogen" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="AnnualLoadingOfNutrientPhosphorus" type="icis:NonNegativeIntegerMin1Max8Type"/>
	<xsd:element name="AnnualLoadingParameterDate" type="icis:DateType"/>
	<xsd:element name="BiosolidsProgramReport" type="icis:BiosolidsProgramReport"/>
	<xsd:element name="BiosolidsReportComments" type="icis:StringMin1Max4000Type"/>
	<xsd:element name="NumberOfReportUnits" type="icis:Integer2FixedRange01To12Type"/>
	<xsd:element name="ReportCoverageEndDate" type="xsd:date"/>
	<xsd:element name="TotalNumberCodisposalViolations" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="TotalNumberDistributionMarketingViolations" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="TotalNumberIncineratorViolations" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="TotalNumberLandApplicationViolations" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="TotalNumberOtherSludgeViolations" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="TotalNumberSludgeRelatedManagementPracticeViolations" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<xsd:element name="TotalNumberSurfaceDisposalViolations" type="icis:NonNegativeIntegerMin1Max4Type"/>
	<!-- COMPLEX TYPE DEFINITIONS -->
	<xsd:complexType name="BiosolidsProgramReportData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:BiosolidsProgramReport"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BiosolidsProgramReport">
		<xsd:complexContent>
			<xsd:extension base="icis:BasicPermitKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:ReportCoverageEndDate"/>
					<xsd:element ref="icis:NumberOfReportUnits" minOccurs="0"/>
					<xsd:group ref="icis:BiosolidsAmountGroup" minOccurs="0"/>
					<xsd:element ref="icis:AnnualLoadingParameterDate" minOccurs="0"/>
					<xsd:element ref="icis:AnnualLoadingOfBiosolidGallons" minOccurs="0"/>
					<xsd:element ref="icis:AnnualLoadingOfBiosolidDMT" minOccurs="0"/>
					<xsd:element ref="icis:AnnualLoadingOfNutrientNitrogen" minOccurs="0"/>
					<xsd:element ref="icis:AnnualLoadingOfNutrientPhosphorus" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberLandApplicationViolations" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberIncineratorViolations" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberDistributionMarketingViolations" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberSludgeRelatedManagementPracticeViolations" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberSurfaceDisposalViolations" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberOtherSludgeViolations" minOccurs="0"/>
					<xsd:element ref="icis:TotalNumberCodisposalViolations" minOccurs="0"/>
					<xsd:element ref="icis:BiosolidsReportComments" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
