java/Wnos_Plugin/resources/here/xsd/update_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://www.windsorsolutions.biz/xsd/here" elementFormDefault="qualified" targetNamespace="http://www.windsorsolutions.biz/xsd/here" xmlns:xs="http://www.w3.org/2001/XMLSchema">  <xs:element name="UpdateManifest" type="tns:UpdateManifest" />  <xs:complexType name="UpdateManifest">    <xs:sequence>      <xs:element minOccurs="1" maxOccurs="1" name="CurrentBuildNumber" type="xs:decimal" />      <xs:element minOccurs="0" maxOccurs="1" name="MsiUrl" type="xs:string" />      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />    </xs:sequence>    <xs:attribute name="schemaVersion" type="xs:string" />    <xs:anyAttribute />  </xs:complexType></xs:schema>