java/node-plugin/node-plugin-icisnpdes/src/main/xsd/0/ICIS_PretreatmentProgramSummaryReport_v5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:icis="http://www.exchangenetwork.net/schema/icis/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/icis/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5">
	
	<xsd:include schemaLocation="ICIS_KeyElements_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_LocalLimitsProgramReport_v5.0.xsd"/>
	<xsd:include schemaLocation="ICIS_Pretreatment_v5.0.xsd"/>
	
	<xsd:annotation>
		<xsd:documentation>Schema Name: ICIS_PretreatmentProgramSummaryReport_v5.0.xsd</xsd:documentation>
		<xsd:documentation>Current Version Available: http://www.exchangenetwork.net/schema/icis/5</xsd:documentation>
		<xsd:documentation>Description: ICIS-NPDES Pretreatment summary report data input format</xsd:documentation>
		<xsd:documentation>Application: ICIS-NPDES</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/Alison Kittle</xsd:documentation>
		<xsd:documentation>Data Written: July 2006</xsd:documentation>
		<xsd:documentation>Last Date Modified: 2014-10-27</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="PretreatmentPerformanceSummary" type="icis:PretreatmentPerformanceSummary"/>
	<xsd:element name="PretreatmentPerformanceSummaryStartDate" type="icis:DateType"/>
	
	<xsd:complexType name="PretreatmentPerformanceSummaryData">
		<xsd:sequence>
			<xsd:element ref="icis:TransactionHeader"/>
			<xsd:element ref="icis:PretreatmentPerformanceSummary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PretreatmentPerformanceSummary">
		<xsd:complexContent>
			<xsd:extension base="icis:PretreatmentPerformanceSummaryReportKeyElements">
				<xsd:sequence>
					<xsd:element ref="icis:PretreatmentPerformanceSummaryStartDate" minOccurs="0"/>
					<xsd:group ref="icis:PretreatmentPerformanceSummaryDataGroup" minOccurs="0"/>
					<xsd:element ref="icis:LocalLimits" minOccurs="0"/>
					<xsd:element ref="icis:RemovalCredits" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
