dotnet/prod-opennode2-net/plugins/AQS2/xml_schema_v2.2/2/EN_AQS_MonitorRegulatoryCompliance_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/2" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
    <xsd:annotation>
        <xsd:documentation>Monitor Regulatory Compliance file
		Current Version Available At :
		Description : Schema for Monitor Regulatory Compliance 
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		</xsd:documentation>
    </xsd:annotation>
    <!--Data element and data type include files-->
    <xsd:include schemaLocation="http://www.exchangenetwork.net/schema/SC/SC_SimpleContent_v2.0.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DateTimeDataTypes_v2.2.xsd"/>
    <!--Monitor Regulatory Compliance schema components-->
    <xsd:element name="MonitorRegulatoryCompliance" type="aqs:MonitorRegulatoryComplianceType">
        <xsd:annotation>
            <xsd:documentation>Monitor regulatory compliance details</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--Monitor Regulatory Compliance complex data types-->
    <xsd:complexType name="MonitorRegulatoryComplianceType">
        <xsd:annotation>
            <xsd:documentation>Monitor regulatory compliance details complex type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="aqs:ActionCode"/>
            <xsd:element ref="aqs:CitationReferenceCode"/>
            <xsd:element ref="aqs:ComplianceIndicator" minOccurs="0"/>
            <xsd:element ref="aqs:ComplianceDate" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Monitor Regulatory Compliance data element-->
    <xsd:element name="MonitorRegulationCode" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>Identification of an EPA regulation for which compliance documentation is required.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ComplianceIndicator" type="aqs:ComplianceIndicatorType">
        <xsd:annotation>
            <xsd:documentation>The compliance status of a monitor with respect to an EPA regulation.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ComplianceDate" type="xsd:date">
        <xsd:annotation>
            <xsd:documentation>The date on which the current status of the monitorÆs compliance with the regulation was achieved.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--Monitor Regulatory Compliance data types-->
    <xsd:simpleType name="ComplianceIndicatorType">
        <xsd:annotation>
            <xsd:documentation>Enumeration of 4 1 character codes  type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="W"/>
            <xsd:enumeration value="C"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
