dotnet/prod-opennode2-net/plugins/AQS2/xml_schema_v2.2/2/EN_AQS_AirQualitySubmission_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/2" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2">
	<xsd:annotation>
		<xsd:documentation>AQS Submission root element file
		Current Version Available At :
		Description : Schema for Air Quality System Submission
		Application : Air Quality System (AQS), AQS Submission
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		</xsd:documentation>
	</xsd:annotation>
	<!--Schema component include files-->
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_SiteIdentifierDetails_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_BasicSiteInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_RoadInfluences_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_OpenPathMonitoringLocation_v2.2.xsd"/>
	<xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_MonitorIdentifierDetails_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_BasicMonitoringInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorSamplingPeriod_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorTypeInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorAgencyRole_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorObjectiveInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorSamplingSchedule_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorLocationInfluences_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorObstructions_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorRegulatoryCompliance_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorCollocationInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_MonitorProtocol_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_RawAccuracyInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_RawCompositeInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_RawDataDetails_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_RawPrecisionInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_AnnualSummaryInformation_v2.2.xsd"/>
	<xsd:include schemaLocation="EN_AQS_BlankInformation_v2.2.xsd"/>
	<!--Air Quality Submission schema components-->
	<xsd:element name="AirQualitySubmission" type="aqs:AirQualitySubmissionType">
		<xsd:annotation>
			<xsd:documentation>This is the root element of the AQS Submission schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileGenerationPurposeCode" type="aqs:FileGenerationPurposeCodeType">
		<xsd:annotation>
			<xsd:documentation>The reason (destination system) for creating the XML file.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileGenerationDateTime" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>The date and time the XML file was created.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FacilitySiteList" type="aqs:FacilitySiteListType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements describing the site, monitor, and sample values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonitorList" type="aqs:MonitorListType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements describing the monitor, and sample values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RawDataList" type="aqs:RawDataListType">
		<xsd:annotation>
			<xsd:documentation>This is a complex element (element grouping) containing all of the elements describing the sample values.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Air Quality Submission types-->
	<xsd:simpleType name="FileGenerationPurposeCodeType">
		<xsd:annotation>
			<xsd:documentation>Enumeration of 6 type codes type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AQS"/>
			<xsd:enumeration value="AIRNOW"/>
			<xsd:enumeration value="OTHER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Air Quality Submission complex data types-->
	<xsd:complexType name="AirQualitySubmissionType">
		<xsd:annotation>
			<xsd:documentation>Root element for all AQS submissions complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:FileGenerationPurposeCode"/>
			<xsd:element ref="aqs:FileGenerationDateTime"/>
			<xsd:element ref="aqs:FacilitySiteList" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Facility site details list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute ref="aqs:Version" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="FacilitySiteListType">
		<xsd:annotation>
			<xsd:documentation>Facility site details list complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:SiteIdentifierDetails"/>
			<xsd:element ref="aqs:BasicSiteInformation" minOccurs="0"/>
			<xsd:element ref="aqs:RoadInfluences" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:OpenPathMonitoringLocation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorList" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MonitorListType">
		<xsd:annotation>
			<xsd:documentation>Monitor details list complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:MonitorIdentifierDetails"/>
			<xsd:element ref="aqs:BasicMonitoringInformation" minOccurs="0"/>
			<xsd:element ref="aqs:MonitorSamplingPeriod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorTypeInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorAgencyRole" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorObjectiveInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorSamplingSchedule" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorLocationInfluences" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorObstructions" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorRegulatoryCompliance" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorCollocationInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:MonitorProtocol" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="aqs:RawDataList" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RawDataListType">
		<xsd:annotation>
			<xsd:documentation>Raw data details list complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="aqs:TransactionProtocolDetails" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="aqs:RawCompositeInformation"/>
				<xsd:element ref="aqs:RawResults"/>
				<xsd:element ref="aqs:RawAccuracyInformation"/>
				<xsd:element ref="aqs:RawPrecisionInformation"/>
				<xsd:element ref="aqs:AnnualSummaryInformation"/>
				<xsd:element ref="aqs:BlankInformation"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:attribute name="Version" type="aqs:VersionType">
		<xsd:annotation>
			<xsd:documentation>Version identifier to facilitate load processing.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:simpleType name="VersionType">
		<xsd:annotation>
			<xsd:documentation>Type definition for version identifier to facilitate load processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="2.0"/>
			<xsd:enumeration value="2.1"/>
			<xsd:enumeration value="2.2"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
