dotnet/prod-opennode2-net/plugins/AQS2/xml_schema_v2.2/2/EN_AQS_RawAccuracyInformation_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/2" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
    <xsd:annotation>
        <xsd:documentation>Raw Accuracy Information file
		Current Version Available At :
		Description : Schema for Raw Accuracy Information 
		Application : Air Quality System (AQS)
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		</xsd:documentation>
    </xsd:annotation>
    <!--Data element and data type include files-->
    <xsd:include schemaLocation="AQS_ELEMENTS/EN_AQS_ActionCode_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_IntegerTwoDigitPositiveDataType_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DateTimeDataTypes_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_DecimalTenPointFiveDataType_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_YearDataType_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_CharOneToTenStringDataType_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_NormCharTwentyTextDataType_v2.2.xsd"/>
    <xsd:include schemaLocation="AQS_ELEMENTS/AQS_TYPES/EN_AQS_NormCharThirtyTextDataType_v2.2.xsd"/>
    <!--Raw Accuracy Information schema components-->
    <xsd:element name="RawAccuracyInformation" type="aqs:RawAccuracyInformationType">
        <xsd:annotation>
            <xsd:documentation>This is a complex element (element grouping) containing all of the elements related to accuracy tests.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--Raw Accuracy Information complex data types-->
    <xsd:complexType name="RawAccuracyInformationType">
        <xsd:annotation>
            <xsd:documentation>Accuracy data details complex type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="aqs:ActionCode"/>
            <xsd:element ref="aqs:AccuracyAuditIDNumber"/>
            <xsd:element ref="aqs:AuditYear" minOccurs="0"/>
            <xsd:element ref="aqs:QuarterRepresentedCode" minOccurs="0"/>
            <xsd:element ref="aqs:AccuracyDate"/>
            <xsd:element ref="aqs:AuditTypeIdentifier" minOccurs="0"/>
            <xsd:element ref="aqs:LocalStandardIdentifier" minOccurs="0"/>
            <xsd:element ref="aqs:AuditClassIdentifier" minOccurs="0"/>
            <xsd:element ref="aqs:AccuracyTypeIdentifier" minOccurs="0"/>
            <xsd:element ref="aqs:AuditSampleIdentifier" minOccurs="0"/>
            <xsd:element ref="aqs:LocalStandardExpirationDate" minOccurs="0"/>
            <xsd:element ref="aqs:AuditScheduledDate" minOccurs="0"/>
            <xsd:sequence minOccurs="0">
                <xsd:element ref="aqs:Level1ActualValue"/>
                <xsd:element ref="aqs:Level1IndicatedValue"/>
            </xsd:sequence>
            <xsd:sequence minOccurs="0">
                <xsd:element ref="aqs:Level2ActualValue"/>
                <xsd:element ref="aqs:Level2IndicatedValue"/>
            </xsd:sequence>
            <xsd:sequence minOccurs="0">
                <xsd:element ref="aqs:Level3ActualValue"/>
                <xsd:element ref="aqs:Level3IndicatedValue"/>
            </xsd:sequence>
            <xsd:sequence minOccurs="0">
                <xsd:element ref="aqs:Level4ActualValue"/>
                <xsd:element ref="aqs:Level4IndicatedValue"/>
            </xsd:sequence>
            <xsd:sequence minOccurs="0">
                <xsd:element ref="aqs:Level5ActualValue"/>
                <xsd:element ref="aqs:Level5IndicatedValue"/>
            </xsd:sequence>
            <xsd:element ref="aqs:ZeroSpanValue" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Raw Accuracy Information data elements-->
    <xsd:element name="AccuracyAuditIDNumber" type="aqs:TwoDigitPositiveIntegerType">
        <xsd:annotation>
            <xsd:documentation>A sequentially assigned number used to identify (ID) a unique measurement data group for a monitor on a specific date.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuditYear" type="aqs:YearType">
        <xsd:annotation>
            <xsd:documentation>The year represented by the audit.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="QuarterRepresentedCode" type="aqs:QuarterRepresentedCodeType">
        <xsd:annotation>
            <xsd:documentation>The quarter represented by an audit.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AccuracyDate" type="xsd:date">
        <xsd:annotation>
            <xsd:documentation>The calendar date for which the accuracy audit is being reported.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuditTypeIdentifier" type="aqs:NormalizedString20CharType">
        <xsd:annotation>
            <xsd:documentation>Description of who performed the audit and how the audit standard was certified.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocalStandardIdentifier" type="aqs:NormalizedString30CharType">
        <xsd:annotation>
            <xsd:documentation>The source of the local primary standards used for the audit.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuditClassIdentifier" type="aqs:NormalizedString20CharType">
        <xsd:annotation>
            <xsd:documentation>Description of the class of audit taken at the monitor.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AccuracyTypeIdentifier" type="aqs:NormalizedString20CharType">
        <xsd:annotation>
            <xsd:documentation>A description of the type of accuracy test performed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuditSampleIdentifier" type="aqs:CharOneToTenStringType">
        <xsd:annotation>
            <xsd:documentation>The unique identity (ID) number of the reference sample used to challenge the instrument.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocalStandardExpirationDate" type="xsd:date">
        <xsd:annotation>
            <xsd:documentation>The expiration date for the local primary standard.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuditScheduledDate" type="xsd:date">
        <xsd:annotation>
            <xsd:documentation>The initial date that the performance audit was scheduled.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level1ActualValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The true observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level1IndicatedValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The recorded observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level2ActualValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The true observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level2IndicatedValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The recorded observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level3ActualValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The true observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level3IndicatedValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The recorded observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level4ActualValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The true observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level4IndicatedValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The recorded observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level5ActualValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The true observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Level5IndicatedValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>The recorded observation of the parameter value at the prescribed audit level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ZeroSpanValue" type="aqs:TenPointFiveDecimalType">
        <xsd:annotation>
            <xsd:documentation>A measurement obtained with gas from a zero concentration. Zero span is the observed value read from the instrument when the concentration of the specific parameter used to test the monitor was zero.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--Raw Accuracy Information data types-->
    <xsd:simpleType name="QuarterRepresentedCodeType">
        <xsd:annotation>
            <xsd:documentation>Enumeration of 4 codes type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:enumeration value="Q1"/>
            <xsd:enumeration value="Q2"/>
            <xsd:enumeration value="Q3"/>
            <xsd:enumeration value="Q4"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
