java/node-plugin/src/main/packaging/here/xsd/T2/TierII_FacilityContact_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" xmlns:TierII="http://www.exchangenetwork.net/schema/TierII/1/0" xmlns:TRI="urn:us:net:exchangenetwork:TRI:1:0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/TierII/1/0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_IndividualIdentity_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_MailingAddress_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_Telephonic_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_ElectronicAddress_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>		
		Schema Name : 	TierII_FacilityContact_v1.0.xsd
		Current Version Available At :
		Description : 	Facility contact information, which includes individual name, title, mailing address, phone, contact type, etc.
		Aplication : 
		Developed by : 	 enfoTech
		Point of Contact : Sara Liu	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="FacilityContact" type="TierII:FacilityContactDataType">
		<xsd:annotation>
			<xsd:documentation>Facility contact data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilityContactDataType">
		<xsd:sequence>
			<xsd:element ref="sc:IndividualIdentity" minOccurs="0"/>
			<xsd:element ref="sc:MailingAddress" minOccurs="0"/>
			<xsd:element ref="sc:Telephonic" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="TierII:ContactType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="sc:ElectronicAddress" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ContactType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Identifying the types of the contact, for instance, emergency contact, night contact, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
