java/node-plugin/node-plugin-attains/src/main/xsd/2/0/ATT_AssessmentUnitDelist_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
  <xsd:annotation>
    <xsd:documentation>Schema Name: ATT_AssessmentUnitDelist.xsd</xsd:documentation>
    <xsd:documentation>Description: Component Schema for ATT (Water Assessment Data) AssessmentUnitDelist types</xsd:documentation>
    <xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
    <xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
    <xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
  </xsd:annotation>
  <xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
  <xsd:include schemaLocation="./ATT_AssessmentUnitCauses_v2.0.xsd"/>
  <xsd:complexType name="AssessmentUnitDelistsDataType">
    <xsd:sequence>
      <xsd:element ref="att:AssessmentUnitDelistDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AssessmentUnitDelistDetailsDataType">
    <xsd:sequence>
      <xsd:element ref="att:CauseName"/>
      <xsd:element ref="att:DelistingDate" minOccurs="0"/>
      <xsd:element ref="att:DelistingReason" minOccurs="1"/>
      <xsd:element ref="att:DelistingComment" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AssessmentUnitDelists" type="att:AssessmentUnitDelistsDataType">
    <xsd:unique name="AUDPK">
      <xsd:selector xpath="att:AssessmentUnitDelistDetails"/>
      <xsd:field xpath="att:CauseName"/>
    </xsd:unique>
  </xsd:element>
  <xsd:element name="AssessmentUnitDelistDetails" type="att:AssessmentUnitDelistDetailsDataType"/>
  <xsd:element name="DelistingDate" type="xsd:date"/>
  <xsd:element name="DelistingReason" type="att:DelistingReasonDataType"/>
  <xsd:element name="DelistingComment" type="att:String4000DataType"/>
</xsd:schema>
