java/node-plugin/node-plugin-attains/src/main/xsd/2/0/ATT_StateAssessments_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name: ATT_StateAssessments.xsd</xsd:documentation>
		<xsd:documentation>Description: Message Schema for ATT (Water Assessment Data) StateAssessment data exchanges</xsd:documentation>
		<xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
		<xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
		<xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_AssessmentUnits_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_UserCategories_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_StateMethods_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_StateLocations_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_ATLAS_v2.0.xsd"/>
	<xsd:include schemaLocation="http://www.exchangenetwork.net/schema/SC/SC_StateIdentity_v2.0.xsd"/>
	<xsd:complexType name="StateAssessmentsDataType">
		<xsd:sequence>
			<xsd:element ref="att:StateAssessmentDetails" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StateAssessmentDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="att:StateIdentity"/>
			<xsd:element ref="att:Cycle"/>
			<xsd:element ref="att:AssessmentUnits" minOccurs="1"/>
			<xsd:element ref="att:UserCategories" minOccurs="0"/>
			<xsd:element ref="att:StateMethods" minOccurs="0"/>
			<xsd:element ref="att:StateLocations" minOccurs="0"/>
			<xsd:element ref="att:ATLASes" minOccurs="0"/>
			<xsd:element ref="att:MercuryComment" minOccurs="0"/>
			<xsd:element ref="att:MercuryURL" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="StateAssessments" type="att:StateAssessmentsDataType">
		<xsd:annotation>
			<xsd:documentation>Note: StateAssessments is the root element of the ATT schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateAssessmentDetails" type="att:StateAssessmentDetailsDataType">
		<xsd:annotation>
			<xsd:documentation>Note: StateAssessmentDetails is a valid root element of the ATT schema for data exchanges that involve only one state.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Cycle" type="xsd:gYear"/>
	<xsd:element name="MercuryComment" type="att:String4000DataType"/>
	<xsd:element name="MercuryURL" type="att:String250DataType"/>
</xsd:schema>
