java/node-plugin/node-plugin-attains/src/main/xsd/2/0/ATT_AssessmentUnits_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name: ATT_AssessmentUnits.xsd</xsd:documentation>
		<xsd:documentation>Description: Component Schema for ATT (Water Assessment Data) AssessmentUnit types</xsd:documentation>
		<xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
		<xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
		<xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_UserCategories_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_AssessmentWaters_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_CycleTrack_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_AssessmentUnitCauses_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_WQSAttainments_v2.0.xsd"/>
	<xsd:include schemaLocation="./ATT_AssessmentUnitDelist_v2.0.xsd"/>
	<xsd:complexType name="AssessmentUnitsDataType">
		<xsd:sequence>
			<xsd:element ref="att:AssessmentUnitDetails" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssessmentUnitDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="att:ID305b"/>
			<xsd:element ref="att:WaterName"/>
			<xsd:element ref="att:Location"/>
			<xsd:element ref="att:TrophicStatus" minOccurs="0"/>
			<xsd:element ref="att:PublicLake" minOccurs="0"/>
			<xsd:element ref="att:MonitoringScheduledYear" minOccurs="0"/>
			<xsd:element ref="att:ClassName" minOccurs="0"/>
			<xsd:element ref="att:ClassDescription" minOccurs="0"/>
			<xsd:element ref="att:Assessor" minOccurs="0"/>
			<xsd:element ref="att:CategoryID" minOccurs="0"/>
			<xsd:element ref="att:EPACategory" minOccurs="0"/>
			<xsd:element ref="att:AssessmentUnitComments" minOccurs="0"/>
			<xsd:element ref="att:AssessmentUnitOwner" minOccurs="0"/>
			<xsd:element ref="att:CycleLastAssessed" minOccurs="0"/>
			<xsd:element ref="att:Trend" minOccurs="0"/>
			<xsd:element ref="att:AssessmentWaters" minOccurs="1"/>
			<xsd:element ref="att:CycleTracks" minOccurs="0"/>
			<xsd:element ref="att:AssessmentUnitCauses" minOccurs="0"/>
			<xsd:element ref="att:WQSAttainments" minOccurs="0"/>
			<xsd:element ref="att:AssessmentUnitDelists" minOccurs="0"/>
			<xsd:element ref="att:CategoryReportFlag" minOccurs="0"/>
			<xsd:element ref="att:EPAAddedAssessmentUnit" minOccurs="0"/>
			<xsd:element ref="att:Assessed" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AssessmentUnits" type="att:AssessmentUnitsDataType">
		<xsd:unique name="AUPK">
			<xsd:selector xpath="att:AssessmentUnitDetails"/>
			<xsd:field xpath="att:ID305b"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="AssessmentUnitDetails" type="att:AssessmentUnitDetailsDataType"/>
	<xsd:element name="ID305b" type="att:String50RequiredDataType"/>
	<xsd:element name="WaterName" type="att:String60RequiredDataType"/>
	<xsd:element name="Location" type="att:String255DataType"/>
	<xsd:element name="TrophicStatus" type="att:TrophicStatusDataType"/>
	<xsd:element name="PublicLake" type="att:StringYesNoDataType"/>
	<xsd:element name="MonitoringScheduledYear" type="xsd:gYear"/>
	<xsd:element name="ClassName" type="att:String100DataType"/>
	<xsd:element name="ClassDescription" type="att:String4000DataType"/>
	<xsd:element name="EPACategory">
		<xsd:simpleType>
			<xsd:restriction base="att:EPACategoryDataType"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AssessmentUnitComments" type="att:String4000DataType"/>
	<xsd:element name="AssessmentUnitOwner" type="att:String20DataType"/>
	<xsd:element name="CycleLastAssessed" type="xsd:gYear"/>
	<xsd:element name="Trend" type="att:TrendDataType"/>
	<xsd:element name="Assessed" type="att:StringYNDataType"/>
	<xsd:element name="CategoryReportFlag" type="att:CategoryReportFlagDataType"/>
	<xsd:element name="EPAAddedAssessmentUnit" type="att:StringYNDataType"/>
</xsd:schema>
