java/node-plugin/node-plugin-attains/src/main/xsd/2/0/ATT_StateMethods_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:att="http://www.exchangenetwork.net/schema/OWIR/ATT/2" targetNamespace="http://www.exchangenetwork.net/schema/OWIR/ATT/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name: ATT_StateMethods.xsd</xsd:documentation>
		<xsd:documentation>Description: Component Schema for ATT (Water Assessment Data) StateMethod types</xsd:documentation>
		<xsd:documentation>Application: Integrated Reports (IR) for 305(b) and 303(d) systems</xsd:documentation>
		<xsd:documentation>Developed by: Environmental Protection Agency, INDUS Corporation</xsd:documentation>
		<xsd:documentation>Point of Contact: Shera Reems</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="./ATT_Shared_v2.0.xsd"/>
	<xsd:complexType name="StateMethodsDataType">
		<xsd:sequence>
			<xsd:element ref="att:StateMethodDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StateMethodDetailsDataType">
		<xsd:sequence>
			<xsd:element ref="att:AssessmentMethodIdentifierCode"/>
			<xsd:element ref="att:AssessmentMethodName"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="StateMethodDetails" type="att:StateMethodDetailsDataType"/>
	<xsd:element name="StateMethods" type="att:StateMethodsDataType">
		<xsd:unique name="SMPK">
			<xsd:selector xpath="att:StateMethodDetails"/>
			<xsd:field xpath="att:AssessmentMethodIdentifierCode"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="AssessmentMethodIdentifierCode" type="xsd:integer"/>
	<xsd:element name="AssessmentMethodName" type="att:String90DataType"/>
</xsd:schema>
