java/2012-OCT-PRE-MAVEN-REFACTOR/node-plugin/src/main/packaging/here/xsd/FRS23/FACID_MailingAddressDataType_v2.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.epa.gov/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:facid="http://www.epa.gov/xml" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.3">
	<xsd:include schemaLocation=".\FACID_StateCodeDataType_v2.3.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
		Schema Name : 	FACID_MailingAddressDataType_v2.3 
		Current Version Available At :
		Description : 	Complex Data Type for Mailing Address.
		Application : 
		Developed by : 	 Environmental Protection Agency, SAIC
		Point of Contact : Meena Masti	
	</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="MailingAddressDataType">
		<xsd:sequence>
			<xsd:element ref="facid:MailingAddressText" minOccurs="0"/>
			<xsd:element ref="facid:SupplementalAddressText" minOccurs="0"/>
			<xsd:element ref="facid:MailingAddressCityName" minOccurs="0"/>
			<xsd:element ref="facid:MailingAddressStateUSPSCode" minOccurs="0"/>
			<xsd:element ref="facid:MailingAddressStateName" minOccurs="0"/>
			<xsd:element ref="facid:MailingAddressCountryName" minOccurs="0"/>
			<xsd:element ref="facid:MailingAddressZIPCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MailingAddressText" type="xsd:string"/>
	<xsd:element name="SupplementalAddressText" type="xsd:string"/>
	<xsd:element name="MailingAddressCityName" type="xsd:string"/>
	<xsd:element name="MailingAddressStateUSPSCode" type="facid:StateCodeDataType"/>
	<xsd:element name="MailingAddressStateName" type="xsd:string"/>
	<xsd:element name="MailingAddressCountryName" type="xsd:string"/>
	<xsd:element name="MailingAddressZIPCode" type="xsd:string"/>
</xsd:schema>
