java/Wnos_Plugin/resources/wqx/xsd/WQX_TransactionHistory_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="./WQX_OutboundSimpleContent_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : WQX_TransactionHistory_v2.0.xsd
        Description   : 	A listing of WQX submission transactions.
        Developed by  : 	 EPA Office of Water
        Point of Contact :   Dwane Young
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="TransactionRecordDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:TransactionOrganizationIdentifier"/>
			<xsd:element ref="wqx:TransactionUserName"/>
			<xsd:element ref="wqx:TransactionIdentifier" minOccurs="0"/>
			<xsd:element ref="wqx:TransactionStartDate"/>
			<xsd:element ref="wqx:TransactionStartTime"/>
			<xsd:element ref="wqx:TransactionEndDate" minOccurs="0"/>
			<xsd:element ref="wqx:TransactionEndTime" minOccurs="0"/>
			<xsd:element ref="wqx:TransactionTypeName" minOccurs="0"/>
			<xsd:element ref="wqx:TransactionStatusName" minOccurs="0"/>
			<xsd:element ref="wqx:TransactionHeaderAuthor" minOccurs="0"/>
			<xsd:element ref="wqx:TransactionPayloadOperationName" minOccurs="0"/>
			<xsd:element ref="wqx:TransactionCommentText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WQXTransactionHistoryDataType">
		<xsd:sequence>
			<xsd:element ref="wqx:TransactionRecord" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TransactionRecord" type="wqx:TransactionRecordDataType">
		<xsd:annotation>
			<xsd:documentation>A record of a prior WQX submission transaction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WQXTransactionHistory" type="wqx:WQXTransactionHistoryDataType">
		<xsd:annotation>
			<xsd:documentation>A listing of WQX transactions.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
