dotnet/opennode2-net/plugins/PNWWQX/xsd/PNWWQX_DC_DataSources_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Department of Environmental Quality (Department of Environmental Quality) --><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pnwwqx="urn:us:net:exchangenetwork" version="1.3">	<xsd:include schemaLocation=".\PNWWQX_ProvidingOrganizationDetailsType_v.1.3.xsd"/>	<xsd:include schemaLocation=".\PNWWQX_DataAccessType_v.1.3.xsd"/>	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_DC_DataSources_v.1.3.xsd 		Current Version Available At :			Description : 					This schema provides a list of associated Providing Organization details and Data Access details for data sources recorded in the Pacific Northwest Water Quality Data Exchange Data Catalog (DC).		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)			</xsd:documentation>	</xsd:annotation>	<xsd:element name="PNWWQX_DC_DataSources" type="pnwwqx:PNWWQXDCDataSource"/>	<xsd:complexType name="PNWWQXDCDataSource">		<xsd:sequence>			<xsd:element ref="pnwwqx:PNWWQXDCDataSourceList" minOccurs="0" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="PNWWQXDCDataSourceList" type="pnwwqx:PNWWQXDCDataSourceList"/>	<xsd:complexType name="PNWWQXDCDataSourceList">		<xsd:sequence>			<xsd:element ref="pnwwqx:ProvidingOrganizationDetails"/>			<xsd:element ref="pnwwqx:DataAccess"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="ProvidingOrganizationDetails" type="pnwwqx:ProvidingOrganizationDetailsType"/>	<xsd:element name="DataAccess" type="pnwwqx:DataAccessType"/></xsd:schema>