dotnet/opennode2-net/plugins/PNWWQX/xsd/PNWWQX_PhoneEmailType_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:pnwwqx="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.3">	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_PhoneEmailType_v.1.3.xsd 		Current Version Available At :			Description : 					This schema defines the data elements needed to describe a telephone number and electronic mailing address.   NOTE: This schema may be supplanted in the future by a national standard schema.		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)		</xsd:documentation>	</xsd:annotation>	<xsd:complexType name="PhoneEmailType">		<xsd:sequence>			<xsd:element ref="pnwwqx:TelephoneNumber"/>			<xsd:element ref="pnwwqx:ElectronicMailAddressText" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="TelephoneNumber" type="xsd:string"/>	<xsd:element name="ElectronicMailAddressText" type="xsd:string"/></xsd:schema>