dotnet/opennode2-net/plugins/PNWWQX/xsd/PNWWQX_TaxonType_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:pnwwqx="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.3">	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_TaxonType_v.1.3.xsd 		Current Version Available At :			Description : 					This schema defines the data elements needed to describe biological organisms that may be assessed as a means of monitoring water quality.		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)		</xsd:documentation>	</xsd:annotation>	<xsd:complexType name="TaxonType">		<xsd:sequence>			<xsd:element ref="pnwwqx:BiologicalSystematicName" minOccurs="0"/>			<xsd:element ref="pnwwqx:BiologicalSystematicContextName"/>			<xsd:element ref="pnwwqx:BiologicalSystematicIdentifier" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="BiologicalSystematicName" type="xsd:string"/>	<xsd:element name="BiologicalSystematicContextName" type="xsd:string"/>	<xsd:element name="BiologicalSystematicIdentifier" type="xsd:string"/></xsd:schema>