dotnet/opennode2-net/plugins/PNWWQX/xsd/PNWWQX_DC_Analytes_v.1.3.xsd

<?xml version="1.0" encoding="utf-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Department of Environmental Quality (Department of Environmental Quality) --><xsd:schema targetNamespace="urn:us:net:exchangenetwork" xmlns:pnwwqx="urn:us:net:exchangenetwork" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.3">	<xsd:annotation>		<xsd:documentation>		Schema Name : 					PNWWQX_DC_Analytes_v.1.3.xsd 		Current Version Available At :			Description : 					This schema is used to provide a list of all analyte names recorded in the Pacific Northwest Water Quality Data Exchange Data Catalog (DC).		Application : 					Pacific Northwest Water Quality Data Exchange 		Developed by : 	 				Pacific Northwest Exchange States; Windsor Solutions, Inc		Point of Contact : 				Curtis Cude (cude.curtis@deq.state.or.us)										Kevin Jeffery (kevin_jeffery@windsorsolutions.com)			</xsd:documentation>	</xsd:annotation>	<xsd:element name="PNWWQX_DC_Analytes" type="pnwwqx:PNWWQXDCAnalytes"/>	<xsd:complexType name="PNWWQXDCAnalytes">		<xsd:sequence>			<xsd:element ref="pnwwqx:AnalyteName" minOccurs="0" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="AnalyteName" type="xsd:string"/></xsd:schema>