dotnet/plugins/CERS_12/xml_schema/2/CER_Identification_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_Identification_v1.2.xsd
        Current Version Available At : http://www.exchangenetwork.net/schema/cer/1/2/CER_Identification_v1.2.xsd
        Description   : Identifiers by which an entity is known or has been known.
        Developed by  : 	 Perrin Quarles Associates, Inc.
        Point of Contact : 	Perrin Quarles Associates, Inc.	
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v1.2.xsd"/>
	<xsd:complexType name="IdentificationDataType">
		<xsd:sequence>
			<xsd:element ref="cer:Identifier"/>
			<xsd:element ref="cer:ProgramSystemCode"/>
			<xsd:element ref="cer:EffectiveDate" minOccurs="0"/>
			<xsd:element ref="cer:EndDate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IndividualIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="OrganizationIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ProcessIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ReleasePointIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ReleasePointApportionmentIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="UnitIdentification" type="cer:IdentificationDataType"/>
</xsd:schema>
