dotnet/prod-opennode2-net/plugins/AQS3/xml_schema/0/AQS_ELEMENTS/AQS_TYPES/EN_AQS_SiteIdentifierDetailsType_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Nick Mangus (LMP4 ISGS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:aqs="http://www.exchangenetwork.net/schema/AQS/Submission/3" targetNamespace="http://www.exchangenetwork.net/schema/AQS/Submission/3" elementFormDefault="qualified" attributeFormDefault="qualified" version="3.0">
	<xsd:annotation>
		<xsd:documentation>AQS Site Identifier data elements file
		Current Version Available At :
		Description : Schema for the Site Identifier data elements
		Application : Air Quality System (AQS) reusable data elements
		Developed by : Environmental Protection Agency, Computer Sciences Corporation
		Point of Contact : Nick Mangus (EPA), WDavid Ripley, III (CSC)	
		</xsd:documentation>
	</xsd:annotation>
	<!--Data type include files-->
	<xsd:include schemaLocation="http://www.exchangenetwork.net/schema/SC/SC_SimpleContent_v2.0.xsd"/>
	<xsd:include schemaLocation="EN_AQS_DigitThreeStringDataType_v3.0.xsd"/>
	<xsd:include schemaLocation="EN_AQS_DigitFourStringDataType_v3.0.xsd"/>
	<!--Site Identifier complex data types-->
	<xsd:complexType name="SiteIdentifierDetailsType">
		<xsd:annotation>
			<xsd:documentation>Required elements for site identiication complex type definition</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:choice>
						<xsd:element ref="aqs:StateCode"/>
						<xsd:element ref="aqs:NonStateCode"/>
					</xsd:choice>
					<xsd:element ref="aqs:CountyCode"/>
				</xsd:sequence>
				<xsd:element ref="aqs:TribalCode"/>
			</xsd:choice>
			<xsd:element ref="aqs:FacilitySiteIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Site Identifier data elements-->
	<xsd:element name="NonStateCode" type="aqs:NonStateCodeType">
		<xsd:annotation>
			<xsd:documentation>Geographic identifier used for site locations not applicable to states or territories.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Site Identifier data types-->
	<xsd:simpleType name="NonStateCodeType">
		<xsd:annotation>
			<xsd:documentation>2 character codes type definiition</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
