prod-opennode2-net/plugins/HERE/xml_schema/CAFO/1/0/CAFO_GeographicLocationDescription_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:cafo="http://www.exchangenetwork.net/schema/CAFO/1_0" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>Schema Name:CAFO_GeographicLocationDescription_v1.0</xsd:documentation>
		<xsd:documentation>Current Version Available:  </xsd:documentation>
		<xsd:documentation>Description: Region 4 Pilot CAFO Schema</xsd:documentation>
		<xsd:documentation>Application: CAFO-Region 4</xsd:documentation>
		<xsd:documentation>Developed By: U.S. Environmental Protection Agency</xsd:documentation>
		<xsd:documentation>Point of Contact: EPA/CoryWagner</xsd:documentation>
		<xsd:documentation>Data Written: December 2005</xsd:documentation>
		<xsd:documentation>Last Date Modified:02-06-2006</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_MeasureUnit_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_Measure_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_ReferenceMethod_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:element name="GeographicLocationDescription" type="cafo:GeographicLocationDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>list of geographic identifiers used to clearly mark an object's precise location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GeographicLocationDescriptionDataType">
		<xsd:sequence>
			<xsd:element ref="cafo:LatitudeMeasureDecimal" minOccurs="0"/>
			<xsd:element ref="cafo:LongitudeMeasureDecimal" minOccurs="0"/>
			<xsd:element ref="cafo:HorizontalAccuracyMeasure" minOccurs="0"/>
			<xsd:element ref="cafo:HorizontalMethod" minOccurs="0"/>
			<xsd:element ref="cafo:HydrologicUnitCode" minOccurs="0"/>
			<xsd:element ref="cafo:LocationCommentsText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LatitudeMeasureDecimal" type="sc:LatitudeMeasureDataType"/>
	<xsd:element name="LongitudeMeasureDecimal" type="sc:LongitudeMeasureDataType"/>
	<xsd:element name="HorizontalAccuracyMeasure" type="sc:MeasureDataType"/>
	<xsd:element name="HorizontalMethod" type="sc:ReferenceMethodDataType"/>
	<xsd:annotation>
		<xsd:documentation>
			This element incorporates the shared schema component for Reference Method
			which is made up of 5 child elements, MethodIdentifierCode, MethodIdentifierCodeListIdentifier,
			MethodName, MethodDescriptionText, MethodDeviationsText, all optional.  Below is
			a list of recommended (by CAFO team) MethodIdentifierCodes and MethodNames for determining the
			Lat/Long for CAFO Facilities  
			
			Code	Method Name
			24		Public Land Survey - Section
			28		GPS-Unspecified
			29		GPS, with Canadian Active Control System
			30		Interpolation - Digital Map Source (TIGER)
			31		Interpolation - SPOT
			32		Interpolation - MSS
			33		Interpolation - TM
			34		Public Land Survey - Eighth Section
			35		Public Land Survey - Sixteenth Section
			37		ZIP +4 Centroid
			38		ZIP +2 Centroid
			A1		Address Matching-House Number
			A2		Address Matching-Block Face
			A3		Address Matching-Street Centerline
			A4		Address Matching-Nearest Intersection
			A5		Address Matching-Primary Name
			A6		Address Matching-Digitized
			AO		Address Matching-Other
			C1		Census Block-1990-Centroid
			C2		Census Block/Group-1990-Centroid
			C3		Census Block/Tract-1990-Centroid
			CO		Census-Other
			G1		GPS Carrier Phase Static Relative Position
			G2		GPS Carrier Phase Kinematic Relative Position
			G3		GPS Code (Psuedo Range) Differential
			G4		GPS Code (Psuedo Range) Precise Position
			G5		GPS Code (Psuedo Range) Standard Position (SA Off)
			G6		GPS Code (Psuedo Range) Standard Position (SA On)
			I1		Interpolation - Map
			I2		Interpolation - Photo
			I3		Interpolation - Satellite
			IO		Interpolation - Other
			L1		Loran C
			P1		Public Land Survey - Quarter Section
			P2		Public Land Survey - Footing
			S1		Classical Surveying Techniques
			UN		Unknown
			Z1		ZIP Code - Centroid
			</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="HydrologicUnitCode" type="xsd:string"/>
	<xsd:element name="LocationCommentsText" type="sc:LocationCommentsTextDataType"/>
</xsd:schema>
