dotnet/prod-opennode2-net/plugins/RCRA_52/xml_schema/4/RCRA_HazardousWasteHandlerSubmission_v5.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by levyarm (EMBRACE) -->
<xsd:schema xmlns:RC="http://www.exchangenetwork.net/schema/RCRA/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/RCRA/5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4">
	<xsd:include schemaLocation="RCRA_Shared_v5.4.xsd"/>
	<xsd:include schemaLocation="RCRA_OtherID_v5.4.xsd"/>
	<xsd:include schemaLocation="RCRA_Handler_v5.4.xsd"/>
	<xsd:include schemaLocation="RCRA_SharedPublishing_v5.4.xsd"/>
	<xsd:annotation>
		<xsd:documentation>		
		Schema Name: RCRA_HazardousWasteHandlerSubmission_v5.4.xsd
		Description : 	Handler schema for RCRA submissions
		Developed by : 	U.S. EPA
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="HazardousWasteHandlerSubmission" type="RC:HazardousWasteHandlerSubmissionDataType">
		<xsd:annotation>
			<xsd:documentation>This is the root element for the Handler XML Schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="HazardousWasteHandlerSubmissionDataType">
		<xsd:sequence>
			<xsd:element ref="RC:FacilitySubmission" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FacilitySubmission" type="RC:FacilitySubmissionDataType">
		<xsd:annotation>
			<xsd:documentation>Details of facility submission.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilitySubmissionDataType">
		<xsd:sequence>
			<xsd:element ref="RC:TransactionCode" minOccurs="0"/>
			<xsd:element ref="RC:HandlerID"/>
			<xsd:element ref="RC:PublicUseExtractIndicator" minOccurs="0"/>
			<xsd:element ref="RC:FacilityRegistryID" minOccurs="0"/>
			<xsd:element ref="RC:DataAccessText" minOccurs="0"/>
			<xsd:element ref="RC:Handler" maxOccurs="unbounded"/>
			<xsd:element ref="RC:OtherID" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FacilityRegistryID" type="RC:FacilityRegistryIDDataType">
		<xsd:annotation>
			<xsd:documentation>Computer-generated primary facility-level key in the EPA FINDS data system used as an identifier to cross-reference entities regulated under different environmental programs. The Agency Facility Identification Data Standard (FIDS) requires that program offices store this key in their data systems.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PublicUseExtractIndicator" type="RC:PublicUseExtractIndicatorDataType">
		<xsd:annotation>
			<xsd:documentation>Designates that data is available for extract for public use.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="FacilityRegistryIDDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PublicUseExtractIndicatorDataType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
