java/node-plugin/node-plugin-uic2/src/main/xsd/2/0/UIC_WellType_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:uic="http://www.exchangenetwork.net/schema/uic/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/uic/2" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="UIC_SimpleContent_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>UIC well type file (Table 7): UIC_WellType_v2.0.xsd
		Current Version Available At :
		Description : Schema for indicating the current and/or historical well type.
		Application : UIC data submission 
		Developed by : Environmental Protection Agency, Lockheed Martin, CGI Federal
		Point of Contact : Carl Reeverts, Trang Le (EPA/UIC), Lauren Hall (CGI Federal)	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Well Type complex component</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="WellTypeDetail" type="uic:WellTypeDetailDataType">
		<xsd:annotation>
			<xsd:documentation>Container for Well Type information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Well Type complex type</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="WellTypeDetailDataType">
		<xsd:annotation>
			<xsd:documentation>Container for Well Type information type definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="uic:WellTypeIdentifier"/>
			<xsd:element ref="uic:WellTypeCode"/>
			<xsd:element ref="uic:WellTypeDate"/>
			<xsd:element ref="uic:WellTypeWellIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Well Type data elements</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="WellTypeIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well Type table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique well type (e.g. TXEQWDW369, …).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTypeCode" type="uic:NormalizedString4Type">
		<xsd:annotation>
			<xsd:documentation>Type of injection wells located at the listed facility.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTypeDate" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Date that well type is determined.  This field ONLY applies when the well changes from one well type to another well type (e.g. converted from injection to production).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTypeWellIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
