dotnet/opennode2-net/plugins/UIC_20/xml_schema/0/UIC_Correction_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:uic="http://www.exchangenetwork.net/schema/uic/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/uic/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="UIC_SimpleContent_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>UIC correction file (Table 13): UIC_Correction_v2.0.xsd
		Current Version Available At :
		Description : Schema for the information on corrective actions taken to address deficiencies observed during the inspection.
		Application : UIC data submission 
		Developed by : Environmental Protection Agency, Lockheed Martin, CGI Federal
		Point of Contact : Carl Reeverts, Trang Le (EPA/UIC), Lauren Hall (CGI Federal)	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Correction complex component</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CorrectionDetail" type="uic:CorrectionDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Correction information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Correction complex type</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="CorrectionDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Correction information type definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="uic:CorrectionIdentifier"/>
			<xsd:element ref="uic:CorrectionActionTypeCode" minOccurs="0"/>
			<xsd:element ref="uic:CorrectionCommentText" minOccurs="0"/>
			<xsd:element ref="uic:CorrectionInspectionIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Correction data elements</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CorrectionIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Correction table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only identifying the unique  corrective action (e.g. 04DI00000139, …).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CorrectionActionTypeCode" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Type of actions taken to correct deficiencies.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CorrectionCommentText" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Narrative description of actions taken by the facility or assistance to help the facility come into compliance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CorrectionInspectionIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>The unique identification of Inspection table.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
