dotnet/opennode2-net/plugins/UIC_20/xml_schema/0/UIC_Well_v2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:uic="http://www.exchangenetwork.net/schema/uic/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/uic/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:include schemaLocation="UIC_WellType_v2.0.xsd"/>
	<xsd:include schemaLocation="UIC_WellStatus_v2.0.xsd"/>
	<xsd:include schemaLocation="UIC_Location_v2.0.xsd"/>
	<xsd:include schemaLocation="UIC_Inspection_v2.0.xsd"/>
	<xsd:include schemaLocation="UIC_Violation_v2.0.xsd"/>
	<xsd:include schemaLocation="UIC_MITest_v2.0.xsd"/>
	<xsd:include schemaLocation="UIC_Engineering_v2.0.xsd"/>
	<xsd:include schemaLocation="UIC_Waste_v2.0.xsd"/>
	<xsd:include schemaLocation="UIC_SimpleContent_v2.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>UIC well (Table 5): UIC_Well_v2.0.xsd
		Current Version Available At :
		Description : Schema for basic information for injection wells.  
		Application : UIC data submission 
		Developed by : Environmental Protection Agency, Lockheed Martin, CGI Federal
		Point of Contact : Carl Reeverts, Trang Le (EPA/UIC), Lauren Hall (CGI Federal)	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Well complex component</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="WellDetail" type="uic:WellDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Well information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Well complex type</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="WellDetailType">
		<xsd:annotation>
			<xsd:documentation>Container for Well information type definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="uic:WellIdentifier"/>
			<xsd:element ref="uic:WellAquiferExemptionInjectionCode" minOccurs="0"/>
			<xsd:element ref="uic:WellTotalDepthNumeric" minOccurs="0"/>
			<xsd:element ref="uic:WellHighPriorityDesignationCode" minOccurs="0"/>
			<xsd:element ref="uic:WellContactIdentifier"/>
			<xsd:element ref="uic:WellFacilityIdentifier"/>
			<xsd:element ref="uic:WellGeologyIdentifier" minOccurs="0"/>
			<xsd:element ref="uic:WellSiteAreaNameText" minOccurs="0"/>
			<xsd:element ref="uic:WellPermitIdentifier"/>
			<xsd:element ref="uic:WellStateIdentifier"/>
			<xsd:element ref="uic:WellStateTribalCode" minOccurs="0"/>
			<xsd:element ref="uic:WellInSourceWaterAreaLocationText" minOccurs="0"/>
			<xsd:element ref="uic:WellName" minOccurs="0"/>
			<xsd:element ref="uic:WellStatusDetail" maxOccurs="unbounded"/>
			<xsd:element ref="uic:WellTypeDetail" maxOccurs="unbounded"/>
			<xsd:element ref="uic:LocationDetail"/>
			<xsd:element ref="uic:WellViolationDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uic:WellInspectionDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uic:MITestDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uic:EngineeringDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uic:WasteDetail" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Well data elements</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="WellIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Well table - The first four characters are the primacy agency code (appendix D). The rest is DI program or State’s choice (letters and numbers only) identifying unique well (e.g. TXEQWDW366, …).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellAquiferExemptionInjectionCode" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Well injects into exempting aquifer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellTotalDepthNumeric" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The vertical depth (in feet) from the surface to the bottom of injection well.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellHighPriorityDesignationCode" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>High priority Class V wells include all active motor vehicle waste disposal wells (MVWDWs) and large-capacity cesspools regulated under the 1999 Class V Rule, industrial wells, plus all other Class V wells identified as high priority by State Directors.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellContactIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Contact record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellFacilityIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Facility record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellGeologyIdentifier" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Unique identification for Geology record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellSiteAreaNameText" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>Name of the area where many Class III, IV, or V ( storm water drainage) injection wells are physically located or conducted.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellPermitIdentifier" type="uic:UICIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Unique identification of Permit table.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStateIdentifier" type="uic:NormalizedString50Type">
		<xsd:annotation>
			<xsd:documentation>The well identification assigned by primacy state or direct implementation (DI) program.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellStateTribalCode" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>State postal code or tribal code (for American Indian or Alaska Native) indicating a program Directly Implemented by an EPA region (for DI programs).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellInSourceWaterAreaLocationText" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The well location in relation to the boundary of the ground water based source water area (SWA) delineated by the primacy state under the State Source Water Assessment Program (SWAP).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WellName" type="uic:UICGenericStringType">
		<xsd:annotation>
			<xsd:documentation>The name that designates the well.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
