java/2012-OCT-PRE-MAVEN-REFACTOR/node-plugin/src/main/packaging/here/xsd/T2/HLS_GeographicLocationDescription_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:hls="urn:us:net:exchangenetwork:hls:1:0" xmlns:sc="urn:us:net:exchangenetwork:sc:1:0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:net:exchangenetwork:hls:1:0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_SimpleContent_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_Measure_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_ReferenceMethod_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_GeographicReferencePoint_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_GeographicReferenceDatum_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_CoordinateDataSource_v1.0.xsd"/>
	<xsd:import namespace="urn:us:net:exchangenetwork:sc:1:0" schemaLocation="SC_GeometricType_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  : HLS_GeographicLocationDescription_v1.0.xsd
        Schema Identification : SD.01
        Current Version Available At :  
        Description   : 	Extensive list of geographic identifiers used to clearly mark an object's precise location.
        Application   :   
        Developed by  : 	 
        Point of Contact :   
</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="GeographicLocationDescriptionDataType">
		<xsd:sequence>
			<xsd:element ref="hls:AMeasure" minOccurs="0"/>
			<xsd:element ref="hls:BMeasure" minOccurs="0"/>
			<xsd:element ref="sc:SourceMapScaleNumber" minOccurs="0"/>
			<xsd:element ref="hls:HorizontalAccuracyMeasure" minOccurs="0"/>
			<xsd:element ref="hls:HorizontalCollectionMethod" minOccurs="0"/>
			<xsd:element ref="sc:GeographicReferencePoint" minOccurs="0"/>
			<xsd:element ref="hls:HorizontalReferenceDatum" minOccurs="0"/>
			<xsd:element ref="sc:DataCollectionDate" minOccurs="0"/>
			<xsd:element ref="sc:LocationCommentsText" minOccurs="0"/>
			<xsd:element ref="hls:VerticalMeasure" minOccurs="0"/>
			<xsd:element ref="hls:VerticalCollectionMethod" minOccurs="0"/>
			<xsd:element ref="hls:VerticalReferenceDatum" minOccurs="0"/>
			<xsd:element ref="hls:VerificationMethod" minOccurs="0"/>
			<xsd:element ref="sc:CoordinateDataSource" minOccurs="0"/>
			<xsd:element ref="sc:GeometricType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="BMeasureDataType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="GeographicLocationDescription" type="hls:GeographicLocationDescriptionDataType">
		<xsd:annotation>
			<xsd:documentation>Extensive list of geographic identifiers used to clearly mark an object's precise location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalAccuracyMeasure" type="sc:MeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of the accuracy of the latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalCollectionMethod" type="sc:ReferenceMethodDataType">
		<xsd:annotation>
			<xsd:documentation>Information that describes the method used to determine the latitude and longitude coordinates for a point on the earth.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HorizontalReferenceDatum" type="sc:GeographicReferenceDatumDataType">
		<xsd:annotation>
			<xsd:documentation>Information that describes the reference datum used in determining latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AMeasure" type="hls:AMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The horizontal measure of the goegraphic location; longitude, state plane coordinate x value, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BMeasure" type="hls:BMeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The vertical measure of the goegraphic location; latititude, state plane coordinate y value, etc.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalMeasure" type="sc:MeasureDataType">
		<xsd:annotation>
			<xsd:documentation>The measure of elevation (i.e. the altitude) above or below are reference datum.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalCollectionMethod" type="sc:ReferenceMethodDataType">
		<xsd:annotation>
			<xsd:documentation>Information that describes the method used to collect the vertical measure(i.e., the altitude) of a reference point.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerticalReferenceDatum" type="sc:GeographicReferenceDatumDataType">
		<xsd:annotation>
			<xsd:documentation>Information that describes the reference datum used to determine the vertical measure (i.e., the altitude).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VerificationMethod" type="sc:ReferenceMethodDataType">
		<xsd:annotation>
			<xsd:documentation>Information that describes the method or process used to verify the latitude and longitude coordinates.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
